[2017-01-18 10:03] #1084 closed

[2017-01-18 10:21] dsheets commented on #1142
Running something like `docker run alpine df -h` will give you some information about Docker's disk image:

[code]

I'm on Stable 1.12.6 right now (just installed to check some other support tickets) so the relevant device is `/dev/vda2` which has 191.5M used out of 59G of file system space.

If I run `$ ls -lh ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/Docker.qcow2`

[2017-01-18 10:21] #1142 closed

[2017-01-18 10:37] UttamKiran opened #1154 "Unable to run 'docker deploy' from 1.13 clients against 1.13 experimental daemons - Need more elaborated error description"
### Expected behavior
docker deploy --help should run successfully .
### Actual behavior
 docker deploy --help
**only supported with experimental daemon**

### Information

Docker Deployed on : Ubuntu 16.04.1 LTS
Docker Version :1.13.0-rc7, build 48a9e53
Docker-compose version 1.10.0, build 4bd6f1a
### Steps to reproduce the behavior
1. docker deploy --help    command is prompting "only supported

[2017-01-18 10:42] twlz0ne commented on #1153
`sudo rm /Library/PrivilegedHelperTools/com.docker.vmnetd` worked for me.

[2017-01-18 10:42] #1153 closed

[2017-01-18 12:38] benbor opened #1155 "It is possible to run docker-compose into docker?"
Hello! I need use docker-compose from docker container (jenkins). I can get access to docker via mounting `/var/run/docker.sock` and `/usr/bin/docker`. But i  can't mount `/usr/bin/docker-compose`.  Is it possible to run docker-compose into docker for mac?

My docker-compose.yml :
[code]
### Expected behavior

### Actual behavior

### Information
Docker for Mac: version: 1.12.6 (a3b0f1129)
OS X: v

[2017-01-18 14:36] Robinwho commented on #1145
I've configured a VPN. But it still doesn't work, like this:
$ pc docker run -it -p 8888:8888 gcr.io/tensorflow/tensorflow
[proxychains] config file found: /usr/local/Cellar/proxychains-ng/4.12/etc/proxychains.conf
[proxychains] preloading /usr/local/Cellar/proxychains-ng/4.12/lib/libproxychains4.dylib
[proxychains] DLL init: proxychains-ng 4.12

[2017-01-18 14:43] Robinwho commented on #1145
When curling the site, it returns OK.

$ pc curl gcr.io
[proxychains] config file found: /usr/local/Cellar/proxychains-ng/4.12/etc/proxychains.conf
[proxychains] preloading /usr/local/Cellar/proxychains-ng/4.12/lib/libproxychains4.dylib
[proxychains] DLL init: proxychains-ng 4.12
[proxychains] Strict chain  ...  127.0.0.1:1080  ...  gcr.io:80  ...  OK
<HTML><HEAD><meta http-equiv="content-type" co

[2017-01-18 14:52] Robinwho commented on #1145
@dsheets thanks a lot :)

[2017-01-18 14:52] dsheets commented on #1145
@Robinwho the `docker run` command is a client to the docker daemon running inside of a small Linux VM. This VM then has a virtual network device that is used for internet-bound traffic that is connected to a process called `com.docker.slirp` that then performs OS X socket operations as your user to make connections. You could try running the Docker for Mac application itself under `pc` to see if

[2017-01-18 15:04] Robinwho commented on #1145
$ ps -ef|grep slirp
  501  1899  1893   0  8:26下午 ??         0:00.24 com.docker.slirp --db /Users/robin/Library/Containers/com.docker.docker/Data/s40 --ethernet fd:3 --port fd:4 --introspection fd:5 --vsock-path /Users/robin/Library/Containers/com.docker.docker/Data/@connect

[2017-01-18 16:18] tjgornick commented on #1123
Hi. I downloaded beta37 and it still occurs. You are correct that it is not
public DNS. It is a private registry that is accessible via our VPN. It
resolves and is pingable from VPN and the login does indeed work from the
stable version as I copy/pasted before. I can leave the beta37 installed
for a bit if you would like me to provide anything further.

On Jan 17, 2017 10:04 AM, "David Sheets" <no

[2017-01-18 16:30] guice commented on #1149
Yeah, you're right. Commenting out this line: ```      - ./myfamli:/var/www/html```

Allowed it to start up immediately. It's probably what's causing the HTTP slowness, too (but can't test that as that's the website ... without the website, I can't test the website. ;))

[2017-01-18 16:43] robertoandrade commented on #1152
For some reason it seems to believe the stable version is still installed even though it was removed via `brew cask uninstall docker` and the processes were all killed.

[2017-01-18 16:45] robertoandrade commented on #1152
In my case I'm on OSX 10.11.6

[2017-01-18 16:56] ovanes opened #1156 "dockerd "Advanced" custom config is broken by UI"
### Expected behavior

* `dockerd` starts properly
* Advanced config is **always** editable, *especially* after it was applied and docker can't start.

### Actual behavior

* Once "Advanced" config was applied and `dockerd` can't start it is disabled and one can't do anything about it in the UI, but investigate where is the actual data is stored and how to fix OR to reset docker to factory setting

[2017-01-18 17:11] victortrac commented on #1136
@dsheets You've seemed to just confirmed the issue..?

The same docker image with the same binary of curl works fine on all linux docker hosts I've tried.  This fails on OSX with alpine and curl 7.52.1.  See my alpine Dockerfile in my original comment.

This seems to me like something in the networking layer is chopping or mangling packets such that ssv3 handshake is failing on osx. Can you elabor

[2017-01-18 17:19] dsheets commented on #1156
I am investigating the issue. It looks like there are at least two defects. In the mean time, you can edit the `daemon.json` manually like so:

[code]

It looks like adding `hosts` to `daemon.json` will always fail as Docker for Mac passes hosts as a daemon command line flag as well:

[2017-01-18 17:44] dsheets commented on #1156
Thanks for your report! I've now filed 3 separate bugs (for lock-out, unnecessary escaping, and allowing `hosts` field). We'll report back here on progress.

[2017-01-19 00:58] mikeball commented on #1149
This sounds like another case of the mounted volume performance issues. See the issues below. I wasted several days tracking down these perf issues which are well known to the D4M team. D4M isn't in a usable state for anything that involves usage of volumes and can't believe they call it 1.0 wasting hundreds or thousands of developers days trying it out and then running into this problem.

https:/

[2017-01-19 01:05] mikeball commented on #1131
Well know mounted volumes bug that's been know about for nearly a year, don't waste your time. Find solution other than d4m to run containers, it's unusable with mounted volumes.

https://github.com/docker/for-mac/issues/1094
https://forums.docker.com/t/com-docker-hyperkit-up-cpu-to-340/13057/67
https://forums.docker.com/t/file-access-in-mounted-volumes-extremely-slow-cpu-bound/8076/205

[2017-01-19 02:27] guice commented on #1149
Company provided OSX laptop. And my personal laptop is OSX as well. Can't help it, I'm a huge fan of OSX. And, honestly, I have never found a PC based laptop that does the trackpad so well. It's extremely hard giving up the trackpad.

I don't have a desktop system. However, my servers are Debian based. :)

[2017-01-19 04:23] quantonganh commented on #882
Yes, I still need this.

Quoted from this: https://forums.docker.com/t/how-to-run-docker-for-mac-as-a-service-or-deamon/18728

## Expected behavior

There should be a way to install Docker For Mac as a service which runs at system startup.

## Actual behavior

Docker for Mac Beta seems to require a ui based app "Docker.app" to run in a graphical user session. I could not figure out any way on how

[2017-01-19 05:25] nmarley commented on #930
@dsheets The problem isn't with `uuidgen`, it's that the `$HOME/Library/Containers/com.docker.docker` directory (or some other element of the path above) is gone, so the shell can't write to a file there.

[code]

[2017-01-19 07:39] TofPlay commented on #371
I love Docker. Really ! But this Docker.qcow2 story that grows constantly is really very worrying. How can we consider using Docker in production with such a bug. This bug is major for Docker. If the qcow2 format is not suitable with Docker actions may be it's time to quickly find another format. Or you can evolve qcow2 format to prevent the enlarged indefinitely file. You can also provide some to

[2017-01-19 07:41] luukholleman commented on #371
This is a Mac bug. Why use docker on Mac in production? This repo is for developing with docker.

[2017-01-19 07:51] TofPlay commented on #371
@luukholleman not only a bug with Mac. My colleague use Docker on Linux and he has the same kind of problem. He use also Docker to create some modular solutions not just for development purpose. For now he does this as prove of concept. And we will not use it in prod because of this bug.

[2017-01-19 07:56] ashatrov commented on #371
@TofPlay your colleague should read Docker documentation and remove containers with volumes.
Of course if you don't know tool you shouldn't use it in production.

[2017-01-19 07:57] dlgoodchild commented on #371
You should share the path containing the Docker.qcow2 file and an `ls -al` of that directory so we can see it :D

[2017-01-19 08:04] TofPlay commented on #371
@ashatrov I will tell him. I'm sure he will appreciate your advice 😊

[2017-01-19 10:55] ijc25 commented on #900
@SiKing,

If someone (or someone's client's hired contractor) was to raise a PR against https://github.com/docker/hyperkit which added the necessary underlying support for USB device passthrough (i.e. causing the USB device to appear within the VM so the Linux usb tty class driver can be run on top) or adding some sort of serial/tty passthrough functionality (I'm not sure how that would look, but

[2017-01-19 11:14] ovanes commented on #1156
Thanks for reacting so fast, as it is a major breaking point for me right now, to debug our distributed application. I need to connect to docker instances with remote debuggers.

[2017-01-19 11:14] ijc25 commented on #1131
@Matt298 I'm sorry that your usecase/workload is not among the set which work well out of the box.

One particular pessimal workload which some people run into involves build systems (or other functionality) which poll for updates by default, leading to increased CPU load by the hypervisor process. Many such systems which we have come across have an option to use inotify (i.e. event driven notific

[2017-01-19 12:00] dsheets commented on #1136
@victortrac I've confirmed the issue is not related to Docker for Mac:

On a Linux 4.2.0 machine running docker 1.10.3, I see

[code]

We haven't had any other reports about network errors for many months (certainly not in Beta 36). Are you sure that the same image and `curl` binary work for you on Docker on Linux machines?

All of the evidence I have points to this being an issue with the TLS con

[2017-01-19 12:05] dsheets commented on #1145
@Robinwho I'm not sure what your last message means. That is the `com.docker.slirp` process I was referring to.

[2017-01-19 12:15] dsheets commented on #1154
Are you using Docker for Mac? How? I don't think `docker deploy` will be out of experimental in 1.13 (see docker/docker#28839).

[2017-01-19 12:15] #1154 closed

[2017-01-19 12:20] dsheets commented on #1137
The path to the file is printed in the `Diagnose & Feedback` screen under `logs`:

[code]

In this case, the file is at `/tmp/D241C935-6656-46CB-B7EE-3D082ACB8474/20170119-121710.tar.gz`. It contains a lot of diagnostic information and application logs so you may not be comfortable posting it publicly (it could leak project names, company names, usernames, etc). The relevant file will be called `d

[2017-01-19 12:30] dsheets commented on #1156
I recommend using a tool like `socat` to connect over TCP:

[code]

In this case, I've restricted the socket to only listen on the loopback interface but you may want it to be more widely available (or restrict the network with `range=CIDR` or similar).

[2017-01-19 12:34] dsheets commented on #1036
With images that big, you may be interested in increasing your disk image size. See <https://github.com/docker/for-mac/issues/371#issuecomment-262826610> for work-around instructions until the GUI for disk image management is ready.

[2017-01-19 12:55] dsheets commented on #1155
This is possible but not with bind mounts. There is a `docker/compose` image on Docker Hub with tags for released versions so you can run something like `docker run --rm -it docker/compose:1.10.0` to invoke compose 1.10.0. You will need to give this container access to the docker socket and whatever compose file you wish to use.

Does this satisfy your use case?

[2017-01-19 13:47] yvess commented on #371
@vyscond I do `dd if=/dev/zero of=/var/zero bs=1M count=1000000; rm /var/zero` inside the docker vm. I use the screen connection from d4m-nfs to connect to the vm (screen -r d4m). Because my Docker.qcow2 is located on zfs filesystem with compression (zeros get compressed to almost nothing), the Docker.qcow2 shrinks in size. So I only need to do the "dd ..." command from time to time inside the vm

[2017-01-19 13:52] justincormack commented on #371
@TofPlay if you have a production problem, please open an issue on https://github.com/docker/docker/issues and explain what the issue is as it cannot possibly be the same as this one, which specifically is about a virtual disk on a Mac, and is not related to any production environment.

[2017-01-19 13:54] yvess commented on #371
@yankcrime I use d4m-nfs for file sharing and have written a [plugin](https://github.com/yvess/sublime_d4m) for sublime text to propagate the io notification to the vm. With this setup I don't have sync problems and no performance problems. I quite happy with that setup.

[2017-01-19 14:00] Robinwho commented on #1145
hi @dsheets , it's a pretty tough problem. The past few days I've tried a variety of ways. But all of them didn't work, although we know it's cause of GFW. Finally with the help of these two [](links(http://blog.csdn.net/chenming_hnu/article/details/54600270) & [](https://github.com/tensorflow/tensorflow/issues/1273)), the problem is fixed!
Again, thanks a lot:)

[2017-01-19 14:02] #1145 closed

[2017-01-19 14:39] dsheets commented on #1139
@johnmcconnell I tried your reproduction steps with SQLDeveloper but could not reproduce. I'm glad it's working for you now, though. If you have further issues using Docker for Mac in the future, please file a new issue. Thanks!

[2017-01-19 14:39] #1139 closed

[2017-01-19 14:47] dsheets commented on #1116
Glad the beta channel fixes the problem for you! A synchronizing stable release for 1.13.0 should be available shortly which should also work. Thanks for using Docker for Mac!

[2017-01-19 14:47] #1116 closed

[2017-01-19 14:57] dsheets commented on #1152
@brjmac, I see in your logs what looks like disk image corruption:
[code]

There were issues in some older betas that could cause unexpected crashes and disk image corruption as well as unexpected system shutdown (e.g. an OS X kernel panic). Unfortunately, I the only way forward is to delete `~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/Docker.qcow2` which will remove

[2017-01-19 14:57] #1152 closed

[2017-01-19 15:01] dsheets commented on #921
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2017-01-19 15:01] #921 closed

[2017-01-19 15:45] welchwilmerck opened #1158 "Docker 1.12.6 hangs on startup on sierra"
Just accepted update to 1.12.6. Now, docker hangs on start. Have restarted mac, to no avail.

Same as https://github.com/docker/for-mac/issues/546.

OS X: version 10.12.2 (build: 16C67)
Docker.app: version: 1.12.6 (a3b0f1129)
Local time: Thu Jan 19 10:38:54 EST 2017
UTC:        Thu Jan 19 15:38:54 UTC 2017
Timestamp:  20170119-103854
Running diagnostic tests:
Error docker ps: timeout after 10.00s

[2017-01-19 15:51] welchwilmerck commented on #1158
Installed beta and it starts.

940FD6A3-2DCB-4602-9B9A-6025E8E2A548

Then, reinstalled production. Seemed to get all the right prompts for a change. Now, it's OK.

[2017-01-19 15:51] #1158 closed

[2017-01-19 15:58] dsheets commented on #1158
It looks like you encountered #1143 which corrupted your disk image. Changing channels wiped your disk image and 'corrected' the problem. We are investigating the root cause of #1143.

[2017-01-19 18:01] HerbCSO opened #1159 "Errors after upgrade to 0.13.0"
### Expected behavior
Upgraded to 0.13.0 - expected no issues

### Actual behavior
Errors below happened. Same on restart of Docker. Completely fails to start right now, can't even get to UI to do a reset.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G1108)
logs: /tmp/8EF9FB7

[2017-01-19 18:22] andrey-moor opened #1160 "Accessing private registry on Kubernetes through port forwarding"
I'm trying to push image to the private registry deployed in Kubernetes cluster. I'm using port forwarding on the host (on my Mac) of port 5000 so repository looks like `localhost:5000`.

### Expected behavior

Image should be pushed successfully to the private registry within Kubernetes cluster and be available for pull within it.

### Actual behavior

Push doesn't work as it seems like forwarded

[2017-01-19 18:54] victortrac commented on #1136
@dsheets Some more datapoints for you.

My linux laptop:
[code]

Digital Ocean linux machine:
[code]

It also works fine on every AWS and GCP machine I've tried, and yet this fails on every OSX machine I have access to. So I think it's a bit premature to "confirm" that the issue isn't related to Docker for Mac.

[2017-01-19 19:32] MikeRankin commented on #1159
This is getting pretty irritating.  2 out of the last 3 updates had this sort of failure for me.

[2017-01-19 19:37] justincormack commented on #1159
@MikeRankin have you got a similar issue? if so could you add a diagnostic code if the issue is identical or open a new issue.

[2017-01-19 19:39] MikeRankin commented on #1159
Identical problem.  Diagnostic ID: F8A7AC15-69B4-48EC-8A86-B79643400E82

[2017-01-19 19:46] willgorman commented on #1159
I had the same problem as well. Diagnostic ID: 0DCB2ECC-C178-4B31-BF4B-A268D053305F.  I ended up just doing a  clean reinstall after running `/Applications/Docker.app/Contents/MacOS/Docker --uninstall`.

[2017-01-19 19:53] MikeRankin commented on #1159
That works.  Thanks for the uninstall command!

[2017-01-19 20:05] FrenchBen commented on #1159
@MikeRankin a `Reset` under the Moby -> Preferences will also do it

[2017-01-19 20:33] WyseNynja commented on #483
Any updates @dsheets ? Is there an issue tracking the performance work? If that is going to block for much longer, I am planning to spend some time cleaning up https://github.com/avsm/docker-ssh-agent-forward but if docker will have proper support soon I won't bother.

[2017-01-19 21:02] gihankarunarathne opened #1161 "Used up all disk space"
### Expected behavior
Should be clean up when removing containers and images
### Actual behavior
Not releasing the used disk space
### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. Continues buil

[2017-01-19 21:02] HerbCSO commented on #1159
Except I can't even get to the Preferences because it crashes before I can get there.

I'll try out the uninstall when I'm back at my computer tomorrow. Thanks for that @willgorman

[2017-01-19 21:08] djs55 commented on #1159
I had a look in the diagnostics `0DCB2ECC-C178-4B31-BF4B-A268D053305F` `F8A7AC15-69B4-48EC-8A86-B79643400E82` and `8EF9FB70-3D32-4C32-9D4D-9808DA04B18C`-- they all show the same symptom. From beta 34.1 and 1.13 stable we added a startup check to make sure the `Docker.qcow2` file is intact, a bit like `fsck` under Linux. In these 3 cases the existing `Docker.qcow2` has some damage and `Docker.app`

[2017-01-19 21:30] KFoxder commented on #483
+1

[2017-01-19 22:47] nemines opened #1162 "Docker fails to start after update to 1.13.0"
### Expected behavior
Docker should start after update to 1.13.0 (stable channel).
### Actual behavior

![image](https://cloud.githubusercontent.com/assets/6217392/22128548/4ac55d08-def5-11e6-9331-adce9a67b747.png)

### Information
Diagnostic ID: B59EFE1C-7918-4985-A584-BB046AE0FB4F
[code]

### Steps to reproduce the behavior
Start docker on Mac.

[2017-01-19 23:10] joshprismon opened #1163 "Docker for Mac fails after upgrade."
### Expected behavior
Docker for mac starts up.

### Actual behavior
docker for mac doesn't start.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

1. Allow the software update to Docker for Mac.

[2017-01-19 23:14] joshprismon commented on #1163
Here is the crashlog
Process:               com.docker.driver.amd64-linux [1072]
Path:                  /Applications/Docker.app/Contents/MacOS/com.docker.driver.amd64-linux
Identifier:            com.docker.driver.amd64-linux
Version:               1.0
Code Type:             X86-64 (Native)
Parent Process:        com.docker.osx.hyperkit.linux [1066]
Responsible:           com.docker.driver.amd64-

[2017-01-20 00:54] jamshid opened #1164 "Tell beta channel users when stable has been upgraded"
Stable is now at 1.13.0? The release notes have not been updated, still show 1.12.5.
https://docs.docker.com/docker-for-mac/release-notes/#/stable-release-notes
UPDATE: release notes were updated shortly after I filed.

Since people often only use beta for a bug fix, please let them know when stable has been upgraded to a new version, rather than only telling them to apply the next beta (e.g. I wa

[2017-01-20 01:13] lamlephamngoc opened #1165 "Mac OS Sierra Docker problem"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 0F17F940-D1E9-4F8C-A42A-FBC0367100A5
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]

[2017-01-20 01:37] cidrblock commented on #57
This is nasty one for those of us doing telemetry dev work in docker. Any target fix date or version available?

[2017-01-20 01:59] vyscond commented on #371
@yvess thanks a bunch for explaining it :)

[2017-01-20 02:52] carlostse opened #1166 "Upgrade to Docker 1.13.0 failed"
### Expected behaviour
Upgrade to version 1.13.0

### Actual behaviour
Crash after pressed "Install and Relaunch"

### Information
Diagnostic ID: 98E2B395-B3D0-48ED-9847-1E46DED92455

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G1217)
logs: /tmp/98E2B395-B3D0-48ED-9847-1E46DED92455/20170120-104908.tar.gz
failure: Docker.qcow2 has unexpected errors: either repair of

[2017-01-20 03:22] ermidev opened #1167 "Docker won't start after 1.13.0 upgrade."
### Expected behavior
Docker should up and running.
### Actual behavior
- com.docker.driver.amd64-linux -db is not running
- /Users/Ermias/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/console-ring does not exist
- Connection refused (ECONNREFUSED) connecting to /Users/Ermias/Library/Containers/com.docker.docker/Data/s40: check if service is running
         com.docker.db

[2017-01-20 03:27] tjshipe commented on #1167
This looks like a duplicate of #1159

Did you try [this solution](https://github.com/docker/for-mac/issues/1159#issuecomment-273899215)?

[2017-01-20 03:31] ermidev commented on #1167
@tjshipe thanks! I did your suggestion and now it up and running. As your said, the images and contains are gone.

[2017-01-20 03:32] tjshipe commented on #1166
This looks like a duplicate of #1159

Did you try [this solution](https://github.com/docker/for-mac/issues/1159#issuecomment-273899215)?

[2017-01-20 03:32] tjshipe commented on #1162
This looks like a duplicate of #1159

Did you try [this solution](https://github.com/docker/for-mac/issues/1159#issuecomment-273899215)?

[2017-01-20 03:51] nemines commented on #1162
Oh, apologies. I did not find the other tickets when I first looked it up, just the older one on the beta version.
I've fixed it by uninstalling through terminal and installing a new version, the was mostly for flagging and it can be closed.

[2017-01-20 09:05] #1162 closed

[2017-01-20 09:31] edarchis opened #1168 "docker system df reports incorrect reclaimable space"
### Expected behavior

docker system df should report the reclaimable space from inactive images:
[code]

### Actual behavior

[code]
### Information

  - Diagnostic ID: 9962A50D-A0BC-4536-9D99-ADEE5376A0E3
  - System installed a few versions ago and upgraded along the way
  - Nothing unusual about the installed images. A lot of them have been deleted already, maybe this could be the problem ?

##

[2017-01-20 10:13] ijc25 commented on #1163
@joshprismon thanks for your report. Please could you try to gather some extra debugging as described in https://github.com/docker/for-mac/issues/1143#issuecomment-272923920 ?

I'm closing this as a dup of #1143, please subscribe there for updates on this issue.

[2017-01-20 10:13] #1163 closed

[2017-01-20 10:24] djs55 commented on #1167
Thanks @tjshipe and @ermidev. I'll close this as a dup of #1159.

[2017-01-20 10:24] #1167 closed

[2017-01-20 10:29] djs55 commented on #1165
OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the beta channel. Please upgrade your version of Docker for Mac.

May be related to docker/for-mac#561

[2017-01-20 10:29] #1165 closed

[2017-01-20 10:30] dsheets commented on #1136
I see the issue in Ubuntu 15.10 with Linux 4.2.0 running Docker 1.10.3 on VMWare Fusion 8.5.3 without Docker for Mac running.

I see the issue on OS X 10.11.6 with homebrew `curl` installed with `brew install curl --force --with-openssl` without Docker for Mac running.

This evidence points to Docker for Mac **not** being involved in your issue.

[2017-01-20 10:33] djs55 commented on #1161
The current version of Docker for Mac will only reclaim space on the host when

- space has been freed in the VM; and
- 15 minutes have elapsed (there is a background `cron` job running `fstrim /var`); and
- the VM is subsequently rebooted.

Have a look at the "How do I reduce the size of Docker.qcow2?" section here: https://docs.docker.com/docker-for-mac/faqs/

Hopefully a future version will be

[2017-01-20 10:42] dsheets commented on #483
Support for this is planned and has been started but is delayed indefinitely behind other work. @WyseNynja I would recommend cleaning up avsm/docker-ssh-agent-forward in the meantime.

[2017-01-20 10:52] davidebelloni commented on #994
Hi,
I've the same behavior and it seems to be related to macOS Sierra version, where Proxy PAC configuration has issues.

Here the logs:
default	11:22:53.768722 +0100	Docker	UNIX error exception: 17
default	11:22:53.768869 +0100	Docker	0x608000871a00 opened /private/var/db/mds/system/mdsDirectory.db: 50744 bytes
default	11:22:53.768968 +0100	Docker	0x608000871a00 closed /private/var/db/mds/system/

[2017-01-20 11:16] dsheets commented on #1168
This is a duplicate of docker/docker#30257. Please track it there.

[2017-01-20 11:16] #1168 closed

[2017-01-20 11:17] nooks opened #1169 "com.docker.osx.hyperkit.linux failed to start"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2017-01-20 11:18] #1169 closed

[2017-01-20 11:25] dsheets commented on #1160
Could you please tell us which version of Docker for Mac you are using and exactly which `docker` commands you are executing to both start the server and connect to it?

[2017-01-20 11:35] ijc25 commented on #1136
I ran some tcpdumps on native Linux (succeeds), Docker 4 Mac (fails), osx `/usr/bin/curl` (uses "SecureTransport", succeeds) and osx homebrew curl with openssl (fails).

The interesting thing I note is that in both the failure cases the initial SSL `Client Hello` is a 517 byte message which has been TCP segmented into 2 segments (one 512 bytes, one of 5 bytes).

In the Linux success case a similar

[2017-01-20 11:42] dsheets opened #1170 "Crashing due to HyperKit exit_reason 2 (triple fault)"
### Expected behavior

Docker for Mac does not crash.

### Actual behavior

Docker for Mac crashes due to `com.docker.hyperkit` aborting with `exit_reason` 2 (triple fault).

### Information

Reported by @vitage in #1110 with diagnostic bundle 856C709F-35EA-469D-8883-5BB1B0991B1D.

### Steps to reproduce the behavior

Unknown

[2017-01-20 11:43] dsheets commented on #1110
@ulisesbocchio it looks like the hypervisor or Linux kernel has an issue that causes an extended page table fault to be triggered that HyperKit does not know how to handle. I've escalated the issue (and found evidence of it in a number of other, closed issues). This issue will now track that bug.

@dinamic it looks like your issue was different. I don't see any smoking gun indicating where the fau

[2017-01-20 11:44] justincormack commented on #1136
Are you sure there is not some sort of SSL interception box on the path between you and mailup that can't cope with fragmentation? That is not compliant with the standard, but is quite possible. We are not going to change the OSX default network stack options, we try to run everything in Docker for Mac as non root, and we do not want to interfere with people's global settings.

[2017-01-20 13:14] KiYugadgeter opened #1172 "How to use docker for mac beta without telemetry"
I want to use beta version of docker for mac.
But I hate telemetry😠.

How to turn off telemetry on Beta version?

[2017-01-20 13:23] Vanuan commented on #997
As Docker 1.13 was released, this has become critical

[2017-01-20 13:31] MarcoMontel opened #1173 "Unable to start Docker after updating to 1.13.0"
### Expected behavior
Operational docker environment
### Actual behavior
Error during startup
### Information

Diagnostic ID: 2E740794-8126-4A51-AD00-95E5DFFBE421

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.12.1 (build: 16B2555)
logs: /tmp/2E740794-8126-4A51-AD00-95E5DFFBE421/20170120-142458.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK]     dns
[ERROR]  dr

[2017-01-20 13:43] perayoss opened #1174 "cannot start docker after updated to version 1.13"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2017-01-20 13:49] perayoss commented on #1174
duplicate with #1113

[2017-01-20 13:49] #1174 closed

[2017-01-20 13:50] MarcoMontel commented on #1173
As explained in #1159 removing the Docker.qcow2 file I was able to start Docker

`rm ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/Docker.qcow2`

[2017-01-20 14:17] ebuildy commented on #1123
Yeah it's a very horrible bug, D4M uses 8.8.8.8 to resolve domains :/

Impossible to use it in an entreprise, or, you can run every hour:

    docker run --rm -v /etc/resolv.conf:/r debian:8 bash -c 'echo "nameserver [IP]" > /r'

this will change 8.8.8.8 server by your DNS IP.

[2017-01-20 14:22] esBeee opened #1175 "All volumes, containers and images gone after update to 1.13.0"
**Description**
I've just updated to 1.13.0 by clicking on the _Install now_ button (or whatever it is called exactly) in the _New Docker version available_ pop-up window. When Docker was back to _Docker is running_, all volumes were gone along with the containers and images.

**Steps to reproduce the issue:**
1. Update _Docker for Mac_ to 1.13.0

**Describe the results you received:**
- Docker up

[2017-01-20 15:52] dsheets commented on #1170
@vitage it looks like you are running OS X 10.10 which we know has various problems with its `Hypervisor.framework` which we use for virtualization. It is likely that these issues are causing the hypervisor to crash and consequently corrupting your disk image preventing your Docker for Mac installation from starting. We recommend upgrading your OS X installation to 10.11 or 10.12 for a more stable

[2017-01-20 16:06] djs55 commented on #1123
@tjgornick could you upload a diagnostics from the beta branch and let me know the ID? It will contain useful logs about the upstream DNS servers used. There are fixes in master which might cover this, but I can't tell without the logs. Alternatively wait for the next beta and let me know what happens.

@ebuildy D4M uses the DNS server IPs it finds in the System Config database (see the output of

[2017-01-20 16:09] tjgornick commented on #1123
@djs55 BB04D191-8E91-4F46-A2E9-DF02DE64A5C7

@ebuildy Yeah, except that it works fine (for me anyway) in current stable, if you missed that part.

[2017-01-20 16:17] djs55 commented on #997
The fix is in the master branch, which is due for release in the beta branch next week in beta 39 (hopefully). Once it has been in the beta for a week, it's a candidate for cherry-picking into the next stable update. We want to be very careful with stable updates.

If you want to experiment in the meantime, try following the instructions in this comment: https://github.com/docker/for-mac/issues/11

[2017-01-20 16:21] djs55 commented on #1123
@tjgornick thanks for the quick response! Unfortunately the diagnostics I can see (timestamp `20170120-110819`) don't have any examples of the bad DNS transaction in-- it looks like the app was freshly started and the logs were truncated. Could you provoke the failure a few times and upload a fresh set of diagnostics without restarting the app? Thanks for your help.

[2017-01-20 16:27] dsheets commented on #1092
@daveisfera it looks like somehow the file system sharing node table has become corrupted. I've escalated this issue to our file system team. Thanks for your report!

@12789 I don't see any obvious faults in your logs. If you continue to experience the problem, could you please open a new bug report with a fresh diagnostic upload?

@lbialy please open a new bug report with the diagnostic ID from 🐳

[2017-01-20 16:27] tjgornick commented on #1123
Note that I installed beta38 since the last post, but the issues still
exists. New Diag ID: BB04D191-8E91-4F46-A2E9-DF02DE64A5C7

On Fri, Jan 20, 2017 at 11:21 AM, Dave Scott <notifications@github.com>
wrote:

--
Thomas J. Gornick
tjgornick@gmail.com

[2017-01-20 16:41] safaci2000 commented on #1036
@dsheets Thanks for that link.  I added that to our internal doc.  I've increased the disk size and will let it go for a few days.  Give me a few days to confirm and we can close out this issue.

Thanks for your help with this issue.

[2017-01-20 16:42] dsheets commented on #1164
Thanks for your report! The stable notes have been updated and the beta notes should be online later today. I've made a note on our stable release procedure about notifying users that the stable is synchronizing with the beta.

[2017-01-20 16:42] #1164 closed

[2017-01-20 16:50] dsheets commented on #1127
Detected symptom of problem 'vmnetd-comm-failure' in CA3F03B0-4AA6-4AC0-9DD8-E75141F293AF/20170113-012042.

The UI failed to communicate with the networking helper process.

Try the following steps:
- stop Docker for Mac
- delete the file `/Library/PrivilegedHelperTools/com.docker.vmnetd`
- start Docker for Mac

Hopefully this will (re-)install the networking helper process properly. Please let us

[2017-01-20 16:54] dsheets commented on #1140
Could you please be more specific about the issue you are experiencing? I see recent evidence of a crashing bug that was fixed in Beta 34 and the fix for which has just reached the stable channel in 1.13.0. You could try upgrading to 1.13.0 and see if that fixes your issue.

[2017-01-20 17:00] djs55 commented on #1123
@tjgornick thanks for the new diagnostics -- the logs are interesting.

At the beginning I see `A` and `AAAA` queries for your registry sent to all possible DNS servers. Valid-looking query responses come back from 3 of the servers. Each response has a `CNAME` and then a set of valid-looking `A` records.  However the question is asked again and again, and no further response is seen from the upstr

[2017-01-20 17:04] buu700 opened #1176 "Docker consistently crashes when doing anything"
### Expected behavior

Docker should work without crashing.

### Actual behavior

`ERRO[${SOME_FOUR_DIGIT_NUMBER}] error getting events from daemon: EOF`, e.g. I've seen `0017` a few times, as well as `0560`, `1436`, `0402`, `0025`, `0100`, `0112`, `0012`, `0027`, `0034`, and probably a few others.

### Information

  - Consistently reproducible in both stable and beta channels
  - Diagnostic ID:

[2017-01-20 17:59] andrey-moor commented on #1160
I'm using Version 1.12.6 (14937) of Docker for Mac. K8s deployment is not local and I'm using the following command to forward port 5000:
`kubectl port-forward --namespace kube-system $POD 5000:5000 &`

I can confirm that docker registry is accessible by sending raw http requests.
`$ curl -I localhost:5000/v2/`
`Handling connection for 5000
HTTP/1.1 200 OK
Content-Length: 2
Content-Type: applicati

[2017-01-20 18:41] remear commented on #997
I'd like to add my experience with this so far as additional info in case it's useful.

I started experiencing this last night while on VPN using a beta32 (? i don't remember the exact version) and attempting to both push to and re-authenticate to my private registry . It just suddenly started responding with no such host messages after having been on VPN for a while and everything working without

[2017-01-20 19:15] semifor commented on #997
I had the same issue after an upgrade to 1.13. Subsequently upgraded to 1.13.0-beta38. Same problem. Followed the instructions at [#1103 (comment)](https://github.com/docker/for-mac/issues/1103#issuecomment-272413466). That resolved the issue for me. I'm using Cisco AnyConnect for access to a private data center.

[2017-01-20 19:29] remear commented on #997
I also primarily use Cisco AnyConnect for VPN. When this started happening last night I created a VPN configuration via Network Preferences. It worked for a short while and then went back to `no such host` responses with no change in VPN connectivity. Subsequent attempts with the non-Cisco VPN configuration only resulted in `no such host` responses.

[2017-01-20 20:19] gnbchwarz opened #1177 "docker won't start diagnostic id = 0B363704-B279-4996-9D5C-DCF3B806FA9F"
### Expected behavior
Docker starts
### Actual behavior
I see a sweating whale
### Information

  Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.12.2 (build: 16C67)
logs: /tmp/0B363704-B279-4996-9D5C-DCF3B806FA9F/20170120-121043.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK]     dns
[ERROR]  driver.amd64-linux
         com.docker.driver.amd64-linux -db is not r

[2017-01-20 20:36] ebuildy commented on #997
With new D4M 1.13, it looks ok ! good job guys, such a good new.

I use Viscosity as VPN client with split DNS.

[2017-01-20 21:02] victortrac commented on #1136
@ijc25 Thanks for doing the tcpdump analysis. That was going to be my next step to troubleshoot the issue.

@dsheets @justincormack As shown by @ijc25 , this isn't strictly a "Docker for Mac issue", but it's clearly an issue where identical images behave differently on OSX and Linux. As everyone on OSX will be affected (if not this, then possibly by other subtle network differences), I would argue

[2017-01-20 21:11] emreboga opened #1178 "Excessive use of CPU time (E09D5C15-6E6D-40C7-BA75-BEAE5DA83F6C)"
### Expected behavior

Docker for Mac using a reasonable amount of CPU time.

### Actual behavior

com.docker.hyperkit consuming ~300% of CPU time, literally blocking almost everything else.

### Information

Here is the diagnose output:

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G1212)
logs: /tmp/E09D5C15-6E6D-40C7-BA75-BEAE5DA83F6C/20170120-130159.tar.gz
[OK]

[2017-01-20 21:37] justincormack commented on #1178
Are you out of memory? If it starts swapping it will use a lot of CPU, you may need to allocate more memory.

[2017-01-20 21:38] jmreicha commented on #1094
I was able to test this out, and the performance has improved SIGNIFICANTLY in Beta 38.  No more CPU spike from hyperkit.

[2017-01-20 21:38] #1094 closed

[2017-01-20 21:42] emreboga commented on #1178
@justincormack It's not the memory, I have enough memory, but the CPU usage is is high that `docker-compose` almost stopped responding at some point.

[2017-01-20 22:41] soupmatt commented on #924
I just started having this issue after upgrading from Docker for Mac 1.12.6 to 1.13.0.

[code]

Diagnostic Output
[code]

[2017-01-20 22:56] sramazzina commented on #935
Upgraded today and same problem. All containers gone!

[2017-01-20 22:56] cneth commented on #1177
Take a look at: https://github.com/docker/for-mac/issues/1173 and try the fix suggested there.

[2017-01-20 23:16] alledm opened #1179 "Error response from daemon: target is unknown"
I am downloading from the EU repository of google cloud. When I run the command I get:
[code]

### Expected behavior
Image gets pulled

### Actual behavior
```Error response from daemon: target is unknown```

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
Docker for Mac: version: 1.13.0-beta38 (9c31a154d)
macOS: version 10.12.2 (build: 16C67)
logs: /tmp/

[2017-01-21 00:30] buu700 commented on #1176
Update: reproduced in beta 38.

[2017-01-21 02:08] jasonmp85 commented on #803
Uh, I think this is fixed for me now with 1.13.0…

But I'm working from home today, where I have a working IPv6 stack (oddly absent at my WeWork office). I have a final hunch switching from one to the other on my laptop may somehow be related, but I'll have to follow up next week. For now, Docker 1.13.0 seems to have maybe finally killed this.

[2017-01-21 04:12] nrser opened #1180 "docker for mac won't start on OSX 10.10.5"
### Expected behavior

docker for mac starts when os starts and when app is started.

### Actual behavior

docker for mac fails to start with an error message:

[code]

### Information

diagnostic output:

[code]

### Steps to reproduce the behavior

  1. start docker for mac

[2017-01-21 04:15] nrser commented on #1180
i just turned this machine back on after being away from it for a few weeks. docker for mac was working fine before it was shut down. the OS is fully updated.

[2017-01-21 08:27] longkai commented on #66
It's still a problem in current latest stable **Version 1.13.0 (15072)**. It obtains system proxy setting in GUI preferences.

[code]

But when pulling images, it complaint about,

[code]

However, `curl` is perfectly fine.

[2017-01-21 08:41] dtd12 opened #1181 "Docker update problem on macOS Sierra"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2017-01-21 09:10] favoretti commented on #997
Thank you guys! Works with my F5 SSL VPN as well!

[2017-01-21 09:35] justincormack commented on #997
Great! I will close this. We understand that there may be other VPN related issues still in different setups, but we hope this now works for most people. If you still have issues please open a new issue for the specific problem.

[2017-01-21 09:35] #997 closed

[2017-01-21 09:46] justincormack commented on #1181
Please can you give the required details.

[2017-01-21 09:46] #1181 closed

[2017-01-21 09:49] justincormack commented on #1179
I believe this is this issue https://github.com/docker/docker/issues/30083

This should be fixed in 1.13.1. Unfortunately there is no convenient workaround, other than use a different registry (eg a local cache should be ok), ask Google to fix theirs, or downgrade temporarily.

[2017-01-21 09:55] justincormack commented on #1144
Fixed in hyperkit so we can fix the UI now.

[2017-01-21 12:39] dtd12 opened #1182 "Docker doesn't start on macOS Sierra"
### Expected behavior
Docker starts

### Actual behavior
Docker doesn't start mit Fatal Error
com.docker.osx.hyperkit.linux failed to start
Exit code 1

### Information
C5C89DDB-09A3-4D44-8C1D-0A2F3C7FDE90

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.12.2 (build: 16C67)
logs: /tmp/C5C89DDB-09A3-4D44-8C1D-0A2F3C7FDE90/20170121-110604.tar.gz
failure: com.docker.slirp is not running

[2017-01-21 14:10] genei09 commented on #1123
I'm seeing similar issues on the stable 1.13

For I have occasionally been able to login and pull images.  I also realized that in the middle of downloading an image layer (possibly due to multipart downloads) it would attempt to re-resolve the DNS and come back with the 192 address instead of the proper VPN address.  The image download when then fail right in the middle.

[2017-01-21 16:21] pokinoi commented on #1144
Hello David,

you are absolutely right I just realised and got some more clarification on your previous email. so by running my OpenFOAM case on docker on 12 cores, means that I am using all my 12 cores and 12 virtual CPUs. whereas the other 12 are used for logistics and other reasons. However now that you guys have come up with n upgrade, it seems like maybe attempting to use all the 24 threads w

[2017-01-21 18:47] viztastic commented on #1180
I'm still getting this exact same error

[2017-01-21 19:21] wied03 commented on #1139
Anyone have the link for 1.12.6? 1.13.0 broke a different Oracle DB setup for me and I haven't yet had time to figure out why.

[2017-01-21 22:35] cangussu opened #1183 "Docker run slow start"
### Expected behavior

Run the command: `docker run -ti --rm ubuntu true` in less than a second.

### Actual behavior

Takes 5 seconds or more.

### Information

The diagnostic ID: 17884C2E-239C-4696-B162-25C0FE2CC717

As a comparison, it takes less than 1 second to run the same command inside a VirtualBox Ubuntu machine running on the same Mac Mini host.

### Steps to reproduce the behavior

  1.

[2017-01-22 01:57] marcheiligers commented on #306
I ran into a `Fatal Error: com.docker.osx.hyperkit.linux could not be started` error after upgrading to Docker Version 1.13.0 (15072) on OS X Version 10.11.6 (15G1217) today. `rm -rf ~/Library/Containers/com.docker.docker` resolved for me.

[2017-01-22 02:37] KirillGrishin commented on #1103
@djs55 Using that `slirp.zip` that you posted above seemed to have solved the problem (I am using Docker 1.13.0 on Mac).

Just for other googlers I will leave here the error that I was having:
`Error response from daemon: Get https://registry-1.docker.io/v2/: dial tcp: lookup registry-1.docker.io on 192.168.65.1:53: server misbehaving`

[2017-01-22 05:32] lxp521125 opened #1184 "42331B0E-295D-4510-BB59-93BD1E0C4651"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 42331B0E-295D-4510-BB59-93BD1E0C4651
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12.2 (Build 16C67)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]     v

[2017-01-22 06:00] lxp521125 commented on #1184
https://github.com/docker/for-mac/issues/1046
I find it work！！
when open mac

[2017-01-22 06:00] #1184 closed

[2017-01-22 07:46] monotone opened #1185 "com.docker.osx.hyperkit.linux failed to start"
### Expected behavior
start docker

### Actual behavior

![Uploading image.png…]()

### Information
[code]
Diagnostic ID: A846893D-1441-40CA-BFDF-FEFB5CA089DD

### Steps to reproduce the behavior
  1. just start the docker

[2017-01-22 11:59] Catorpilor commented on #1185
same issue here！
when upgrade docker to 1.3.1

[2017-01-22 14:28] Vanuan commented on #997
Is there a webpage listing d4m beta release history?

[2017-01-22 15:52] dsheets commented on #1178
The memory allocated to Docker is capped by the Docker for Mac preferences (:whale: ➡️ `Preferences...` ➡️ `Advanced` ➡️ `Memory`). If your containers collectively need more than 2GB of memory and you have only granted 2GB to Docker, your containers will make the Linux VM swap even if you have plenty of spare memory on the host. Could you check how much memory you have allocated to Docker?

Simila

[2017-01-22 16:22] briangonzalez commented on #1185
@Catorpilor @monotone

I fixed this by opened the app before it would shut down and then clicking "Reset to Factory Defaults"

![screen shot on 2017-01-22 at 08-21-36](https://cloud.githubusercontent.com/assets/659829/22183832/f3eae470-e07b-11e6-8918-0580693bda24.png)

[2017-01-22 16:42] dsheets commented on #1176
You can get 1.12.6 from <https://download.docker.com/mac/stable/1.12.6.14937/Docker.dmg> but I'm not sure it will fix the issue... you logs have evidence of both #1110 and #1170 in them (which may be related). Since it looks like you hit this issue consistently, I'm sending your reproduction case to the engineer tracking these defects. Thanks for your report!

[2017-01-22 17:02] buu700 commented on #1176
Thanks! I've been using 1.12.6 again for the past few days (ended up finding that link myself), and it has fixed the issue.

Well, more or less; I've had occasional crashes (maybe a few times a month) since Docker for Mac was in beta (although the error message was different before 1.13), but they've  been rare enough that I wasn't sure how to report reproducible steps and just figured it was a ge

[2017-01-22 20:06] davidfauth commented on #1182
Seeing the same error.
:(

[2017-01-22 21:15] pavelkornev commented on #1071
@djs55

This worked for me but you need to be fast before the window above appears otherwise there is no way to open Preferences... #usability

[2017-01-22 21:41] TerryFranklin commented on #1182
Likewise getting the same error, OS X Sierra 10.12.1

[2017-01-23 00:03] buu700 commented on #1176
In case it's helpful, this is what the errors I sometimes get pre-1.13 look like: `Error response from daemon: dial unix /Users/buu700/Library/Containers/com.docker.docker/Data/*00000003.00000948: connect: connection refused`

[2017-01-23 00:12] mariovalentim commented on #371
After installing 1.13 the system now freed up space on restart, however it appears it somehow shrunk the qcow file to the new size

**Before**
-rw-r--r--   1 mario  staff   **106G** 23 Jan 11:01 Docker.qcow2

**After**
-rw-r--r--   1 mario  staff   **101G** 23 Jan 11:02 Docker.qcow2

df -H inside of the container now lists / as 100% used :(

Filesystem      Size  Used Avail Use% Mounted on
**none

[2017-01-23 04:33] emreboga commented on #1178
@dsheets That makes sense now. Memory allocation is at the default 2gbs, I'll increase it gradually and test with the same number of containers I used before.

[2017-01-23 06:01] ManikantThakur opened #1186 "Unable to start Dokcer for Mac."
Diagnostic ID: EE77373D-1C00-4601-926E-F965FDA5630A

### Expected behavior
Docker daemon should start.

### Actual behavior
Docker daemon isn't starting.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
***********************************************************************************************
Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version

[2017-01-23 06:15] lsapan commented on #1176
I'm receiving the connection refused error on 1.13.0 stable. My docker daemon has crashed two times in the last half hour. Never had an issue before 1.13.0.

[2017-01-23 06:31] monotone commented on #1185
@briangonzalez I have try it before this issus here.  still not work.

[2017-01-23 07:03] peterbollen commented on #1081
Is there an option to reset/edit the daemon.json configuration without reseting to factory defaults?

[2017-01-23 07:22] bertjan commented on #1071
@pavelkornev same thing here but doable.. I don't mind a little challenge now and then ;-)

[2017-01-23 09:02] yunghoy opened #1187 "bind: address already in use"
This is a crazy bug.
After upgrading docker 1.12.6 to 1.13.0, I got the next errors when I launching docker images.

$ docker -v
Docker version 1.13.0, build 49bf474
$ docker-compose -v
docker-compose version 1.10.0, build 4bd6f1a

$ sudo netstat -natop | grep 6379
tcp6       0      0 :::6379                 :::*                    LISTEN      696/dockerd    off (0.00/0/0)

$ docker service ls
ID

[2017-01-23 09:17] khards opened #1188 "OSX"
### Expected behavior
Should start
### Actual behavior
Don't start up
### Information

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.10.3 (build: 14D136)
logs: /tmp/D4E400B8-ED16-40F6-A513-834C367931B6/20170123-091215.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK]     dns
[ERROR]  driver.amd64-linux
         com.docker.driver.amd64-linux -db is not running
[OK

[2017-01-23 09:21] yunghoy commented on #1187
Sorry, wrong section. It has to be closed.

[2017-01-23 09:39] djs55 commented on #1103
Thanks everyone for the feedback. I've tentatively marked this ticket as fixed (since the patch is in the master branch). I'll let you know when it ships in an official beta.

[2017-01-23 10:49] jesperronn commented on #668
Thanks a lot @kortina. Really easy to apply your script like this:

[code]

[2017-01-23 11:15] HerbCSO commented on #1159
FYI, the `rm ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/Docker.qcow2` seems to have worked for now. Thanks!

[2017-01-23 11:34] ijc25 commented on #1176
@buu700 thanks very much for your report, the issues in #1110 and #1170 are unfortunately the sorts of issues which are unlikely to make any significant progress without a reproduction on a developer's system, which we currently do not have.

Unfortunately the two examples in your report do not work for me:
[code]
and
[code]
(I omitted all of the `-v` until I could inspect what the container was g

[2017-01-23 13:40] calbertts commented on #1188
I had this issue today, and I've found it was something related with the location of the file `Docker.qcow2` ... I've moved this file to another disk. all you know why.

To fix it I erased all the disk where that file was, and restarted the docker service.
Now it's running again.

Not sure why, but the file seemed to be corrupted so I think Docker wasn't able to read it and that was causing the cr

[2017-01-23 14:12] docteurklein commented on #77
I just noticed that the **number** of files (recursively) present in a shared (host) volume has a *ridiculous* impact on performances!

In my example I passed from a folder with 86K files to a folder with 80 files, and got a 15x speed improvement.

I'm not sure I saw this comparison in this thread or anywhere else on the interwebs so I thought it would worth sharing!
sheers

[2017-01-23 14:35] drewtwitchell opened #1189 "Docker for Mac not starting"
Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.12.2 (build: 16C67)
logs: /tmp/B55B8889-C735-47A2-A590-6F24FA0B2F44/20170123-093413.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK]     dns
[ERROR]  driver.amd64-linux
         com.docker.driver.amd64-linux -db is not running
[OK]     virtualization VT-X
[OK]     app
[ERROR]  moby
         /Users/dtwitchell/Library/

[2017-01-23 14:45] ddffx commented on #1185
The same issue happened in my Mac, OS X El Capitan 10.11.6. The only way I was able to **get it working**:
1. Force reinstall the older version 1.12
2. Uninstall Docker and remove the application by moving it to trash
3. Install Docker 1.13

[2017-01-23 14:57] jdaehn commented on #1173
This fix does get Docker running again, but beware: you'll lose all your local images and containers.

[2017-01-23 15:30] kyleobrien91 commented on #57
@djs55 - where are we on this issue? It seems like a major bug to have open for such a long time. Even if the feedback relates to potential release dates, please indicate when this will be rolled out.

[2017-01-23 15:33] kyleobrien91 commented on #57
@djs55 - I see you added the label `version/beta21`. On `rc5-beta35` this is still an issue.

[2017-01-23 15:35] rhyspowell opened #1190 "Docker not starting after upgrade"
### Expected behavior
Docker to start

### Actual behavior
 throwing error and showing me diagnose dialog

### Information

Diagnostic ID: BB96AC61-61C3-42F3-846F-1370E3777141

output

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G1217)
logs: /tmp/BB96AC61-61C3-42F3-846F-1370E3777141/20170123-153148.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK

[2017-01-23 15:36] erickfgb89 commented on #1185
It took a bit of training to win the race against the password prompt, but resetting to defaults worked for me with 1.13 on Sierra

[2017-01-23 15:44] cilefen commented on #77
True. As far as I understand it, the problem is all about the number of files.

[2017-01-23 16:50] mattdavenport commented on #1103
Adding to this as the issue may be related, the fix from @djs55 worked great 👍. However I just tried to log in (via basic auth) to a custom image registry and the same problem arose. It appears that Docker (post-patch above) isn't using the same DNS resolution/method for login as it is for pulling images. Perhaps the same fix could be duplicated in the other command. Not familiar enough with the c

[2017-01-23 17:12] enterline commented on #1190
same problem for me

[2017-01-23 17:23] sbergsten opened #1191 "Docker Exits on opening with new version"
### Expected behavior
open without errors

### Actual behavior
Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G1004)
logs: /tmp/CDDF31D0-1CE6-4E49-B468-B56F1D66578E/20170123-112155.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK]     dns
[ERROR]  driver.amd64-linux
         com.docker.driver.amd64-linux -db is not running
[OK]     virtualization VT

[2017-01-23 17:29] buu700 commented on #1176
Ah, sorry about the bad repro steps; I'd originally included a link to our main Dockerfile, but, after realising that it probably wouldn't be helpful for you guys to spend two hours building it, I swapped it out with a variant we use in CircleCI that has the more time-consuming/CPU-intensive bits removed and forgot to modify the command below (although I'm not sure why pulling that image wouldn't

[2017-01-23 17:44] nimmis commented on #57
Can confirm that it still there is beta38, one more disturbing thing I notice is that it does not ping existing host either, look att the round trip time

inside docker
ping 130.240.xxx.xxx
PING server1.arctics.se (130.240.xxx.xxx): 56 data bytes
64 bytes from 130.240.204.29: seq=0 ttl=37 time=1.030 ms
64 bytes from 130.240.204.29: seq=1 ttl=37 time=0.480 ms
64 bytes from 130.240.204.29: seq=2 ttl

[2017-01-23 18:39] kabobbob commented on #1185
"Reset to factory defaults" worked for me with 1.13 on Sierra.

[2017-01-23 18:49] sbkg0002 commented on #1190
Same here, the cleaning doesn't work. But, running as root does (sudo or root shell).

Docker is started via normal user desktop sessions.

[2017-01-23 18:54] corniste01 opened #1192 "Installation failing for Current stable Docker on mac"
### Expected behavior
install docker and start right up with the current version
### Actual behavior
Docker won't start
### Information
8AF80276-3E29-4831-AE27-436B9CCE9F7D
  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the beha

[2017-01-23 18:55] safaci2000 commented on #1036
This is looking better.  You can close it.  Thanks for referencing me to the instructions on how to increase the disk size, though I wish it was a bit easier to do that.

[2017-01-23 18:55] #1036 closed

[2017-01-23 19:02] mkobit opened #1193 "`docker-compose` socket unexpectedly drops connection to container"
### Expected behavior

Service remains up for the duration of `docker-compose up` and is accessible via port `8888` on the host.

### Actual behavior

Going to http://localhost:8888/ works for a little while, and then eventually will be unable to reach it from my Mac -> `curl: (52) Empty reply from server`. Restarting the Docker application with the dropdown allows me to "restart" and run `docker-

[2017-01-23 19:06] sydekumf commented on #371
I installed 1.13 today and first of all I was surprised that all my images, stopped containers have been removed. I thought a update of docker for mac won't remove them, but okay :-)

So I found this doc how to shrink the size of the file: https://docs.docker.com/docker-for-mac/faqs/#/how-do-i-reduce-the-size-of-dockerqcow2
But unfortunately the size did not shrink, it still has 40GB like before,

[2017-01-23 19:52] JordanDDisch commented on #371
After restarting docker Version 1.13.0, my qcow file shrank to the correct size. Anyone know why uploading a db almost takes up twice the space of the sql file?

[2017-01-23 20:04] edgrosvenor opened #1194 "Fresh install of Docker for Mac 1.13.0 stuck at "Docker is Loading""
### Expected behavior
Docker Starts

### Actual behavior
Docker Does Not Start

### Information

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.12.2 (build: 16C67)
logs: /tmp/9C511D3F-16DB-44E5-AE74-BBD5F1BA1A4C/20170123-135225.tar.gz
[OK]     vmnetd
[OK]     dns
[OK]     driver.amd64-linux
[OK]     virtualization VT-X
[OK]     app
[OK]     moby
[OK]     system
[OK]     moby-syslog

[2017-01-23 21:48] Smuggla commented on #1071
Is there a command line way of doing this? 'Clicking stuff fast' does not work in my current enviroment?

[2017-01-23 21:50] Smuggla commented on #1071
nvm `rm -fr  ~/Library/Containers/com.docker.docker/Data/*` worked.

[2017-01-23 22:25] hatembr commented on #1194
same here.

**Expected behavior**
Docker Starts

**Actual behavior**
Docker fails to start with the following error:
[code]

**Diagnostic**

[code]

Diagnostic ID: AACC4361-0E87-4545-8EF7-A3B07E548542

Steps are simple, after installing the update, try to start docker and it will fail with error mentioned above.

[2017-01-23 22:26] cloakedcode commented on #1120
There are two ways to downgrade:

## 1. Recreate the URL
If you happen to know the build number (e.g. 14937) -- not the git commit you see when running `docker --version` or `docker version` -- you can form the URL:

[code]

(Note: the build number shows up in "About Docker" from the menulet menu.)

![screen shot 2017-01-23 at 2 12 56 pm](https://cloud.githubusercontent.com/assets/177435/22225134/

[2017-01-23 22:38] alexellis opened #1195 "Engine became unresponsive after interacting with Swarm API"
### Expected behavior

Continued use of Docker

### Actual behavior

Restarting fails to correct the problem and I have to completely wipe my library to recover (it seems)

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

F222BA08-22D8-

[2017-01-23 23:32] ddhirajkumar commented on #1101
I am having the same problem.
I used to have VirtualBox and uninstalled it. But docker fails to start complaining that I still have VirtualBox uninstalled.
This is on my mac version : Yosemite 10.10.5

<img width="607" alt="image" src="https://cloud.githubusercontent.com/assets/6774758/22227644/20b027d0-e181-11e6-873b-e0619b4a2781.png">

[2017-01-23 23:35] sergeipogrebnyak commented on #924
Same here

Worked fine on Mac 1.12.latest. Upgraded to 1.13.0 and now cannot resolve any corporate VPN addresses including internal docker registry. The public DNS names work ok.

[code]

The only workaround I found so far is to explicitly give corporate DNS server address:

[code]

I cannot use this workaround for docker pull or docker-compose.
Any pointers/help on how to resolve it are appreciat

[2017-01-23 23:44] ddhirajkumar commented on #1101
I was able to resolve this issue.
Looks like the uninstallation wasn't clean when I had just removed the .app file into Trash.

I installed VirtualBox again and installed it using the Uninstall Tool provided by them.
And then when I started Docker it started successfully.

[2017-01-24 01:22] juanyeo opened #1196 "F1E9756F-FC60-4A47-8FE7-02A38057FADC"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2017-01-24 01:47] aaronisme commented on #1190
same issue for me

[2017-01-24 01:48] ddacunha commented on #1194
+1

[2017-01-24 01:53] ddacunha commented on #1194
Removing `Library/Containers/com.docker.docker/Data` allows docker to start.

[2017-01-24 01:56] hatembr commented on #1194
Thanks, I will give it a try.

[2017-01-24 01:57] ddacunha commented on #1194
I think the proper way to do this is
[code]
(from https://github.com/docker/for-mac/issues/371)

[2017-01-24 02:06] ddacunha commented on #1194
@hatembr this will reset your docker installation and you'll have to re-download all images and create built dockers again.

[2017-01-24 02:18] expdorriss opened #1197 "Docker for mac fails to start"
### Expected behavior
Docker should start
### Actual behavior
docker doesn't start
### Information

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G1217)
logs: /tmp/F47EC9DD-11B3-49CD-A2CF-AF905B6CFC7F/20170123-181726.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK]     dns
[ERROR]  driver.amd64-linux
         com.docker.driver.amd64-linux -db is n

[2017-01-24 03:22] bigkraig commented on #1123
stable broke my DNS today, I'm getting 192.168.65.1 instead of my VPN DNS entries

[2017-01-24 03:25] JuanLUJoanne opened #1198 "com.docker.osx.hyperkit.linux failed to start Exit code 1( docker failed on the Mac after upgrading )"
com.docker.osx.hyperkit.linux failed to start
Exit code 1

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.12.2 (build: 16C68)
logs: /tmp/6A7535AF-BB98-400D-80BF-7772418EDF26/20170124-142548.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK]     dns
[ERROR]  driver.amd64-linux
         com.docker.driver.amd64-linux -db is not running
[OK]     virtualization VT-X
[OK

[2017-01-24 03:26] bigkraig commented on #1123
69B26AFE-B0C6-4028-A684-978673293400

[2017-01-24 03:27] JuanLUJoanne commented on #1198
version: Version 1.13.0 (15072)
Channel: Stable
0c6d765c54

[2017-01-24 04:47] bigkraig commented on #997
this is worse with Cisco any connect

[2017-01-24 05:58] tianweiying opened #1199 "4CB22601-4929-4E1B-BAD8-35A7DFA28329"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2017-01-24 06:52] frodeanonsen commented on #1185
Tried "Reset to factory defaults", but it did not resolve the error

[2017-01-24 09:12] sebgoa commented on #1179
same error here.

fwiw, it has nothing to do with GCR in my view, it is really a backward incompatible change.

[2017-01-24 09:14] juniorts opened #1200 "Docker is freezing (version 1.13 - macOS 10.12.2)"
### Expected behavior
Docker works properly.

### Actual behavior
Docker is freezing. Trying to use the command docker ps and the list of process is not displayed.

### Information

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.12.2 (build: 16C67)
logs: /tmp/98A135B1-3EA4-4E8C-9F3A-755038082E93/20170124-070106.tar.gz
[OK]     vmnetd
[OK]     dns
[OK]     driver.amd64-linux
[OK]

[2017-01-24 09:16] justincormack commented on #1179
@sebgoa I am still trying to get to the bottom of how it happened, but it seems that some registry software such as Google's accepted or set this content type; the Docker registry does not, so it is a combination of bugs. 1.13.1 should be out shortly to fix this.

[2017-01-24 10:20] sebgoa commented on #1179
thanks. fwiw, I can pull without problems from 1.11.1 but not from 1.13.0-beta38

[2017-01-24 13:28] lbialy commented on #1092
Too late, purged docker from OS and reinstalled it, sorry. Needed it for work.

[2017-01-24 13:46] scottpettyjohn opened #1201 "Docker for Mac doesn't start after update to version 1.13.0"
### Expected behavior
Successful startup
### Actual behavior
fails to start with error code 1
### Information

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G1217)
logs: /tmp/683D27D4-C9BB-4DD0-9159-E8E7C20624A4/20170124-084354.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK]     dns
[ERROR]  driver.amd64-linux
         com.docker.driver.amd64-lin

[2017-01-24 14:08] zhengcan commented on #1175
After I'm using Docker for Mac, all volumes, containers and images had been gone for several times. This happen more than twice when a newer version has been installed. So sad.

[2017-01-24 14:11] justincormack commented on #1175
Without a diagnostic ID we cannot look and see what happened and try to fix it in future.

[2017-01-24 14:36] juju4 opened #1202 "macos: AutoUpdate file not signed"
**Description**

AutoUpdate file is not signed which makes hard to validate legitimate executable.
If you use Google Santa in blacklist/lockdown mode, it is blocked

**Steps to reproduce the issue:**
1. Install Docker and Google Santa in lockdown mode on mac (tested on sierra)
2. wait a docker update
3. validate update

**Describe the results you received:**

Google Santa is blocking execution of

[2017-01-24 14:46] hatembr commented on #1194
@ddacunha that worked, and like you said I'll have to rebuild all my images but that's fine.
thanks

[2017-01-24 14:47] yallop commented on #1046
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2017-01-24 14:47] #1046 closed

[2017-01-24 14:50] iBobik commented on #1046
@yallop Issue is probably not fixed yet, only confirmed workaround works.

[2017-01-24 14:59] brentvukmer commented on #1201
Seeing the exact same issue.   Diagnostic id: **7C1FB40D-F43D-4D06-81F3-CD1E5FEC84EE**

[2017-01-24 15:01] yallop commented on #1046
@iBobik: I'm closing this because there's no new information from @bunchjesse.  You're seeing similar symptoms, but the underlying cause seems to be different.  If your problem is not resolved, would you mind opening a new issue?

[2017-01-24 15:13] aaronisme opened #1204 "docker for mac failed to start after updated"
after updated docker on mac:

it failed to start and here is the error message;

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G1212)
logs: /tmp/3586ACB3-38A8-433F-BC8E-6CA835199057/20170124-231040.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK]     dns
[ERROR]  driver.amd64-linux
         com.docker.driver.amd64-linux -db is not running
[OK]

[2017-01-24 15:13] aaronisme commented on #1204
the Diagnostic ID is 3586ACB3-38A8-433F-BC8E-6CA835199057

[2017-01-24 15:23] yallop commented on #1199
Thank you for the report.  Unfortunately there isn't enough information here to identify the problem, so I'm closing the issue.  Please feel free to open a new issue with additional information.

[2017-01-24 15:23] #1199 closed

[2017-01-24 15:25] iBobik commented on #1046
For me it is solved, but by manual action (see discussion above). Clean
installation could be broken, but it also can be fixed, just nobody
mentioned this issue.

Maybe it is best to wait if somebody else will report it.

Jan Pobořil

2017-01-24 16:01 GMT+01:00 yallop <notifications@github.com>:

[2017-01-24 15:41] yallop commented on #1196
Thanks for the report.

From the information in the logs it appears that your system does not satisfy the hardware requirements of Docker for Mac. See https://docs.docker.com/docker-for-mac/#/what-to-know-before-you-install for more information.

[2017-01-24 15:41] #1196 closed

[2017-01-24 15:41] skate056 commented on #1204
I have the same problem.

[2017-01-24 15:49] yallop commented on #1192
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-24 15:49] #1192 closed

[2017-01-24 15:49] yallop commented on #1189
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-24 15:49] #1189 closed

[2017-01-24 15:52] yallop commented on #1141
I'm closing this as a duplicate of #1159; please subscribe to that issue if you'd like updates on the problem, and please feel free to open a new issue if the workarounds above (e.g. deleting `Docker.qcow2`) don't solve the problem for you.

[2017-01-24 15:52] #1141 closed

[2017-01-24 15:53] yallop commented on #1198
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-24 15:53] #1198 closed

[2017-01-24 15:53] yallop commented on #1197
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-24 15:53] #1197 closed

[2017-01-24 15:55] yallop commented on #1194
I'm glad to hear that you've found a workaround for the problem.  A little more detail, in case you're interested:

Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in a

[2017-01-24 15:55] #1194 closed

[2017-01-24 15:55] yallop commented on #1190
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-24 15:55] #1190 closed

[2017-01-24 15:55] yallop commented on #1180
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-24 15:55] #1180 closed

[2017-01-24 15:56] yallop commented on #1201
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-24 15:56] #1201 closed

[2017-01-24 15:57] yallop commented on #1200
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-24 15:57] #1200 closed

[2017-01-24 15:57] yallop commented on #1191
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-24 15:57] #1191 closed

[2017-01-24 15:58] yallop commented on #1188
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-24 15:58] #1188 closed

[2017-01-24 15:59] mfeblowitz opened #1205 "Latest update broke Docker"
### Expected behavior
Startup without error
### Actual behavior
- [Fatal Error: com.docker.osx.hyperkit.linux failed to start ]
- Diagnose and Report (did so)
- complaints on Diagnose showed error starting at DB.
### Information
reinstall did not work

had to ``rm -fr ~/Library/Containers/com.docker.docker/Data/* `` to get it to start

  - Full output of the diagnostics from "Diagnose & Feedback"

[2017-01-24 15:59] mkobit commented on #1193
Here is a diagnostic Id when I have `docker-compose up` running and accessible via `localhost:8888`: *B33FE842-04EB-4B21-98DA-C720B1147684*

[2017-01-24 16:03] yallop commented on #1173
I'm glad to hear that you've found a workaround for the problem.  A little more detail, in case you're interested:

Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in a

[2017-01-24 16:03] #1173 closed

[2017-01-24 16:04] yallop commented on #1177
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-24 16:04] #1177 closed

[2017-01-24 16:06] yallop commented on #1166
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-24 16:06] #1166 closed

[2017-01-24 16:07] jaxley commented on #1205
Ditto

[2017-01-24 16:09] yallop commented on #1205
Thanks for the report.

Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  In some cases the existing `Docker.qcow2` file may have some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

The issue docker/for-mac#1159 has more

[2017-01-24 16:09] #1205 closed

[2017-01-24 16:10] yallop commented on #1204
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-24 16:10] #1204 closed

[2017-01-24 16:33] yallop commented on #1185
@monotone: I see this in your logs:
[code]

Is it possible that Intel Virtualization is disabled on your machine?

[2017-01-24 16:37] michaelwilde commented on #924
Found a solution.  In Docker for Mac, go to "Preferences -- Uninstall/Reset --- Factory Reset".  Do that, moby gets whacked and recreated.  Problem solved for me.

[2017-01-24 17:24] sergeipogrebnyak commented on #924
Sweet! Worked for me as well.
Thank you much

[2017-01-24 17:32] semifor commented on #1103
This fix was working perfectly for me last Friday. Today it's not. I've discovered that it's working for the default docker0 bridge network, but not for the default bridge network set up by docker-compose for my application.

I expect both of these commands to produce a similar result. They don't.

[code]

[2017-01-24 17:54] Naimix opened #1206 "Docker failing to launch on Mac startup"
### Expected behavior
Docker set to launch at system startup

### Actual behavior
Docker fails to launch at start

### Information

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G1108)
logs: /tmp/4EB6BD79-7B56-4DB7-B0DD-519F607E0FCF/20170124-093930.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK]     dns
[ERROR]  driver.amd64-linux
         com.do

[2017-01-24 18:04] expdorriss commented on #1197
@yallop - thanks. I figured something in the auto-updated had become corrupted. I uninstalled and reinstalled everything and fortunately didn't have any containers or images I needed to worry about on this system.  In my case only mildly frustrating.

[2017-01-24 18:05] smakam commented on #1059
Hi
I am hitting the same issue with Docker 1.13 experimental with criu version v2.10-1-gd9486bd.
Any solution for this?
I am using Ubuntu 16 VM to try this out.

Thanks
Sreenivas

[2017-01-24 18:26] rochasurf opened #1207 "After recommended upgrade, Docker won't start up on Mac"
### Expected behavior

Accepted the available update recommendation that popped up on screen. Expected app to start up after that

### Actual behavior

After the update, unexpected error happens and app doesn't start up

### Information

Diagnostic ID: 6E1F1729-B17A-4B1B-86EE-C6907E2701DB

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.12.2 (build: 16C67)
logs: /tmp/6E1F1729-B17A-4B

[2017-01-24 18:59] jaxley commented on #1205
Would be great if the code could recover on its own.  If the solution is to just delete that corrupted file, why wouldn't the app just do that itself so it can start up successfully?

BTW, I believe my Reset to Defaults ended up clearing this file, although I really couldn't easily get to that option because the dialog to diagnose the failure doesn't give you the option to leave the app open (forc

[2017-01-24 19:16] swthomas55 opened #1208 "Docker failed to restart after update"
### Expected behavior
Expected Docker to start.

### Actual behavior
Docker fails with an error

com.docker.osx.hyperkit.linux failed to start
Exit code 1

### Information

Diagnostic ID: DEEE0903-D430-491D-A494-8FF3C0F91118

### Steps to reproduce the behavior

  1. Try to run Docker.

[2017-01-24 19:21] swthomas55 commented on #1208
After restarting Mac OS, same problem appears.

[2017-01-24 19:27] swthomas55 commented on #1208
Reinstalled from stable download and it is ok now.

[2017-01-24 20:35] sergeipogrebnyak commented on #924
Actually, spoke too soon.
The addresses now get resolved but always to the same IP 54.200.1.15 which seems to point to some ec2 instance!?

[2017-01-24 20:36] spikegrobstein commented on #924
I'm still having the issue in `1.13.0-beta38`. I did a full factory reset and it's still reproducible.

[2017-01-24 20:37] blamh commented on #924
I tried the Factory Reset, but it did not work for me. Still getting an `lookup docker.corp.internal on 192.168.65.1:53: no such host` error.

[2017-01-24 21:00] soupmatt commented on #924
I went back to 1.12.6 to get it working again.

[2017-01-24 21:08] bgonz commented on #955
Just an update here: Version 1.13.0 (15072) seems to no longer have this issue.

Thanks to everyone who helped make that happen.

[2017-01-24 21:25] sergeipogrebnyak commented on #924
Where did you get this version from? I can't find it anywhere anymore.  I mean the whole Docker for Mac package.

[2017-01-24 21:25] justincormack commented on #955
ok, great.

[2017-01-24 22:46] JuanLUJoanne commented on #1198
thank you. working for me now

[2017-01-24 23:28] alias1 commented on #1208
I'm also unable to start docker since getting the latest upgrade.

[code]
[code]

[2017-01-25 00:03] jlk opened #1209 "Renaming Mac home directory results in docker for mac failing to start"
### Expected behavior
Upon [renaming a Mac user's home folder](https://support.apple.com/en-us/HT201548), Docker for Mac should continue to work after logging into the renamed account, or have a (relatively) easy way for users to update paths used by d4m, without having to delete ~/Library/Containers/com.docker.docker

### Actual behavior
Currently after renaming a user's home directory, rebooting

[2017-01-25 00:13] dwatrous opened #1210 "DNS resolution in container not working as expected"
### Expected behavior
when I create a new container, I expect to be able to resolve DNS the same as the host on which I'm running docker.  This worked as expected before the 1.13 release. Now I have to create a network and attach the container to the network before I can properly resolve DNS.

### Actual behavior
When I create a new container I cannot resolve DNS for my local network.

### Informa

[2017-01-25 01:04] michaelwilde commented on #924
Have you guys tried moving to the stable 1.13?  Thats what i'm on.. working well now.

[2017-01-25 01:07] semifor commented on #1103
@ebuildy my attempt to describe the problem was bad. My apologies for that.

When the problem exists, I can ping a host across the vpn from my osx command line. I can ping it from a container running the default0 bridge network. I cannot ping it from a container on a default private network created via `docker-compose up`. Instead, I get "bad address".

When it's working normally, I'm able to reso

[2017-01-25 01:18] hodgesmr opened #1211 "Slow disk and/or network I/O after 1.12.0"
### Expected behavior
Unit and integration tests that do network and disk I/O should mimic native performance.

### Actual behavior
My application's test suit that does network and disk I/O is severely degraded **after** `1.12.0`

### Information

I use Docker primarily for local development. I've been relying heavily on version `1.12.0` because anything after that `1.12.1` - `1.13.*` has _severe_

[2017-01-25 01:48] thaJeztah commented on #1059
@smakam if you're getting the same error as above, then criu is not installed, however, the issue here is purely for Docker for Mac, which currently doesn't have support fro criu, so not directly related to your issue

[2017-01-25 01:49] sergeipogrebnyak commented on #924
I tried stable first, then tried latest beta. Not working with my network/VPN connection.
My other Mac has 1.12.1 and it does work fine on the same network through the same VPN.
The problem that I don't have the original 1.12 installer and can't find it anywhere.

[2017-01-25 05:14] jlk commented on #1209
In case others run into this, `rm -rf ~/Library/Containers/com.docker.docker/Data` resolves this at the cost of the moby image, but that's recreated when Docker is restarted.

It'd be nice if we could just edit a config file to straighten this out, though...even if that's a plist.

[2017-01-25 07:15] Catorpilor commented on #1185
As #1159 explained, `rm ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/Docker.qcow2` and restart docker everything works fine.

[2017-01-25 09:27] justincormack commented on #1211
cc @djs55 is this sync related?

[2017-01-25 10:21] djs55 commented on #1211
I can't be sure without a reproduction but it could be this: https://github.com/docker/for-mac/issues/668#issuecomment-250406582

Summary is: when Docker 1.12.0 sends a `fsync`/`flush` command to the storage (e.g. to commit a transaction to the disk) this was ignored, meaning that transactions in a database like postgres could be lost if the system lost power. This bug was fixed in 1.12.1: now a `

[2017-01-25 10:43] morriswinkler-simplesurance opened #1212 "in need of a "docker-machine env" replacemenet refering to #938"
I opened this issue earlier #938, it was closed after telling me that I do not need to set the version.

Well, guess what I use the go docker client package from a go program. The client will fail until the right server version is provided.

It just happened, I had to pull out the version with some string matching from
[code]

Kindly the string has changed ( added (minimum version 1.12) to it), th

[2017-01-25 11:05] justincormack commented on #938
The client library should have the right defaults, ie connect to the local socket by default, use environment variables if set.

[2017-01-25 11:11] morriswinkler-simplesurance commented on #938
how would i get the docker daemon version on mac from an other program ?

[2017-01-25 11:15] justincormack commented on #938
you can get `docker version` info in json with `docker version --format '{{json .}}'` or use the templates as in https://docs.docker.com/engine/reference/commandline/version/

[2017-01-25 11:16] morriswinkler-simplesurance commented on #938
Much better.

[2017-01-25 11:18] justincormack commented on #938
```docker version --format '{{.Server.APIVersion}}'``` or ```docker version --format '{{.Server.MinAPIVersion}}'``` should be what you want

[2017-01-25 11:20] #1024 closed

[2017-01-25 11:31] yallop commented on #1187
Closing, as superseded by https://github.com/docker/docker/issues/30358.

[2017-01-25 11:31] #1187 closed

[2017-01-25 12:05] yallop commented on #1072
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2017-01-25 12:05] #1072 closed

[2017-01-25 12:20] yallop commented on #1206
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either

    unins

[2017-01-25 12:20] #1206 closed

[2017-01-25 12:26] yallop commented on #1212
@morriswinkler-simplesurance, can we close this now that @justincormack has shown how to extract the version using `docker version --format` (https://github.com/docker/for-mac/issues/938#issuecomment-275082867)?

[2017-01-25 12:30] yallop commented on #1182
@dtd12, this has symptoms similar to the problem described here:

    https://github.com/docker/for-mac/issues/1159#issuecomment-273899215

but I don't see any direct evidence in the logs that the underlying problem is the same.  Could you please check whether the workarounds in that issue (either uninstalling and reinstalling, or removing the file `~/Library/Containers/com.docker.docker/Data/com.

[2017-01-25 13:13] morriswinkler-simplesurance commented on #1212
shure

[2017-01-25 13:17] #1212 closed

[2017-01-25 13:36] yallop commented on #1208
@swthomas55: recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file had some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

I'm glad to hear that reinstallin

[2017-01-25 13:36] #1208 closed

[2017-01-25 13:40] hodgesmr commented on #1211
Hi @djs55,

Thanks for the quick response! Disabling flushing did the trick! My tests are back to expected wall-time speed now.

[2017-01-25 14:07] djs55 commented on #1210
When I try this locally I only ever see `NXDOMAIN`, on host, in container and in container with attached network.

Do you have a private nameserver which has an `A` record for this name? Perhaps Docker for Mac is randomly choosing the wrong nameserver to query?

Unfortunately I can't find the diagnostics bundle associated with `DB766255-8B7B-40D9-8A71-0138CC98099A`. We've just released beta 39 whi

[2017-01-25 14:10] yallop commented on #1207
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either

    unins

[2017-01-25 14:10] #1207 closed

[2017-01-25 14:15] yallop commented on #1175
@esBeee, could you please provide a diagnostic id (from the "Diagnose & Feedback..." -> "Diagnose & Upload" menu option) so that we can investigate further?

[2017-01-25 14:25] yallop commented on #1025
@jamshid, could you please confirm that this problem is fixed for you in the latest beta (39)?

[2017-01-25 14:39] yallop commented on #983
@flxsource, could you please confirm that the latest beta (39) resolves the problem?

[2017-01-25 14:42] yallop commented on #578
@kyuta1: I'm closing this issue, as we believe that the problem is fixed in recent betas.  Please reopen the issue if you see the problem again.  Thanks again for your report.

[2017-01-25 14:42] #578 closed

[2017-01-25 15:01] dwatrous commented on #1210
I may not have uploaded the diagnostic. I just ran a new diagnostic here:
[code]

When I tried to reproduce my workaround of creating a network, it no longer worked, so the only option I have is to manually modify the resolv.conf file.

We do have a nameserver locally that resolves that domain.

I'm happy to try a beta version of Docker. Are there instructions for installing it?

[2017-01-25 15:01] HerbCSO commented on #1159
I haven't had any further issues with this after the `rm`, so from my perspective this can be closed.

[2017-01-25 15:10] dwatrous commented on #1210
I have installed Docker beta 39 for mac and the issue I reported appears to be resolved. Here is a diagnostic.

[code]

I'm not sure if that means this issue can be closed or if you want to do further review. I suppose I can keep using the beta version until the next release where this fix will be included in the stable branch.

[2017-01-25 15:10] mydagobah opened #1213 "docker cannot restart"
### Expected behavior
Docker should be able to restart

### Actual behavior
Fatal Error
com.docker.osx.hyperkit.linux failed to start
Exit code 1

### Information
Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G31)
logs: /tmp/1BDD447B-B005-475B-ACD7-6CBE69100A0D/20170125-100633.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK]     dns
[ERROR]  drive

[2017-01-25 15:17] soupmatt commented on #924
I got the 1.12.6 app back out of the trash on my Mac. I'm not sure where to download it from. :(

[2017-01-25 15:18] yallop commented on #1213
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either

    unins

[2017-01-25 15:18] #1213 closed

[2017-01-25 15:22] djs55 commented on #1210
Sorry I should have included the link -- the beta version is available from here: https://download.docker.com/mac/beta/Docker.dmg

[2017-01-25 15:27] dwatrous commented on #1210
I did find the beta version. It appears to fix the problem and I included diagnostics above. I'm just not sure if I should close this issue or not.

[2017-01-25 15:30] trycoon opened #1214 "Docker fails up startup after upgrade"
### Expected behavior
Docker should start up correct.

### Actual behavior
Docker fails to startup after upgrade to 1.13.0, using the upgrade wizard in the notification box.
When Docker tries to startup I get an error-modal "Fatal error: com.docker.osx.hyperkit.linux failed to start
Exit code 1"

MacOS X Sierra v10.12.2

Error information:

### Information
I got a notification about the new 1.3.0

[2017-01-25 15:31] yallop commented on #924
There are some further DNS improvements in the latest beta (beta39), which has just been released.  @spikegrobstein, could you please give the latest beta a try to see whether it resolves your issue?  If the problem persists, a new diagnostic ID would be appreciated.

[2017-01-25 15:35] trycoon commented on #1214
Duplicate issue, closing.
This solved it: rm ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/Docker.qcow2

[2017-01-25 15:35] #1214 closed

[2017-01-25 15:41] #1159 closed

[2017-01-25 15:43] yallop commented on #1147
I'm closing this, as there's a workaround (deleting the `Docker.qcow2`) file, but please feel free to reopen if the workaround doesn't work for you, or if you experience further problems, @roacobb.

[2017-01-25 15:43] #1147 closed

[2017-01-25 15:48] StevenACoffman opened #1215 "After upgrade to 1.13.0, Docker fails to start"
### Expected behavior
Docker agent requested upgrade

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. Upgrade to Docker for mac 1.13.0 on Mac OS X: version 10.11.6 El Capit

[2017-01-25 15:52] yallop commented on #1215
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either

    unins

[2017-01-25 15:52] #1215 closed

[2017-01-25 16:28] mcherfaoui opened #1216 "Failure to start Docker on MAC"
### Expected behavior

Start Docker

### Actual behavior

Docker fails to start with following message box:

Fatal Error

com.docker.osx.hyperkit.linux failed to start
Exit code 1

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### St

[2017-01-25 16:36] yallop commented on #1216
Thanks for the report.  Without a diagnostic ID there's nothing we can do to investigate further.  But the problem you're seeing may be due to new integrity checks on a corrupt `Docker.qcow2` file.  If that's the case then the workaround suggested in #1159 may fix things: https://github.com/docker/for-mac/issues/1159#issuecomment-273899215

[2017-01-25 16:36] #1216 closed

[2017-01-25 16:42] mcherfaoui commented on #1216
Thanks, the w/around helped!
Regards,
Mourad.

      From: yallop <notifications@github.com>
 To: docker/for-mac <for-mac@noreply.github.com>
Cc: mcherfaoui <mcherfaoui@yahoo.com>; Author <author@noreply.github.com>
 Sent: Wednesday, January 25, 2017 8:36 AM
 Subject: Re: [docker/for-mac] Failure to start Docker on MAC (#1216)

Thanks for the report. Without a diagnostic ID there's nothing we can

[2017-01-25 16:50] smakam commented on #1059
@thaJeztah Thanks for the response. Sorry, it was a mistake on my part. I had a criu installed, but I had not done "make install" that was causing the issue. After doing "make install", its working fine now.

[2017-01-25 18:33] Naimix commented on #1206
@yallop Thank you for the help, this fixed the problem.

[2017-01-25 18:39] spikegrobstein commented on #924
@yallop still not working with `Version 1.13.0-beta39 (15140)`

I did a full factory reset after installing (as always) to ensure clean slate, then connected to VPN. Strangely, this is unable to resolve *any* DNS, now. in-container. During a `docker build`, I run `apt-get update` which hits both the public `archive.ubuntu.com` and our internal `apt.mycompany.com` apt repositories, previously only

[2017-01-25 18:41] ronhoGTT opened #1217 "Docker fails to start after upgrading Docker."
### Expected behavior

Docker should start.

### Actual behavior

An error occurs:

com.docker.osx.hyperkit.linux failed to start
Exit code 1

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G1212)
logs: /tmp/CAC0C7BF-732C-40F8-A7F2-6D97C2E7B51B/20170125-103422.tar.gz
failure: c

[2017-01-25 18:47] ilg-ul commented on #894
these days I did some tests with the OpenOCD build and the results are not conclusive. :-(

the build with the Parallels Desktop **not** started, took:

[code]

**Exactly** the same script, with Parallels running a Windows 8 x64 VM, took only slightly more:

[code]

I did not have time to test the QEMU builds, which, last time I ran, took several hours to complete.

on the other side, now I'm usin

[2017-01-25 18:47] #894 closed

[2017-01-25 18:51] ronhoGTT commented on #1217
The resolution in Issue #1198 actually solved this for me.  Docker is working now.

[2017-01-25 18:51] #1217 closed

[2017-01-25 19:20] mukteshkrmishra opened #1218 "Docker agent not starting after installing latest version"
### Expected behavior
Docker agent should be starting.
### Actual behavior
It is not starting and gives a very weird error about linux VM.

### Information

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G1212)
logs: /tmp/22098C8E-2816-4176-ACDE-16B5A7021B40/20170125-111627.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK]     dns
[ERROR]  driver.am

[2017-01-25 19:54] tkinz27 commented on #974
The latest release fixed this issue. Thank you guys so much for fixing this.

[code]

[2017-01-25 20:55] djs55 commented on #974
Thanks for the confirmation!

[2017-01-25 22:50] mfeblowitz opened #1219 "Docker "0c6d765c54" upgrade: image build problem: "Directory renamed before its status could be extracted""
### Expected behavior
Docker image creation would complete successfully when executing:

```RUN wget -q -O- $xyzPackage | tar -xz -C / --owner=user1 --group=user1```
### Actual behavior
Several reports like:

[code]
### Information
The second thing to go wrong after upgrading to ```version 1.13.0, 2017-01-19, Channel: stable)```  (I think) - definitely had hashcode: 0c6d765c54. (First thing was co

[2017-01-25 22:57] justincormack commented on #1219
Is there any way to provide a way to reproduce this?

It may be an `overlay` storage driver issue - you can add `{"storage-driver":"aufs"}` in the advanced daemon preferences pane and see if that makes a difference.

[2017-01-25 23:07] frodopwns commented on #681
Has this issue been addressed at all? Major blocker.

[2017-01-26 02:05] lwdye opened #1220 "docker login failure"
### Expected behavior
docker login -u xxxx  -p yyyy

works from linux instance but fails from osx  1.13.0-beta39 (15140)

### Actual behavior
https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)

[2017-01-26 02:07] lwdye opened #1221 "gcloud docker push is very slow or fails"
1.13.0-beta39 (15140)

osx

[2017-01-26 07:02] yallop commented on #1221
Thanks for the report, @lwdye.  Could you please provide a diagnostic id (from the "Diagnose & Feedback..." -> "Diagnose & Upload" menu option) to help us investigate further?

[2017-01-26 07:03] yallop commented on #1220
Thanks for the report, @lwdye.  Could you please provide a diagnostic id (from the "Diagnose & Feedback..." -> "Diagnose & Upload" menu option) to help us investigate further?

[2017-01-26 07:14] kevingimbel opened #1222 "Copyright uses wrong year (1.13.0-beta39)"
It's just a minor thing, but I noted the copyright in the "About Docker" screen in Docker for Mac is wrong. Should be `2017` instead of `2016`.

![screen shot 2017-01-26 at 08 10 47](https://cloud.githubusercontent.com/assets/2161714/22322838/10fcda20-e39f-11e6-86a8-b691f15b12c1.png)

[2017-01-26 07:43] jaimeagudo commented on #371
Well, for me it's not fixed, on Version 1.13.0 (15072), after restarting several times 16.1.0 Darwin Kernel Version 16.1.0

It collapsed the Mac, I realised the file was 11,3G after upgrading it has reduced to 10G... but I had no images & no containers at all 👎
`-rw-r--r--  1 jaime  staff    10G Jan 26 08:41 Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/Docker.qcow2`

[2017-01-26 08:11] steve-federowicz commented on #1194
Maybe a button in preferences to wipe the qcow2? Something like "Delete all current images and containers."?

I actually did click the bomb logo reset for factory default but that did not delete the qcow2 and I still needed to remove it manually.

[2017-01-26 08:45] frodeanonsen commented on #1185
@yallop Enabling Intel Virtualization did the trick for me. Thanks!

[2017-01-26 09:31] djs55 commented on #924
@spikegrobstein I couldn't find the logs associated with that diagnostic ID -- perhaps the upload failed? Could you reproduce the problem one more time and upload the logs for me?

[2017-01-26 09:41] esBeee commented on #1175
Of course, @yallop . I have _91EA78C9-7049-4B7D-8982-7D17FCDB782F_.

[2017-01-26 09:50] yallop commented on #1218
Thanks for the report, @mukteshkrmishra.  The problem you're seeing may be due to new integrity checks on a corrupt `Docker.qcow2` file.  If that's the case then the workaround suggested in #1159 may fix things: https://github.com/docker/for-mac/issues/1159#issuecomment-273899215

[2017-01-26 10:35] dsheets commented on #894
Thanks for checking! It may also depend on your OS X version so please keep us updated with that if you re-test. Thanks for using Docker for Mac!

[2017-01-26 10:39] ilg-ul commented on #894
For the records, the current version is macOS Sierra 10.12.2 (16C67), running on a MacBook Pro, with 16 GB RAM and 1TB of SSD.

[2017-01-26 11:30] steverosstalbot opened #1223 "Docker fails to start"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2017-01-26 12:22] takz1977 commented on #1223
same here

### Expected behavior
       - start Docker for mac 1.13.0 (15072)
### Actual behavior
       - stuck on Docker starting ... not done
### Information

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.12.3 (build: 16D32)
logs: /tmp/4913E7A7-EDD9-49FD-BCE7-A807FE380A6A/20170126-191049.tar.gz
failure: docker ps failed: (Failure "docker ps: timeout after 10.00s")
[OK]     vmnet

[2017-01-26 13:04] stefanoric opened #1224 "Docker crashes on start up"
### Expected behavior
No crashes (!)

### Actual behavior

### Information
Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.5 (build: 15F34)
logs: /tmp/8349632A-F6EF-4698-B36D-EAB7982CC381/20170126-130236.tar.gz
failure: com.docker.slirp is not running
[OK]     vmnetd
[OK]     dns
[ERROR]  driver.amd64-linux
         com.docker.driver.amd64-linux -db is not running
[OK]     virtual

[2017-01-26 13:08] stefanoric commented on #1224
Fixed removing the following file (as suggested in a similar issue)

`rm ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/Docker.qcow2`

[2017-01-26 13:08] stefanoric commented on #1223
I have fixed it with the following command:

`rm ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/Docker.qcow2`

[2017-01-26 13:26] stanisfun opened #1225 "Cannot run `docker ps` it 'runs' forever"
Has been used: docker-machine-driver-xhyve
played a bit with kubernates.
then docker ps just wont work.
uninstalled docker-machine-driver-xhyve and docker.
And installed new docker.
So nothing changed. On `docker ps` it hangs on.

[code]

[2017-01-26 13:55] yallop commented on #1223
There's not enough information in the description for us to investigate the issue, @steverosstalbot, but it's possible that you'll find something useful here: https://github.com/docker/for-mac/issues/1159#issuecomment-273897707

[2017-01-26 13:55] #1223 closed

[2017-01-26 13:56] #1224 closed

[2017-01-26 14:06] yallop commented on #1224
I've closed this, as you've found a workaround and the logs suggest that the problem is the same as in#1159.  Thanks for the report!

[2017-01-26 14:16] vit-spinka commented on #371
Docker 1.13.0-beta39: The ftrim does not seem to be running in cron(?). Or at least restarts don't trigegr the resize, unless I invoked ftrim manually.

My qcow2 is set to maxmium of 120GB; but often it gets way over that limit, now it's sitting at 246GB, for example. df inside containers see 120GB.
The trim on restarts fixes the size. It takes about 20 minutes.

[2017-01-26 14:25] ZherebcovSergey opened #1226 "Fatal Error com.docker.osx.hyperkit.linux failed to start Exit code 1"
MacOS Sierra 10.12.2 (16C67)

Diagnostics BA3EF875-A019-4578-9D7C-C0212AA758F2

[2017-01-26 14:31] philnug commented on #1215
I experiences this issue as well, after upgrading to El Capitan then Docker fro Mac 1.13.  Removing Docker.qcow2 resolved this issue for me.

[2017-01-26 14:34] StevenACoffman commented on #1215
Thanks! Removing Docker.qcow2 resolved this issue for me. If it is a common enough problem, maybe suggest that to the user in an error dialog?

[2017-01-26 14:35] djs55 commented on #371
@vit-spinka thanks for the report.

Regarding cron: I'm not sure what's going wrong, I'll investigate.

Regarding the large size: unfortunately the qcow can become larger than the file limit as the blocks are marked as free but are not recovered immediately, and then can be re-allocated again at the end of the file. I'm currently working on the "online" mode which should be able to free space in t

[2017-01-26 14:42] yallop commented on #1215
@StevenACoffman: I'm glad to hear the immediate problem is resolved for you.  Reporting the problem via a dialogue box would certainly be better, and we're planning to improve things along those lines in a future release.

[2017-01-26 14:46] boucher commented on #1059
I was able to get this working this morning. There's a pre-built version of criu in the alpine testing repository, but it doesn't quite work. I've attached an updated binary that should work if put into the docker for mac vm: [criu-alpine.zip](https://github.com/docker/for-mac/files/732556/criu-alpine.zip)

Here's the other libraries you'll need installed:

[code]

The other thing I had to do to g

[2017-01-26 15:32] dwatrous commented on #1210
I'm closing this issue since I assume the fix in the beta version will carry through to the next release.

[2017-01-26 15:32] #1210 closed

[2017-01-26 16:31] mukteshkrmishra commented on #1218
Thanks. The solution you have suggested is what I have figured out beforehand and tried. Unfortunately, it removed all my containers and stuff :( :( , but agent has started now :) .

Thanks for your help.

[2017-01-26 17:00] achanda opened #1227 "Open ports are not visible on the host in host networking mode"
### Expected behavior
I started a server on port 8000 (python -m SimpleHTTPServer) in a container in host networking mode. I expected to see that port open in the host

### Actual behavior
The port was not open on the host

### Information
[code]
[code]
[code]

### Steps to reproduce the behavior
[code]
After this, scan `127.0.0.1` using nmap for ports between 7000 and 9000

[2017-01-26 18:03] 007pig opened #1228 "Docker keeps restarting"
### Expected behavior
Docker runs without restarting

### Actual behavior
Docker restarts itself after a short time

### Information

Docker for Mac: version: 1.13.0-beta39 (5e9e408b0)
macOS: version 10.12.3 (build: 16D32)
logs: /tmp/C1DBA13F-4677-4F7C-B3D5-B4CD14A07BBB/20170127-015500.tar.gz
[OK]     vmnetd
[OK]     dns
[OK]     driver.amd64-linux
[OK]     virtualization VT-X
[OK]     app
[OK]

[2017-01-26 18:27] 007pig commented on #1228
BTW I switched back to stable and it works normally.

[2017-01-26 18:36] saidatom opened #1229 "794B1815-9102-4764-AB0A-787586FCBBF6"
[ERROR]  driver.amd64-linux
[ERROR]  moby
[ERROR]  db
[ERROR]  virtualization kern.hv_support
[ERROR]  slirp
[ERROR]  osxfs
[ERROR]  docker-cli
[ERROR]  disk

[2017-01-26 18:49] mrhanlon commented on #1139
Link for 1.12.6 is https://download.docker.com/mac/stable/1.12.6.14937/Docker.dmg

[2017-01-26 21:02] benjaminws opened #1230 "Unable to start docker for mac"
### Expected behavior

Opening `Docker.app` using spotlight, alfred, or at system start-up, the application should start up correctly.

### Actual behavior

The application fails with the following error modal.

![image](https://cloud.githubusercontent.com/assets/121679/22350108/94730604-e3e0-11e6-919f-027ba7a1f919.png)

### Information

[code]

### Steps to reproduce the behavior

  1. Execute `D

[2017-01-26 21:37] honnix commented on #880
this seems to have been fixed in stable version, at least 1.13.0 (15072)

[2017-01-26 22:01] migalkin commented on #1230
Confirm, the same issue on macOS 10.12.3 and Docker 1.13.0

[2017-01-26 22:24] juliuskabugu commented on #1226
frustrating. have you found a workaround yet?

[2017-01-26 22:27] juliuskabugu commented on #1226
https://github.com/docker/for-mac/issues/1198

[2017-01-26 22:33] benjaminws commented on #1230
After running `/Applications/Docker.app/Contents/MacOS/Docker --uninstall` as suggested [here](https://github.com/docker/for-mac/issues/1159#issuecomment-273878357), I was able to get docker for mac up and running again.

[2017-01-26 22:55] ifeatu opened #1231 "Docker wont start"
### Expected behavior
Docker starts
### Actual behavior

Docker fails to start

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

73B23DDA-1F27-4826-B269-6C3B61ED3668
  - A reproducible case if this is a bug, Dockerfiles FTW

Updated to Sierra 10.12.3 and updated Docker client after which it will not start
  - Page URL if this is a docs issue or the name o

[2017-01-27 01:00] justincormack commented on #1026
This looks somewhat like this Go bug fixed in 1.7.5 https://github.com/golang/go/issues/18688

[2017-01-27 03:45] wied03 commented on #1139
Thks

[2017-01-27 05:51] dtd12 commented on #1182
It seems that deleting the Docker.qcow2 file solved my problem.
Thanks.

[2017-01-27 06:13] lwdye commented on #1220
C251A20E-F39D-4584-A65C-4FFF4CFFF4FB

Thanks!

[2017-01-27 06:13] lwdye commented on #1221
C251A20E-F39D-4584-A65C-4FFF4CFFF4FB

[2017-01-27 08:48] honnix commented on #880
hmm, still a bit of flaky. occasionally I need to restart docker to get it work.

[2017-01-27 09:12] justincormack commented on #1059
@boucher can you submit a patch to Alpine to fix the upstream? I can't use a binary.

[2017-01-27 09:30] raditv opened #1232 "CPU Not Supported"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

 Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.12.3 (build: 16D32)
logs: /tmp/3DBC47D5-062

[2017-01-27 09:45] rodrigoaguilera commented on #668
I don't have to run the script anymore after upgrading docker. Are you experiencing this?

[2017-01-27 10:36] yallop commented on #1232
Thanks for the report, @raditv.  Unfortunately, it appears that your system does not satisfy the hardware requirements of Docker for Mac (`failure: sysctl -a reports no hypervisor support`). See https://docs.docker.com/docker-for-mac/#/what-to-know-before-you-install for more information.

[2017-01-27 10:36] #1232 closed

[2017-01-27 10:38] yallop commented on #1231
Thanks for the report, @ifeatu.

Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workarou

[2017-01-27 10:38] #1231 closed

[2017-01-27 10:39] yallop commented on #1230
I'm closing this, as it appears to be due to the same problem as #1159.

[2017-01-27 10:39] #1230 closed

[2017-01-27 10:40] yallop commented on #1229
The problem appears to be due to corruption of the `qcow2` file.

Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when a

[2017-01-27 10:40] #1229 closed

[2017-01-27 11:47] gw0 commented on #900
One direction to achieve a workaround is with USB over IP for which a few commercial solutions exist. Nevertheless, the Docker VM that is based on Alpine Linux does not include all necessary kernel modules (`vhci-hcd`). I prepared a [privileged Docker container](https://github.com/gw0/docker-alpine-kernel-modules) to build Alpine Linux kernel modules and insert them in the kernel of the Docker VM.

[2017-01-27 11:54] djs55 commented on #1228
Thanks for your report. The assertion is [here](https://github.com/docker/hyperkit/blob/a82e9552553c08773c3105d5788063311c0b8a60/src/lib/pci_virtio_net_vpnkit.c#L564) which looks like it's caused by the incoming ethernet frame being too big for the buffer. I suspect this is because of a miscommunication about the MTU on the link. I've escalated this to our networking team.

[2017-01-27 14:18] dmccullo opened #1233 "Docker-machine ls all my machines 7 in all report timeout and generate this error"
### Expected behavior

### Actual behavior
NAME      ACTIVE   DRIVER      STATE     URL                        SWARM   DOCKER    ERRORS
EXT1               openstack   Timeout
EXT2               openstack   Timeout
EXTA1              amazonec2   Timeout
INT1               openstack   Timeout
INT2               openstack   Timeout
INTA1              amazonec2   Timeout
INTA2              amazonec2

[2017-01-27 14:58] marceloandrader commented on #1211
This workaround can be applied to a linux host too?

[2017-01-27 15:00] dsheets commented on #1211
@marceloandrader no, this workaround is only for Docker for Mac. I'm closing this issue as a duplicate of #668 in light of @hodgesmr test result.

[2017-01-27 15:00] #1211 closed

[2017-01-27 15:06] dmccullo commented on #1233
docker-machine ls -t 30 resolves this, upgrading all my machines to current docker machine code with
docker-machine upgrade 'machine name'
then have to regenerate certs but once that is done all is working as long as i use -t 30!

[2017-01-27 15:19] dmccullo commented on #1233
This all started with Docker 1.13 love the new features not sure why the timeout has started occurring.

[2017-01-27 15:24] srinathanand opened #1234 "Problem with docker cp on Docker for Mac"
### Expected behavior
File gets copied into the container using "docker cp".
### Actual behavior
File timestamp does not change and get an error when trying to delete the file.
### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
    `0ED4508C-A52C-4EC7-8CE6-E764944F7CC6`
  - A reproducible case if this is a bug, Dockerfiles FTW
docker version
Client:
 Version

[2017-01-27 15:48] yallop commented on #1226
The logs show what appear to be a repeat of https://github.com/docker/hyperkit/issues/50:

[code]

[2017-01-27 18:57] KjellKod commented on #1071
@djs55  this still seems to be an issue with the latest stable docker that I upgraded to today.  Why is the issue closed?

[2017-01-27 18:58] kwerey commented on #1026
That'd definitely fixes the root cause of me having to add a registry as insecure - nice.

The go fix will mean I'm not fussed about where this report ends up, but I'll leave it open for now because it's kinda orthogonal to this bug.

This one is suggesting clearer error handling when users enter the endpoint for their registry with a protocol to start with, so it'll still be relevant for users wh

[2017-01-27 20:59] gdabli opened #1235 "Docker not running after I updated to new version"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2017-01-27 21:09] edeandrea opened #1236 "Docker no longer runs after update to version 1.13.0"
Diagnostic ID: 0D19D472-873B-4F23-A850-70E4E395B2C8

### Expected behavior
Docker comes up as it did in the previous version

### Actual behavior
Docker crashes when starting up

### Information
Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G1217)
logs: /tmp/0D19D472-873B-4F23-A850-70E4E395B2C8/20170127-160453.tar.gz
failure: com.docker.slirp is not running
[OK]

[2017-01-27 22:37] yallop commented on #1235
Thanks for the report, @gdabli.  Without a diagnostic ID there's nothing we can do to investigate further.  But the problem you're seeing may be due to new integrity checks on a corrupt `Docker.qcow2` file.  If that's the case then the workaround suggested in #1159 may fix things: https://github.com/docker/for-mac/issues/1159#issuecomment-273899215

[2017-01-27 22:37] #1235 closed

[2017-01-27 22:38] yallop commented on #1236
Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround we recommend either uninstalli

[2017-01-27 22:38] #1236 closed

[2017-01-28 00:20] tedyoung opened #1237 "Failing to start after upgrade to 1.13"
### Expected behavior

It should start.

### Actual behavior

    com.docker.osx.hyperkit.linux failed to start
    Exit code 1

### Information

Diagnostic ID: CFA30D4B-01C3-4D1F-96FB-6BDA0A37F078

[code]

[2017-01-28 00:37] yallop commented on #1237
Thanks for the report, @tedyoung.

Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workar

[2017-01-28 00:37] #1237 closed

[2017-01-28 01:36] tedyoung commented on #1237
Thanks for the quick response, @yallop -- it'd be great if the error message provided that information, or even somewhere in the diagnostic output. I can file an issue, if there isn't one already.

[2017-01-28 01:48] yallop commented on #1237
Yes, the error reporting could certainly be a good deal better here.

We have an internal issue tracking error reporting improvements.  But an issue in this repository relating to reporting of this particular error could be a useful way for people to find out when the problem's fixed, so please feel free to submit one.

[2017-01-28 07:09] sergeipogrebnyak commented on #924
Upgrading to beta39 resolved my VPN issues! At least right now everything seems to be working again. I'll update if it stays this way.

[2017-01-28 10:24] justincormack commented on #1026
The go update will be in 1.13.1

[2017-01-28 12:22] djs55 commented on #1071
I closed the issue because the fix for the specific bug (in the online compaction code) has been released in the beta channel.

It's possible for other bugs to manifest with similar symptoms. For example there was a bug in the 1.12.* stable docker series where a file lock protecting the .qcow2 could accidentally get released early, leading to the same style of disk corruption. This corruption wasn

[2017-01-28 13:05] alikhajeh1 opened #1238 "socks5 proxy not working despite being supported in docker"
### Expected behavior
Socks5 proxy support was added in https://github.com/docker/docker/pull/20366/files (https://github.com/docker/docker/pull/20366/files#diff-ed83b2ed4710331b001c50723dbfbe71R81) so it's expected that it should also work on "Docker for Mac" by using the following settings:
<img width="379" alt="screen shot 2017-01-28 at 4 17 56 pm" src="https://cloud.githubusercontent.com/asset

[2017-01-28 13:36] edeandrea commented on #1236
Thank you for the quick response. Uninstalling & re-installing didn't do anything (I tried that before posting), but removing the Docker.qcow2 file did the trick. Thanks!

[2017-01-28 19:13] yerinle opened #1239 "Docker for mac falling to launch after update"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2017-01-28 20:35] cliffrowley commented on #1239
This worked for me https://github.com/docker/for-mac/issues/1198

[2017-01-28 20:39] yerinle commented on #1239
Thanks also worked for me

[2017-01-28 20:39] #1239 closed

[2017-01-28 22:12] fegol73 opened #1240 "New version don't working mac El Capitan"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2017-01-28 23:32] Jyothi-narayana commented on #1080
Hi,
I am facing the same problem. The output for "Library/Group\ Containers/group.com.docker/bin/docker ps" is the following:
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES
But the docker command is not found on terminal. What should I do?

[2017-01-29 02:13] AlfaIrawan opened #1241 "Error when start Mac"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. Start Mac
  2. Login User

[2017-01-29 21:41] buu700 commented on #1176
Sorry about the delay, but just got a chance to come back to this and narrow it down to a specific test case. Looks like the problem is related to `--privileged=true`.

Tested with 1.13.0-beta39:

[code]

[2017-01-30 02:25] comutt opened #1242 "Docker for Mac fails to lookup DNS"
**Description**

Docker for Mac fails to lookup DNS.

**Steps to reproduce the issue:**
1. `/etc/resolv.conf` has multiple nameservers.
   My `/etc/resolv.conf` is:
[code]
2. One of nameservers reply correct answer, but rest of them not.
3. `docker pull` will fail.

**Describe the results you received:**

[code]

**Describe the results you expected:**

`docker pull|build` will lookup DNS correctly

[2017-01-30 07:38] ZherebcovSergey commented on #1226
Unfortunately there is no time to understand the nature of the problem, because is a workflow, I just put this version (Version 1.13.0-beta39 (15140)) and threw a log file.

[2017-01-30 09:06] comutt commented on #1242
I'm sorry, this is duplicated with #1025 .
I've tried the latest beta (version: 1.13.0-beta39), and confirmed that fixed.

[2017-01-30 09:06] #1242 closed

[2017-01-30 11:21] ijc25 commented on #1176
Thank you @buu700 with these repro steps I've now seen the hypervisor crash with exit reason 48 (unexpected EPT fault) 4 out of the 4 times I executed the `docker run` part (having done the preceding bits just once, I suppose at some point I should `git clean -fdqx` or there will be nothing left to do).

This has improved the chances of getting to the bottom of this issue immeasurably. (Although t

[2017-01-30 11:27] ijc25 commented on #1226
@ZherebcovSergey do you have any steps to reproduce the issue please?

[2017-01-30 14:21] samoht commented on #1241
Please provide more information, as explained on https://docs.docker.com/docker-for-mac/troubleshoot/#/diagnose-problems-send-feedback-and-create-github-issues

[2017-01-30 14:21] #1241 closed

[2017-01-30 14:22] samoht commented on #1240
Please provide more information, as stated on https://docs.docker.com/docker-for-mac/troubleshoot/#/diagnose-problems-send-feedback-and-create-github-issues

[2017-01-30 14:22] #1240 closed

[2017-01-30 14:26] samoht commented on #1238
Hi, thanks for you report. Docker for Mac doesn't yet support SOCKS5, but we plan to support it at one point. I've escalated your request to our networking team and pointed them to your issue, so you should be notified when we start working on this.

[2017-01-30 14:27] samoht commented on #1078
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2017-01-30 14:27] #1078 closed

[2017-01-30 14:28] samoht commented on #1090
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2017-01-30 14:28] #1090 closed

[2017-01-30 14:30] Jyothi-narayana commented on #1080
My problem was with the PATH variable. Adding /usr/local/bin solved the problem.

[2017-01-30 14:31] samoht commented on #1097
@dcosson would you mind opening a new issue with a diagnostic ID, it will make easier for us to keep track of your issue.

@harshjv I am closing this issue as we didn't hear back from you, but please feel free to re-open it if the issue still persists. If you manage to track down some reproducible steps it would be very useful as well.

[2017-01-30 14:31] #1097 closed

[2017-01-30 15:14] samoht commented on #1234
@srinathanand are you able to reproduce that behaviour reliably? I tried on a simple example and all seems to work fine.

[2017-01-30 15:17] samoht commented on #1233
Thanks for your report! I am glad that you found a workaround, but if you might want to open an issue on https://github.com/docker/machine which is the tracker for docker-machine. Thanks!

[2017-01-30 15:17] #1233 closed

[2017-01-30 15:28] samoht commented on #1227
Thanks for your report!

Unfortunately `--net=host` is not supported on Docker for Mac, as in this case the "host" involves a Linux virtual machine and an OSX host (which do not share the same network devices). What is your use-case? If you just want to open the port 8000, you can use the usual `-p` option without the `--net` option (but I guess you have an other use-case in mind).

Implement `--n

[2017-01-30 15:28] #1227 closed

[2017-01-30 15:29] srinathanand commented on #1234
Yes we are able to reproduce the problem reliably. We can show you if needed through a screen share if needed.

[2017-01-30 15:30] samoht commented on #1225
Did you reset your environment variables in your shell? `docker-machine` needs sets up `DOCKER_HOST` and other `DOCKER_*` environment variables whereas Docker for Mac don't need them. See https://docs.docker.com/docker-for-mac/docker-toolbox/#setting-up-to-run-docker-for-mac for more details.

[2017-01-30 15:31] samoht commented on #1234
Can you provide the precise steps to reproduce the issue? That would be very useful for us to try to understand what happens!

[2017-01-30 15:36] samoht commented on #1222
Thanks for the report, time definitely flies too quickly and we need to catch up :-)

[2017-01-30 15:37] srinathanand commented on #1234
Sure, here are the steps -

1. We have a typical Java application running inside a container. It runs in JBoss and connects to a database.
2. A developer makes changes to a class file and wants to test this new class file inside the container by just copying the file over to the container.
3. He stops the container, uses docker cp to copy over the latest class file. The class file does not get cop

[2017-01-30 15:55] samoht commented on #1221
Your log files contains some "interesting" lines:

[code]

But it is not clear if this is the cause of the issue you are having or not (probably not).

Which error do you see when a push is failing?

[2017-01-30 16:07] samoht commented on #1234
@srinathanand Thanks. Unfortunately, the steps are not precise enough for me to reproduce the issue as I don't have your JBoss image, etc. It would be very helpful if you can try to help us to pin down that issue:
- does it happens when you run docker on Linux?
- are you able to reproduce it with a smaller example, which do not contain closed-source code and that you would be able to share it with

[2017-01-30 16:14] samoht commented on #1209
Thanks for your report! I am not very surprised this breaks as we don't test it at all and renaming the home directory is not something that we should expect to happen very often ... Anyway, I have escalated the issue to our UI team and we will keep you updated about the progress.

[2017-01-30 16:28] samoht commented on #1220
Can you try to run:

[code]

Did you set-up a proxy your Linux machine?

[2017-01-30 16:33] srinathanand commented on #1234
- This happens when we are running Docker for Mac using Ubuntu trusty as a base image.
- We are not using a JBoss image. We are deploying a monolith inside a container and JBoss is started up when the container starts. We start off with Ubuntu trusty and build a base image and install a service release of our product on top of it.
- I don't think we can share anything with you as far as closed sou

[2017-01-30 16:33] lwdye commented on #1220
Hi @samoht.  Here is the result
[code]

[2017-01-30 16:44] samoht commented on #1195
Not sure exactly what is going on, but you seem to be using both IPv6 and IPv4. That should normally be fine, but maybe could you try to disable IPv6 to see if that makes thing more reliable (just a wild guess..).

[2017-01-30 16:46] samoht commented on #1195
Hum actually, the docker engine seemed to have panicked:

[code]

@aaronl will maybe know more if that's related to your issue :-)

[2017-01-30 16:52] lwdye commented on #1221
The docker image that I attempted to push was about 5G and it didn't fail with an error but showed almost no progress.  The connection is 130/5 and otherwise solid but when push happens all other internet connections timeout.  My guess would be some issue with buffering introduced recently.

[2017-01-30 16:53] samoht commented on #1220
Hum so the VM can connect to the registry, but `docker login` can't? That's very strange.

Can you maybe try to use an SDK to try to login, it's maybe a problem with shell escaping?

[2017-01-30 16:58] samoht commented on #1221
Was it working with a previous version of Docker for Mac? Does it only happen when you push to gcloud? I bet you will have the same issue if you try to ssh a big file to your local host.

In any case, I will try to reproduce locally: we used to test the transfer of big files, but maybe not 5G files :-)

[2017-01-30 17:01] samoht commented on #1195
I have escalated your issue on docker/swarmkit: https://github.com/docker/swarmkit/issues/1906

[2017-01-30 17:21] aaronlehmann commented on #1195
Hi @alexellis - I opened https://github.com/docker/swarmkit/pull/1907 to fix this. I think the issue happens because `Replicas` is an unsigned field, so your `if replicas <= 0 {` check is ineffective. The field ends up underflowing, and this later leads to a panic inside the replicated orchestrator. In the PR, I've added validation at the API level that the value of `Replicas` does not look like a

[2017-01-30 17:30] samoht commented on #1221
I confirm that running `scp` from a container to a local SSH server of a big file (10G) takes forever (sometime it got stuck at ~20% of the transfer, sometimes ~85%).

Thanks again for your report, I will escalate this issue to our networking team.

[2017-01-30 17:38] alexbeletsky commented on #1130
@dsheets currently on Version 1.13.0-beta39 (15140), all seems to be fine!

[2017-01-30 17:40] #1130 closed

[2017-01-30 17:40] samoht commented on #307
I am closing this now that 1.13 got released.

[2017-01-30 17:40] #307 closed

[2017-01-30 17:48] samoht commented on #983
Both stable and channels should now contain the fix, so closing. @flxsource please re-open that issue if the fix doesn't work for you. Thanks!

[2017-01-30 17:48] #983 closed

[2017-01-30 17:52] samoht commented on #1103
I am going to close that issue as the original problem is now fixed.

@mattdavenport your problem seems to be similar to https://github.com/docker/for-mac/issues/1220. I am not familiar enough with `docker login` to help, but I will try to ping someone who knows better. Please comment on that #1220  if you have more details (or if you manage to understand the issue better).

@semifor would you min

[2017-01-30 17:52] #1103 closed

[2017-01-30 18:05] samoht commented on #1220
Actually @thajeztah pointed out that `docker login`may be client-side.

@lwdye can you try to check if you can reach `docker.io` from your macOS host? e.g. try to run:

[code]

[2017-01-30 18:15] samoht commented on #1117
Closing as both the beta and stable channels should now have the fix.

[2017-01-30 18:15] #1117 closed

[2017-01-30 18:18] samoht commented on #1144
@pokinoi can you confirm that Beta39 fixes your issue? Thanks!

[2017-01-30 18:19] krknopp commented on #668
We're still seeing slow performance with 1.13.0

[2017-01-30 18:20] samoht commented on #1193
Your application seem to have reached the max of forwarded connections:

[code]

I am not sure why the hyperkit whatchdog is closed, I need to investigate a bit more.

[2017-01-30 18:27] samoht commented on #1193
I have found something more serious:

[code]

[2017-01-30 18:43] samoht commented on #1193
@mkobit I have escalated your issue upstream: https://github.com/docker/docker/issues/30565

[2017-01-30 18:48] pokinoi commented on #1144
@samoht Apologise for the delayed response. I haven't had the chance to test it out yet as I have been running some other simulations, which I can't stop, unfortunately. however, I will be able to confirm tomorrow or next. however, I have to say I hail the creators of docker and the amazing support team. I can't believe an update was realised within a few days to resolve this issue. Also, as menti

[2017-01-30 18:51] samoht commented on #1219
@mfeblowitz could you please provide a diagnostic ID so that we can investigate your issue? Thanks! (see https://docs.docker.com/docker-for-mac/troubleshoot/#/diagnose-problems-send-feedback-and-create-github-issues)

[2017-01-30 19:04] samoht commented on #1186
This looks a bit suspicious:

[code]

Did you do something special before having that error? Your `/var/log/docker.log` shows more errors:

[code]

which probably indicates a disk corruption inside the VM. If should be able to reset to factory default to be able to restart from a fresh install, although you will loose all you containers and image. Sorry about the inconvenience and thanks again for

[2017-01-30 19:21] samoht commented on #1183
I cannot reproduce the timings that you see, but your logs indeed indicate that something wrong is going on:

[code]

(although only the first one took more than 5s apparently)

Which CPU do you have? Where do you store the `qcow2` image? Is is on a local disk or on a network drive?

[2017-01-30 19:25] buu700 commented on #1176
Awesome, not a problem at all. Good luck!

(Also, by the way, build.sh with no arguments doesn't actually change anything in the current directory, just tests in a temporary directory whether our code will compile and lint with no errors; so no need to `git clean` between test runs.)

[2017-01-30 19:26] samoht commented on #1178
@emreboga: were you able to test with more memory?

[2017-01-30 19:47] samoht commented on #1175
Your logs contain:

[code]

Which seems to indicate a disk corruption which is probably due to the way we shutdown the VM during upgrade. Which version of Docker for Mac were you running before upgrading? We apologies for the inconvenience, and thanks again for reporting the issue. I have escalated the problem of shutting down the app gracefully on upgrade to our engineering team.

[2017-01-30 20:04] samoht commented on #1104
@dazzla76 Are you still seeing these errors?

@jsjohns and @thanasis00 I am not sure to understand why you gave `docker-machine` versions. Are you reporting an issue with Docker for Mac or with `docker-machine`? In any case, please open a separate issue with a diagnostic ID as described in https://docs.docker.com/docker-for-mac/troubleshoot/#/diagnose-problems-send-feedback-and-create-github-issue

[2017-01-30 20:07] pivotal-topher-bullock commented on #388
Related Concourse issue  https://github.com/concourse/concourse/issues/896

[2017-01-30 20:11] samoht commented on #1124
NFS is probably not the right solution unless you use the `async` mode where you trade consistency for speed. If you use NFS, you won't have `inotify` support (filesystem event notifications used by most build systems) and `guid/uid` automatic mapping. And you won't be able to control which path you want to expose to `docker` using the native UI.

However, If you want to use NFS anyway, you are ve

[2017-01-30 20:11] #1124 closed

[2017-01-30 20:11] eedwardsdisco commented on #388
+1

I had to downgrade from 1.13.0 back to 1.12.x due to breaking change with btrfs affecting concourse.

[2017-01-30 20:15] avagin commented on #1059
I pushed all required patches into the alpine branch:
https://github.com/avagin/criu/commits/alpine

And I think it would be better to wait two weeks to the next CRIU release (2.11).

[2017-01-30 20:16] samoht commented on #1112
This should now be fixed on the stable and beta channel. Please re-open the issue with a new diagnostic ID if the issue still persists for you.

[2017-01-30 20:16] #1112 closed

[2017-01-30 20:18] samoht commented on #1025
The fix is now released on both the beta and stable channels so I am closing the issue. Please re-open (or open a new one) with a new diagnostic ID you still have that problem.

[2017-01-30 20:18] #1025 closed

[2017-01-30 20:18] samoht commented on #1011
The fix is now released on both the beta and stable channels so I am closing the issue. Please re-open (or open a new one) with a new diagnostic ID you still have that problem.

[2017-01-30 20:18] #1011 closed

[2017-01-30 20:18] samoht commented on #1003
The fix is now released on both the beta and stable channels so I am closing the issue. Please re-open (or open a new one) with a new diagnostic ID you still have that problem.

[2017-01-30 20:18] #1003 closed

[2017-01-30 20:19] samoht commented on #926
The fix is now released on both the beta and stable channels so I am closing the issue. Please re-open (or open a new one) with a new diagnostic ID you still have that problem.

[2017-01-30 20:19] #926 closed

[2017-01-30 20:19] samoht commented on #867
The fix is now released on both the beta and stable channels so I am closing the issue. Please re-open (or open a new one) with a new diagnostic ID you still have that problem.

[2017-01-30 20:19] #867 closed

[2017-01-30 20:22] samoht commented on #621
Closing this as it is now possible to edit the daemon config in the UI on both the stable and beta channels.

[2017-01-30 20:22] #621 closed

[2017-01-30 20:23] jsjohns commented on #1104
@samoht I provided `docker-machine` version information because I was using it. I understand that this is the Docker for Mac project -- I commented here because this was the only open issue across the Docker, Docker for Mac, and `docker-machine` projects that described the symptoms I observed.

I suspect that this is a bug in Docker itself and not Docker for Mac or `docker-machine`.

[2017-01-30 20:24] samoht commented on #218
It is now possible to edit `daemon.json` in the UI on both the stable and the beta channels, so closing.

[2017-01-30 20:24] #218 closed

[2017-01-30 20:25] samoht commented on #20
Closing the issue as we are now shipping overlay2 in both the stable and beta channels.

[2017-01-30 20:25] #20 closed

[2017-01-30 20:26] samoht commented on #566
I think these are now shipped in both the beta and the stable channels. @metyl would you be able to confirm that is the case?

[2017-01-30 20:27] berisberis commented on #388
@willejs Concourse Ci does not use docker in docker, in fact it does not use docker compose to orchestrate its internal containers. It uses cloudfoundry/garden. I'm planning to use docker in docker to run multiple containers in one concourse task (which can only use one garden container) to be able to do integration tests using various dependencies like selenium, mysql, nginx each in its own conta

[2017-01-30 20:29] berisberis commented on #388
+1 I also had to downgrade to docker-toolbox because of this issue. I don't know if docker/for-mac should support btrfs or concourse should use other storage drivers.

[2017-01-30 20:31] samoht commented on #793
I am closing this issue as we believe the root cause is now fixed.

[2017-01-30 20:31] #793 closed

[2017-01-30 20:33] samoht commented on #733
Closing the issue now as the original issue has been fixed. I am not sure what we can do about randomly generated paths to share, maybe try to share the parent directory?

[2017-01-30 20:34] samoht commented on #843
@flynniec6 Do you still experience the problem or did you find a workaround?

[2017-01-30 20:37] samoht commented on #870
This seems to be a duplicate of #307 which I just closed, so I am closing this one too.

[2017-01-30 20:39] samoht commented on #880
I am closing this ticket as we believe the main issue to be fixed on both the stable and beta channels. @honnix please open a different issue (with a diagnostic ID) if you see something strange, so that we can investigate and follow up. Thanks!

[2017-01-30 20:39] #880 closed

[2017-01-30 20:44] samoht commented on #1104
@jsjohns I see, thankst! Would you be able to also provide a diagnostic ID so I could try to see if I find something interesting in your logs?

[2017-01-30 20:50] justincormack commented on #1059
Thanks.

[2017-01-30 20:51] alexellis commented on #1195
It looks like I've been reading the github pings out of order. Thanks very much for looking into this and for the fix.

[2017-01-30 21:52] jsjohns commented on #1104
Unfortunately, I can't. The system in question has since been re-imaged.

On Mon, Jan 30, 2017 at 3:44 PM, Thomas Gazagnaire <notifications@github.com

[2017-01-30 21:58] dcosson commented on #1097
@samoht Thanks for following up. I think 1.13 has fixed this issue for me (or it was unrelated and stopped happening for another reason). I'll open a new issue if I start seeing this again.

[2017-01-30 22:15] emreboga commented on #1178
@samoht Things look better after increasing the dedicated memory.

[2017-01-30 22:15] #1178 closed

[2017-01-30 23:43] metyl commented on #566
I've checked in version 1.13.0-beta39 (15140) and still these have not been included.

[2017-01-30 23:51] samoht commented on #566
@justincormack do you know what happened there? I though they were supposed to be included in the release bundle of 1.13.

[2017-01-30 23:54] metyl commented on #566
To be precise completions for fish shell are still missing but there have been added completions for zsh including docker, docker-compose and docker-machine.

[2017-01-31 00:29] v4tech commented on #1175
I just got burned by this too.  :-(

@samoht - if this is a *known* and **acknowledged bug** why is the Docker engine still encouraging people to upgrade to 1.13?  I just logged in after 3 weeks without internet access, got told there is a new version of Docker and I've just lost everything.

[2017-01-31 00:53] cloutiertyler commented on #205
I am having this issue on a Mac with docker 1.13.0.

I ran diagnostics and uploaded my tar. My diagnostic ID is 44F38709-1B25-4D2F-A458-C8C5D72184E7.

[2017-01-31 06:07] johnmccabe commented on #483
The docker-ssh-agent-forward workaround is working well for me, I've raised avsm/docker-ssh-agent-forward#9 with some fixes.

Keeping fingers crossed for this fix tho.

[2017-01-31 07:13] yeungda-rea opened #1243 "No such host error when pushing to private registry with private DNS"
### Expected behavior

This command should succeed:

[code]

### Actual behavior

[code]

### Information

When performing our docker push, we captured the traffic on port 53 on the host's `en0` interface DNS traffic to our network's DNS server:

[code]

We inspected the packet capture in wireshark. We found that the host was querying our DNS server for the A record of `cowbell-prod-docker-registr

[2017-01-31 10:33] ijc25 commented on #1176
@buu700

How familiar are you with what this code in the repro build is doing? The symptoms I'm seeing are of a page table virtualisation fault (something which the OSX Hypervisor.framework should be taking care of for us, since page table virtualisation is all OSX kernel side, although I'm investigating workarounds we can do from hyperkit in userspace), I cannot fathom at all why `--privileged` s

[2017-01-31 10:45] samoht commented on #1114
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2017-01-31 10:45] #1114 closed

[2017-01-31 10:47] samoht commented on #1113
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2017-01-31 10:47] #1113 closed

[2017-01-31 10:47] cangussu commented on #1183
It is a Mac mini (late 2012) with a 2.3 GHz i7. Everything is on the local spinning (5400 rpm) disk.

[2017-01-31 12:25] samoht commented on #1175
@v4tech  I'm very sorry for the data loss you have experienced. Could you upload your diagnostic bundle (choose `Diagnose & Upload` in the `Diagnose & Feedback` menu) so that I can try to see what is going on?

Since the 1.13 release we now run `fsck` on VM on startup. This would detect previously unnoticed disk corruption issues which would make some of your containers crash randomly.  Since 1.13

[2017-01-31 12:29] samoht commented on #1243
Thanks very much for your detailed report! I have created an issue on our internal bug tracker and forwarded the issue to our networking team.

[2017-01-31 12:35] samoht commented on #1080
Closing that issue as this seems to be resolved. Please re-open if that's not the case!

[2017-01-31 12:35] #1080 closed

[2017-01-31 12:41] samoht commented on #1175
@v4tech I managed to get your diagnostic bundle, which contains proof of auf corruption issues (similar to docker/for-mac#20).

[2017-01-31 12:49] samoht commented on #205
@cloutiertyler can you give a bit more details on the things you were trying to do and the error that you got? I cannot see anything obvious in your logs so any hint would be appreciated.

[2017-01-31 13:03] crapufish commented on #1132
I have the same issue as @laffuste and the only way around it is to restart docker. I am using Docker for Mac (stable) Version 1.13.0 (15072). Thank you!

[2017-01-31 13:21] samoht commented on #936
@jamshid the latest stable and beta releases have seen a lot of improvement related to DNS/VPN issues. Would you be able to test it and report if it works for you? Thanks!

[2017-01-31 13:24] samoht commented on #1081
This should be fixed in the upcoming Beta40.

[2017-01-31 13:25] samoht commented on #1222
This should be fixed in the upcoming Beta40.

[2017-01-31 13:41] samoht commented on #271
I am consolidating the issue of make `--net=host` into #1031, so please subscribe to updates there to be kept updated on the progress we make on that feature. Thanks!

[2017-01-31 13:41] #271 closed

[2017-01-31 13:44] samoht commented on #180
Thanks for the report and sorry the delay! I have forwarded the issue to our networking team, we will keep you updated when we start making progress on fixing that issue.

[2017-01-31 13:53] samoht commented on #66
@longkai I suspect that 127.0.01 (your macOS host) is unknown to the Linux VM (where docker engine runs). Would you be able to run the proxy in a container or use your public IP address instead of 127.0.0.1?

Related to https://github.com/docker/for-mac/issues/736

[2017-01-31 13:57] samoht commented on #66
@longkai would you mind opening a new issue with a diagnostic ID? I am going to close this ticket as  IPv6 should not break Docker for Mac anymore (see #932).

[2017-01-31 13:57] #66 closed

[2017-01-31 14:13] samoht commented on #863
@ngpestelos do you still have that error? Your logs seems to indicate that `/usr/local/bin` is read-only:

[code]

which seems to confuse the installer. Changing the permissions back to read-write should help. I am closing the issue, but feel free to re-open if you seem have difficulties to start Docker for Mac.

[2017-01-31 14:13] #863 closed

[2017-01-31 14:18] samoht commented on #723
@bmorgenthaler we improved quite a lot the robustness of the installer, so I am going to close that issue. Please feel free to re-open (or to create a new one, with a fresh diagnostic ID) if you still have some problems with Docker for Mac. Thanks!

[2017-01-31 14:18] #723 closed

[2017-01-31 14:19] samoht commented on #719
I am closing this issue as @justincormack replied to the question :-)

[2017-01-31 14:19] #719 closed

[2017-01-31 14:30] c0bra commented on #85
@v4tech @ijc25 I just tried the fix and it worked for me. My containers were not killed while my laptop was closed overnight.

[2017-01-31 14:30] samoht commented on #930
@msimon it seems that you installed Docker for Mac in a different location that the one recommend:

[code]

We improved the installer/launcher quite a lot since last November, so hopefully this kind of error should not happen anymore.

@nmarley is your `Docker.app` in your application folder? If not can you try to move it there and run the diagnostic command from there? Do you have the same issue

[2017-01-31 14:31] samoht commented on #930
I am going to close that issue for now on, @wingpang-gz and @msimon you are very welcome to open a new issue with a fresh diagnostic ID.

[2017-01-31 14:31] #930 closed

[2017-01-31 14:32] barat commented on #668
@krknopp - are You sure, that You're affected exactly by this issue? Maybe You mount volume to host so You're affected by #77 as well?

[2017-01-31 14:35] samoht commented on #954
The issue has been fixed in 1.13 (by https://github.com/docker/docker/pull/28228), so closing that issue. Thanks for the report!

[2017-01-31 14:35] #954 closed

[2017-01-31 14:42] samoht commented on #961
I am closing the issue as it was resolved and we improved the installer to try to automatically detect and correct such half-installed state.

[2017-01-31 14:42] #961 closed

[2017-01-31 14:46] krknopp commented on #668
@barat I missed that one.  I think you're right.  I'll check that one out now.  Thank you.

[2017-01-31 14:51] samoht commented on #933
@raszi your log contains:

[code]

which is similar to  docker/hyperkit#50

Can you try to upgrade to 1.13 to see if the issue is till there? Thanks!

For the other ones on the thread (@b0elter, @HerbCSO, brnewby602) please open a new issue with a diagnostic ID. This will help us to keep track of individual issue (and we will de-duplicate the issues ourself if we find that the root causes are inde

[2017-01-31 14:54] samoht commented on #1122
1.13 with overlay2 is now released on the stable channel. Please upgrade and tell us if that works better for you. Thanks!

[2017-01-31 14:58] mfeblowitz commented on #1219
I'm under a time crunch. I'll try the upgrade again when I get a chance and will send the diagnostics.

[2017-01-31 15:09] samoht commented on #687
Do you still experience the same issue? It is really not supposed to happen...

[2017-01-31 15:17] cap10morgan commented on #687
No it seems better now. I think we're only seeing it after full resets now, which is expected and makes sense.

[2017-01-31 15:17] #687 closed

[2017-01-31 15:26] samoht commented on #812
Closing as a duplicate of #492 (these are not exactly the same issues, but we should address the root cause of supporting multiple users more widely). @vikramvi please subscribe to #492 if you want to be kept informed of progress related to multi-user support.

[2017-01-31 15:26] #812 closed

[2017-01-31 15:27] srinathanand commented on #1234
A new diagnostic has been created and uploaded - 0ED4508C-A52C-4EC7-8CE6-E764944F7CC6.
Update:
It seems that it happens with a text file as well and not limited to .class files.

Thanks

[2017-01-31 15:30] samoht commented on #1042
@kaskavalci would you be able to test your VPN with the latest release of Docker for Mac? Both the beta and stable channels have seen multiple improvements related to DNS handling of VPN networks. Thanks!

[2017-01-31 15:36] HerbCSO commented on #933
FYI, I did file #1159 after the upgrade to 0.13.0 broke for me, but after [this fix](https://github.com/docker/for-mac/issues/1159#issuecomment-274461041) things have worked fine for me since then. Thanks!

[2017-01-31 15:37] samoht commented on #882
There is no short-term plan to add a command-line interface to Docker for Mac, so closing as "won't fix" (at least in the short/middle term). We understand that this is an important component for some use-cases, but we have no plans to work on this currently.

[2017-01-31 15:37] #882 closed

[2017-01-31 15:45] samoht commented on #898
Thanks, I have escalated your feature request to our engineering team.

[2017-01-31 15:47] samoht commented on #933
@HerbCSO great to hear, thanks again for your report!

[2017-01-31 15:53] samoht commented on #1234
Thanks, I am looking at your diagnostic. Does the size of the copied file makes a difference by any chance? Can you share the exact command that you run so I can try to find hints of what could have been going wrong in your logs? Thanks!

[2017-01-31 15:55] srinathanand commented on #1234
The size doesn't matter. In the most recent example it was a simple text file that was copied with the same results.

[2017-01-31 16:03] samoht commented on #1234
@srinathanand have you created your container with `-v` options? Do you try to copy the file into one of the shared directories?

[2017-01-31 16:04] srinathanand commented on #1234
No we haven't created it with the -v options. It is not a shared directory.

[2017-01-31 16:14] samoht commented on #1234
Can you reproduce this with an other container as well? As I cannot reproduce your error myself, any hint would help. The best thing would be to come up with the exact steps for me to follow to reproduce your issue on a minimal example (e.g. run: `docker pull xxxx &&& docker cp xxx yyy` where `xxx` and `yyy` are actually things than I can run on my computer).

[2017-01-31 16:18] samoht commented on #988
This should now be fixed in both the beta and stable channels. Please re-open the issue (or open a new issue with a fresh diagnostic ID) if that's not the case. Thanks again for you report!

[2017-01-31 16:22] samoht commented on #1218
Glad to see things are now working properly, although I am sorry that you lost all your containers. Thanks again for your report!

[2017-01-31 16:22] #1218 closed

[2017-01-31 16:23] samoht commented on #1220
This is probably related to #988

[2017-01-31 16:25] #1182 closed

[2017-01-31 16:25] samoht commented on #1182
Glad to see that everything is working fine now!

[2017-01-31 16:41] samoht commented on #717
Thanks for your feature request. We understand that allowing to customize a Docker.app installation is very useful for the use-cases that you are describing, but unfortunately we have no plans to work on that feature in the short term (at least in the way that you are proposing).

So I will close that ticket for now on as "won't fix". Thanks again for your report!

[2017-01-31 16:41] #717 closed

[2017-01-31 16:43] samoht commented on #410
Have you checked https://github.com/avsm/docker-ssh-agent-forward ? It seems to do what you want.

[2017-01-31 16:45] samoht commented on #1161
Closing as a duplicate of #371

The feature is partially implemented in recent version of Docker for Mac, but some work remains to be done to have a fully satisfying solution.

[2017-01-31 16:45] #1161 closed

[2017-01-31 16:54] #1144 closed

[2017-01-31 16:58] samoht commented on #1087
@robxu9 do you still have that issue?

[2017-01-31 17:00] srinathanand commented on #1234
We have one reported incident of this issue so far. We haven't tried it on another container but we definitely can try. Will get you the exact steps as well.

[2017-01-31 17:12] timsutton commented on #717
Thanks @samoht for the acknowledgement!

I just want to clear up that I'm not really interested in "customizing" anything, just providing a way for those who are required to mass-deploy Docker for macOS - for centralized software offerings for developer laptops, or in educational environments with labs, for example - to do so without needing to "test" an installation and reverse all the steps for

[2017-01-31 17:12] samoht commented on #1143
@benjlai @pfeilbr @Nithanaroy ping. It would be very helpful if you can try the steps described by @ijc25 just above. Thanks!

[2017-01-31 17:47] samoht commented on #736
Closing in favour of https://github.com/docker/for-mac/issues/736. Please subscribe to that issue if you want to be notified on progress.

[2017-01-31 17:47] #736 closed

[2017-01-31 17:48] mfeblowitz commented on #1219
Ok -

I upgraded again and again saw the behavior. Doagnostic ID is 213C8854-B875-4328-A46E-2DD06B6B7E59

All diagnostic tests reported [OK].

Here's the unaltered listing of 2 files untarred ok (there were many) and then the error message:
[code]

[code]
As stated above, the referenced **wget** command works fine in the prior Docker version.

As far as replicating, I think that will be difficult.

[2017-01-31 17:52] andrewrynhard commented on #736
@samoht the issue you referenced, is this one. Please update so we can subscribe. Thanks!

[2017-01-31 17:52] samoht commented on #1149
Closing as a duplicate of #77. We are aware that volume sharing doesn't currently work well when used with software relying on active polling and scanning of a huge amount of files on startup. We are still actively working on fixing the issue. Thanks for your report!

[2017-01-31 17:52] #1149 closed

[2017-01-31 18:02] samoht commented on #1219
Unfortunately I think you hit https://github.com/docker/docker/issues/19647

Usually overlay2 is much more stable than aufs (hence we use it by default in Docker for Mac) but it seems that you have hit one of its few bugs. You should subscribe to the upstream ticket if you are interested about the resolution on that bug, meanwhile you should be able to continue working with aufs. Thanks again for

[2017-01-31 18:19] stefanlasiewski commented on #66
Seems to work for me now using:

    Version 1.13.0 (15072)
    Channel: Stable

[2017-01-31 18:19] samoht commented on #5
I am running your reproduction case while the latest beta (40) and (after a while) I get:

[code]

but the daemon is still running. I cannot see anything wrong in my logs. Could you try to see if you can reproduce with a recent version of Docker for Mac (either the stable or beta channel should be fine). Thanks!

[2017-01-31 18:27] samoht commented on #736
woops, updated (it was #68)

[2017-01-31 19:08] LK4D4 commented on #1193
@mkobit have you found it with same scenario?
Thanks!

[2017-01-31 19:17] lwdye commented on #1220
The login that succeeded was from one of our google compute engine instances (debian) running docker 1.3.  I have tested from this network on two machines 10.11.4 and 10.12.1 with both sudo and not and both fail (both on this network and haven’t tried another network).

I take it that 'docker login' works fine for you on OS X and 1.13.0 beta and no other issues registered.  Correct?  If so we will

[2017-01-31 19:20] JumpingSpottedTiger commented on #371
Hi, @djs55. Did this cron trim make it to the final release of 1.13? Or do we have to still run fstrim manually?

[2017-01-31 19:37] samoht commented on #1193
@LK4D4 yes the trace that I have copied in above comes from @mkobit logs, while he was doing what he described in the issue. Do you need more info?

[2017-01-31 19:40] lwdye commented on #1220
$ curl  https://registry-1.docker.io/v2/
{"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":null}]}

[2017-01-31 19:51] mkobit commented on #1193
@LK4D4 Can you explain what you mean?

The way I discovered this by trying to use [Artifactory Mission Control](https://www.jfrog.com/mission-control/) in a container and then it seems to crap out after some time. I believe that the binary downloaded runs both Mission Control and InfluxDB in some other process.

I and a coworker both experienced the issue with the communication from host to contai

[2017-01-31 19:54] samoht commented on #1220
we have seen issues which may be related to what you are seeing, but we are not sure yet. I am not very familiar to that part of the codebase, and it is not clear to me if `docker login` use the client or server DNS resolution mechanism (which is similar on Linux but pretty different on macOS: the client runs on the macOS host while the daemon is in a Linux VM). So any hint on any fancy network co

[2017-01-31 20:18] LK4D4 commented on #1193
@mkobit @samoht I'm trying to reproduce and can't connect to 8888, I wonder if it's something with my network :(
@samoht were you able to try it yourself?

[2017-01-31 21:08] buu700 commented on #1176
Had a hunch this might be it (since I've had issues with it and Docker [in the past](https://forums.docker.com/t/angular-compiler-is-really-slow/23404)), so I just tested and confirmed that the Angular Compiler (`ngc`) is what triggers this. Here's a better test case that narrows it down to just that: `docker run --privileged -v ${PWD}:/cyph cyph/circleci:prod bash -c 'source ~/.bashrc ; cp -rf /c

[2017-01-31 23:11] robxu9 commented on #1087
I haven't seen it recently (though I also haven't rebooted my laptop recently).

[2017-02-01 01:22] ekimia opened #1244 "ability to download older versions"
### Expected behavior
I can download an older version of docker for mac
### Actual behavior
I can't

### Information

Useful if having issues with newer version and need to downgrade.

[2017-02-01 03:18] hyperknot commented on #1244
Same as https://github.com/docker/for-mac/issues/1120, but otherwise a really important point!

[2017-02-01 03:19] hyperknot commented on #1120
@cloakedcode's link for 1.12.6 is the _only_ code on the internet for a reliable 1.12 version.

This is a joke. Pushing an unstable, buggy version and then just not caring about keeping an archive download list.

1.12.6 is actually totally missing from the Release Notes, so no way to figure out the build number ourselves.

[2017-02-01 03:26] mdub commented on #1243
Thanks @samoht.  We'd like to try downgrading to a previous (stable) version of Docker-for-Mac, in the meantime.  Where can we download previous versions?

[2017-02-01 03:40] mdub commented on #1243
Update: I found an old stable version at https://download.docker.com/mac/stable/1.12.6.14937/Docker.dmg.

Downgrading to that version "fixes" the issue.

[2017-02-01 03:42] buu700 commented on #1176
Hmm, I just ran into this issue again without privileged mode, although it took much longer (2671 seconds) and isn't something I consistently experience (much like the one-off crashes I'd get a few times a month pre-1.13). Maybe privileged mode isn't a necessary precondition for this bug, but rather that privileged + 1.13 + `ngc` just interact in some odd way to consistently trigger it?

Diagnosti

[2017-02-01 03:52] Anubhav2205 commented on #1127
@dsheets
This worked perfectly for me.
Thanks for the help

[2017-02-01 03:56] mkobit commented on #1193
@LK4D4 I did see this a few times last week but haven't tried it again this week. I saw it with both `1.12.6` and `1.13.0`, although I'm not entirely sure what you are asking.

[2017-02-01 03:59] lsapan commented on #1176
I know this isn't helpful because I can't provide a reproducible environment, but fwiw I encountered this every time without using privileged mode. We were just running a simple Django web app.

[2017-02-01 05:50] myw commented on #17
docker-time-sync-agent is a fine workaround for now, but this absolutely needs to be fixed long-term on the Moby/HyperKit side. could we get roadmap update for this getting fixed?

[2017-02-01 06:40] freneticmonkey commented on #205
I'm running Docker for Mac Version 1.13.0 (15072) on Sierra 10.12.2 and I'm having this problem as well.  I've reset docker and have the issue running the following container.

With the output

[2017-02-01 07:07] kaskavalci commented on #1042
@samoht I'm using 1.13.0 stable channel and confirm that docker cannot access to Internet when VPN is on and proxy is configured.
[code]
When connected to corporate network with proxy, docker can establish internet access.

[2017-02-01 07:09] yeungda-rea commented on #1243
We wondered whether it was repeated queries that resulted in incorrect responses.

We repeated the DNS query to the docker for mac DNS server every second:

[code]

This emits one line per second. The correct response looks like this:

[code]

An incorrect response looks like this:

[code]

Meanwhile, we captured DNS queries made from my laptop to our local DNS server:

[code]

We merged the resul

[2017-02-01 08:34] mariusgrigaitis commented on #410
Solution that you provided works, but it's not convenient / experimental

* It requires to append additional parameters on every docker run command which complicates stuff like running containers through docker-compose
* It runs separate ssh-agent and shares your local key to that agent. What if your key is encrypted?
* We want to make our scripts / files as much platform-independent as possible a

[2017-02-01 08:57] thaichat04 commented on #371
We have same problem, very inconvenient in dev mode

[2017-02-01 09:07] #1127 closed

[2017-02-01 10:33] markwilson commented on #684
Docker makes each container’s /etc/resolv.conf look like the /etc/resolv.conf of the host machine (where the docker daemon runs)

https://docs.docker.com/engine/userguide/networking/default_network/configure-dns/

[2017-02-01 10:44] samoht commented on #1244
Closing as a duplicate of #1120. The team is aware of the issue but I will ping them again.

[2017-02-01 10:44] #1244 closed

[2017-02-01 15:45] iplantemn opened #1245 "Latest stable docker for mac: Communication with networking component failed."
### Expected behavior

After an installation of Docker, it should start successfully

### Actual behavior

It asks for elevated privileges to install network components, and then shows a **Fatal Error** dialog with the following message:

Communication with networking component failed.

### Information

[code]

### Steps to reproduce the behavior

  1. Install Docker
  2. Start Docker
  3. Enter p

[2017-02-01 16:43] esBeee commented on #1175
@samoht didn't really pay attention to what version I used before. But I'm using Docker daily and usually don't hesitate to update, so probably 1.12.

[2017-02-01 16:46] iplantemn commented on #1245
Things I've tried:

- Completely uninstalling and reinstalling
- Installing the latest beta
- Deleting `/Library/PrivilegedHelperTools/com.docker.vmnetd` and restarting the application

A few more things:

[code]

[2017-02-01 16:50] samoht commented on #1245
Thanks for your report? When did you get this error? Did you upgrade from 1.12?

I can see in your logs a trace of qcow2 data corruption 2 days ago:

[code]

which is probably an old disk corruption that we are now detecting in 1.13 as we are running more aggressive disk checks. This lead to other issue with the install/upgrade. To fix your immediate issue try the following steps:

- stop Docker f

[2017-02-01 17:00] iplantemn commented on #1245
@samoht, I have tried deleting `/Library/PrivilegedHelperTools/com.docker.vmnetd` and restarting Docker, and the issue still occurs.

I completely uninstalled an older version of Docker, and upon installing this the latest (1.13) is when I get this error. I installed 1.13 today.

[2017-02-01 17:03] samoht commented on #1245
Ha sorry our messages crossed. Can you try `sudo launchctl unload /Library/LaunchDaemons/com.docker.vmnetd.plist`

[2017-02-01 17:05] iplantemn commented on #1245
No worries, thanks for the help @samoht

[code]

[2017-02-01 17:14] samoht commented on #1245
By any chance, are you trying to run `Docker.app` out of your `/Applications` folder?

[2017-02-01 17:18] iplantemn commented on #1245
Yes, @samoht

[2017-02-01 17:20] AlliVaughn opened #1246 "driver.amd64-linux com.docker.driver.amd64-linux -db is not running"
### Expected behavior
Expected Docker to launch successfully.
### Actual behavior
Docker launched, but then  closed due to the error below.
### Information

  - Full output of the diagnostics from "Diagnose & Feedback":
[code]

[2017-02-01 17:21] samoht commented on #1245
Can you try to move `Docker.app` in `/Applications` and see if it's better? I am not sure why this is failing in your case, but it will probably help.

[2017-02-01 17:24] iplantemn commented on #1245
@samoht Sorry, I misread the question. I am running it from `/Applications` already.

I did try moving it out and launching the app from another directory, same issue. It's back in `/Applications`.

[2017-02-01 17:35] samoht commented on #1245
Ok thanks. Can you try to follow the instructions from https://github.com/docker/for-mac/issues/570#issuecomment-245966262 to try to uninstall the application fully?

[2017-02-01 17:40] iplantemn commented on #1245
That worked, @samoht! Thank you!

[2017-02-01 17:40] #1245 closed

[2017-02-01 17:47] samoht commented on #1246
Your logs contain a lot of crash dumps for `com.docker.hyperkit`. For instance:

[code]

I see you are running on 10.10, that we know have a few kernel issues. If you are able to upgrade to a more version of macOS this would probably help, otherwise we can try to report the issue to Apple bugtracker but it would probably never get fixed.

[2017-02-01 17:51] samoht commented on #1246
I am going to close that issue as this is not a supported configuration since the 1.13 release, as stated on https://docs.docker.com/docker-for-mac/#/what-to-know-before-you-install

[2017-02-01 17:51] #1246 closed

[2017-02-01 17:53] samoht commented on #855
Starting with Docker for Mac stable release 1.13 (upcoming), and concurrent Beta releases, we will no longer address issues specific to OS X Yosemite 10.10. In future releases, Docker for Mac could stop working on OS X Yosemite 10.10 due to the deprecated status of this OS X version. We recommend upgrading to the latest version of macOS.

(see https://docs.docker.com/docker-for-mac/#/what-to-know-

[2017-02-01 17:53] #855 closed

[2017-02-01 18:03] samoht commented on #205
@cloutiertyler actually your docker logs contain an interesting stack trace:

[code]

It's probably an upstream bug, I will report that upstream.

[2017-02-01 18:04] samoht commented on #205
@freneticmonkey can you please open a new issue with a diagnostic ID? Thanks!

[2017-02-01 18:06] samoht commented on #205
@cloutiertyler can you share a way to reproduce the error that you had?

[2017-02-01 18:23] samoht commented on #205
The go panic has been reported upstream: https://github.com/docker/docker/issues/30641

[2017-02-01 18:52] trinitronx commented on #410
I've run into problems trying to support the `ssh-agent` `SSH_AUTH_SOCK` specifically with "Docker for Mac".

The problem appears to be due to [`osxfuse` not supporting socket connections][1] across the OS X Host / Docker Container boundary.

So I can mount in the `ssh-agent` socket, it appears inside the container fine.  However, accessing it via `ssh-add -l` always results in: "`Could not open a

[2017-02-01 19:08] samoht commented on #410
@mariusgrigaitis @trinitronx I was maybe not very clear, but yes support for ssh agent forwarder is planned on our roadmap and is indeed very related to #483. I was just pointing out a possible workaround which works today while we implement the feature.

[2017-02-01 19:23] samoht commented on #684
@markwilson I am not sure why you are commenting on this closed issue, but are you asking for https://github.com/docker/for-mac/issues/155 ? We have an update on this planning soon, so you might be interested to watch that issue for updates.

[2017-02-01 19:30] samoht commented on #1087
Ok thanks, I am closing the issue but feel free to re-open if needed.

[2017-02-01 19:30] #1087 closed

[2017-02-01 20:54] mfeblowitz opened #1247 "Diagnose or Diagnose & Upload fail immediately"
### Expected behavior
Diagnose produces diagnostics
### Actual behavior
Window immediately shows
[code]
in red.

### Information
Might be due to memory issue. Stopping all containers makes symptom disappear.

Version 1.13.0 (15072)
Channel: Stable
0c6d765c54

[2017-02-01 21:05] samoht commented on #1193
@LK4D4 I was not able to reproduce the failure with 1.13.1-rc1, but I can definitely connect to port 8888. I have tried to connect to the service in a loop and it went fine. I can try to reproduce tomorrow on 1.13.0

[2017-02-01 21:06] samoht commented on #1247
Can you share the output of:

[code]

This is not supposed to fail! :-)

[2017-02-01 21:26] mkobit commented on #1193
I'll see if I can reproduce it again tomorrow, but it was something that didn't really happen after a deterministic amount of time. The port seems to work for a while, and then it stops on the host. I'm sorry that I can't provide a better set of reproduction steps 😑.

[2017-02-01 23:24] phlcastro commented on #684
@samoht I dont think this issue is related to the #155

I didnt replied it before because I didnt receive the update from github and forgot to come back here.

@markwilson was replying @dsheets question of where did I find the documentation saying that records from resolv.conf on host would be copied to the container resolv.conf file.

[2017-02-01 23:26] phlcastro commented on #684
@samoht sorry, but I dont know how to reopen this issue

[2017-02-01 23:41] samoht commented on #684
@phlcastro no pb. Do you still have that issue with the latest beta/stable?

[2017-02-02 00:10] phlcastro commented on #684
@samoht same problem using stable 1.13.0 (15072)

[2017-02-02 00:37] samoht commented on #684
Ok sorry I read your issue again and this is indeed expected.

As @dsheets said above, Docker for Mac does some "magic" (using [vpnkit](https://github.com/docker/vpnkit)) to transparently route the network traffic from the containers (running inside a Linux VM, as well as the docker daemon) to your macOS networking stack. VPNKit is automatically updated when you update `/etc/resolv.conf` but it do

[2017-02-02 00:54] phlcastro commented on #684
I was trying to have my container (Ubuntu) being able to resolve hostnames from a VPN connection.
So instead of updating the resolv.conf each time I ran the container, I wondered if I could set it on host and have it automatically updated on containers.

[2017-02-02 01:05] perrohunter opened #1248 "Error starting userland proxy, address already in use."
So I had a bizarre bug trying to link two containers, I ended up install docker beta for mac (`1.13.1-rc1-beta40 (15241)`) and now I can't start previous containers I had because it thinks a certain port is in use. Going back to docker `1.13` for mac seems to do nothing

I'm trying to run nats
[code]

I'm getting an error

[code]

this also happens with other containers I have, that were working f

[2017-02-02 02:21] freneticmonkey opened #1249 "port is already allocated"
### Expected behavior
Couchbase container starts and is able to bind port 8091

### Actual behavior

Couchbase fails to start reporting port is already allocated.

### Information

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.12.2 (build: 16C68)
logs: /tmp/F167220A-646A-4960-A0B8-C4F2A5F0D761/20170202-132024.tar.gz
[OK]     vmnetd
[OK]     dns
[OK]     driver.amd64-linux
[OK]

[2017-02-02 07:52] arup42 commented on #1031
There are plenty more issues related to net=host not working the way it does on linux, like #155 (which has the most useful information on it) and maybe #68 and #57

If this is going to be where this issue is consolidated, please also take note of [this thread](https://forums.docker.com/t/support-tap-interface-for-direct-container-access-incl-multi-host/17835/14) that sounded like it might contain

[2017-02-02 08:50] chris-crone commented on #873
Thanks for the feedback @grav! In an upcoming release, we will be excluding the VM from backups by default with the option to include it.

There are two ways to exclude files/folders from backups: by absolute path and by actual object. From what I can tell, only exclusions by absolute path are shown in the Time Machine preferences. You can [see all excluded items using the terminal](http://apple.s

[2017-02-02 08:50] #873 closed

[2017-02-02 10:09] cyrilchampier commented on #281
I am experiencing this problem, and restarting the (mac + daemon) did not improve performance.

5B735E32-3C6C-4BA9-AFA7-0F35A38C71C4
[code]

[2017-02-02 11:17] samoht commented on #1249
Thanks for your report! Are you able to reproduce this reliably?

I have tried to run your example on my machine but all works fine. By comparing your logs and mine I can see that the proxy indeed tries to allocate port 8091 twice, which is not expected:

[code]

I need to dig a bit more to understand what happens. Note: I am testing with 1.13.1-rc1, but I am not sure if it makes a difference.

[2017-02-02 11:59] samoht commented on #1248
Thanks for your report!  Port 4222 is already bound inside the VM (that's the default containers listen port). We will fix that in the next release, but meanwhile you can try to configure `nats` to listen on a different port?

[2017-02-02 12:00] entwu commented on #77
I'm eagerly waiting for fixes in performance. Sadly I can't use any workarounds because I'm building projects for whole teams (mainly linux machines).
Any approximate release date?

[2017-02-02 12:00] samoht commented on #1248
/cc @justincormack

[2017-02-02 12:17] samoht commented on #281
@cyrilchampier can you try to use the `regextract` tool that @justincormack recommend above and see if that makes a difference? Thanks!

[2017-02-02 12:20] flynniec6 commented on #843
Sorry, no longer occurring.

[2017-02-02 12:20] #843 closed

[2017-02-02 12:33] samoht commented on #1249
I cannot reproduce it on 1.13.0 (stable) neither.

@freneticmonkey you probably hit an upstream issue in docker/docker, if you could provide any way to reproduce the error it would be very helpful. Thanks!

[2017-02-02 13:28] barat commented on #77
docker-sync is allowing You to have docker-compose.yml and eg docker-compose.mac.yml/docker-compose.linux.yml for "hacks". You can then make it like:
docker-compose -f docker-compose.yml -f docker-compose.mac.yml up

[2017-02-02 14:05] cyrilchampier commented on #281
@samoht I retried this afternoon, with the exact same params, and it is now ok.
This morning, I tested on 2 different and unrelated networks, so it was not a pb from local side.
Maybe a problem on aws-ecr ...
Sorry for the false alarm.

[2017-02-02 16:09] tseho commented on #77
@barat I use a similar approach.
We keep versionned the files `docker-compose.override.yml.osx.dist` and `docker-compose.override.yml.unix.dist`, it's up to the developer to enable the correct one.

I find it easier since docker compose will automatically look for compose.override.yml

And of course, our osx version include the configuration for docker-sync.

[2017-02-02 17:14] vito commented on #388
@dsheets Concourse uses `btrfs` because it nests trivially, allowing our `docker-image` resource to simply spin up Docker, have it use its `btrfs` driver, and fetch images with the Docker CLI. If we were to use `aufs` or `overlay` the resource would have to use a loopback device to make a local system image, as neither of those nest. This is costly as there can be many `docker-image` resources, an

[2017-02-02 17:42] samoht commented on #281
No problem, thanks for the update and glad to see that everything is working well.

[2017-02-02 17:47] perrohunter commented on #1248
Switching to stable channel fixes this issue.

[2017-02-02 17:47] #1248 closed

[2017-02-02 17:52] samoht commented on #1131
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2017-02-02 17:52] #1131 closed

[2017-02-02 17:53] samoht commented on #1137
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2017-02-02 17:53] #1137 closed

[2017-02-02 17:54] samoht commented on #1155
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2017-02-02 17:54] #1155 closed

[2017-02-02 18:00] mkobit commented on #1193
Was able to run into it again with `1.13.0`.

Not really any specific reproduction steps, but just running `docker-compose up` worked for a file on that port, and then eventually it stopped.

It was running for probably 2 hours before the port on the host stopped working. In the meantime my laptop had power plugged in the whole time and never went into lock or hibernation. I had ran other Docker c

[2017-02-02 18:01] perrohunter opened #1250 "Container linking not resolving with name. Can be influenced by /etc/hosts"
This is a hard one as this bug only happens on some machines, on some of my devs machines and not on other machines. Everyone is running macOS Sierra and latest stable channel 1.13.0

Upon creating a container with a link to another container, within the new container the name of the linked container cannot be resolved.

For example:

I created a `nats` container

[code]
then had a custom applicat

[2017-02-02 18:03] samoht commented on #1193
Can you try to paste the output of:

[code]

It seems that our diagnostic tool has regressed recently.

[2017-02-02 18:07] hrqiang opened #1251 "Docker cannot launch after upgrade."
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. Upgrade to new version of docker
  2. On launch there is an error saying xfce driver and the applicat

[2017-02-02 18:13] samoht commented on #1251
Can you please add a diagnostic ID as described in https://docs.docker.com/docker-for-mac/troubleshoot/#/diagnose-problems-send-feedback-and-create-github-issues? Thanks!

[2017-02-02 18:20] mkobit commented on #1193
[code]

[code]
No output from that.

[code]

When trying some of the command combinations I also saw:

[code]

Running this a bunch of times caused no output:

[code]

But I did have one execution where I got some output:

[code]

[2017-02-02 18:47] mkobit commented on #1193
I actually had another container running mapped to port `8080`, and that one is no longer usable as well.

[2017-02-02 18:59] perrohunter commented on #1250
I've created a sample project that reproduces this issue, clone this project, then execute `make`, run the `nats` container and then run the container with the link

https://github.com/perrohunter/lean-golang-docker-container

[2017-02-02 19:23] sthakor1 opened #1252 "docker-compose really really slow"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2017-02-02 19:26] perrohunter commented on #1250
When deploying this containers to `kubernetes` they work as expected.

I've also found that if I change `tianon/true` to `alpine` it doesn't work, but using `ubuntu` does make the built container work as expected on **mac**

[2017-02-02 20:49] mkobit commented on #1193
Also unable to pull after this happens:

[code]

[2017-02-02 21:57] BretFisher commented on #218
TL;DR for those that end up here like I did when having this problem

If you happen to have this problem where you're in a container and can't access your local network resources, and your local network is a 172.17, 172.18, 172.19, etc network, then you'll need to change the network docker is using so it doesn't conflict with your local LAN, VPN, etc.

bridge (docker0) defaults to 172.17.0.0/16

T

[2017-02-02 23:56] freneticmonkey commented on #1249
Ok.  I don't believe there are any complicating factors as I can reproduce this straight after a docker reset.  To reproduce the error I just have to run the couchbase container.  Is there any other diagnostic info that I can send you to assist?

[2017-02-03 00:12] samoht commented on #1249
I have just reset on 1.13.0 and run the command you copy/pasted above, and I still cannot reproduce. Just to double-check: are you sure you don't have any service running on your mac listening on port 8091, right? Can you try to change the port mapping to see if that makes a difference? If you have a Linux machine available, could you maybe try to reproduce there?

[2017-02-03 01:42] monotone commented on #1185
@yallop I have used 3-rd software named MACCPUID to see VMX(VT-x) is trun on before commited this issues. And there is some tips too:

[2017-02-03 01:44] monotone commented on #1185
@Catorpilor I have tried that just now. It still not work.

[2017-02-03 01:55] #1185 closed

[2017-02-03 05:34] virusdave opened #1253 "Terrible 1.13.0 performance compared to 1.12.6"
### Expected behavior
1.13.0 is about as performant as 1.12.6

### Actual behavior
1.13.0 is much, much worse.

### Information
Running the same docker container in both (a postgres DB), the container is live and accepting connections in ~1.5s in 1.12.6, but takes ~45s to do so with 1.13.0

This is on a relatively new macbook w/ 16GB ram and a SSD.

Let me know what info would help debug this.

[2017-02-03 06:07] kevingimbel commented on #1222
Can confirm it's fixed in Beta40! 🎉

![screen shot 2017-02-03 at 07 05 52](https://cloud.githubusercontent.com/assets/2161714/22581312/409125a2-e9df-11e6-91f5-7ec3a6d7292d.png)

I'll close this issue since it's fixed.

[2017-02-03 06:07] #1222 closed

[2017-02-03 09:16] samoht commented on #1252
Can you please re-open an issue with more details, as described in https://docs.docker.com/docker-for-mac/troubleshoot/#/diagnose-problems-send-feedback-and-create-github-issues.

Thanks!

[2017-02-03 09:16] #1252 closed

[2017-02-03 09:19] samoht commented on #1253
Could you also try to enable the "fast but unsafe" flush workaround described in https://github.com/docker/for-mac/issues/668#issuecomment-250406582 and see if that makes a difference?

If not, could you provide a diagnostic ID taken just after your postgress container has started?

Thanks!

[2017-02-03 09:20] samoht commented on #1251
I am closing this issue for lack of information that we can use to help you, but please feel free to create a new ticket more more info and a diagnostic ID.

[2017-02-03 09:20] #1251 closed

[2017-02-03 09:35] samoht commented on #1193
@mkobit thanks very much for the details. I have reported the issue with `docker-diagnose` to our engineering team.

Regarding your last error, could you try to run the following command and post the result here?

[code]

Can you also try to run:

[code]

and send me `docker-system.log` by email (you can find my email on my GH profile or use beta-feedback@docker.com). Thanks!

[2017-02-03 10:36] ijc25 commented on #1176
@buu700 thanks for narrowing it down to that one command, it should help a great deal to be able to target just the `ngc` process.

I can confirm that I also see the crash without `--privileged`, it seems to take somewhere between 10-80 iterations, that's useful information in itself.

I've got a workaround for the EPT fault aspect of this which looks to work OK, unfortunately the same repro then

[2017-02-03 12:38] krital opened #1254 "Kinematic fails to start on OSX El-Capitan after latest updates"
### Expected behaviour
Docker starts
### Actual behaviour
Docker fails to start
### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

Docker for Mac: version: 1.13.0 (0c6d765c5)
macOS: version 10.11.6 (build: 15G1217)
logs: /tmp/B0B927B6-E69

[2017-02-03 13:11] ingshtrom opened #1255 "Playing around with Docker Compose v3 Causes Daemon to Die"
### Expected behavior
Docker still works.

### Actual behavior
I continually get the response "Error response from daemon: Bad response from Docker engine". I have to restart my machine or Docker to get rid of the error.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
Diagnostic ID: 18B8D94B-7823-486D-90C8-6E062476EAAB
[code]

  - Docker Compose file (no

[2017-02-03 13:38] ragrum opened #1256 "Docker for Mac crash at boot"
### Expected behaviour

Docker for Mac starts at boot.

### Actual behaviour

It shows an error and crash: run diagnostics, and closed the error window, it was something about _hyperlinux_ not starting, error code 15.

### Information

[code]

### Steps to reproduce the behavior

  1. Turn on Mac
  2. Docker for Mac crash at boot

[2017-02-03 14:12] samoht commented on #1255
There seems that something goes indeed wrong with non-existent volumes:

[code]

I will report the issue upstream. Thanks for your report!

[2017-02-03 14:25] samoht commented on #1254
Hi, thanks for your report.

Recent releases (beta 34.1 and 1.13 stable onwards) check the integrity of the `Docker.qcow2` file at startup and refuse to start if the file is corrupt.  The logs suggest that in this case the existing `Docker.qcow2` file has some damage, most likely caused by silent corruption in an earlier version due to inadequate locking when accessing the file.

As a workaround w

[2017-02-03 14:25] #1254 closed

[2017-02-03 14:39] aphillipo opened #1257 "Just a note to say High CPU usage on OSX seems fixed (macOS 10.12.3)"
### Expected behavior

Docker doesn't use much CPU when polling/watching/etc.

### Actual behavior

Docker used to use lots of CPU on this MacBook as soon as you watched files either inside or outside the container.

### Information

I guess I'm leaving this here as a note to anyone using docker for Mac and experiencing high cpu usage.

### Steps to reproduce the behavior

  1. Pre 10.12.3 -> High

[2017-02-03 14:56] samoht commented on #1256
Thanks for your report.

The usual sequence of steps when starting the application should be:

[code]

But your logs contain:

[code]

Which means that the supervisor process received a SIGTERM event (probably from the UI). Are you able to reproduce this error? I am not sure where this signal comes from, it needs more investigation.

[2017-02-03 15:00] samoht commented on #1257
Thanks very much, it is nice to hear about positive feedback too! I am closing the issue, but I will notify the team that their hard work is paying off :-)

[2017-02-03 15:00] #1257 closed

[2017-02-03 15:09] samoht commented on #1256
It seems that pid 422 (which were used by osxfs) got re-used by the new supervisor process which then kills itself when trying to remove the leftover from the previous run.

I will report that issue to our engineers and we will keep you updated about progress on the resolution. Thanks again for using Docker for Mac and to help us improving the product!