[2016-11-11 02:02] bmhatfield commented on #932
Possibly see also: https://github.com/docker/for-mac/issues/931

[2016-11-11 02:20] bmhatfield commented on #932
Here's another discussion I found about this: https://forums.docker.com/t/docker-beta-on-macos-sierra-10-12/15703

[2016-11-11 02:21] bmhatfield commented on #932
Here's a discussion that is almost related - except they discuss nameserver order. My first nameserver in my machine's list is an IPv4 address. This issue seems deeper than nameserver order: https://github.com/docker/for-mac/issues/66

[2016-11-11 05:39] ShannonHickey commented on #540
@djs55 thank you so much for taking the time to read and respond to my comment. I'm very pleased to share that beta 30 also fixes my issue. Fantastic!

I'm pretty sure that my problem had something to do with item 3 in the discussion above, except in reverse. In particular, sometimes queries for internal servers were sent to my router for DNS (third entry in the host's `/etc/resolv.conf`) rather t

[2016-11-11 08:37] raszi opened #933 "docker cli becomes unresponsive"
### Expected behavior

`docker ps` should list the running containers

### Actual behavior

`docker ps` is not responding

### Information

Diagnostic ID: `5AAC807B-5101-4540-B057-C1FBD773E8D7`

[code]

### Steps to reproduce the behavior

1. Verify that `docker ps` works
2. Put your computer to sleep
3. `docker ps` will wait indefinitely, the JSON socket is not responding either.

[code]

[2016-11-11 08:38] raszi commented on #933
It could be related to #927

[2016-11-11 08:39] raszi commented on #933
And #921

[2016-11-11 09:37] clorichel opened #934 "Date in containers should always be accurate"
### Expected behavior

Starting a container should set its date accurately.

### Actual behavior

A newly started container may contain inaccurate date.

### Information

- macOS Sierra 10.12.1
- Docker for mac Version 1.12.3 (13776) Channel: Stable 583d1b8ffe

### Steps to reproduce the behavior

1. Run a container on the evening : `docker run -it ruby:2.3 /bin/bash`
1. With the container opened

[2016-11-11 10:33] djs55 commented on #932
Thanks for the report. `Socket.TCPV4.write udp:2601:184:4000:46f9::1:53: caught Uwt.Uwt_error(Uwt.EINVAL, "udp_send", "") returning Eof` is indeed suspicious. We're slowly trying to add IPv6 support and it looks like the new DNS UDP code is buggy in the presence of an IPv6 nameserver. In previous betas and in stable we ignore IPv6 nameservers as a workaround.

I'll continue to investigate.

[2016-11-11 10:55] mashawan commented on #668
We applied the workaround, which brings our application build time down from 20 minutes to 3 minutes.  However developers are reporting their entire docker installation gets corrupt if the machine looses power.

[2016-11-11 10:56] eduwass commented on #77
Does anyone have benchmarks of the improvements with the latest beta release?

[2016-11-11 10:56] mashawan commented on #668
Is the docker team planning to address the root issue?

[2016-11-11 10:58] beshkenadze commented on #77
@eduwass Vagrant still faster:
8-10 vs  1-2 seconds (Symfony2 dev env)

[2016-11-11 11:30] eduwass commented on #77
Thx @beshkenadze, I also found a couple other answers from users [in the forum thread](https://forums.docker.com/t/file-access-in-mounted-volumes-extremely-slow-cpu-bound/8076/235).

Looks like I'm also sticking with [d4m-nfs](https://github.com/IFSight/d4m-nfs) for now, still wishing that osxfs gets a notable performance update.

[2016-11-11 11:32] kachkaev commented on #77
@beshkenadze I was able to make Symfony projects acceptably fast in dev using Docker app for OSX. The trick was in mounting the project's folder in the following way:

[code]

This reduced page load speed from 10-12 to 1-3 secs, because most of file IO operations (`cache` + `vendor`) started to happen within virtual volumes. A big drawback of this is that I can no longer explore these two importan

[2016-11-11 11:47] dsheets commented on #934
See #17, #693, #918.

[2016-11-11 12:40] elyulka commented on #85
I also had this issue long time on 10.10 and have it after upgrade on 10.12.
Diagnostic ID: 0E5A3B2C-C92E-471D-8D8A-09328930158A
[code]

One of crash reports:
[code]

[2016-11-11 13:15] ijc25 commented on #85
@elyulka your issue on 10.12 is not the same as the known 10.10 issue and appears to be a new one (albeit one with a superficially similar symptom). Please would you open a separate ticket so as not to conflate multiple different issues.

[2016-11-11 13:24] ijc25 commented on #85
@elyulka the issue you quote above was captured on 10.10. I don't see any crashes of 10.12 in your diagnostics ball. In any case please report the 10.12 issue separately.

[2016-11-11 14:42] aminvielle commented on #540
@djs55 Thanks! Works for me too with beta30.

[2016-11-11 15:34] djs55 commented on #540
@ShannonHickey @aminvielle I'm glad that beta 30 is working for you so far! FYI I'm currently fixing a bug with the caching logic -- unfortunately the responses from the cache have a field incorrectly set in the header. For some reason most software is oblivious to this, but I've seen it cause (rarely) some resolution failures. I'm working on a fix for this at the moment.

Regarding the remaining

[2016-11-11 16:25] jayniz commented on #681
For what it's worth, the inotify events propagate fine for pretty much everything except for vim (when editing on the host, osx). Currently I'm on 1.12.3-beta29.3 (13640) but it was the same with the current stable build of docker. I tried both neovim (0.1.6) and vi (7.4.898) and "their" inotify events never make it into the container. Saves from Nano, Sublime, Atom, TextMate all propagate fine in

[2016-11-11 16:31] genei09 commented on #681
@jayniz I watched the fsevents from doing edits with VIM.  The edited files .swp file is modified and then the edited file is deleted and then created from the .swp version.  Since osxfs does not pass any event other than modify, this ends up making sense.

in order to overcome both the limited modify events AND the performance issues of osxfs we have resorted to running a process on OSx that watc

[2016-11-11 16:33] warerwang commented on #668
Where can I download the docker for mac 1.12.0?
If you have, can you send this to my email. Thank you.
warerwang@gmail.com

[2016-11-11 16:38] jayniz commented on #681
@genei09 interesting! I had tried using vim without the swap files (i.e. `:set noswapfile) and it didn't work either. It works for a coworker's vim though, so I'll inspect our vim configs to see if I find a difference.

[2016-11-11 16:39] djs55 commented on #931
There is a bug in beta 30 which causes DNS responses with an incorrect field set in the header to be cached. This causes problems... although it's usually intermittent and shouldn't survive a restart of the app.

IPv6 is a good suggestion -- in stable and previous betas we ignored all IPv6 nameservers. There is another bug in beta 30 where we try to use an IPv6 nameserver but use the wrong "protoc

[2016-11-11 16:42] dsheets commented on #681
@genei09 @jayniz `osxfs` sends most `inotify` events -- not just `IN_MODIFY`. Please see <https://docs.docker.com/docker-for-mac/osxfs/#/file-system-events> for more details and docker/docker.github.io#542 for a small correction to that content. If you see missing events (like from `vim` in this case), please report it as an issue. We'd be appreciative if you could report the problem you are seein

[2016-11-11 16:49] djs55 commented on #932
I've put this on my list of things to work on for beta 31. I believe the code change to make IPv6 work is small -- [docker/vpnkit#143] -- but I don't currently have an IPv6-enabled environment to run the automated tests in. Perhaps the best short-term fix is to ignore the IPv6 servers again but perhaps make this an optional setting for people willing to investigate.

[2016-11-11 17:42] danki opened #935 "All containers and images are gone after update 1.12.1 -> 1.12.3 area/startup kind/bug"
### Expected behavior
Nothing should be deleted ?

### Actual behavior
Fresh install

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
[code]
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior
  1. Had 2 containers running
  2. Got popup for update

[2016-11-11 18:00] danki commented on #935
I'll leave the initial one untouched, in case it's a "bug".

Anyhow, got back my stuff... thankfully docker does not just remove things, instead all was in Trash.

In trash i found this folder, **com.docker 12-34-08-800.docker**, by moving and changing back the name in
_~/Library/Containers/com.docker.docker_ and restarting docker

[code]

Phew!!

[2016-11-11 20:12] konradjurk commented on #931
@djs55 Perfect, thank you! :) I just tried to pull something from a registry and that doesn't work, too, so I guess it is the same problem as the linked #932

[2016-11-11 21:07] brnewby602 commented on #933
I am seeing the same behavior.  CLI became unresponsive, restarted docker and now it hangs on 'Docker starting...'

Diagnostic ID: 070F4D24-1D22-4380-B222-509EDEE087C7

[2016-11-11 21:43] jijojv commented on #935
same here, all gone and not in my .Trash

[2016-11-11 22:32] arroyo commented on #932
I had this same issue with ipv6, docker could not connect to docker.io or update packages with apt-get.

as a temporary fix I turned of ipv6 and docker is running smoothly again

diagnostic ID
136364E3-EBBF-49AB-B6B2-083B643DAD04

[2016-11-11 22:47] Chekote commented on #677
Been having the same issue here. I just updated to 1.12.3 and it's no better. My entire Dev team is stuck on 1.12.0 because of this.

[2016-11-11 22:56] reinerj commented on #931
I can confirm this problem to pull from the hub but also from a private registry with beta 30

B80D0660-71B9-4D15-BD67-C1AB6C36DCEF

[2016-11-12 07:11] jamshid opened #936 "Docker fails with "Bad response" after machine crash"
### Expected behavior
Docker should survive machine crashes.
### Actual behavior
Restarting docker for mac or closing/reopening did not help.
Even resetting my docker environment did not fix this error. It went away after Disconnecting my Tunnelblick VPN. Note I was also running a L2TP VPN around this time. And just noticed the error message that diagnostics/logs did not get uploaded, ugh.
[code]

[2016-11-12 10:47] clorichel commented on #934
Thank you for the links!

Closing as duplicate of #17.

[2016-11-12 10:47] #934 closed

[2016-11-12 10:51] danki commented on #935
Even tho containers and images are restored, they are completely reset.
All application settings configured inside the containers are gone, all DB are empty...

This issue should definitely be considered as huge bug/blocker.

[2016-11-12 11:04] morriswinkler-simplesurance opened #938 "in need of a "docker-machine env" replacemenet"
Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1108)
logs: /tmp/29233D54-ADB5-4917-9E4F-58D91E71B181/20161112-120130.tar.gz
[OK]     docker-cli
[OK]     virtualization kern.hv_support
[OK]     menubar
[OK]     moby-syslog
[OK]     dns
[OK]     disk
[OK]     system
[OK]     app
[OK]     osxfs
[OK]     virtualization VT-X
[OK]     db
[OK]     slirp
[OK]     logs
[OK]

[2016-11-12 12:25] martintrojer commented on #727
Still extremely slow in 1.12.3 (macOS 10.12.1).

About 10x slower than 1.12.0-a

[2016-11-12 15:06] Vad1mo opened #939 "Docker hangs completely reset + uninstall does not help. How can I remove every Bit of the application?"
### Expected behavior
I can start and work with Docker for Mac
### Actual behavior
The Docker Process hangs completely not even the Docker UI comes up.
In activity manger Mac indicates that the application is not responding.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

I tried to call `Docker --reset and --uninstall` but the application hangs also in

[2016-11-12 15:16] Vad1mo commented on #939
This helped

[code]

[2016-11-12 15:16] #939 closed

[2016-11-12 18:26] wdongxv opened #940 "can not find docker"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 390001BA-0BD3-4FD0-B327-49BDBCE14215
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12.1 (Build 16B2555)
[ERROR]  docker-cli
         cannot find docker
         docker-cli check failed with: Failure("docker -v: timeout after 10.00s")
[OK]     app
[OK]     moby-syslog
[ERROR]  disk
         disk check failed with:

[2016-11-12 20:05] bxt commented on #931
@reinerj You can make it usable again by going to your macOS network settings → Advanced → TCP/IP → Set IPv6 to link-local only.

[2016-11-12 21:12] reinerj commented on #931
Thanks, this workaround fixed it ;)

[2016-11-12 21:52] d11thRid3r opened #941 "Can't run arm-image container with bind mount qemu-arm binary"
### Expected behavior

I tried to recreate to run a container with arm-image on osx like here:
[blog.hypriot](http://blog.hypriot.com/post/first-touch-down-with-docker-for-mac/)

in detail this:
`$ docker run -d -v /tmp/qemu-arm-static:/usr/bin/qemu-arm-static -p 80:80 --name busyboxtest hypriot/rpi-busybox-httpd`

and i expected something like this:
[code]

### Actual behavior

when i run:
`$ doc

[2016-11-13 13:50] askoretskiy commented on #371
I have the same problem -- deletion of all images and containers did not help. I had to restore factory settings in Docker to free the space.

[2016-11-13 14:44] d11thRid3r commented on #941
OK, it looks like I missed some conceptual dependencies here...
I thought the qemu supports comes within docker4mac and I missed,
that there is allready a workaround: https://github.com/justincormack/cross-docker
Another solution is to use an image where the quemu binary is allready included, like this:
resin/armv7hf-debian

But I want to stick with the bind mount method, because I don´t want to i

[2016-11-13 15:01] justincormack commented on #941
Hi, there were some kernel patches that enabled specifying the emulator on the host that we hope to ship one day, but last time I checked they had not been merged upstream. This would mean it would magically just work, which is obviously nicer. When that happens we probably will ship a copy. You could also create a volume with a copy in.

[2016-11-13 15:21] d11thRid3r commented on #941
Ok, thanks. Then I´ll keep my copy until it´s working magically ;-)

[2016-11-13 15:21] #941 closed

[2016-11-13 18:24] Random-Primate commented on #621
Awesome, this works great. Plus having the `daemon.json` file around is really great

[2016-11-14 00:06] christianurich commented on #931
Had the same issue here. Setting the DNS to 8.8.8.8 solved the problem as well.

[2016-11-14 02:07] helenaford commented on #707
I'm having the same issue.

[2016-11-14 04:14] corelmax opened #942 "Containers gone after update to 1.12.3"
Diagnostic Output:
[code]

[2016-11-14 04:47] Journerist commented on #77
I have a multi container app that I boot up using docker-compose. The bottleneck is the file synchronisation of my working directory that also contains compiled files and generated files after some build steps.

A friend of mine asked me why I don't put everything in one container to avoid file synchronisation. He doesn't understand docker very well. At first I thought this violates a lot of best

[2016-11-14 09:57] ab9-er commented on #920
This issue has forced me to return to `docker-machine`, something that I am not enjoying at the moment.

[2016-11-14 10:08] dsheets commented on #727
Perhaps you are experiencing #668 ([workaround](https://github.com/docker/for-mac/issues/668#issuecomment-250406582)) and the issue is block device performance rather than network-related?

[2016-11-14 10:28] ijc25 commented on #933
@raszi Thanks for your report. I'm investigating.

@brnewby602 your logs do not seem to indicate the same issues, which is unsurprising since there are a variety of possible reasons for the symptom "docker does not start". You may have been suffering from #819 which was resolved in v1.12.3. I'm unsure if you are still seeing this after your factory reset, if so then please open a new ticket specif

[2016-11-14 11:08] ijc25 commented on #935
@danki I'm very sorry for the data loss which you have experienced.

The dialog you describe sounds like it may have been the dialog which is displayed if you change between the stable and beta channels (which requires a factory reset):
![screen shot 2016-11-14 at 11 39 01 am](https://cloud.githubusercontent.com/assets/12985729/20261726/fc7f264c-aa56-11e6-9ecc-f0577bd9a9f7.png)
However your logs s

[2016-11-14 11:08] #935 closed

[2016-11-14 11:17] martintrojer commented on #727
@dsheets didn't help :(

[2016-11-14 11:23] ijc25 commented on #933
@raszi We have a workaround in place for older versions of OSX (10.10.x and earlier 10.11.x) which suffered from a bug on the OSX Hypervisor.framework (ACPI crashes after resume). The workaround is to freeze the hyperkit processes corresponding to the virtual CPUs around sleep.

However we also believe this workaround is itself responsible for at least some of the issues seen after resume even on

[2016-11-14 11:27] ijc25 commented on #85
There seem to be no more reports of the original issue on 10.12 or 10.11.6 since we changed the default and gave the workaround for upgrading users in https://github.com/docker/for-mac/issues/85#issuecomment-245877874.

[2016-11-14 11:27] #85 closed

[2016-11-14 11:38] ijc25 commented on #321
@dloeckx your latest bugball (08529DC2-8DF4-4E6D-84F2-DB78B4035829) indicates that the docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785. In your specific case may also be related to the previous disk spac

[2016-11-14 11:38] #321 closed

[2016-11-14 11:58] raszi commented on #933
@ijc25 thanks for the quick turnaround.

I just wanted to note that the mentioned directory contained a lots of changes in my case:

[code]

[2016-11-14 12:00] elnygren commented on #942
can confirm, `docker ps -a` and `docker images` show nothing anymore. I had several databases running before the update.

[2016-11-14 12:03] mogrifier commented on #707
I solved my specific problem by completely uninstalling and re-installing docker. Dragging the app to the trash was not enough. I went in and manually deleted other docker related files from somewhere in /Library or /Applications- can't recall exactly but you could look up where it puts files during install.

[2016-11-14 12:05] ijc25 commented on #883
@sylvainmouquet thanks for confirming. closing!

[2016-11-14 12:05] #883 closed

[2016-11-14 12:09] ijc25 commented on #710
The malloc related issues were fixed in beta29 and stable 1.2.3. Closing, thanks.

[2016-11-14 12:09] #710 closed

[2016-11-14 12:10] ijc25 commented on #714
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-14 12:10] #714 closed

[2016-11-14 12:10] ijc25 commented on #808
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-14 12:10] #808 closed

[2016-11-14 13:31] ijc25 commented on #826
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-14 13:41] ijc25 commented on #826
(apologies for the previous comment, I pressed the wrong button in our triage tool).

@jpbochi prior to the aufs corruption your original report your logs have a bunch of
[code]
messages. This was a known issue which was fixed in stable with the 1.12.3 release. I believe it can also cause crashes which would explain your subsequent aufs issue. Upgrading to 1.12.3 should therefore fix both of these

[2016-11-14 13:41] #826 closed

[2016-11-14 13:48] xero88 commented on #77
@kachkaev I tried your solution, but it's not changing anything for me =(

[2016-11-14 13:52] xero88 commented on #77
@kachkaev when I try your solution I get :

[2016-11-14 14:13] ijc25 commented on #864
@schmunk42 I've escalated this to the osxfs developers in our internal tracker (I'm sorry that it took so long). In the meantime if you could try the latest stable release (1.12.3) and report if you still see this issue that would be appreciated.

[2016-11-14 14:18] schmunk42 commented on #77
@xero88 You need to run `composer install` in the container to "copy/download" the files to your host-volume. Otherwise it's empty in the container.

[2016-11-14 14:21] ijc25 commented on #677
Please subscribe to #668 for more info on this issue, including [a workaround](https://github.com/docker/for-mac/issues/668#issuecomment-250406582) which will restore the 1.12.0 behaviour on newer versions.

[2016-11-14 14:25] ijc25 commented on #938
@morriswinkler-simplesurance there is no need to set any environment variables to use docker for mac, it should just work out of the box (in fact setting environment variables a la `docker-machine` is actively harmful to the use of docker for mac).

Unfortunately your diagnostic bug ball has not been uploaded so I'm unable to tell if you are having any other problem. I'm going to close on the assu

[2016-11-14 14:25] #938 closed

[2016-11-14 14:28] ijc25 commented on #940
Detected symptom of problem 'unsupported-sierra' in 390001BA-0BD3-4FD0-B327-49BDBCE14215/20161113-022444.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the beta channel. Please upgrade your version of Docker for Mac.

May be related to docker/for-mac#561

[2016-11-14 14:28] #940 closed

[2016-11-14 14:46] ijc25 commented on #920
Detected symptom of problem 'unsupported-sierra' in EDE9672C-4EB2-43F2-91D6-29F2C35AA6D1/20161109-160717.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the beta channel. Please upgrade your version of Docker for Mac.

May be related to docker/for-mac#561

@ab9-er from your logs it looks like you may recently have downgraded from 1.12.1

[2016-11-14 14:46] #920 closed

[2016-11-14 14:54] ijc25 commented on #727
Please can someone provide a set of specific reproduction steps?

Using "the Twitter API with TwitterOAuth in php" was mentioned above but what we actually need is a _specific_ set of steps which a developer can follow in order to demonstrate the problem. A Dockerfile would be one convenient way to encapsulate that, but really a script or even just list of specific commands to run would suffice.

[2016-11-14 14:58] ijc25 commented on #933
@raszi thanks for the info. I think that is nothing to worry about but I'll ask around to be sure. If you don't hear from me again please assume everything is ok.

[2016-11-14 15:07] ijc25 commented on #933
@raszi are you sure you performed the `git reset --hard` step before `echo` and `git commit`?

[2016-11-14 15:20] omarqureshi commented on #932
I'm also getting this issue too - switching IPV6 to local-link only fixes this:

Diagnostic ID:
E492C0E1-8505-4A27-9C96-1EDD7D51861C

[2016-11-14 15:28] omarqureshi commented on #932
FWIW this did used to work in an older Docker for Mac

[2016-11-14 15:48] raszi commented on #933
The git status was before the reset of course. :)

[2016-11-14 15:51] ijc25 commented on #933
Sorry, that wasn't obvious, but that being the case there is nothing to worry about here I think.

[2016-11-14 16:07] xero88 commented on #77
@schmunk42 thank you, it's working now, I pass from 14 seconds to 11 seconds with this solution

[2016-11-14 16:13] brnewby602 commented on #933
I was on 1.12.3.  I had first attempted to execute the docker ps command and it just hung.  I restarted docker and then it never would start, just hung on 'Docker starting' (including reboot).  Performing the factory reset did resolve it.

[2016-11-14 16:25] sebastienDevibim commented on #727
@ijc25
Here is an example of how you can test :

Dockerfile :
[code]

Docker commands made to build and run :
[code]

Command to launch in container :

``` curl -o /dev/null -s -w %{time_connect}:%{time_starttransfer}:%{time_total} http://www.google.com```

I've got these results on the container :
5.554:5.608:5.608

Directly on my Mac I've got these results :
0.119:0.161:0.161

You can see than t

[2016-11-14 17:07] ijc25 commented on #727
@sebastienDevibim thank you very much for the repro steps. I have escalated this issue into our internal tracker.

[2016-11-14 17:15] ijc25 commented on #942
@elnygren are you looking at @corelmax's machine (perhaps you are co-workers or something)? If not and you are just reporting that you have seen similar symptoms then please open a new ticket of your own with your own diagnostic upload and description of your circumstances.

[2016-11-14 17:26] ijc25 commented on #942
@corelmax your last three application starts are:
[code]
That is, you seem to briefly switched branch from beta to stable and back to beta. Switching between branches requires a factory reset which explains why your contains have apparently disappeared.

You should have seen a dialog similar to this when you moved from the stable version to the beta version:
![screen shot 2016-11-14 at 11 39 01 am

[2016-11-14 17:33] ijc25 commented on #942
Closing since this seems AFAICT to be behaving as expected (and as required by channel switching). If something about the above explanation does not chime with what you think actually happened then please reopen.

[2016-11-14 17:33] #942 closed

[2016-11-14 17:33] accraze commented on #936
I had the same issue today after my macbook ran out of battery.
I'm using `Docker version 1.12.3, build 6b644ec` and  macOS `10.12.1`
A factory reset fixed it for me as well.

[2016-11-14 17:42] ijc25 commented on #936
@accraze if you would like us to investigate your issue (which may not have the same root cause as this ticket) then please open your own ticket with your own diagnostics upload and description of your specific circumstances.

[2016-11-14 17:49] ijc25 commented on #936
@jamshid it seems likely that the crash corrupted either the qcow2 disk image used to back the VM storage or the filesystem within the disk image. Resetting to factory defaults would "fix" either of those.

The most recent error in your logs is:

[code]

which is rather hard to fathom because your logs clearly show things were fine previously. Note that the above error comes directly from the hype

[2016-11-14 17:59] ijc25 commented on #936
Putting the vmx error to one side the latter part of your logs are full of:
[code]

which I think is part of the new code in beta30 for better dealing with DNS and VPN related issues, which would appear to be unhappy with some aspect of your Tunnelblick VPN. I have escalated internally.

[2016-11-14 18:02] dkokic opened #943 "Problem starting Docker after upgrading to 1.12GA (same issue after upgrade to 1.12.3)"
### Expected behavior

  - After starting the Docker app, I would expect Docker to get started.

### Actual behavior

  - The Docker is forever in "starting ..." state.

### Information

  - Diagnostics ID: C014BCE7-C38C-4759-A644-CA4D3151B5D6
  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is

[2016-11-14 18:22] johanneswuerbach opened #944 "1.12.3-beta30 slow network due to udp i/o timeouts?"
### Expected behavior

`terraform plan` should work

### Actual behavior

`terraform plan` shows a lot of i/o errors like `caused by: Post https://iam.amazonaws.com/: dial tcp: lookup iam.amazonaws.com on 192.168.65.1:53: read udp 172.17.0.2:48966->192.168.65.1:53: i/o timeout` when trying to talk to aws.

Running the same on a colleagues macbook (same network) with beta 27 works like a charm.

##

[2016-11-14 19:13] Journerist commented on #77
I finally made it:

[code]

[2016-11-14 19:35] stefanlasiewski opened #945 ""Diagnose & Feedback" should check for IPv6 issues"
### Expected behavior

Docker for Mac [does not currently support IPv6](https://docs.docker.com/docker-for-mac/troubleshoot/#/workarounds-for-common-problems). I expected the 'Diagnose & Feedback' tool to provide a warning that IPv6 is currently enabled on my laptop.

### Actual behavior

As the output below shows, as does #66 & #932,  the 'Diagnose & Feedback' tool say that networking is [OK], bu

[2016-11-14 19:49] geertvanheusden commented on #825
@justincormack Tried again with the latest version: 8FA3424B-D591-46F4-9CA1-905D0C57D29C

[2016-11-14 20:29] pulkitsinghal opened #946 "docker pull fails"
### Expected behavior
docker pull should work

### Actual behavior
docker pull fails

### Information

DIAGNOSTIC ID: 47021F7F-3974-471F-8122-BEBC39EA0ECD

[code]

### Steps to reproduce the behavior

  1. docker pull <repo>
  2. doesn't work:

[code]

[2016-11-14 20:49] asyazwan commented on #932
Can confirm that just switching to IPv6 `link-local only` worked. No need for DNS change to `8.8.8.8` (what's found as the top solution by googling this error) or any other change.

[2016-11-14 21:44] pedrorijo91 commented on #943
had the same problem. A factory reset fixed it for me.

[2016-11-14 23:52] riyazdf opened #947 "beta30: Bad response from Docker engine"
I've noticed that recently my docker4mac has been failing on `docker-compose` and other `docker` commands with "`Bad response from Docker engine`.  I've tried to restart my docker app and the host itself but haven't had any luck

DiagnosticID: `A2527B0A-43F6-4DC9-9AB1-DA74B0ED0879`

[code]
[code]
[code]

[2016-11-15 02:50] jamshid commented on #936
Thanks, yes the problem definitely seems related to Tunnelblick.

My Docker for Mac had been working after reset, but I just encountered problem where it wouldn't start after opening my Macbook -- icon just kept spinning.

It finally restarted successfully after I Disconnected my Tunnelblick 3.6.8 (build 4625) (latest) session.

[2016-11-15 02:57] OSMeteor opened #948 "mac pro"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-11-15 04:20] v4tech commented on #85
@ijc25 - I think closing is a bit premature.  There's been no comments from anyone that the fix works.

Your comment uses terms like:
  - _We're not sure whether the workaround is still needed_
  - _If you want to experiment_
They come across as massive red flags, i.e. resulting in a "wait until the (awesome) Docker team tells me this is fixed"...

Are you saying this bug is fixed?

[2016-11-15 04:50] cridenour opened #949 "All containers lost on upgrade to 1.12.3-beta30"
### Expected behavior
Update like every previous upgrade on beta branch, with no loss of data.

### Actual behavior
All data lost, no warning or confirmation.

### Information

Diagnostic ID: A74944DD-D72A-424A-B095-E5F5ED6B2FB7
[code]

### Steps to reproduce the behavior

1. Install 1.12.3-beta 30
2. Check output of `docker ps -a` or `docker images`

[2016-11-15 07:13] dkokic commented on #943
thanks. the factory reset helped.

[2016-11-15 07:13] #943 closed

[2016-11-15 08:43] morriswinkler-simplesurance commented on #938
Yes it does, but there some tools that use DOCKER_ENV variables, the usual way was to use attach docker-machine env to you .bashrc and that's it, now there is no equivalent for that.

please see https://docs.docker.com/machine/reference/env/

I am just asking to get something similar on  the now docker-for-mac pkg.
My use case is https://godoc.org/github.com/docker/docker/client#NewEnvClient.
I am

[2016-11-15 09:00] sannu20 opened #950 "keeps crashing every few minutes"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: CB6318C5-B585-469E-8212-9DA7B9EC39A0
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]     vm

[2016-11-15 09:53] jpbochi commented on #826
@ijc25 Thanks for the update. I did realise at some point that the containers were not really crashing, and it was docker-compose that was failing to follow their logs. I did update to 1.12.3 a few days ago (I think) and I don't see the problem anymore. Thanks for the fix.

[2016-11-15 10:18] ab9-er opened #951 "Docker does not start"
### Expected behavior
The docker engine starts

### Actual behavior
Docker does not start and the whale animation continues

### Information

Docker for Mac: version: 1.12.3 (583d1b8)
OS X: version 10.12 (build: 16A323)
logs: /tmp/EDE9672C-4EB2-43F2-91D6-29F2C35AA6D1/20161115-111324.tar.gz
failure: docker ps failed: (Failure "docker ps: timeout after 10.00s")
[OK]     vmnetd
[OK]     dns
[OK]

[2016-11-15 10:26] ab9-er commented on #951
Apparently, the beta version works well for me on Sierra.

[2016-11-15 10:31] ijc25 commented on #944
Hi @johanneswuerbach. Thanks for your report. I suspect DNS issues here since this is an area which saw a lot of work in beta30 to improve  support VPN and other split DNS configurations but which involves introspecting various things from OSX which aren't necessarily clearly exposed which sadly is likely to take us a little while to shake down in various configurations.

Please bear with us while

[2016-11-15 10:39] ijc25 commented on #944
This turns out to be a known issue, unfortunately our DNS proxy/cache will sometimes returns answers with the query bit set. A surprising amount of software actually tolerates this but some does not (Go's builtin resolver being a common one which apparently does not).

A fix is in the works and will either be released in beta31 or perhaps in a beta30.1 hotfix (depending on how the timing works out

[2016-11-15 10:56] ijc25 commented on #945
@stefanlasiewski thanks for the suggestion, that's clearly a very good idea. I've escalated this into the internal issue tracker.

[2016-11-15 11:11] ijc25 commented on #946
@pulkitsinghal thanks for your report. I believe this is a duplicate of #932. Please subscribe to that ticket for further updates. There are also some workarounds described in the comments which may work for you until a fix is released.

[2016-11-15 11:11] #946 closed

[2016-11-15 11:29] ijc25 commented on #947
Hi @riyazdf. Your `/var/log/docker.log` contains a lot of Go panic spew from the engine, things like
[code]

or

[code]

The first (shorter one above) seems to have happened occasionally since 2016-10-24T20:08:36.166163781Z but starting from
[code]
they seem to become more frequent. I don't see anything right before which is an obvious precursor. Given the name of the container it is looking for p

[2016-11-15 11:49] ijc25 commented on #948
Please do a diagnostics upload and fill in the questions in the issue template if you are having an issue. Will reopen once that is done.

[2016-11-15 11:49] #948 closed

[2016-11-15 11:53] ijc25 commented on #85
@v4tech yes, we believe this issue is fixed on 10.12 and 10.11.6 now that we have disabled the ACPI crash workaround by default on those versions. If you are upgrading from an older docker for mac then you will need to either follow the steps in https://github.com/docker/for-mac/issues/85#issuecomment-245877874 or perform a factory reset to pickup the new default.

[2016-11-15 11:58] HariSekhon commented on #838
@samoht

This is not a duplicate of issue #371 - that is a bug about space reclaim.

This is around the fact that the qcow2 image comes pre-configured to only 60GB but I am downloading way more than 60GB of docker images for all my test suites so I currently have to manually resize the docker image to be able to fit them.

[2016-11-15 11:59] HariSekhon commented on #855
This issue is so severe and frequent that I've had to abandon docker for mac and go back to docker machine for reliability reasons.

[2016-11-15 12:13] samoht commented on #838
Sorry I wasn't very clear, but the resolution of #371 will actually involves resolving your use-case too. See end of the comment of https://github.com/docker/for-mac/issues/371#issuecomment-249533736 where we are planning to first expose a way to control the size of the disk.

[2016-11-15 12:51] HariSekhon commented on #838
Ah, ok thanks, that was a long thread I missed that bit.

[2016-11-15 13:16] ijc25 commented on #949
@cridenour I'm very sorry for the data loss you have experienced. Looking at your logs I see the following occurred on the most recent boot:
[code]

i.e. it has detected filesystem corruption which cannot be resolved and has therefore recreated the filesystem.

I cannot see anything in your logs which gives a hint as to what caused this corruption. Do you remember anything out of the ordinary (Doc

[2016-11-15 13:22] ijc25 commented on #950
Detected symptom of problem 'unsupported-sierra' in CB6318C5-B585-469E-8212-9DA7B9EC39A0/20161115-110003.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the beta channel. Please upgrade your version of Docker for Mac.

May be related to docker/for-mac#561

[2016-11-15 13:22] #950 closed

[2016-11-15 13:29] ijc25 commented on #951
You previous issue running an old version on Sierra (#920) appears to have left you with filesystem and/or aufs corruption, likely due to the crashes. In any case you have switched between branches and should perform a factory reset, doing this will resolve the issue you are seeing and bring you back into a supported configuration.

[2016-11-15 13:29] #951 closed

[2016-11-15 13:33] bergman commented on #880
I can reproduce this on 1.12.3-beta30 (7314181) too

[code]

[2016-11-15 13:35] ijc25 commented on #880
I can't see any diagnostics with UUID 24B94A7C-1045-451D-8684-B2DE5A7C3D4C on our servers. Could you please run Diagnose & Feedback from the :whale: menu, select Diagnose & Upload, and paste the results of the diagnostic run (including diagnostic ID) back here? This will help us understand what is happening with the Docker application. Thanks!

[2016-11-15 13:43] ijc25 commented on #930
Detected symptom of problem 'vmnetd-comm-failure' in 3D851B4A-3496-44AB-8D0C-56C9CD86C06B/20161110-110207.

The UI failed to communicate with the networking helper process.

Try the following steps:
- stop Docker for Mac
- delete the file `/Library/PrivilegedHelperTools/com.docker.vmnetd`
- start Docker for Mac

Hopefully this will (re-)install the networking helper process properly. Please re-ope

[2016-11-15 13:48] ijc25 commented on #929
I think this is in essence a duplicate of #799. The model today is that multiple users should work if you re-run `Docker.app` as the new user after switching, but this is something which we may enhance in the future, I've added a link to this bug to our internal ticket which is tracking this.

[2016-11-15 13:48] #929 closed

[2016-11-15 13:50] ijc25 commented on #928
Detected symptom of problem 'unsupported-sierra' in 493978B4-86A8-4D52-95A8-2F7CF86A67FC/20161110-140654.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the beta channel. Please upgrade your version of Docker for Mac.

May be related to docker/for-mac#561

The following log matches:
[code]

[2016-11-15 13:50] #928 closed

[2016-11-15 14:09] ijc25 commented on #927
@durganuvvula It looks like perhaps you had some stray old processes hanging around. e.g. your logs have things like:
[code]
suggesting that something has already bound those ports. It may be that something has crashed without properly cleaning up its child processes.

Rebooting will have cleared out those stale processes meaning they are not visible in the diagnostic upload. I've been unable to f

[2016-11-15 14:09] #927 closed

[2016-11-15 14:26] bergman commented on #880
Uploaded now with UUID 24B94A7C-1045-451D-8684-B2DE5A7C3D4C

[2016-11-15 14:40] ijc25 commented on #921
Since you mentioned Monday mornings I focused my investigations on the logs around 2016-11-07.

Nothing untoward occurs in your `docker.log`, I can see what I suppose is "the weekend" in a discontinuity between 2016-11-05T04:47:39.933875360Z and 2016-11-07T15:17:31.911822122Z. Nothing else looks untoward although there are a _lot_ of name lookups for `msg="Name To resolve: elasticsearch."`, as in

[2016-11-15 14:42] ijc25 commented on #919
There is not enough information here to take action. Please do a diagnostics upload (run Diagnose & Feedback from the :whale: menu, select Diagnose & Upload, and paste the results of the diagnostic run (including diagnostic ID) back here?) and fill in the issue template.

[2016-11-15 14:42] #919 closed

[2016-11-15 14:43] ijc25 commented on #918
Closing as a dup of #17 and #693. Please subscribe to those.

[2016-11-15 14:43] #918 closed

[2016-11-15 14:46] ijc25 commented on #917
I've linked this to our internal ticket tracking the status of swarm mode compatibility with Docker 4 mac.

[2016-11-15 14:53] ijc25 commented on #916
Your test network is `172.18.0.0/16`, which covers `172.18.131.117` which is the IP address of your DTR.

You need to ensure that your docker networks (or any other virtual network) do not overlap with your real infrastructure. I believe this can be done with the `--subnet` option.

[2016-11-15 15:04] ijc25 commented on #915
@ramon your logs show symptoms of the same issue as https://github.com/docker/for-mac/issues/864. I've added your case to the internal ticket. Please subscribe to #864 for updates.

@lukebergts your issue is not the same:
Detected symptom of problem 'unsupported-sierra' in 493978B4-86A8-4D52-95A8-2F7CF86A67FC/20161110-140654.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stabl

[2016-11-15 15:05] #915 closed

[2016-11-15 15:13] ijc25 commented on #914
Detected symptom of problem 'aufs-corruption' in 94028958-C2B1-4E12-8678-BB0B1AD0383C/20161108-083303.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related

[2016-11-15 15:13] #914 closed

[2016-11-15 15:22] ijc25 commented on #910
The OSX kernel is telling us that it doesn't support the `Hypervisor.framework` on your hardware in its current configuration for some reason. VMware uses a different virtualisation mechanism which does not rely on the OSX provided functionality (but which does rely on things such as loadable kernel modules, which we want to steer clear of).

Unfortunately there is nothing we can do about the lack

[2016-11-15 15:22] #910 closed

[2016-11-15 15:28] cridenour commented on #949
@ijc25 Thanks for taking a look. No crashes that I am aware of. Definitely not on the Mac, but the upgrade ran without a visible error and started up without me having to restart Docker.app.

[2016-11-15 15:41] ijc25 commented on #900
As @justincormack says this is (probably) possible but is likely to be non-trivial and is not currently a priority for us. I will file a wishlist ticket for this internally. Please :+1: the top comment if you are interested in this feature.

[2016-11-15 15:48] ijc25 commented on #880
@bergman thanks. I can see in your logs that the application has correctly figured out your `mydomain.net` and appears to have passed it as a search domain to the VM, where it appears in `/etc/resolve.conf`.

Looking at the tracing I don't see any attempted lookups which are not  for some `foo.mydomain.net` or well known public ones (google, docker hub etc).

Would you mind double checking that yo

[2016-11-15 15:52] ijc25 commented on #949
Thanks for the additional info. I'm going to start a conversation internally about whether `fsck -y` might be better than `fsck -p` in that it might repair more cases before declaring them unsalvageable. Other than that I'm not sure how else to progress the issue :-/.

[2016-11-15 15:56] cridenour commented on #949
@ijc25 Yea I'm not sure there's anything else that can be done or diagnosed unless there are more cases of this. Otherwise, just bad luck.

[2016-11-15 16:01] ijc25 commented on #949
I've opened a ticket internally (and another one to improve the logging when this occurs).

Since this appears for now to have been a one off I'm going to close, obviously please do reopen if you see this again.

Thanks again for your report.

[2016-11-15 16:02] ijc25 commented on #898
@yallop @djs55 did either of you escalate this?

[2016-11-15 16:08] ijc25 commented on #860
I think this is a duplicate of #727, please subscribe to that issue for further updates.

[2016-11-15 16:08] #860 closed

[2016-11-15 16:15] ijc25 commented on #815
@avaskys thanks for your report and sorry for the slow response. This looks to be the same issue as #883 which was fixed in stable in 1.12.3 and in one of the betas after beta28, certainly it should be fixed in beta30. If you can still reproduce on latest stable of beta then please reopen.

[2016-11-15 16:19] ijc25 commented on #812
As discussed in #799 this is not currently a supported configuration. It seems likely to me that (parts of) the workaround may need to be reapplied whenever `Docker.app` is restarted (including after host restart).

[2016-11-15 16:20] riyazdf commented on #947
thanks for the help @ijc25 - unfortunately the container isn't doing anything so there must be a problem with my filesystem even though I'm not aware of any unexpected crashes.  I'll investigate further.

[2016-11-15 16:25] ijc25 commented on #803
Thanks all for your reports. A 5s delay has the smell of a DNS issue. There have been many improvements to this code between beta28 and beta30 and also improvements to the diagnostics which we gather to aid with cases like these.

Please would you try and reproduce with the latest beta (which is beta30 at the time of writing) and if you can still reproduce upload a fresh diagnostic and tell us the

[2016-11-15 16:28] ijc25 commented on #802
AIUI @justincormack has given the solution to this and there is no further need to track this in docker/for-mac. Please reopen if I am mistaken.

[2016-11-15 16:28] #802 closed

[2016-11-15 16:32] ijc25 commented on #756
@schmunk42 Thanks for your report, sorry for the delay responding.

Unfortunately your diagnose output is for some reason missing the UUID I need to download the logs.

Nonetheless I believe an issue along these lines (settings not updating dynamically, only on factory reset) was resolved in the stable 1.12.3 release. Please could you retest with the latest stable release (1.12.3 at time of writin

[2016-11-15 16:32] #756 closed

[2016-11-15 16:37] bergman commented on #880
I uploaded another one just now, you can search for `debmirror` which is the hostname I was trying to look up (with and without full domain)

[2016-11-15 16:50] ijc25 commented on #880
@bergman thanks, I can see it performing lookups for `debmirror.DomainName` (that literal string) and in the new diagnostic that is what is written to the VM's `/etc/resolv.conf` too.

Interestingly `DomainName` is the _keyname_ in the SC database which contains your actual `mydomain.net` as the _value_. Looks like something is getting confused!

I have escalated this to our internal tracker. Than

[2016-11-15 17:08] ijc25 commented on #745
Hi @ingshtrom, thanks for your report and sorry for the delay in someone getting back to you.

I am assuming that you are running a single node swarm consisting of just your mac, since taking part in a multi node swarm is something which is still work-in-progress for docker for mac. (Sadly I can't tell for sure from the diagnostics, something which we'll address in a future version).

Given that a

[2016-11-15 17:08] #745 closed

[2016-11-15 17:22] remysaissy commented on #802
Well the answer is that it is not possible for a container but that's an answer indeed.
Thanks

[2016-11-15 17:23] ijc25 commented on #729
@oleborup thanks for the report and sorry for the tardiness of the response. I can confirm your observations and also that this behaviour is independent of the state of the "Automatically allow signed software to receive incoming connections".

I'm going to escalate this to an internal ticket.

[2016-11-15 17:31] riyazdf commented on #947
I couldn't figure it out so I went with a factory reset and everything seems to be fine now -- probably some corrupted volume state messing with the engine :/

thanks again @ijc25 for your help!

[2016-11-15 17:31] #947 closed

[2016-11-15 17:31] ijc25 commented on #726
I think this is #933. See https://github.com/docker/for-mac/issues/933#issuecomment-260311428 for more info. In order to switch to the new default you will either need to follow the instructions in that comment or perform a factory reset. I'm unsure with which beta the fix was added so I would encourage you to update to the latest (beta30 at the time of writing).

If you continue to see issues aft

[2016-11-15 17:31] #726 closed

[2016-11-15 17:44] ijc25 commented on #725
@johker01 thanks for the report and sorry for the time taken to get back to you.

Are you still able to reproduce this with beta30 (the latest at the time of writing)?

I'm also a bit perplexed because the report here says
[code]
while the logs in the corresponding diagnostic upload say:
[code]
Although both are old enough now that the distinction is fairly moot it might be that you received a par

[2016-11-15 17:46] ijc25 commented on #693
Closing as a duplicate of #17

[2016-11-15 17:46] #693 closed

[2016-11-15 17:52] ijc25 commented on #664
@dsheets added this to an internal issue some time ago but the labels were not updated, doing so now.

[2016-11-15 17:53] HerbCSO commented on #725
Thanks @ijc25 - I'll look into the workaround described there.

[2016-11-15 17:56] HerbCSO commented on #933
I've been having the same issues and applied the workaround from [this comment](https://github.com/docker/for-mac/issues/933#issuecomment-260311428) - will comment here if I run into problems again.

[2016-11-15 18:04] ingshtrom commented on #745
No Problem! Thank you for taking a look!

You are correct, it is just my mac--single node swarm.

For documentation purposes, I should say that I worked around this by having Docker only start manually. I think by default (or I set it a while back) the Docker daemon will start when the mac starts. For whatever reason, when I turn that off and start Docker manually when I need to use it, my problem

[2016-11-15 18:07] efx opened #953 "docker ps -a hanging indefinitely upon resume from suspend"
### Expected behavior
I expect docker ps to properly respond and not timeout.

### Actual behavior
Upon resuming computer from sleep, I was unable to start any containers. Running `docker ps -a` also times out.
### Information
[code]
diagnostic ID: 9CB9F444-4CA2-4AB9-B5EC-9134E1EB0E32
  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug

[2016-11-15 18:09] efx commented on #953
ha, seems to have fixed itself after I restarted docker for mac.

[2016-11-15 18:09] #953 closed

[2016-11-15 18:22] adamwg commented on #540
Working for me in beta30.

[2016-11-15 18:22] #540 closed

[2016-11-15 19:20] jamshid commented on #936
FWIW because of the beta30 problems I tried switching to a VirtualBox docker with docker-machine, and it also seems to be incompatible with Tunnelblick.

I'm trying Viscosity VPN client now and it seems to be working with my docker-machine docker. Will let you know if I get back to Docker for Mac to see if it works there too.

[2016-11-15 19:33] msimon commented on #930
Hey @ijc25,

I deleted /Library/PrivilegedHelperTools/com.docker.vmnetd. The issue still persisted so I deleted `~/Library/Containers/com.docker.docker` to do a factory reset.

Now the issue still persist, but on top of this the diagnostic return: `failure: Optional("diagnostic: response is not valid JSON")`

Any idea ?

Thanks

[2016-11-15 19:50] maciejkra commented on #916
Well the problem occurs only on OS X it doest not happen on Linux.
I have the same problem, new instances lunched by compose, create the network which overlaps with the address of my registry and in result I am not able to download it ;(

[2016-11-15 20:32] MukulAmbulgekar commented on #916
+1 @maciejkra, docker networks overlap only on Mac.
On Linux same compose file works perfectly.

[2016-11-15 20:56] maximede opened #954 "Docker for mac doesn't restart after upgrade to Version 1.12.3 (13776)"
Hello, After upgrading to the latest version of Docker for Mac this morning, the application is not starting.

### Expected behavior
Docker for mac starts as usual

### Actual behavior

After launching the app, it stays on "Docker starting..."
Tried clicking restart and restarting the app, it did not help.

### Information

Docker for Mac: version: 1.12.3 (583d1b8)
OS X: version 10.12.1 (build: 16

[2016-11-15 21:02] hetenho commented on #954
I have the exact same problem.

[2016-11-15 21:46] kmalakoff commented on #930
I've been running into the same problem with the same error `response is not valid JSON`.

I spent a couple of hours yesterday trying everything I could find in these issues and through Google search including the steps around vmnetd (eg. deleting, restarting the service, changing permissions, etc), but no luck. I had to revert to the legacy approach (eg. virtualbox and docker toolbox) to work aro

[2016-11-15 23:08] msimon commented on #930
@kmalakoff same for me, went back to the toolbox.

[2016-11-15 23:31] maximede commented on #954
Doing this would delete all the images and all the containers, right ?

[2016-11-16 00:35] bgonz opened #955 "WARNING: No kernel memory limit support"
### My Machine Info

iMac Late 2015
3.2 GHz Core i5
32 GB 1867 DDR3 RAM

### Docker Info

$ docker info
Containers: 55
 Running: 14
 Paused: 0
 Stopped: 41
Images: 15
Server Version: 1.12.3
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 215
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: null brid

[2016-11-16 01:21] rallen-temp commented on #371
@wbednarski's comment worked for me, https://github.com/docker/for-mac/issues/371#issuecomment-248404423.

Delete + reset. Did lose all data, but gained some precious 50GB back.

[code]

[2016-11-16 03:34] shaug commented on #949
I just had the same thing happen to me, same version (b30). No warnings. All containers gone.

Diagnostic  ID B09C6F6C-051D-465F-9F0E-D1E8D38119EF

[code]

[2016-11-16 04:08] a1exus opened #956 "docker: Error response from daemon: unknown log opt "gelf-tag" for gelf log driver."
### Expected behavior

I'm trying to follow [Route Docker Logs to ELK Stack Raw's instructions](https://gist.github.com/shreyu86/735f2871460a2b068080) and while trying to run:

`docker run -d --net=host --log-driver=gelf --log-opt gelf-address=udp://$LOGSTASH_ADDRESS:12201 --log-opt gelf-tag="fe" nginx`

I'm getting following error:

### Actual behavior

[code]
### Information

  - Full output of

[2016-11-16 07:42] avaskys commented on #815
Unfortunately I'm still able to reliably reproduce this on 1.12.3. Let me know if you need any additional information to help pinpoint the issue.

[2016-11-16 07:59] zgtios opened #957 "Docker won't start"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

Diagnostic Id: B5632D80-2948-4585-BDA2-FDA0AA5471CE

[2016-11-16 08:02] raszi commented on #933
The same issue happened again with the applied workaround.

[2016-11-16 08:50] AZLisme opened #958 "registry mirror preference does not work [docker for mac]"
### Expected behavior

after i set the registry mirror, docker pulling could be faster

### Actual behavior

nothing happened, slow as always.

### Information

Docker for Mac: version: 1.12.3 (583d1b8)
OS X: version 10.12.1 (build: 16B2555)
logs: /tmp/B5763BE2-3061-4024-BDED-3E442C95A54B/20161116-164348.tar.gz
[OK]     vmnetd
[OK]     dns
[OK]     driver.amd64-linux
[OK]     virtualization VT-X
[

[2016-11-16 10:08] raszi commented on #933
And again :(

*Diagnostic ID*: 5AAC807B-5101-4540-B057-C1FBD773E8D7

[code]

[2016-11-16 13:37] efx commented on #921
I'm seeing this occur upon resuming the mac from sleep overnight:
[code]
I can upload the logs if a private location is available.

[2016-11-16 14:30] justincormack commented on #825
@geertvanheusden are you running `mysql` on a volume shared from the host?

[2016-11-16 14:32] justincormack commented on #825
Diagnostic log messages include:
[code]

[2016-11-16 14:32] justincormack commented on #825
cc @dsheets

[2016-11-16 14:40] ijc25 commented on #936
@jamshid thanks, more data on different VPNs is always appreciated.

[2016-11-16 14:43] geertvanheusden commented on #825
@justincormack Yes, `/var/lib/mysql` is mounted as a volume on our host.

[2016-11-16 14:47] Druotic commented on #483
Any updates? Even a mention that this feature has been abandoned would be better than nothing.

[2016-11-16 14:50] justincormack commented on #825
ok, well I think the short term workaround may be to avoid that if possible, while we work out what is causing the hangs, which seem to be related to mysql fuse traffic to the VM.

[2016-11-16 14:51] ijc25 commented on #916
Thanks @maciejkra for the extra context. I had thought this was just a minor usability wrinkle (which I had already escalated internally and forgot to mention) but the interaction with `compose` is a more interesting case. I've added that case to the internal ticket and will reopen.

I think it is likely also the case that even on Linux you can end up overlapping with networks which are routed via

[2016-11-16 15:29] ijc25 commented on #930
@msimon / @kmalakoff are either of you able to upload a diagnostic manually by running `~/Library/Group Containers/group.com.docker/bin/docker-diagnose -u` from a terminal?

Performing a factory reset might also help here (ideally after trying the manual diagnostic).

[2016-11-16 15:39] ijc25 commented on #949
@shaug From your logs your issue is not the same as this one even though the symptoms might be similar:

[2016-11-16 15:39] #949 closed

[2016-11-16 15:40] ijc25 commented on #815
@avaskys thanks for the update. Please could you upload a new diagnostic with the newer version.

[2016-11-16 15:44] dsheets commented on #483
The feature has not been abandoned. It is still on the roadmap. Thanks for your patience.

[2016-11-16 16:02] D3nn opened #959 "docker for mac beta (1.12.3-beta30) network timeout pulling image"
### Expected behavior

[code]

### Actual behavior

[code]

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
     Diagnostic ID:  6305AAAB-A335-4B28-831D-F4306E7A32B2
     Diagnostic output:

[code]

  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

[2016-11-16 16:03] ijc25 commented on #933
@raszi thanks for the report and additional diagnostics. Looking at your logs it seems like not long after waking your DNS settings changed (not unexpected, you probably moved to another location) and we rebooted the VM in order to apply the change.

Unfortunately it seems like something went wrong during the reboot process and things didn't recover. I've escalated this case to a new internal issu

[2016-11-16 16:09] dsheets commented on #825
This looks like a hang/lock-up of either `transfused` or `osxfs` without a full-blown failure which would cause `Transport endpoint not connected` for similar error. Log analysis is not terribly fruitful in this case for a variety of reasons.

Would it be possible to reproduce the behavior you see with a shareable configuration/repository? Getting to the bottom of this issue will likely require tr

[2016-11-16 16:09] srisiva opened #960 "docker issue cant run docker compose"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-11-16 16:27] ijc25 commented on #690
@whitelynx Thanks for your report and sorry for the delay getting back to you

I think the `Fatal unexpected exception: Socket.Closed` is actually just a consequence of an earlier issue which I see in your logs:
[code]

I think unless this rings a bell wrt possible application level port conflicts this is therefore a variant of #670. I'll close as a dup now, if you disagree it would be useful if y

[2016-11-16 16:27] #690 closed

[2016-11-16 16:35] brmzkw commented on #865
FYI I haven't used docker a lot since I created the issue, but it didn't occur again.

[2016-11-16 16:38] #865 closed

[2016-11-16 16:39] ijc25 commented on #111
Hi @odbol thanks for your report and sorry for the rather lengthly delay getting back to you.

Are you able to reproduce this with the latest stable release (1.12.3 at time of writing)?

Your logs show symptoms of various things which have been resolved or improved in more recent versions (#7, #785). It's also possible that you would benefit from the fix described in https://github.com/docker/for-

[2016-11-16 16:51] ijc25 commented on #124
@ovanes, thanks you for the additional information. sorry that nobody got back to you at the time.

Are you still able to reproduce this with the latest beta? There have been many improvements to networking stuff between beta26.1 and the latest beta (beta30 at time of writing).

If you can still repro then a new diagnostics upload would be appreciated since we have also improved the information co

[2016-11-16 17:00] justincormack commented on #955
Can you provide a way to replicate directly on Docker for Mac?

[2016-11-16 17:01] ijc25 commented on #955
Could you please run Diagnose & Feedback from the :whale: menu, select Diagnose & Upload, and paste the results of the diagnostic run (including diagnostic ID) back here? This will help us understand what is happening with the Docker application. Thanks!

Are you able to reproduce without kalabox? It seems to want me to click through some sort of registration to gain access.

[2016-11-16 17:01] ijc25 commented on #955
Oops, looks like @justincormack beat me to it!

[2016-11-16 17:10] ijc25 commented on #203
Logs contain
[code]
So it seems like the new network is conflicting with something.

@ChadJMiller are you able to reproduce with the latest stable (1.12.3 at time of writing)? If so then please could you upload a fresh diagnostic take with that version -- we now collect more useful and relevant info which I hope will give a clue what is conflicting and why.

[2016-11-16 17:12] ijc25 commented on #266
@vikas027 Thanks you for the report and sorry for the delay. I believe this was fixed in the 1.12.3 stable update. Please reopen if this is not the case for you.

[2016-11-16 17:12] #266 closed

[2016-11-16 17:15] ijc25 commented on #281
@justincormack did you get a chance to look into this? Do we have a corresponding internal ticket already?

[2016-11-16 17:20] ijc25 commented on #307
This sounds a lot like https://github.com/docker/docker/issues/27779. @thaJeztah does that sound likely to you?

[2016-11-16 17:24] justincormack commented on #281
I can't replicate any difference with `pull` on my machine (with our reasonably fast internet connection at the office), downloading a single layer 250MB hub image with docker pull and with regextract, it is 29.203s vs 29.633s which is pretty close. So I don't really know how to investigate at this point either...

[2016-11-16 17:26] karolsojko commented on #281
From that time I've installed a fresh OS X and a fresh Docker For Mac and seems to be fixed

thanks guys for looking into this

[2016-11-16 17:26] #281 closed

[2016-11-16 17:29] tjratch commented on #307
I've completely abandoned Docker for Mac and have reverted back to using Kitematic. Docker for mac ended up eating all my CPU and Memory and was somehow slower than Kitematic.

[2016-11-16 17:29] ijc25 commented on #309
Hi @masonjm thanks for the report and sorry for the delay in getting back to you.

Unfortunately your logs seem to consist of lots and lots (and lots!) of:

"TMCCFS 2916 ERROR needToScanThisExecve ==<VARIOUS DOCKER 4 MAC COMPONENT>" and similar needToScanThisClose. Seems like perhaps some antivirus or IDS is interfering with the operation of Docker?

Are you still seeing this with the latest stabl

[2016-11-16 17:31] ijc25 commented on #309
Oh wait, or knew your nick was familiar, you have also reported #747. Given that in that issue you appear to have gotten further than you had in this ticket I suppose you managed to get past this issue. I'm going to close on that basis, but if there is stil something unique (i.e. not #747) here please do reopen.

[2016-11-16 17:31] #309 closed

[2016-11-16 17:39] zbeckman opened #961 "BUG: Docker for Mac stable or beta locks up (beachball) #28481"
**Description**

After downloading either Docker for Mac stable *or* beta, running the Docker app appears to fail; no app starts, no Docker whale appears in the toolbar. Docker does not appear to be installed (e.g.: no links appear in /usr/local/bin). Running a `ps ax|grep Docker` reveals:

[code]

**Steps to reproduce the issue:**
1. Download the latest release (stable) or beta release
2. Drag Do

[2016-11-16 17:39] zbeckman commented on #961
More info (and a fix, but I think this is still a legit bug):

**Resolution**

After reading up on #8 and #107, I tried a lot of hacking. Finally... after many attempts, doing this:

[code]

And running Docker.app seems to have solved the problem. Docker is now functioning correctly as far as I can tell.

Seems there should be some kind of check in the app so a dead process and a beachball is not

[2016-11-16 18:18] feifangit commented on #921
same issue here
[code]

[2016-11-16 18:33] lynxoid commented on #35
I am seeing this behavior as well:

[code]

System info:
[code]

[2016-11-16 18:38] lynxoid commented on #35
Removing all docker files in `/Users/filippod/Library/Containers/com.docker.*` solved the issue.

[2016-11-16 18:52] HerbCSO commented on #933
I've also run into problems after removing the workaround as per [this comment](https://github.com/docker/for-mac/issues/933#issuecomment-260311428).

[code]

It's entirely possible that I had DNS changes as well - I'm usually connected to a VPN that resets when my computer wakes up from sleep.

[2016-11-16 19:02] tuwannu commented on #887
I'm facing similar issue here, com.docker.hyperkit spends ~2% constantly.

About every 30 seconds or so, the process would go up to ~40-50% CPU Utilization for 2-3 seconds, then drops back to ~2%.

Similarly at the same time that com.docker.hyperkit peaks up during idle, com.docker.osxfs would go up to 20-30% then drops back to 0%.

Diagnostic ID: EA1866A0-AA9F-4463-AC3E-409311271528
OS: macOS 10.

[2016-11-16 19:11] avaskys commented on #815
New diagnostic uploaded.

[code]

[2016-11-16 21:04] bgonz commented on #955
No problem - thanks for looking into this:

Docker for Mac: version: 1.12.3 (583d1b8)
OS X: version 10.11.6 (build: 15G31)
logs: /tmp/8A67A8D1-A574-4D24-AAB7-4AE72A935E01/20161116-122101.tar.gz
[OK]     vmnetd
[OK]     dns
[OK]     driver.amd64-linux
[OK]     virtualization VT-X
[OK]     app
[OK]     moby
[OK]     system
[OK]     moby-syslog
[OK]     db
[OK]     env
[OK]     virtualization kern.hv

[2016-11-17 03:34] Coufu commented on #955
I would like to know as well. It doesn't really affect how it works, but it's annoying.

[2016-11-17 05:08] drpain opened #962 "Docker no longer waking up after sleeping"
### Expected behavior
The docker containers used to work after you put your Mac to sleep. I would open my lid, login, and for example my mysql container would be running and I could continue coding.

### Actual behavior
It appears that the container is still running if you ``docker ps``, but you cannot access it through the exposed port anymore.

### Information
  - Full output of the diagnostics

[2016-11-17 10:48] geertvanheusden commented on #825
Hi @dsheets,

Good news, I created a reproducible contained scenario.
I started of by creating a mysql stress test container (because mysql was the one that kept crashing when using a local volume) but it didn't crash with one container. "Luckily" it does with 4 parallel mysql containers! ;-)

https://github.com/geertvanheusden/mysql-stress-test

You can just run `docker-compose up` to start the t

[2016-11-17 13:47] blueredcat commented on #371
This is still an issue. Very large qcow file.

[2016-11-17 14:18] peterdavey opened #963 "Docker remains in starting state"
### Expected behavior
docker status is eventually running

### Actual behavior
docker status remains in starting indefinitely

### Information
Docker for Mac: version: 1.12.3 (583d1b8)
OS X: version 10.11.6 (build: 15G31)
logs: /tmp/93416264-D561-4CC4-9D3D-E94CBF51C786/20161117-151316.tar.gz
failure: docker ps failed: (Failure "docker ps: timeout after 10.00s")
[OK]     vmnetd
[OK]     dns
[OK]

[2016-11-17 14:20] peterdavey commented on #963
logs: /tmp/93416264-D561-4CC4-9D3D-E94CBF51C786/20161117-151316.tar.gz
[20161117-151316.tar.gz](https://github.com/docker/for-mac/files/597574/20161117-151316.tar.gz)

[2016-11-17 14:25] peterdavey commented on #963
Fixed by preferences -> Uninstall / Reset -> select factory reset following instructions then restart

[2016-11-17 14:25] #963 closed

[2016-11-17 14:34] rbpaservices opened #964 "Update Error"
### Expected behavior
Check for update brings up update available. Download seems to run.
### Actual behavior
Message box displayed with Update Error message, no other information
### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Ste

[2016-11-17 14:47] IgorGanapolsky commented on #5
I am getting the same error with a Gradle build on Docker.  Errors like:

[2016-11-17 17:14] b0elter commented on #933
I think I may also be experiencing this issue after DNS/route/VPN changes.

Is there anything I can inspect to confirm my issue is related to DNS/route/VPN?

I also had the following occur when trying to diagnose:
`Failure: Could not upload diagnostic data to remote server (docker-diagnose exit code is 1)`

[2016-11-17 17:58] bunchjesse opened #965 "Host volume mount painfully slow"
Here's how I started the container:

[code]

**Test 1: Write to container outside of any mount**

[code]

**Test 2: Write to a regular docker volume**

[code]

**Test 3: Write to a host volume mount**

[code]

This issue makes D4M painfully slow in development when it makes sense to use a host mount.

[2016-11-17 19:11] garaden commented on #922
I've reported https://youtrack.jetbrains.com/issue/PY-21505 to track the issue on PyCharm's side.

As an aside, is there a reason the TTY in `~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/tty` is no longer documented? A blog post pointed it out (https://blog.bennycornelissen.nl/docker-for-mac-neat-fast-and-flawed/ *), and that helped me figure out how big that copy oper

[2016-11-17 20:10] stvleung commented on #727
I just want to comment that I also experienced this issue, but the latest beta: `Version 1.12.3-beta30.1 (13946)` fixed it for me. Thanks!

[2016-11-17 23:51] thaJeztah commented on #307
@ijc25 does look plausible yes

[2016-11-18 01:46] mchiang0610 commented on #964
@rbpaservices Thanks for submitting this.

Do you have a way to reproduce this? I'm unable to reproduce this.

[2016-11-18 03:31] rbpaservices commented on #964
No, but I was able to get past it eventually and completed the update.  I
would like to suggest that some error code be presented to help  with this
type of error.

Thanks

On Nov 17, 2016 8:46 PM, "Michael Chiang" <notifications@github.com> wrote:

@rbpaservices <https://github.com/rbpaservices> Thanks for submitting this.

Do you have a way to reproduce this? I'm unable to reproduce this.

—
You

[2016-11-18 05:37] mchiang0610 commented on #964
@rbpaservices Glad it worked out for you! Thanks for using Docker.

[2016-11-18 08:10] bsrdjan opened #966 "Proxy settings checkbox"
Just a small feature request for the usability improvement. I need often to activate and deactivate proxy, in Preferences/Advanced tab of the docker OSX client. To activate I have to fill three fields (http, https proxy and no proxy) and when I deactivate to delete them. It would be nice having also a checkbox, to activate and deactivate proxy, not always to copy/paste three proxy strings.

[2016-11-18 10:13] dsheets commented on #966
Thanks for the feature request. I believe this is a duplicate of #908. Please subscribe to that issue for updates. If you think that #908 does not cover your use case, please feel free to re-open this issue with further explanation. Thanks!

[2016-11-18 10:13] #966 closed

[2016-11-18 10:34] ijc25 commented on #606
Hi @StokeMasterJack,

Thanks for the report. Please can you provide repro steps in terms of the exact base images (or even Dockerfiles) you are using and the commands you are using to start the containers as well as the shell from which you are running the mysql command you mention above (e.g. is it on the Mac or in a container?)

[2016-11-18 10:50] ijc25 commented on #887
Thanks for the reports. I assume that "hyperkit" means specifically `com.docker.hyperkit` and not the `com.docker.osx.hyperkit.linux` supervisory process. Given that a 2% background CPU usage when idle is a bit unexpected.

On my 10.11 system I see more like 0.3-0.4% from `com.docker.hyperkit` when idling (the VM will never be 100% idle, so some low level of CPU usage is to be expected). I only ha

[2016-11-18 10:59] dsheets commented on #965
This is a duplicate of #77. Please subscribe to that issue to follow progress.

[2016-11-18 10:59] #965 closed

[2016-11-18 11:02] ijc25 commented on #815
Thanks for the updated diagnostic. It contains:

[code]
Which is https://github.com/docker/vpnkit/issues/131 and https://github.com/docker/for-mac/issues/578. The upstream issue has been closed so please subscribe to #578 for updates when it reaches a Docker for Mac beta.

[2016-11-18 11:02] #815 closed

[2016-11-18 11:09] ijc25 commented on #727
@stvleung thanks for the info.

@sebastienDevibim @martintrojer @andreychernih @tadayosi @spassig Are you able to try beta30.1 and if so do you also see an improvement? Be aware that if you are switching from the stable to beta channel then a factory reset will be required which will lose your current containers.

[2016-11-18 11:12] ijc25 commented on #307
@thaJeztah thanks for confirming. This should therefore be fixed in beta when docker for mac switches to the 1.13 rcs and in stable once 1.13 proper is released.

[2016-11-18 11:19] djs55 commented on #578
The `List.nth` failure should be fixed in both beta 30 and beta 30.1.

[2016-11-18 11:26] ijc25 commented on #954
@maximede yes, a factory reset would delete all images and containers. However your diagnostic contains errors suggesting that the docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

Please ing to reopen if

[2016-11-18 11:36] ijc25 commented on #956
Thanks for you report @a1exus.

This looks to me to be either a docker engine issue or the gelf logger plugin or an issue with the gist you are following and not with docker for mac. Please report to [the Docker engine issue tracker](https://github.com/docker/docker/issues/) (which I think is where gelf is supported?).

A bit of web searching found https://github.com/aws/amazon-ecs-agent/issues/25

[2016-11-18 11:36] #956 closed

[2016-11-18 11:40] ijc25 commented on #957
Detected symptom of problem 'symlinks-are-not-correctly-installed' in B5632D80-2948-4585-BDA2-FDA0AA5471CE/20160822-125656.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

P

[2016-11-18 11:40] #957 closed

[2016-11-18 11:44] ijc25 commented on #964
Did the dialog literally only contain the text "Update Error"?

I don't think we can action this any further without a diagnostics upload (triggered from the whale menu). So if you would like us to investigate further please provide the diagnostic id.

[2016-11-18 11:56] ijc25 commented on #352
Hi @scrotty thanks for your report and sorry for the delay in getting back to you.

This limit is odd because the default size of the backing disk image we create is 64GB, and AFAIK it always has been.

It's possible that the migration from toolbox resulted in a smaller sized disk being imported from there? If so then a factory reset would reset you to the default 64G, at the expense of losing you

[2016-11-18 11:56] #352 closed

[2016-11-18 11:56] MagnusS commented on #964
An "Update error" dialog will be shown if there's a problem with the downloaded update (e.g. due to a network issue). Updating again will download a new file and should resolve the issue if the download completes successfully.

[2016-11-18 12:01] ijc25 commented on #355
Hi @mpalamara-otg, thanks for your report and sorry for the delay in getting back to you.

Are you still able to reproduce this issue with the latest stable (1.12.3 at the time of writing)? Your logs show various older issues (probably unrelated to what you have reported) which have been fixed since and there has also been many improvements to the storage subsystem since 1.12.0-a.

After upgrading

[2016-11-18 12:06] rbpaservices commented on #964
You are welcome.  BTW I am just starting out with Eclipse Che. So far I
like it

On Nov 18, 2016 12:38 AM, "Michael Chiang" <notifications@github.com> wrote:

[2016-11-18 12:08] ijc25 commented on #512
@TJ-C thanks for your report and sorry for the delay in getting back to you.

I believe this issue was fixed in a subsequent stable release some time ago. I've just tried it myself with beta30 where it is also fine.

Can you reproduce this issue with the latest stable (1.12.3 at time of writing)? I'm going to assume yes and close this issue now but if not then please do reopen (with a new diagnost

[2016-11-18 12:08] #512 closed

[2016-11-18 12:11] ijc25 commented on #922
@garaden the recommended way to get a host shell on docker (any variant, not just on mac) is to use something like `docker run -it --privileged --pid=host debian nsenter -t 1 -m -n sh`.

[2016-11-18 12:19] ijc25 commented on #631
@fmozturk sorry for the delay. If you are still have issues please could you try a new diagnostic upload with the latest stable (1.12.3) which should be able to collect a full set of logs even on Sierra and generally collects much better diagnostics.

[2016-11-18 12:25] ijc25 commented on #650
Hi @nigelgeorge sorry for the delay in getting back to you.

Are you still able to reproduce this with the latest stable (1.12.3 at time of writing)?

If so then please could you try and provide a minimised repro case based on your shell scripts and Dockerfiles which demonstrates the issue. Obviously `docker build` works fine for many people, including numerous occurrences in our own automated tes

[2016-11-18 13:03] schmunk42 commented on #756
Went back to `docker-machine` because of other issues, can promise to get my hands on this in the next days...

[2016-11-18 13:29] ijc25 commented on #958
@AZLisme thanks for your report.

I can see in your logs that you have configured a registry mirror (not under daocloud.com though, which doesn't seem to habve anything to do with docker?) and that it has been correctly propagated to the `daemon.json`. I can also see the daemon attempting to talk to that mirror:
[code]

So the daemon has timed out talking to your mirror and fallen back to `registr

[2016-11-18 13:32] johanneswuerbach commented on #944
Looks like `1.12.3-beta30.1 (13946)` solved it for me, thanks and keep up the great work 👏

[2016-11-18 13:32] #944 closed

[2016-11-18 13:33] djs55 commented on #472
Thanks for your patience and your help so far. The DNS forwarder was revamped in beta 30.1 to fix several DNS problems, including one which could cause performance problems. If you have the time, could you give it a try and -- if the problem still manifests -- upload another diagnostics report? The new beta includes better diagnostics too.

Thanks again for your patience with us.

[2016-11-18 13:36] ijc25 commented on #959
@D3nn Thanks for your report.

There were some issues with DNS lookup in beta30 which have been addressed in beta30.1 which was released yesterday. Does that update resolve things for you?

[2016-11-18 13:38] ijc25 commented on #960
Could you please run Diagnose & Feedback from the :whale: menu, select Diagnose & Upload, paste the results of the diagnostic run (including diagnostic ID) back here and fill in the issue template with details of what you are doing and what did/did not happen? This will help us understand what is happening with the Docker application. Thanks!

I am closing this issue until the minimum necessary in

[2016-11-18 13:38] #960 closed

[2016-11-18 13:47] ijc25 commented on #933
@b0elter unfortunately the diagnostics program sometimes incorrectly reports that it has failed to upload (we have an internal issue already to fix this) so it is worth providing your diagnostic ID anyway.

[2016-11-18 13:49] ijc25 commented on #962
This seems to be the same issue as #933 eventually converged upon (in https://github.com/docker/for-mac/issues/933#issuecomment-260985854). Please subscribe to that issue for further updates.

You might also want to consider an upgrade to 10.11.6 (or 10.12 if you prefer) and then apply the defaults update described in https://github.com/docker/for-mac/issues/933#issuecomment-260311428 since we bel

[2016-11-18 13:49] #962 closed

[2016-11-18 13:57] ijc25 commented on #515
@Kushmaro thanks for your suggestions, I have added a note to an existing internal ticket which is tracking possible solutions to this problem. Please could you elaborate on your use case so that we can ensure that it is taken into account.

@ascotan @vespasien you two too please.

[2016-11-18 14:01] dsheets commented on #825
Hi @geertvanheusden thanks a lot for your great reproducer! I observe the problem here and we've opened an internal ticket and done some investigation so far.

[2016-11-18 14:02] ijc25 commented on #955
It seems like it would be best if a Kalabox developer were encouraged to come here and to collaborate on a solution.

[2016-11-18 14:11] ijc25 commented on #961
@zbeckman thanks for the report. I think you are right to associate this with #8 and #107, I think #61 is also relevant. I've added a note about your case to our internal ticket tracking those issues.

[2016-11-18 14:13] ijc25 commented on #630
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-18 14:13] #630 closed

[2016-11-18 14:13] ijc25 commented on #682
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-18 14:13] #682 closed

[2016-11-18 14:14] ijc25 commented on #759
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-18 14:14] #759 closed

[2016-11-18 14:14] ijc25 commented on #836
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-18 14:14] #836 closed

[2016-11-18 14:15] ijc25 commented on #844
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-18 14:15] #844 closed

[2016-11-18 14:15] ijc25 commented on #846
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-18 14:15] #846 closed

[2016-11-18 14:16] ijc25 commented on #868
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-18 14:16] #868 closed

[2016-11-18 14:17] ijc25 commented on #877
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-18 14:17] #877 closed

[2016-11-18 14:18] ijc25 commented on #878
The fixes in beta29.3 ended up in stable 1.12.3 I believe, closing.

[2016-11-18 14:18] #878 closed

[2016-11-18 14:18] ijc25 commented on #889
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-18 14:18] #889 closed

[2016-11-18 14:39] #801 closed

[2016-11-18 15:08] ijc25 commented on #13
Our internal issue tracking this was closed in mid-September, so the fix should be in all recent betas and stable releases. Closing, please reopen if it is not fixed for you.

[2016-11-18 15:08] #13 closed

[2016-11-18 15:12] ijc25 commented on #73
@ascendantlogic were you able to address this by switching from polling to inotify?

[2016-11-18 15:14] ijc25 commented on #87
Closing as there was no response to https://github.com/docker/for-mac/issues/87#issuecomment-245905139

[2016-11-18 15:14] #87 closed

[2016-11-18 15:17] ijc25 commented on #133
This appears to be the same underlying issue as #93.

[2016-11-18 15:17] #133 closed

[2016-11-18 15:20] ijc25 commented on #171
Closing as dup of #155.

[2016-11-18 15:20] #171 closed

[2016-11-18 15:22] ijc25 commented on #515
Closing as dup of #155. Please subscribe there for further updates

[2016-11-18 15:22] #515 closed

[2016-11-18 15:24] ijc25 commented on #93
@StefanScherer In the meantime there have been fixes in this area made to both docker for mac and docker compose. It would be very interesting if someone who can reproduce this (no one who has tried internally has been able to do so) could retest with the latest stable docker for mac (1.12.3 at time of writing) or latest beta (beta30.1) and the included version of compose.

The beta is particularl

[2016-11-18 15:28] ijc25 commented on #343
I believe this fix was in the 1.12.3 stable release.

[2016-11-18 15:28] #343 closed

[2016-11-18 15:30] djs55 commented on #932
There was a regression in beta 30 where if the host has both an IPv4 nameserver and an IPv6 nameserver, the IPv6 request would fail and the IPv4 request would then be cancelled. This regression has been fixed in the latest beta 30.1 -- could you update to beta 30.1 and let me know how you get on? Note we still don't have first-class support for IPv6, but hopefully we can at least peacefully co-exi

[2016-11-18 15:34] ijc25 commented on #492
Very similar usecase to #812, although not precisely so not sure about dedupping them.

[2016-11-18 15:35] ijc25 commented on #543
AIUI we have sorted this out by talking to the anti virus vendors and I've not heard of an instance of anything like this in more recent betas or stable releases so closing. Please reopen if antivirus gets uppity again.

[2016-11-18 15:35] #543 closed

[2016-11-18 15:37] ijc25 commented on #566
These have no been included with the release bundle in docker/docker and the plan is to therefore end up shipping these in the 1.13 version of docker for mac.

[2016-11-18 15:40] ijc25 commented on #655
Detected symptom of problem 'aufs-corruption' in D03FD8EB-A28F-4BB6-AEBA-A7F323485561/20160916-104351.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related

[2016-11-18 15:40] #655 closed

[2016-11-18 15:42] ijc25 commented on #661
I think this is the same underlying issue as is tracked in #93 so closing as a dup of that, please subscribe there for further updates.

Note also https://github.com/docker/for-mac/issues/93#issuecomment-261558230.

[2016-11-18 15:42] #661 closed

[2016-11-18 15:47] ijc25 commented on #676
This was fixed in 1.12.3

[2016-11-18 15:47] #676 closed

[2016-11-18 15:52] ijc25 commented on #713
@motin Do you have an antivirus program or something which is responsible for quarantining things like this? On some earlier betas we had issues with some antivirus software reporting false positives with some Docker components. I believe we have no addressed this with the anti-virus vendors and it hasn't been seen in more recent betas or stable releases.

Are you still seeing this with current re

[2016-11-18 15:53] ijc25 commented on #718
Thanks for your report. This is the same as #687, please subscribe there for further updates.

[2016-11-18 15:53] #718 closed

[2016-11-18 15:55] ijc25 commented on #723
@djs55 is this the same as #61 or is it something different?

[2016-11-18 15:59] ijc25 commented on #754
@laugimethods did a reset to defaults solve the aufs issue as expected? It would be worth trying the latest stable (1.12.3 at the time of writing) or even beta (beta30.1) since as well as aufs related fixes  they incorporate newer versions of the docker engine and therefore various swarm bug fixes.

Please let us know if you still see this with the latest versions.

[2016-11-18 16:01] #757 closed

[2016-11-18 16:04] ijc25 commented on #791
This is #578, a fix is already available in beta30. Please subscribe to #578 for further updates regarding the fix propagating to stable.

[2016-11-18 16:04] #791 closed

[2016-11-18 16:10] belooussov commented on #155
+1, interested in the fix

[2016-11-18 16:12] ijc25 commented on #828
@ilg-ul thanks for the additional info. I've taken a look through the logs with timestamp 20161103-185130 but nothing stands out as an obvious issue.

A time of failure along to correlate with a diagnostic id would indeed be useful. As would the actual failing command, thanks.

Many of the logs should be visible in the macos `console` command. VM logs, such as `docker.log` should be in `~/Library/

[2016-11-18 16:13] ijc25 commented on #830
@jwilso thanks for your report. I believe this has been fixed in the latest stable (1.12.3). Please reopen if that is not the case for you.

[2016-11-18 16:13] #830 closed

[2016-11-18 16:15] ilg-ul commented on #828
I am currently using the beta versions and, so far, did not encounter such problems; I suggest we close this ticket.

[2016-11-18 16:18] ijc25 commented on #869
@bauerpl FYI I've added the more-info tag in response to @dsheets question above. Issues with that tag are automatically closed 14 days after the tag was added.

[2016-11-18 16:20] fmozturk commented on #631
I did not have any issue after I upgrade to 1.12.2. Now I run 1.12.3 and no problem. Beside I can say, 1.12.3 feels like more smooth.

[2016-11-18 16:20] #631 closed

[2016-11-18 16:22] ijc25 commented on #871
@jamshid I tried to reproduce with beta30 with:
[code]
followed by
[code]
and cannot reproduce:
[code]

There might be something interesting or different about your `mycontainer`. Can you provide any details?

[2016-11-18 16:25] ijc25 commented on #890
@ebriney has the fix for the gui crash been released in a beta (or even stable)? Please could you update the status labels to reflect reality (I guess either `3-fixed` or one or both of `4-fix-released-in-*`?

[2016-11-18 16:30] ijc25 commented on #894
I expect that Parallels likely installs kernel modules which interfere somehow with OSX's native Hypervisor.framework (much like older virtual box 4.x modules did). Even shutting down Parallels probably doesn't unload those modules, maybe it is possible to do it manually though?

Unfortunately I think it is unlikely we can address that within Docker for mac. Have you reported this to one or both o

[2016-11-18 16:33] asyazwan commented on #932
Can confirm IPv6 is working again with 30.1.

[2016-11-18 16:34] ijc25 commented on #828
@ilg-ul Thanks, closing.

[2016-11-18 16:34] #828 closed

[2016-11-18 16:39] ilg-ul commented on #894
nope.

given past experience with Apple, I guess that, since Docker is affected, they'll ask me to report the problem to... Docker :-(

[2016-11-18 16:47] djs55 commented on #926
Beta30.1 has fixed a number of bugs in this area. When I run the test example I now see:

[code]
and
[code]
and
[code]
Note the source ports received in the container (`10001` and `10002`) are preserved properly.

Please try beta 30.1 and let me know what you think. Thanks for using Docker for Mac!

[2016-11-18 16:49] ijc25 commented on #444
Closing as per slack discussion with @mchiang0610

[2016-11-18 16:49] #444 closed

[2016-11-18 17:02] maximede commented on #954
@ijc25 Just tried the command but the symlink was already present

[code]

[2016-11-18 17:30] ijc25 commented on #954
`/var/log/docker.log` contains:

and the docker daemon appears to have died/exited. I think this relates to https://github.com/docker/docker/issues/24132 but it's unclear how/why this certificate has expired. I'm fairly sure that a factory reset would "fix" this issue at the expense of throwing away your existing containers and pulled images.

It seems like you may have had some residual swarm con

[2016-11-18 17:32] maximede commented on #954
No worries, do you want me to run anything / send you any log before I do the factory reset ?

[2016-11-18 17:37] ijc25 commented on #954
@maximede

Entering a privileged shell with:
[code]

and running

[code]

might be interesting, I'm curious what the expiry time time on that crt might be.

[2016-11-18 17:39] maximede commented on #954
well, docker is not running :)

[2016-11-18 17:40] ijc25 commented on #954
Doh! `screen ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/tty` should get you a shell.

[2016-11-18 17:41] maximede commented on #954
Here you go. Looks like it expired `Nov 10 23:30:00 2016 GMT`

[code]

[2016-11-18 17:45] ijc25 commented on #954
Thanks, that does correlate rather suspiciously closely with those grpc messages starting to show up in your logs about 20 mins later.

Do you remember how/when you initialised swarm mode? Sadly the diagnostics bundle does not collect much useful swarm mode info (I coincidentally improved that this week so the next betas should be better in this regard).

[2016-11-18 17:46] garaden commented on #922
@ijc25 Ah, ok. Thank you! I came across that command later, but assumed it wouldn't work in this situation since `docker ps` wasn't working. Turns out it works fine. And if it hadn't, starting it in advance probably would have worked.

...actually, when I tested running the privileged container in advance, I didn't reproduce the problem.

Just tried it again, and huh, no repro in that situation. W

[2016-11-18 17:56] garaden commented on #922
Never mind, just reproduced it that way this time. Still, useful information.

[2016-11-18 18:10] maximede commented on #954
looks like it was in August

`2016-08-12 16:35  docker swarm init`

[2016-11-18 18:21] lmakarov commented on #444
@ijc25, @mchiang0610 do you guys mind elaborating on why this is being closed as a "won't fix"?

[2016-11-18 19:31] StefanScherer commented on #93
@ijc25 I'm using Docker for Mac Version 1.12.3 (13776) right now. I cannot reproduce the problem. I'm closing this now.

[2016-11-18 19:31] #93 closed

[2016-11-18 19:58] flxfxp commented on #444
Indeed. It would be great to update the participants and keep this process transparent.

[2016-11-18 20:34] D3nn commented on #959
@ijc25 Thanks for the quick response.

Other than getting hung up when restarting after the upgrade (which was fixed by quitting docker and manually restarting), so far the DNS resolution seems to be working OK while at work.

If you would, please keep this open until I can make sure it also works at home on this system (as that's when I first saw the issue).

FYI.  Here's some output that looks r

[2016-11-18 21:34] connercowling opened #968 "docker will not start"
### Expected behavior

Docker starts up on boot.

### Actual behavior

"Docker starting..." indefinitely, even after restarting, quitting, reinstalling

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

Here's the diagnose output

[code]

[2016-11-18 21:57] blueshirts commented on #968
Ditto...

[2016-11-18 22:52] dearfrankg opened #969 "cannot access nginx on docker-for-mac using mydomain"
### Expected behavior

I should be able to access nginx running on docker using mydomain

### Actual behavior

I cannot access nginx running on docker using mydomain

### Information

I think it's a macos firewall issue

### Steps to reproduce the behavior

video of the behavior is here: http://screencast.com/t/lQ8DplxPu

it takes a minute for the video to load

[2016-11-19 01:39] AZLisme commented on #958
@ijc25 thanks so much for responding.

By "slow" I mean: if I use default registry, it takes several hours to pull an images(around 500mb), due to network condition connecting abroad  sites in China.

daocloud.com is Chinese docker registry mirror which accelerate the download (takes 30s to download same image).

According to your suggestions, I made some attempts:

1. change my registry mirror ba

[2016-11-19 01:48] AZLisme commented on #958
Sorry, it's `https://www.daocloud.io`, my typo.
But the problem remains.

[2016-11-19 02:46] ascotan commented on #515
Commenting on a closed ticket :/ however as per request:

my use case:
I have a DOCKERFILE that sets an ENTRYPOINT on sshd. I uses this as part of a vagrant 'docker provider' to generate a container and run it.  Once the container is up I use a 'ansible_local' provisioner to provision the container. (I realize this is not the kosher docker way, however, I'm doing this as a halfway house for using

[2016-11-19 05:46] samchang8826 commented on #926
I did verified my project on beta30.1, it works well, thanks for your great work!

[2016-11-19 20:50] sebastienDevibim commented on #727
@ijc25 Seems ok for me thanks for the fix !

[2016-11-19 22:13] jmaclabs opened #970 "Docker for Mac daemon restart fails due to bad response from engine"
### Expected behavior
Restarting Docker for Mac completes successfully

### Actual behavior

→ docker build ...
Error response from daemon: Bad response from Docker engine

Restart Docker...restart never completes (whale icon animates continuously).

### Information

  - Dockerfile is extremely basic for Python Flask app
`FROM ubuntu:latest
USER root
EXPOSE 8080
RUN echo 'Launching...'

RUN apt-ge

[2016-11-19 22:14] jmaclabs commented on #968
I just filed an issue, might be a duplicate of this one. My issue has more/full details: https://github.com/docker/for-mac/issues/970

[2016-11-19 23:03] jmaclabs commented on #970
I followed some instructions from https://github.com/docker/for-mac/issues/8 and it appears to have resolved my issue.

1. Completely uninstall Docker from Mac Applications folder
2. rm -fr ~/Library/Containers/com.docker.*
3. I had tried installing docker using brew so I also ran `brew uninstall docker`. I had previously uninstalled it so this time there was nothing to uninstall.
4. ps -ef | grep

[2016-11-19 23:03] #970 closed

[2016-11-19 23:43] konradjurk commented on #931
Fixed with

1.12.3-beta30.1 (13946)
Channel: Beta
f94d037b71

Thank you! 👍

[2016-11-19 23:43] #931 closed

[2016-11-20 02:07] connercowling commented on #968
@jmaclabs that worked! thanks much :)

[2016-11-20 02:07] #968 closed

[2016-11-20 09:56] WolfgangFahl commented on #77
I wonder why there isn't simply an integration of the https://github.com/osxfuse/osxfuse libray. I'd assume that you'd then at least be able to use e.g. an ext2 formatted disk with native performance since the library should be pretty much compatible to the standard linux approach. For my usecase this would be sufficient.

Any thoughts?

[2016-11-20 10:04] lox commented on #77
Dunno what FUSE api you've been using @WolfgangFahl, but there is nothing simple about it. It's a very broad API and trying to map it to mac filesystems isn't easy. Even if you tried to map it to an et2 formatted disk, you are still going through several layers of either virtualization or networked filesystem to your data into docker. This is a non-trivial problem on a lot of levels.

[2016-11-20 10:09] WolfgangFahl commented on #77
@lox - i had hopped that there could be some sort of direct ext2/ext2 mapping so that there would be a kernel level driver inside the linux that docker uses that avoids all the layers to improve performance and make things much simpler by going 1:1 between the apis.  Too bad if that's not feasible.

[2016-11-20 10:09] lox commented on #77
There is. Use Linux as your host.

[2016-11-20 10:11] lox commented on #77
I strongly suggest anyone posting in this issue read over https://docs.docker.com/docker-for-mac/osxfs/#performance-issues-solutions-and-roadmap.

[2016-11-20 10:57] WolfgangFahl commented on #77
My hope was that https://docs.docker.com/engine/userguide/storagedriver/selectadriver/ is much more helpful since I think the current's approach's complexity is not leading to a satisfying result in quite a few use cases.

[2016-11-20 13:31] kulrohit opened #971 "hyperkit consumes high CPU"
### Expected behavior : Normal % when Idle

### Actual behavior: even if I am not running any container application , it keeps consuming 75%+ cpu

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1

[2016-11-20 16:43] cmgraver opened #972 "Docker ps hangs after OSX Sierra Upgrade"
I've read similar issues to this involving Sierra BETA, but this is no longer Beta. I've tried removing and re-installing the latest version of Docker.

### Expected behavior
docker ps works

### Actual behavior
docker ps gives no response

### Information

  Docker for Mac: version: 1.12.3 (583d1b8)
OS X: version 10.12.1 (build: 16B2657)
logs: /tmp/340EC9FC-A3AC-4AFD-8146-B23B27B1D796/20161120-10

[2016-11-20 19:44] rostchri commented on #155
+1, interested in the fix

[2016-11-21 10:24] ijc25 commented on #959
@D3nn thanks for the update, please do close if it works for you at home otherwise we'll expect to hear from you here.

Probably best to take the upgrade issue to a new ticket.

[2016-11-21 10:27] ijc25 commented on #727
Thanks for confirming! Closing this issue.

[2016-11-21 10:27] #727 closed

[2016-11-21 10:28] cdekok commented on #446
It's very slow for me too on 1.12.3 with outgoing connections.

[2016-11-21 10:43] cdekok opened #973 "Slow network behaviour"
### Expected behavior
Fast outgoing connections

### Actual behavior
Slow outgoing connections

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

[code]

### Steps to reproduce the behavior

It's very slow for me on 1.12.3 with outgoing connections.
Using curl I am often hitting timeouts.

Here are some timings..

**On my host**
curl -w '@format.txt' -o /d

[2016-11-21 10:59] rogaha commented on #932
@bmhatfield is it fixed for you with `Beta v30.1`?

[2016-11-21 14:39] D3nn commented on #959
Looks like all is working well from home as well.   Thanks for the help.

[2016-11-21 14:39] #959 closed

[2016-11-21 14:53] bergman commented on #880
I tried this again with a later beta, can't remember the version number right now. It worked a few times but was very flaky. If I started a bash shell in a container I could ping any host once and it would look it up correctly but subsequent pings would all fail, even for the same host.

I'm giving up on this for now and going back to docker-machine.

[2016-11-21 15:22] vovkins commented on #869
Noticed same behaviour on Linux (SUSE Linux Enterprise Server 12 (x86_64))

Here is `docker-compose up` command output with same error:
[code]

In my case this problem is caused by non-ascii symbols in environment variables that are passed to containers at startup.

Here is the part of my `docker-compose.yml`
[code]
When environment variable IBREPORTING_LDAP_ATTR_BASE contains non-ascii symbols (b

[2016-11-21 22:14] fuji246 commented on #5
Having the same error, i'm using

[code]

Change CPU count from 2 to 1 fix the error

[2016-11-22 06:37] tkinz27 opened #974 "Docker for mac does not recognize /etc/resolver nameservers"
### Expected behavior

We use a file in /etc/resolver/consul to tell our development laptops how to resolve addresses with
the consul tld. This file looks like this

[code]

I would expect to be able to resolve an address like consul.service.consul from within a container.

### Actual behavior

[code]

[code]

### Information

33631844-49C4-4509-AF9F-5D6CB5986008

Docker for Mac: version: 1.12.3-b

[2016-11-22 09:35] kozhin commented on #971
Had this issue. I reinstalled Docker for Mac and now it's working fine. Removed everything regarding Docker from my MacBook using this https://docs.docker.com/docker-for-mac/#/uninstall-or-reset and Terminal with:
`sudo find / -name '*docker*'`

[2016-11-22 09:38] rogaha commented on #670
thanks for the feedback @Krzysiaczek

[2016-11-22 09:38] #670 closed

[2016-11-22 09:39] rogaha commented on #725
@HerbCSO @johker01 is the workaround working for you?

[2016-11-22 09:42] rogaha commented on #835
@jtbennett I'm closing this issue as the issue is fixed since `beta29.3`. Please raise another issue for us to track the `slowness` you are experiencing.

[2016-11-22 09:42] #835 closed

[2016-11-22 09:48] rogaha commented on #869
@bauerpl if you are still experiencing this issue, please feel free to re-open it.

[2016-11-22 09:48] #869 closed

[2016-11-22 10:52] rogaha commented on #888
@sylvainmouquet can you please try it with the newer version `1.13-rc1` and let us know how it goes?

[2016-11-22 10:57] rogaha commented on #909
thanks for the update @lukebergts

[2016-11-22 10:57] #909 closed

[2016-11-22 10:58] rogaha commented on #915
@ramon can you please try with the newer `beta` version? It looks like it worked from @lukebergts

[2016-11-22 11:02] rogaha commented on #922
Thanks for the update @garaden. Let us know if the issue persists.

[2016-11-22 11:02] #922 closed

[2016-11-22 11:05] romanserazhiev opened #975 "Install error on macOS 10.12.2 beta"
### Expected:
Docker is installed

### Actual:
Docker displays an error

### Information

Docker for Mac: version: 1.12.3 (583d1b8)
OS X: version 10.12.2 (build: 16C48b)
logs: /tmp/E52E7F57-3C26-4551-A181-AF08B4966C00/20161122-120206.tar.gz
failure: com.docker.slirp is not running
[ERROR]  vmnetd
         /var/tmp/com.docker.vmnetd.socket does not exist
         Unexpected error (No such file or d

[2016-11-22 11:10] rogaha commented on #924
@spikegrobstein we added lots of improvements on the `networking` side to `docker engine 1.13`, can you please try it again with that version? You just need to connect to the `VM` using `screen` and run `curl -fsSL https://test.docker.com/ | sh`. After that you can replace your `docker client` with https://test.docker.com/builds/Darwin/x86_64/docker-1.13.0-rc1.tgz.

[2016-11-22 11:13] rogaha commented on #969
@dearfrankg can you please run the `diagnose and upload`, it will help us to identify what's blocking `nginx`. thanks!

[2016-11-22 11:15] justincormack commented on #924
@rogaha no you can't do that, there is no way to update Docker for Mac using `test.docker.com`. There will be a release with 1.13 soon.

[2016-11-22 11:17] dearfrankg commented on #969
Ran diagnostics, here is the ID

BD7AED7C-FA8D-4599-A85A-7B5B9A907D48

[2016-11-22 11:17] rogaha commented on #971
@kulrohit can you please try to `uninstall` and `install` the latest `beta` version (https://download.docker.com/mac/beta/Docker.dmg) ?

[2016-11-22 11:37] rogaha commented on #972
--------------------------------------------------------------------------------
Detected symptom of problem 'aufs-corruption' in 340EC9FC-A3AC-4AFD-8146-B23B27B1D796/20161120-103740.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /va

[2016-11-22 11:38] rogaha commented on #972
@cmgraver can you please try the `reset to factory` approach and let us know how it goes?

[2016-11-22 12:57] rogaha commented on #969
thanks @dearfrankg, can you please do a `docker ps` while the `firewall` is `on`? the only error I see on the logs is from a container trying to `bind` on port `80` that i's already in use.

[code]

[2016-11-22 12:58] sergimartnez opened #976 "Docker on Mac OS Sierra - not working after install"
### Expected behavior
running "docker ps" --> expecting correct behaviour.

### Actual behavior
running "docker ps"
Error response from daemon: dial unix /Users/Sergio/Library/Containers/com.docker.docker/Data/*00000003.00000948: connect: no such file or directory

### Information

  **- Full output of the diagnostics from "Diagnose & Feedback" in the menu**

Docker for Mac: version: 1.12.3 (583d1

[2016-11-22 13:24] xiaods commented on #733
[code]

[2016-11-22 13:31] rogaha commented on #973
@cdekok I couldn't find any errors on your `diagnose` logs. Can you please try to perform a `factory reset`, if possible, to check if that helps?

[2016-11-22 13:37] rogaha commented on #924
ok cool. Thanks for the heads up @justincormack. Better to wait for the `next beta` then. :)

[2016-11-22 13:50] dsheets commented on #733
Hi @xiaods, your issue is different from the one in this ticket. The `docker` executable is not at `/usr/local/bin/docker` (that path does not exist) in the Docker for Mac VM -- it is instead located at `/usr/bin/docker`. This appears to be an issue with the `minimesos` tool. Please modify your configuration or report this issue to the `minimesos` developers. If you still believe this to be an iss

[2016-11-22 14:05] johker01 commented on #725
I'm still getting an error with 1.12.3-beta30.

[code]

My new diagnostic ID: 5C751D85-6354-4408-AD51-4B56F2CCAA3B

[code]

[2016-11-22 14:46] xiaods commented on #733
@dsheets thanks for your reminder. create it again.

[2016-11-22 14:57] cmgraver commented on #972
"Preferences -> Uninstall/Reset -> Reset to factory defaults" resolved my problem. Thanks so much for your help.

[2016-11-22 14:57] #972 closed

[2016-11-22 15:52] jcsalem commented on #472
Thanks, @djs55.
I'm not able to reproduce the performance problem, even on 1.12.3.
I will try it on the beta at some point but for now, I think you can assume my issue is resolved.

[2016-11-22 16:58] bell87 opened #977 "Docker for Mac OS Sierra hangs on restart"
### Expected behavior
`docker ps` works successfully

### Actual behavior
`docker ps` times out - API error (500): dial unix /Users/user/Library/Containers/com.docker.docker/Data/*00000003.00000948: connect: connection refused

Docker has restarted itself and hangs during restart.

### Information
Docker for Mac: version: 1.12.3-beta30.1 (f94d037)
OS X: version 10.12.1 (build: 16B2555)
logs: /tmp/

[2016-11-22 17:17] pirog commented on #955
@ijc25 kalabox developer here. let me know what you need to help on this. do you guys know where this might originate on the docker side? eg what conditions would produce this message?

[2016-11-22 17:25] sadleb commented on #974
I have the same problem when trying to setup the [dingy-http-proxy](https://github.com/codekitchen/dinghy-http-proxy) during a migration from dinghy to Docker for Mac.  I have a ton of micro-services already configured to talk to each other using *.docker hostnames.  E.g. one service is hosted at http://join.docker and I can access that fine from my Mac's browser, but when another service running

[2016-11-22 18:01] aaronweaver commented on #973
@rogaha experienced the same issues here as well, very slow and poor network performance.

[2016-11-22 18:09] gorivishal commented on #973
+1

[2016-11-22 19:30] bgonz commented on #955
Thanks for chiming in Ian.

On Tue, Nov 22, 2016 at 9:17 AM, Mike Pirog <notifications@github.com>
wrote:

--
---------------------------------------------------

*Brian Gonzales *Director of Operations | Pairodime
brian@pairodime.com

p: 503.766.3590
f: 503.766.3594

*http://pairodime.com <http://pairodime.com>*
https://plus.google.com/+Pairodime

   - www.linkedin.com/in/briangonzales/

“LIVE AR

[2016-11-22 19:53] jamshid commented on #936
Trying updated Docker for Mac 1.12.3-beta30.1 (13946), still not working with Tunnelblick.
What Mac OpenVPN clients do you test with?
[code]

[2016-11-22 20:29] mbergal opened #978 "Docker 1.12.3 crashes 1084F5F9-DCB7-4D47-A5A3-643CA05C3811"
### Expected behavior

Runs fine

### Actual behavior

Crashes
### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

[code]
### Steps to reproduce the behavior

[code]

Sorry, I cannot send you anything reproducible

[2016-11-22 22:11] welps opened #979 "Container locks up when performing heavy file i/o off mounted volume"
### Expected behavior
Container doesn't lock up

### Actual behavior
Container locks up and docker locks up when trying to restart the container

### Information

Docker for Mac: version: 1.12.3-beta30.1 (f94d037)
OS X: version 10.12.1 (build: 16B2555)
logs: /tmp/9A210CAE-C9E3-4455-BCD2-9A305A6E8AB1/20161122-162213.tar.gz
[OK]     vmnetd
[OK]     dns
[OK]     driver.amd64-linux
[OK]     virtualiza

[2016-11-22 22:42] bmhatfield commented on #932
@rogaha @djs55 Confirmed that Beta 30.1 fixes this issue.

[2016-11-22 22:42] #932 closed

[2016-11-22 23:09] jamesneal commented on #973
Also having this issue on:
Client:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   6b644ec
 Built:        Wed Oct 26 23:26:11 2016
 OS/Arch:      darwin/amd64

In the container's resolv.conf, we have:
# Generated by dhcpcd from eth0.dhcp
# /etc/resolv.conf.head can replace this line
domain local
nameserver 192.168.65.1
nameserver 192.168.65.10
nameserver 192.168.65.

[2016-11-23 00:36] benduncan commented on #371
+1 to have this fixed, the Docker utils should sit in the background and automatically manage the disk-space and free unused disk space in the Docker.qcow2

Anyone keen to help make the fixes and commit back?

[2016-11-23 07:39] wwboynton opened #980 "`docker login` succeeds from one machine and fails x509 SSL error from any ther"
Let me preface this by saying I've dug and dug and dug for answers and found a lot of similar problems, but none of the solutions have panned out for me. I'm tired and confused and I must be missing something here.

I've got a docker repository set up via Sonatype Nexus, but this same behaviour persisted when I was running a docker registry bare-bones.

I have an **http** registry in nexus sitting

[2016-11-23 08:48] wwboynton commented on #980
Well let this be a lesson, kids. Challenge your own silly assumptions. Maybe your happy third-party cert doesn't have its CA tentacles spread as far-and-wide as you thought!

For anyone else who might be using a PositiveSSL Wildcard Cert from Comodo, you'll want to add this to your chain in your respective OS:
https://support.comodo.com/index.php?/Knowledgebase/Article/View/970/0/intermediate-2-sh

[2016-11-23 08:48] #980 closed

[2016-11-23 08:49] avatsaev commented on #371
this is still an issue, had to uninstall docker from mac

[2016-11-23 08:53] woegjiub commented on #371
Could someone please lock comments for this?

These "+1" posts are unnecessary noise.

[2016-11-23 09:03] simPod commented on #371
how do you want to lock comments on github? :D

[2016-11-23 09:04] avatsaev commented on #371
By solving the issue :D

[2016-11-23 09:48] ijc25 commented on #979
@welps did you mean #825? I don't see a link to #82 whereas it is fairly plausible that this is related to #825.

[2016-11-23 09:53] ijc25 commented on #955
@pirog I'm afraid I don't know what produces this message, it doesn't appear for me (or anyone else AFAICT) when using docker for mac CLI directly so I think Kalabox is producing it from somewhere (internally, scrobbling through logs, etc) and propagating it to its CLI.

If you can identify where kbox is getting it from and/or reproduce using docker for mac then we can take another look.

[2016-11-23 10:00] cdekok commented on #973
@rogaha Unfortunately a factory reset did not seem to work, I do suspect it happened somewhere during an update as I did not encounter many issues a while ago.

[2016-11-23 10:10] rogaha commented on #973
thanks for the update @cdekok @aaronweaver. We are investigating it.

[2016-11-23 10:13] cdekok commented on #973
I found it has something to do with IP v6.. doing the curl request with -4 goes fast.
adding `options single-request-reopen` in the docker image /etc/resolv.conf worked

There was somebody with the same problem who had figured it out http://serverfault.com/questions/647193/docker-debian-slow-dns-resolve

Could this be a problem in the docker network layer?

[2016-11-23 10:18] djs55 commented on #472
Thanks for the update- I'll close this issue for now.

[2016-11-23 10:18] #472 closed

[2016-11-23 10:42] rogaha commented on #973
@cdekok @aaronweaver @jamesneal It looks like that there are some DNS problems in the latest `stable` version which is fixed in `beta 30.1` -- the diagnostics in beta 30.1 are also much better. If possible, can you please upgrade to `beta 30.1` and let us know how it goes?

[2016-11-23 12:38] lukevella opened #981 "HTTP Proxy settings from preferences are injected as environment variables in containers"
### Expected behavior
I am behind a corporate proxy so I configured the preferences with an HTTP Proxy so that I can pull images from Docker Hub when building my containers, but don't expect the same settings to be injected into the containers as environment variables.

### Actual behavior
The images are pulled successfully through the proxy however, the same HTTP Proxy settings are being injected

[2016-11-23 13:17] romanserazhiev commented on #975
Just wanted to add a comment to draw the whole picture. I used to have the beta of Docker app installed and working correctly without issues. Originally Docker (Toolbox?) was installed with brew (I think).

I decided to uninstall Docker from Brew and system completely, and re-install the Docker app. After doing so, this issue appeared. When I try docker -version, Terminal says that that docker is

[2016-11-23 15:15] pirog commented on #955
Looks like it does originate on the docker side
https://github.com/docker/docker/commit/747a486b4aac2ebbbb28bd713b9a4a929f89353b

But maybe we need to update some of our docker files to make sure this
condition is not met?

On Wed, Nov 23, 2016 at 1:53 AM Ian Campbell <notifications@github.com>
wrote:

[2016-11-23 16:19] ebriney commented on #665
@FuriouslyCurious :
This is a design decision to avoid confusing users, If the whale is in the tray you could use Docker, if not, Docker will not work.
You must quit the app to stop vm and free resources and launch the app when you want to use Docker.
Pin the app in the Dock or use Spotlight, is it not doing the job?

[2016-11-23 16:32] welps commented on #979
@ijc25 I actually came to the realization it was a shared folder/mounted volume issue because of #82, but you're correct that this is actually related to #825

[2016-11-23 16:39] ijc25 commented on #979
Thanks for the update. Based on my debugging of this and #825 today I'm pretty convinced they are the same issue. So I'm going to close this as a dup, please subscribe to #825 for further updates.

[2016-11-23 16:41] ijc25 commented on #825
I believe I have isolated the cause of the issue and am just deciding on the best shape for the fix and validating. Will keep the ticket posted.

[2016-11-23 16:42] welps commented on #979
@ijc25 Sure, no problem. Thanks!

[2016-11-23 19:34] darwin commented on #851
Good timing! Just today I decided to move a pptp client from a mac host into a docker container. And I was hitting `Couldn't set tty to PPP discipline: Invalid argument` error after strictly following [Debian HOWTO][1]. Then I desperately tried to build and run the container under ubuntu host and the issue wasn't present.

Just upgraded to Docker for Mac beta and PPP discipline problem went away.

[2016-11-23 19:48] darwin commented on #851
Hmm, strange. It looks like you include MPPE support.

`docker run --privileged <my-container> zcat /proc/config.gz | grep MPPE` returns `CONFIG_PPP_MPPE=y`.

And I don't see any mention of MPPE in your kernel patches...

Going to open a new issue.

[2016-11-23 19:53] amsamuel opened #982 "Kernel errors when trying to do snmpwalk on OIDs with COUNTER64 values"
### Expected behavior
I am running a centos container with net-snmp-utils installed and trying to run an snmpwalk on a remote host.
It is expected that an snmpwalk would work normally for any OIDs, including ones that give COUNTER64 values.
e.g. `snmpwalk -v2c -c<community string> <remote host> ifHCInOctets`
Note that this works fine for doing an snmpwalk on localhost.

### Actual behavior
The snm

[2016-11-23 20:03] darwin commented on #851
Ah, nevermind. `pptpsetup` is reports missing MPPE probably because this command fails. But MPPE is actually present.

[code]

[2016-11-24 02:14] christtrc commented on #733
I found another way to use DC/OS universe, and this issue was not import to me. But I modified the universe build script and disable sudo check on Mac. There still have problem:

[2016-11-24 08:57] joyJZhang commented on #963
@peterdavey if factory reset，Whether the data will be lost？

[2016-11-24 10:17] flxsource opened #983 "Docker for Mac doesn't read hosts /etc/hosts correctly when using aliases"
### Expected behavior
Docker Engine is able to resolve the host name and any aliases declared in the `/etc/hosts` file on the host OS.

### Actual behavior
Docker Engine is only able to resolve the host name, but _not_ any aliases.

### Information
Diagnostic ID: AF53934A-7F40-4AAA-82E7-6093DE58E779

We are running a Docker registry on our internal network, and a second registry configured as a pu

[2016-11-24 10:40] KravetsAndriy commented on #77
Does anybody know about status of this issue in stable/beta release? Thanks

[2016-11-24 11:14] ijc25 commented on #955
@pirog Thanks. On double checking I find that I do see this message with the stable release (1.12.3, build 13776) which I thought I had already tested. However I can confirm that I do not see this with the beta30.1 release so this issue will be fixed in a future stable docker for mac release.

[2016-11-24 11:14] #955 closed

[2016-11-24 11:19] arnalyse commented on #444
Same here. If it weren't for the [Caskroom of `homebrew-cask`](https://github.com/caskroom/homebrew-cask/commit/ae4de82e170cb36386141c40f3deb983267627f5), I wouldn't have been able to find the old version.

I appreciate the forward momentum, but I'd really appreciate the access to older versions to downgrade if needed. 😅

[2016-11-24 11:42] mkernel commented on #444
Same here. We are suffering from severe performance drops and would love to downgrade to the "latest fast build". Finding that one would help a lot.

[2016-11-24 11:46] dsheets commented on #444
@mkernel have you tried the block device flush workaround in <https://github.com/docker/for-mac/issues/668#issuecomment-250406582>?

[2016-11-24 14:03] ijc25 commented on #825
Fix for a vsock deadlock is in https://github.com/docker/hyperkit/pull/78, I hope to get this merged and into the next beta release.

@welps this fixed your mongodb usecase reported in #979 for me AFAICT.

@geertvanheusden I'm sorry to say that with this fixed I'm now tripping over a second (apparently separate) issue with your mysql based repro. I'm still investigating.

[2016-11-24 14:41] mkernel commented on #444
@dsheets Yes. In those cases where we tried that we're still seeing underperforming containers.
So to do some performance measuring it would be really helpful to have a browseable archive of old docker versions.

[2016-11-24 14:59] rogaha commented on #974
@sadleb @tkinz27 have you tried to use the `--add-host` option (ref. https://docs.docker.com/engine/reference/commandline/run/#/add-entries-to-container-hosts-file---add-host)? Using that `flag` the `/etc/hosts` file from the container will be updated. See below an example:

[code]

Let me know how it goes!

[2016-11-24 15:14] rogaha commented on #975
@romanserazhiev we don't support the OS version you are running, I think in this case the approach would be to `downgrade` the `OS` to `10.12.1` or wait until we add support to `10.12.2` -- thanks for the reporting the issues.

[2016-11-24 15:20] ijc25 commented on #979
(forgot to actually close, doing it now)

[2016-11-24 15:20] #979 closed

[2016-11-24 16:01] rogaha commented on #977
Detected symptom of problem 'aufs-corruption' in F000C2B8-8972-4884-9C2A-1C9B5B8789C1/20161122-165226.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related

[2016-11-24 16:02] rogaha commented on #977
@bell87 if possible, would you mind to try a `reset to factory` to see if that fixes the issue?

[2016-11-24 16:08] rogaha commented on #978
more info about the errors found in the `log file`:
[code]

[2016-11-24 16:44] izakp commented on #371
This is the only major issue blocking our adoption if Docker for Mac - simply being able to configure the .qcow2 cap would be sufficient

[2016-11-24 16:52] simPod commented on #371
@izakp don't you have problem with this https://forums.docker.com/t/file-access-in-mounted-volumes-extremely-slow-cpu-bound/8076/241 ?

[2016-11-24 17:33] izakp commented on #371
@simPod yes we are experiencing that issue where mounted volumes are required and still using [Dinghy](https://github.com/codekitchen/dinghy) but it's not so much of a blocker to Devs as their laptop disk filling up

[2016-11-24 18:04] djs55 commented on #371
Quick update on this: configuring the qcow2 size cap is possible in the latest betas (e.g. 30.1) with the caveats:
- that it won't grow automatically yet: the `Docker.qcow2` needs to be deleted (loosing containers and images) and then the app restarted
- there is no UI element yet

For example:

[code]
For anyone wanting to use an external drive, you can also change the location of the `Docker.qco

[2016-11-24 18:47] geertvanheusden commented on #825
Ok, thx for the update. I hope you're able to fix both ;-)

[2016-11-24 19:38] globalcitizen opened #984 "Cannot connect to the Docker daemon. Is the docker daemon running on this host?"
### Expected behavior

`docker ps` lists containers, and `docker pull gentoo/stage3-amd64-hardened:latest` pulls a container.

### Actual behavior

[code]

### Information

  - I have used various versions of docker in the past.
  - Currently I am using 1.12.3
  - Issue occurs even though the system tray icon says docker is running.
  - I tried restarting docker using the system tray icon, but it

[2016-11-24 22:56] sab24 opened #985 "Verify repository clients with certificates"
### Expected behavior
docker pull can fetch from the private docker registry.

### Actual behavior
docker pull docker.domain.com/debian:latest
Error response from daemon: Get https://docker.domain.com/v1/_ping: remote error: handshake failure

### Information

The docker registry is setup with a let's encrypt verified certificate. In front of it runs apache with mod_proxy authenticating clients wi

[2016-11-24 22:58] pirog commented on #955
awesome! thanks for following up here.

[2016-11-24 23:36] manshoor commented on #77
@KravetsAndriy well i'm using `Version 1.12.3-beta30.1` speed is improved a little bit.

[2016-11-25 02:20] dearfrankg commented on #969
procedure:

0. confirm firewall is on
1. stop non-docker nginx
2. nuke all docker-for-mac containers
3. run docker nginx: `dk run -p 80:80 nginx`
4. restart chrome
5. can access nginx at http://localhost
6. cannot access nginx at http://debugtime.com
7. run docker ps

[code]

7. turn off firewall
8. restart chrome
9. can access nginx at http://debugtime.com
10. run docker diagnostics

[code]

11.

[2016-11-25 09:12] rogaha commented on #897
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-25 09:12] #897 closed

[2016-11-25 09:13] rogaha commented on #923
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-25 09:13] #923 closed

[2016-11-25 09:26] #665 closed

[2016-11-25 09:46] ikbenben opened #986 "unable to send Pusher notifications via websockets"
We currently have a Ruby/Rails setup built with Docker. This implementation uses Pusher to send notifications to our client mobile and web applications. We were previously using Docker toolbox without issue but recently switched to use Docker for Mac. Since we switched we are getting timeout issues when the server tries to connect to Pusher.

We are not experiencing this issue in non-docker enviro

[2016-11-25 09:47] ikbenben commented on #986
[pusher-poc.zip](https://github.com/docker/for-mac/files/612955/pusher-poc.zip)

[2016-11-25 11:05] rogaha commented on #983
@flxsource thanks for the reporting the issue, I've raised another issue on the `vpnkit` repository: https://github.com/docker/vpnkit/issues/162. We will let you know as soon as it gets fixed!

[2016-11-25 11:24] bell87 commented on #977
@rogaha Yes that works as a temporary fix, I have to reset to factory every time it happens though.

[2016-11-25 13:23] rogaha commented on #977
thanks for the update @bell87. How often does it happen?

[2016-11-25 15:14] zgt0109 opened #987 "Diagnostic ID：B2E9FF49-4E4A-4365-BA55-E4E97BBB9540"
Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.1 (build: 15B42)
logs: /tmp/B2E9FF49-4E4A-4365-BA55-E4E97BBB9540/20161125-224800.tar.gz
failure: com.docker.slirp is not running
[ERROR]  docker-cli
         /var/run/docker.sock does not exist
         Unexpected error (No such file or directory) connecting to /var/run/docker.sock
         Connection refused (ECONNREFUSED) connecting t

[2016-11-25 17:40] stepanstipl opened #988 "Docker for Mac - client does not respect macOS DNS resolver"
### Expected behavior

Docker pull should be fast.

### Actual behavior

Docker pull hangs for about 20 seconds and only then sends request to docker daemon.

### Information

Docker client is trying to resolve docker registry DNS before dispatching request to docker daemon and it does not respect macOS dns resolver correctly.

In my case I have DNS configured correctly for Docker VM (via record i

[2016-11-25 20:50] tkinz27 commented on #974
@rogaha That really does not solve my problem. What I need is the consul nameservers to be queried for dns records. These nameservers are configured on my mac (using /etc/resolver/consul) and present when I do a `scutil --dns`. It's these nameservers that resolve the `consul.service.consul` address. Further complicating things is that the nameservers do not listen on port 53 but listen on port 860

[2016-11-26 22:23] askoretskiy commented on #825
I have the same issue when I upload few gigabytes to my Django application that runs inside of docker container. App is mounted to local folder.

It is kinda annying, since it happens every time after few gigabytes.

Project is open source (http://wikibytes.org/imagelib/thumbnail/85459?t=1-20161109-125609.568495), so you could reproduce it locally (if we have some gigabytes of photos ))

[2016-11-26 23:03] m0smith commented on #621
Many thanks!!! Worked for me as well.

[2016-11-27 09:14] sladebot opened #989 "Docker for Mac not starting"
### Expected behavior

On starting docker native it should start the daemon. The icon for starting should stabilize.

### Actual behavior

On starting docker native it constantly shows "Starting" but never starts the daemon.

### Information

  - ``Docker for Mac: version: 1.12.3-beta30.1 (f94d037)
OS X: version 10.12 (build: 16A323)
logs: /tmp/87A6D319-A314-4508-910C-493A348ED88B/20161127-143354.

[2016-11-27 18:16] algesten commented on #218
Docker 1.12.3. I can't get this to work.

I commit the change, quit and restart docker. Then it just stalls in "Docker is starting".

[2016-11-28 13:18] bastien commented on #119
I had the same problem, running Docker for Mac 1.12.3 (13776)
My mac quit unexpectedly and after the reboot `docker ps` no longer worked. `sudo pkill docker` didn't solve the problem, I had to reset to factory settings and fetch all my images again.

[2016-11-28 14:08] nmcalabroso commented on #412
Just some update, I managed to mount directories via symlinks using `docker-compose`. This worked for me since I'm just concerned on building a local development environment rather a production one.

[2016-11-28 18:04] hugohenrique opened #990 "High utilization from CPU to up 340% and process as: com.docker.hyperkit"
### Information
Diagnostic ID:
**63C92689-817A-4D14-A307-719E4B58A33F**

### Steps to reproduce the behavior

  1. ``docker-compose build``
  2. ``docker-compose up -d``

[2016-11-28 18:51] #990 closed

[2016-11-28 20:58] bgonz commented on #955
Hey folks - I just wanted to say thanks for all your efforts on resolving this issue.

- cheers

[2016-11-28 23:23] chitopunk commented on #989
I am also having the same issue

[code]

[2016-11-28 23:26] chitopunk commented on #989
After digging in other issues found that `Reseting to Default` is fixing this issue

[2016-11-29 00:44] zuomang opened #991 "docker for mac 10.12.1 can not start"
Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.12.1 (build: 16B2555)
logs: /tmp/2E19AA95-B72B-4528-893A-D3E17C11871C/20161129-083741.tar.gz
failure: Docker.qcow2 missing: the VM has never been started
[ERROR]  docker-cli
         cannot find docker
         docker-cli check failed with: Failure("docker -v: timeout after 10.00s")
[OK]     virtualization kern.hv_support
[OK]     menubar

[2016-11-29 01:01] freman commented on #5
Tried changing cpu count, it didn't help us, I've even split the project up into multiple containers and running it inside compose, one crashes they all seem to crash

[2016-11-29 01:19] herophuong commented on #581
@Vanuan I think that's because it is easier to manage (like back-up operation, copy paste as-is to other co-worker machine, etc.) when mount a host directory as database directory.

[2016-11-29 01:35] Vanuan commented on #581
Huh? Back up and migration for development databases? Who does that?

[2016-11-29 15:51] dojohnso commented on #371
@djs55 minor detail, but you left out a "/" in

otherwise, thank you!!

[2016-11-29 17:28] Pike opened #992 "internal connections in a docker-compose setup fail, high cpu usage of com.docker.hyperkit"
### Expected behavior

Connections between instances and on the instance itself work

### Actual behavior

I see dropped connections within an instance and inbetween instances

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

Docker for Mac: version: 1.12.3 (583d1b8)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/40B4EC0E-B407-4570-973F-C29C74C10817/20

[2016-11-29 17:31] spikegrobstein commented on #924
I'll await the next beta, then.

[2016-11-29 17:53] Pike commented on #992
Filed this based on the closing comment of issue #82.

[2016-11-29 18:55] hasselg commented on #266
I'm running version 1.12.3 and am also experiencing this error. Perhaps of note is that I'm using the locations feature for networks in System Preferences, and one of the locations *does* have proxy settings. The problem is that I'm seeing this error when using a location and associated interfaces that does *not* have any proxies enabled.
[code]

When I attempt to manually edit the proxy settings

[2016-11-29 20:21] aPoCoMiLogin commented on #155
Any plans to resolve this issue in near future?

[2016-11-29 20:47] justincormack commented on #155
Hi we are considering how this could be implemented, potentially via a VPN from the Mac to the Linux VM, but it is not being worked on at present. It is probably possible to implement a version by running a container with `--net=host` running a VPN endpoint too, if someone wants to give it a go.

[2016-11-29 21:09] aPoCoMiLogin commented on #155
@justincormack thanks for fast response. For me and I suppose the rest of people, docker for mac is only for development purpose. So I do not think anyone will bother if this will be easy to use, like docker on linux.

[2016-11-29 21:38] Kushmaro commented on #155
If you're considering VPN I assume there's no way to create network connectivity between Mac and xhyve huh? I wonder why. I think VPN is a bit of an overkill ... really should be a simple developer experience pinging the docker ip's like they would on Linux...

[2016-11-29 21:47] kdubois commented on #825
I'm running into the long semaphore wait as well when importing a large(r) dataset into a mysql container.  Let me know if you need any additional information!

[2016-11-29 22:21] mirfilip commented on #17
It affects me as well.

I'm running:
[code]
and noticed that my memcached containers were acting strangely with expiration functionality. Restarting Docker for Mac fixes the issue. I'm going to come back here and post some more info when I reproduce it.

[2016-11-29 22:22] 4shome commented on #155
Was the approach mentioned in [this thread on the forums](https://forums.docker.com/t/support-tap-interface-for-direct-container-access-incl-multi-host/17835/14) considered?

I don't know enough to have an opinion myself, but from reading the first 3 messages, it sounded like there was a fairly simple way to getting a workable solution. Thanks.

[2016-11-29 23:40] KartoffelToby commented on #155
@4shome

Maby i'm wrong but the only Problem is that the xhyve vm inside Docker for Mac hasn't no Network Adapter. Or routable IP like boot2docker (192.168.100.99 like that)

With boot2docker and a route command its possible to Route all the Container ips to the vm Network.

We need this for xhyve.

Whats going on with this tuntap Plugin?

[2016-11-30 01:50] linpf870208 opened #993 "docker can not push image"
i just suddenly can not push images by docker push command.

1963422757ad: Pushing [==================================================>] 45.06 kB
5f70bf18a086: Layer already exists
510e363c12a3: Layer already exists
f09fdb5ddd25: Layer already exists
a2ab78debd3e: Layer already exists
66754d2993e3: Layer already exists
b435f567e45e: Layer already exists
df09ce9c9073: Layer already exists
6eb35183d

[2016-11-30 03:53] jsok opened #994 "Cannot check for Updates when behind MITM SSL Proxy"
### Expected behavior

I click the "Check for Updates..." button and get an "Install and Relaunch" window.

![screen shot 2016-11-30 at 2 49 58 pm](https://cloud.githubusercontent.com/assets/737907/20739138/49eda3f6-b70c-11e6-80a8-35f602bc0de9.png)

### Actual behavior

![screen shot 2016-11-30 at 2 49 52 pm](https://cloud.githubusercontent.com/assets/737907/20739140/4bfcd504-b70c-11e6-9daf-9f7946

[2016-11-30 03:59] emecas commented on #135
@dave-tucker Yes, I did migrate from Docker Toolbox. Thanks, it has fixed the issue.

@MagnusS sorry about replying so late. There was no chance so far to work on Mac OS X beta.

Currently upgraded to version 1.12.3-beta30.1 (13946).

Note: as a curiousity, my images have missed the fields: REPOSITORY  and TAG after porcedures docker save & docker load.

[code]

[2016-11-30 04:39] bienheladas opened #995 "Can't get the Docker Image of SQL Server for Mac"
### Expected behavior

Want to Pull the Docker image of SQL Server from Docker Hub with the sentence:

 sudo docker pull microsoft/mssql-server-linux --> expecting correct behaviour.

### Actual behavior

Mac-mini-de-Omar:~ Omar$ sudo docker pull microsoft/mssql-server-linux
Password:
Using default tag: latest
Warning: failed to get default registry endpoint from daemon (Error response from daemon

[2016-11-30 06:14] #987 closed

[2016-11-30 10:41] zdalh opened #996 "could not start docker"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 7489EB6A-D9C8-4676-9557-6599BFA40A01
Docker for Mac: 1.12.0-beta21 (Build 10868)
macOS: Version 10.12 (Build 16A323)
[ERROR]  docker-cli
         docker ps failed
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-

[2016-11-30 13:27] OlivierChirouze commented on #973
Hi,

I've been suffering this bug for a few weeks now (I'm using composer and a `composer update` on a local network would take about 5 minutes to complete, driving me crazy!).
For information:
- `factory reset` did not help
- adding `options single-request-reopen`in the `/etc/resolv.conf` file seemed to make things go *slightly* faster
- switching to beta channel with version `Version 1.13.0-rc2-

[2016-11-30 14:01] KartoffelToby commented on #155
![s](https://cloud.githubusercontent.com/assets/8983030/20755004/b0a3bdc8-b70d-11e6-9502-54476239de6e.png)

Here is a abstract scenario that isn't currently working with docker for mac

[2016-11-30 14:10] ijc25 commented on #825
beta31 was released this morning which includes the fixes in https://github.com/docker/hyperkit/pull/78.

@welps this should have fixed your usecase.

@geertvanheusden I'm afraid we are still looking into the remaining problem (hopefully singular!) for your repro case :-(. If your actual use case is not identical to the repro case then you may still find that beta31 improves sufficiently for you t

[2016-11-30 14:24] HerbCSO commented on #725
Sorry, I thought I had replied, but apparently was mistaken... :/

I'm also still seeing the issue. New diagnostic ID: 91F73C6B-E115-4E31-85EE-6558C8C3B083

[code]

[2016-11-30 15:09] rogaha commented on #973
@OlivierChirouze I'm glad it worked for you! @cdekok can you please try it as week?

[2016-11-30 16:35] xicubed commented on #720
@samoht @tgorgolione @dsheets  Interesting... I was still having this issue. I was seeing how to make the symbolic links permanent when I stumbled across this note from http://apple.stackexchange.com/questions/115646/how-can-i-create-a-symbolic-link-in-terminal saying that:

Once I disabled System Integrity Protection and did a factory reset on Docker (1.13.0-rc2-beta31) everything seemed to work!

[2016-11-30 17:07] fozcode commented on #77
To those seeing very slow web page load times in development projects, I just found that most of my slowness was down to a single library (django-mediagenerator) that manages caching of static assets. In development mode it was walking several directories on every single request to look at file modification times and/or calculate a hash of the file content.

I [modified the library](https://github

[2016-11-30 17:07] vicdelfant commented on #77
Beste docker/for-mac,

Bedankt voor uw bericht. Door privéomstandigheden ben ik op dit moment helaas niet in de gelegenheid om uw e-mail direct te beantwoorden.

Dringende zaken kunt u mailen naar hallo@wijzijnmiddag.nl; mijn collega Kim Verseijden staat u graag te woord.

Alvast bedankt voor uw begrip.

Met vriendelijke groet,
Vic D'Elfant

[2016-11-30 17:08] ebriney commented on #976
It seems that your qcow volume as some errors, can you try this:
- close the app
- open a terminal
- run `Applications//Docker.app/Contents/MacOS/qemu-img check -r all ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/Docker.qcow2`
- launch the app

[2016-11-30 17:23] ebriney commented on #981
`docker run -e HTTP_PROXY= -it ubuntu bash` will do the job, no?

[2016-11-30 18:01] lukevella commented on #981
@ebriney That might be a workaround but it doesn't solve the issue.

I'm hoping that setting the HTTP Proxy settings in the app preferences will have the same effect as setting the environment variables for the docker daemon in systemd. See: https://docs.docker.com/engine/admin/systemd/#/http-proxy

When doing the above the HTTP Proxy environment variables do not get injected into containers. It s

[2016-11-30 20:51] geertvanheusden commented on #825
@ijc25 I will give it a try tomorrow and keep you posted.

[2016-11-30 21:17] WyseNynja commented on #483
It is the last day of November. Any update on when this will be in the beta @dsheets?

[2016-11-30 21:59] J-Fricke commented on #855
I'm running OSX 10.10.5 and Docker 1.12.3-beta30.1 and seeing basically the same issue with resuming from sleep and my containers are no longer running and I need to start them back up again. It's generally not a huge issue in my dev environment.

Though just today I had a database process running which hung because of this issue and I now have to wait another 30min for it to process again.

I'm a

[2016-11-30 22:17] welps commented on #825
@ijc25 This did indeed fix my use case. Thank you so much.

[2016-11-30 22:51] favoretti opened #997 "While on VPN, moby can't resolve private DNS"
### Expected behavior
Moby should use the `/etc/resolv.conf` of the host machine

### Actual behavior
It doesn't :)
Unless I log in to moby and put private DNS server ahead of 192.168.65.* block.

### Information

  1502FA18-9B27-4FE6-BE34-C318CB0BA4A5

### Steps to reproduce the behavior
1. Connect to a VPN that would modify your `/etc/resolv.conf`
2. Try logging in into a private docker registry

[2016-12-01 01:31] kortina commented on #668
It seems like whenever I upgrade Docker for Mac to a new Beta, the fsync patch gets blown away.

I wrote a little script to run whenever I upgrade and need to re-apply:

https://gist.github.com/kortina/67ad6e40e40d5199c3507cdad0c9a12c

[2016-12-01 11:01] jordscream commented on #77
Too long and Too unstable to continue using docker mac (stable or beta).
All my teams will rollback to a standard local developpement
Docker For Linux is the only way to make it work properly

[2016-12-01 11:36] nawa opened #998 "docker 1.13.0-rc2 for mac - build is failed if Dockerfile contains extra empty lines"
### Expected behavior
Build is not failed with provided Dockerfile as with docker v1.12

### Actual behavior
Build is failed with message

	Unknown instruction: RM

### Information

  - Dockerfile contains extra empty line
[code]
  - Docker version
[code]

As a result the builds using my old docker files are failed with new docker version

[2016-12-01 11:58] dsheets commented on #483
Work has begun but is currently delayed behind performance work. Sorry about that. Stay subscribed to get updates. Thanks for your patience!

[2016-12-01 12:37] o5 commented on #77
@jordscream: Did you hear about Docker Toolbox? This tool is used in my teams (macOS/WIN developers) and it works. Docker for Mac should be better tool, unfortunately still not for now. This issue is known a little bit long time, but I hope it will be fixed.

[2016-12-01 13:02] Luukyb commented on #77
@jordscream @o5 I switch to dinghy, which is based on a VM like Docker Toolbox, but with NFS support. So far I'm very happy with the behave and speed, better than Toolbox and Docker for mac IMO. I would recommend dinghy while the two main issues of Docker for mac remains (this one, and #371 ).

[2016-12-01 13:07] o5 commented on #77
@Luukyb I forgot to mention [Docker Machine NFS](https://github.com/adlogix/docker-machine-nfs). Its tricky but definitely better than local environment.

[2016-12-01 15:01] dsvmacdonald opened #999 "How can I download a previous Beta"
### Information

The latest Beta is using Docker 1.33.  That doesn't work for me.  I need Docker 1.12, but Stable version won't work with my VPN.  I previously used Beta 1.12.3-beta30 and it worked fine.  How can I download it?

Thanks,

Dan

[2016-12-01 16:19] johnflavin commented on #17
This happened to me as well, and caused an issue with the behavior of docker itself. I reported it as docker/docker#25579, but I'll summarize here in case anyone else sees the same problem.

I was requesting events from docker, in a way that I expected to poll (i.e. return a finite set of events and close the connection) but was instead streaming (sending me what it had and keeping the connection

[2016-12-01 16:56] lalyos opened #1000 "Docker for mac fails to start after updraging to 1.13.0-rc2-beta31"
[code]

heres is my `/var/lib/docker/plugins/plugins.json `:

[code]

[2016-12-01 17:49] lalyos commented on #1000
I was able to recover by moving away `/var/lib/docker/plugins/plugins.json`.
I thin the whole issue was casued by the side effect of:
https://github.com/docker/docker/pull/28601

The swagger generated go types json annotation changed. So maybe it should be mentioned in the updrade docs:
- remove all plugins
- upgrade docker
- reinstall all plugins

Even deactivating wont help ...

[2016-12-01 19:57] efosmark commented on #998
I'm seeing this, too. Version `1.13.0-rc2-beta31 (14387)`.

[2016-12-01 21:12] victorgsosa opened #1001 "Container hangs in long running script"
### Expected behavior
The script is fully executed
### Actual behavior
The container hangs after certain time
### Information
Diagnostic ID
1336FAD2-BB10-4B29-8242-6B904F28326A

Docker for Mac: version: 1.13.0-rc2-beta31 (de6f6c2)
OS X: version 10.12.1 (build: 16B2555)
logs: /tmp/1336FAD2-BB10-4B29-8242-6B904F28326A/20161201-160712.tar.gz
[OK]     vmnetd
[OK]     dns
[OK]     driver.amd64-linux
[O

[2016-12-01 22:57] Noodle05 opened #1002 "Docker for OSX, maven download slow"
I'm trying to create a java project building docker, it will use svn checkout project and use maven to build it.

Same docker image works pretty good on Linux host, but maven download extremely slow/stucks on OSX host.

I tried to check network connection status from inside the container when it stuck, and find that maven TCP connection stuck at SYN_SENT state for very long time. This is not alway

[2016-12-01 22:57] Noodle05 commented on #1002
Copied from: https://github.com/docker/docker/issues/29037

[2016-12-01 22:58] justincormack commented on #1002
cc @djs55 @yomimono any ideas?

[2016-12-02 00:47] epahl-atlassian commented on #998
I'm seeing the same issue with `1.13.0-rc2-beta31 (14387)`

[2016-12-02 09:18] cdekok commented on #973
@rogaha Got a change to install the beta today, and it seems to work fine on it, I think the issue can be closed 👍

[2016-12-02 09:18] #973 closed

[2016-12-02 09:19] bell87 commented on #977
Usually once per day, sometimes more often than that, I'm also using codeship jet, when I start the service using jet run [service] I'll get an API 500 error and then docker is restarting itself. It doesn't seem to follow any pattern of when / why it happens.

[2016-12-02 09:48] SimonHoenscheid opened #1003 "Allow User to define Folder/Location where Docker stores Files, Images, Containers"
### Information

 I'm very happy with Docker for Mac. But I'm missing a feature to choose the Folder where Docker stores Containers, Files etc.

[2016-12-02 12:02] sandertan opened #1004 "Container silently stops while filling MySQL db using InnoDB"
### Expected behavior
I'm using Docker to fill a MySQL database using the InnoDB Storage Engine. Doing this locally does not lead to errors. Also performs flawless in Docker on Ubuntu 16.04.

### Actual behavior
Without any error message, Docker activity goes to 0 in all activity monitors, without completing the task. Practically no CPU activity and no disk read/write.

### Information
  - Full ou

[2016-12-02 14:30] ebriney commented on #984
I suspect that you have `docker_machine` env left in your `.bash_profile`, can you run `/Applications/Docker.app/Contents/Resources/bin/docker-diagnose` in your terminal?

[2016-12-02 14:36] ebriney commented on #985
For now, Docker for mac, is copying trusted certificates that are in your keychains in moby.
I invite you to read the FAQ [here](https://docs.docker.com/docker-for-mac/faqs/#how-do-i-add-custom-ca-certificates) and tell me if it solves your problem.

[2016-12-02 16:05] ebriney commented on #989
The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related to docker/for-mac#20

[2016-12-02 16:06] #989 closed

[2016-12-02 16:08] ebriney commented on #991
Please install the last version ([here](https://download.docker.com/mac/stable/Docker.dmg))

[2016-12-02 16:17] ebriney commented on #996
Please install the latest version and check if it's work ([here](https://download.docker.com/mac/beta/Docker.dmg))
Re-open the issue if it fails

[2016-12-02 16:17] #996 closed

[2016-12-02 16:28] ebriney commented on #995
Can you try to `Reset to default` as suggested in the diagnose?

[2016-12-02 16:40] sab24 commented on #985
Thanks for the reply. I checked out the FAQ and ran the command sudo security add-trusted-cert -d -r trustRoot -k /Library/Keychains/System.keychain signing-ca-chain.pem. I also set the trust setting in the Keychain. Git also uses the keychain and succeeds, so I think that is not the problem.

I still have: Error response from daemon: Get https://docker.heliosnet.nl/v1/_ping: remote error: handsha

[2016-12-02 17:03] maheshcn opened #1005 "Docker update failed"
### Information

Diagnostic ID: 2CF1777B-6479-4C9D-8EE3-7C48DFBC5EA0
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12.1 (Build 16B2555)
[ERROR]  docker-cli
         docker-cli check failed with: Failure("docker -v: timeout after 10.00s")
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[ERROR]  osxfs
         com.docker.osxfs is no

[2016-12-02 17:15] ebriney commented on #997
It should work, we are relying on `scutil --dns` output to generate dns entries on moby.
We are investigating why it don't work.

[2016-12-02 19:58] globalcitizen commented on #984
Cheers.

I found an ancient cruft-ridden `declare -x DOCKER_HOST="tcp://192.168.59.103:2375"` in `~/.profile`.

In the event that failures are thrown, it would really help to improve ease of debugging (and therefore reduce the number of issues submitted) if a message like **`Cannot connect to the Docker daemon. Is the docker daemon running on this host?`** was better written.

Example: **`Cannot c

[2016-12-02 19:58] #984 closed

[2016-12-02 20:04] pranittrivedi opened #1006 "com.docker.driver.amd64-linux -db is not running"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 5EF2BF6D-10C4-419A-B74E-9C9FC7E2509E
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12.1 (Build 16B2555)
[ERROR]  docker-cli
         Connection refused (ECONNREFUSED) connecting to /var/run/docker.sock: check if service is running
         Connection refused (ECONNREFUSED) connecting to /Users/pranittrivedi/Libr

[2016-12-02 22:11] kdubois commented on #825
I'm not seeing the "Long Semaphore Wait" error in mysql anymore, but now Docker appears to just become unresponsive when I import a large (>3Gig) dataset into a mysql instance while I have 2 other mysql, 3 tomcat, 1 centos+resin server, and 1 centos+apache containers running;  It was chugging along until about 2.5gigs into the import.

When I try to stop the containers, I get the following error:

[2016-12-03 10:23] algesten opened #1007 "beta31 docker-compose overlay2: invalid argument"
### Expected behavior

`./docker-compose up -d` works fine in stable channel. Because of the VPN issue I tried the beta.

### Actual behavior

[code]

This is after it downloaded all images from my private registry.

### Information

There is no fancy networking in my docker-compose files. Just plain links in the default network.

[code]

[2016-12-03 10:42] justincormack commented on #1007
Did you do a factory reset when you switched channels?

[2016-12-03 14:22] askoretskiy commented on #825
On Docker 1.13.0-rc2-beta31 (14387) it no longer hang after several gigabytes.
BUT it seems to work few times slower in my scenario ((
I would need to re-run the same set on old docker to say for sure.

Does Docker have performance regression testing?

[2016-12-03 14:41] favoretti commented on #997
FWIW, `scutil --dns` sees newly assigned private DNS servers ok:
[code]

[2016-12-03 14:43] favoretti commented on #997
But even if I reboot moby while on VPN, the actual `/etc/resolv.conf` is missing them:
[code]

[2016-12-04 09:45] danki commented on #935
@ijc25 Yeah this screenie kind of looks familiar, tho due stressful moment back then i never paid any attention to it... and am therefor unable to confirm 100%.

Am glad i did not loose any important, thankfully the upgrade process moved **~/Library/Containers/com.docker.docker** to .trash which rescued me from possible losses.

Hope no one else lost anything important. I'd suggest in such case so

[2016-12-04 15:19] algesten commented on #1007
On installation it told me it needed to reset everything, and I agreed. It then asked for privileges. After that I had to download all my images again on first run – so I assumed it was an implicit reset. I never tried a manual one.

[2016-12-04 19:53] michaeljs1990 commented on #68
@justincormack thank you! I don't know why but this is the only answer I found in all the bugs on net host not currently working on docker for mac.

[2016-12-04 21:52] torarnv commented on #68
I was very surprised to see this not working on the new shiny macOS version of Docker (working in the intuitive way, not in the "yes, strictly speaking 'host' means 'vm' on macOS").

Is there a workaround when `--net=host` is required for the container to do e.g. uPnP discovery of the local network? Eg: https://home-assistant.io/components/discovery/

[2016-12-05 02:31] armandofelipe1992 commented on #930
Now the issue still persist, but on top of this the diagnostic return: failure: Optional("diagnostic: response is not valid JSON")

Any idea ?

Thanks

[2016-12-05 08:55] geertvanheusden commented on #825
@kdubois based on your results, I think it's still the same issue but it might happen in a later phase?

[2016-12-05 09:59] jordscream commented on #77
@Luukyb @o5 Thanks for these informations.
I was in this system before : docker-machine + docker-nfs and it worked

I was very happy when Docker announce docker for mac because docker-machine can be slow sometimes. We are still in VM mode with container inside (Host + VM + Docker + NFS: 3 layers). Sometimes, it crashes or sometimes the docker-machine stops. It can be good for simple project but wh

[2016-12-05 10:56] rogaha commented on #73
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-12-05 10:56] #73 closed

[2016-12-05 10:56] rogaha commented on #713
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-12-05 10:56] #713 closed

[2016-12-05 10:57] rogaha commented on #754
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-12-05 10:57] #754 closed

[2016-12-05 10:57] rogaha commented on #803
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-12-05 10:57] #803 closed

[2016-12-05 10:58] rogaha commented on #871
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-12-05 10:58] #871 closed

[2016-12-05 10:58] rogaha commented on #964
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-12-05 10:58] #964 closed

[2016-12-05 11:32] rbpaservices commented on #964
Funny thing is that I responded that I was able to get past the issue on
Nov 17th.

On Dec 5, 2016 5:58 AM, "Roberto Gandolfo Hashioka" <
notifications@github.com> wrote:

[2016-12-05 12:46] ibigbug opened #1008 "Auto Detect Proxy Issue"
### Expected behavior

Docker for Mac can detect proxy correctly from Network Preferences, eg, my LAN ip like 10.x.x.x or please do not auto fill proxy settings in the Docker for Mac settings pane.

### Actual behavior

It's detecting the proxy as 127.0.0.1:port which is obviously unusable by the docker daemon in the  HyperKit vm. What's worse is I can not change the proxy settings for Docker for

[2016-12-05 13:03] ebriney commented on #993
Hi, can you send us a report : Whale menu -> Diagnose & Feedback -> Upload

[2016-12-05 13:16] ebriney commented on #994
Hi, updates and diagnoses are using standard https request and are done on host side in user mode so there must be something blocking the app in your internet settings (firewall, proxy, vpn/dns).
I don't think we can do anything, perhaps adding a no proxy rule on `https://download.docker.com` can solve your problem.

[2016-12-05 13:25] ebriney commented on #999
Hi, can you download it [here](https://download.docker.com/mac/beta/1.12.3.13946/Docker.dmg)

[2016-12-05 13:41] vdemeester commented on #998
This is linked to https://github.com/docker/docker/issues/29005 which will be fixed in the RC3 👼

[2016-12-05 13:43] ebriney commented on #998
Hi, it should be fixed in 1.13.0 rc3 see [here](https://github.com/docker/docker/pull/29064)

[2016-12-05 13:51] thaJeztah commented on #1000
Managed plugins are an experimental feature in docker 1.12, and various changes were made, based on feedback, so this is partly expected, but I agree it's not the best experience.

ping @vieux @anusha-ragunathan any idea if we can handle this more gracefully?

[2016-12-05 14:05] lalyos commented on #1000
I agree that "this is partly expected", so i wouldn't really try to handle it in code, just add a small note to the upgrade process:

I think thats totally acceptable for now. But for later changes, some compatibility tests would be helpful.

[2016-12-05 14:16] dancannon opened #1009 "Containers become unresponsive due to "too many connections""
## Expected behaviour

Applications remain accessible even when running many containers

### Actual behaviour

After starting many services which create connections to the containers the containers become unresponsive and docker starts logging "too many connections" errors.

### Information

We use docker for mac to run parts of our development environment (this includes various databases and mess

[2016-12-05 14:38] billforward-alex opened #1010 "Cannot connect to my RabbitMQ container, as of Mac `1.13.0-rc2-beta31 (de6f6c2)`"
I've been using Docker for OS X Native beta for a few months now. Mainly to host RabbitMQ with default settings.

Last week, it updated to `1.13.0-rc2-beta31 (de6f6c2)`, and I lost the ability to connect to the RabbitMQ container that I am running.

I have tried this:

[code]

And also with explicit port forwarding:

[code]

I confirm that the service _appears to be running_:

[code]

I get "conne

[2016-12-05 14:48] thaJeztah commented on #1000
@londoncalling ^^

@vieux for "engine" (/ people not running on docker for mac), probably a warning in the changelog

Thanks for thinking along @lalyos :smile:

[2016-12-05 14:57] djs55 commented on #1009
By default Docker for Mac limits the number of file descriptors it opens to avoid hitting macOS system-wide limits. The current default maximum number of connections is set to 900 (which is perhaps a bit low). It can be updated like this:
[code]
At this point you should see a notice in the logs like this:
[code]
I recommend checking the values of these sysctls:
[code]
I believe this means I could

[2016-12-05 15:10] hector70 opened #1011 "How can I configure the default bridge network"
I need to change the default bridge network since the one provided by default is used inside my intranet. Where is something like config.json in Docker for MAC 1.12.3

[2016-12-05 15:35] baozilala commented on #77
i'm not happy but i won't say anything bad because developers need time to
fix it. Vagrant for this moment.

On Mon, Dec 5, 2016 at 4:59 AM Jordan Samouh <notifications@github.com>
wrote:

[2016-12-05 16:42] dancannon commented on #1009
Thanks @djs55, that appears to work!

[2016-12-05 20:42] anusha-ragunathan commented on #1000
@thaJeztah : Yes, we need to add a note in the 1.13 changelog about upgrade path from 1.12 causing potential issues and suggest a workaround.

[2016-12-05 21:52] heyeon opened #1012 "Can't find suitable config for file"
### Expected behavior
Docker executes the command

### Actual behavior
docker-compose up -d
ERROR:
        Can't find a suitable configuration file in this directory or any
        parent. Are you in the right directory?

        Supported filenames: docker-compose.yml, docker-compose.yaml
### Information
  - Need to reset factory defaults everytime to get docker to run

### Steps to reproduce the

[2016-12-05 22:21] ksokolovic opened #1013 "Fatal Error: vmstateevent invalid json:"
### Expected behavior

Update is downloaded and installed.

### Actual behavior

While downloading the update, **Fatal Error** dialog is shown with the following message: *vmstateevent invalid json:*

### Information

Diagnostic ID: 4FBB527A-564D-423E-8360-C4DDB3957985
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12.1 (Build 16B2555)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslo

[2016-12-05 23:26] kdubois commented on #825
Today I ran into the Long Semaphore Wait error again, running only one container after a restart of Docker for Mac.  It happened after reloading a large data dump 20+ times.  Perhaps @geertvanheusden is right about it happening at a later phase.

[2016-12-06 03:55] akatrevorjay commented on #1000
Yes, please don't let this go the route of the symlink bug and never go in the release notes!

[2016-12-06 07:38] hector70 commented on #218
Docker 1.12.3 cannot find where to configure docker IP range (it's actually giving a network which is connected to my intranet causing conflicts).

[2016-12-06 07:41] NemasisII opened #1014 "xx"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-12-06 08:38] hector70 opened #1015 "Where is the daemon.json in Docker for mac 1.12"
### Expected behavior
I need to change the IP of the default bridge network
### Actual behavior
Cannot find where to set it. I found only documentation for windows and linux.
### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to

[2016-12-06 09:47] ebriney commented on #1015
Hi @hector70, it will be merged on stable next week or the week after with the 1.13 binaries.
If you want to use it for now, you will have to switch on beta.

[2016-12-06 09:47] #1015 closed

[2016-12-06 09:52] #1014 closed

[2016-12-06 10:09] hector70 commented on #1015
Thanks a lot.

2016-12-06 10:47 GMT+01:00 Emmanuel Briney <notifications@github.com>:

[2016-12-06 10:54] rogaha commented on #1000
@thaJeztah I've added an issue on the `docker-engine` side as well. Thanks for jumping in.

[2016-12-06 10:58] ijc25 commented on #825
https://github.com/docker/hyperkit/pull/84 contains the fix for the remaining part of this hang. I'm hoping to be able to slip this one in for beta32 (due in the next couple of days, I'm a bit late but I think I can make it).

This all took longer than expected because while I was debugging this issue I found a third one (in another component) which randomly (because it seemed totally unrelated) w

[2016-12-06 12:09] anperez78 opened #1016 "My Docker engine just freezes randomly"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: AA866AFD-2D1E-48AF-A7D6-ACE234B32760
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.10.4 (Build 14E46)
[ERROR]  docker-cli
         docker ps failed
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-cons

[2016-12-06 12:11] rogaha commented on #1002
@Noodle05 can you please run the `diagnose & upload` from `Docker for Mac`? Also, can you please upgrade your `Docker for Mac` application and confirm that the issue persists? We had lots of `DNS/networking` improvements along with the latest updates.

[2016-12-06 12:20] rogaha commented on #1005
cc @samoht  any ideas?

[2016-12-06 12:20] rogaha commented on #1006
cc @samoht  any ideas?

[2016-12-06 12:30] rogaha commented on #1009
@dancannon thanks for the update. I'm closing this for now.

[2016-12-06 12:30] #1009 closed

[2016-12-06 12:36] rogaha commented on #1007
@algesten can you please try it manually and check if that works? Thanks

[2016-12-06 12:39] rogaha commented on #1008
@ibigbug can you please confirm the `version` of your `Docker for Mac` application?

[2016-12-06 12:41] ibigbug commented on #1008
@rogaha The version is:

![image](https://cloud.githubusercontent.com/assets/543405/20925867/5307e054-bbf4-11e6-89e6-32974e3fd6cf.png)

[2016-12-06 12:50] rogaha commented on #1010
@billforward-alex can you please try to run a simple `nginx` container and confirm if the `port` is being exposed  properly?

see the example below:
[code]

[2016-12-06 12:54] rogaha commented on #1011
@hector70 the `bridge` network is not exposed through `Docker for Mac` (see docs https://docs.docker.com/docker-for-mac/networking/#/there-is-no-docker0-bridge-on-macos). Can you please clarify what's the issue you are experiencing?

[2016-12-06 12:57] rogaha commented on #1013
@ksokolovic can you please try to `uninstall` and they install the latest version? it might be an issue with the `1.12.0-a` version specifically.

<img width="380" alt="screen shot 2016-12-06 at 4 56 44 am" src="https://cloud.githubusercontent.com/assets/4483394/20926298/6db5fd70-bb70-11e6-9ee1-49b637311a00.png">

[2016-12-06 12:58] rogaha commented on #1016
@anperez78 can you please try to update to the `latest` `Docker for Mac` version? We had lots of improvements released recently. Thanks!

[2016-12-06 13:10] ksokolovic commented on #1013
@rogaha Fresh (re)install worked like a charm. Thanks!

[2016-12-06 13:58] rogaha commented on #1013
awesome! Thanks for the update @ksokolovic

[2016-12-06 13:58] #1013 closed

[2016-12-06 14:37] billforward-alex commented on #1010
Thanks for the quick reply.

Before I launch nginx, here's what my environment is like:

[code]

Now let's launch nginx:

[code]

nginx is definitely listening on port 8080, and I can _sort of_ connect to it, but it never sends me data, nor does it ever close the connection.

[2016-12-06 14:45] billforward-alex commented on #1010
I tried watching the TCP activity during the curl:

[code]

And then when I press Ctrl-C, we get:

[code]

My dtrace script is:

[code]

[2016-12-06 14:50] rogaha commented on #1010
@billforward-alex it looks like your network environment is messed up. Can you please run the `diagnose & upload` and share the ID here? /cc @djs55

[2016-12-06 15:00] billforward-alex commented on #1010
I thought I did this in the first post:

The diagnostic `3E50D0B0-B6D1-42FE-8BCD-4139DF9C62C9` is indeed one that I have uploaded.

[2016-12-06 15:05] rogaha commented on #1010
@billforward-alex yep, indeed. Sorry I missed that! :)

[2016-12-06 15:09] rogaha commented on #1010
here is what I found in the logs:

Detected symptom of problem 'error' in 3E50D0B0-B6D1-42FE-8BCD-4139DF9C62C9/20161130-151352.

[INVESTIGATE THE ISSUE]

The following log matches:
[code]

--------------------------------------------------------------------------------
Detected symptom of problem 'error' in 3E50D0B0-B6D1-42FE-8BCD-4139DF9C62C9/20161205-141818.

[INVESTIGATE THE ISSUE]

The followi

[2016-12-06 15:32] hector70 commented on #1011
Actually I was experimenting the problems isssued in the link you gave me.

2016-12-06 13:54 GMT+01:00 Roberto Gandolfo Hashioka <
notifications@github.com>:

[2016-12-06 15:35] billforward-alex commented on #1010
hm, the top one (`caught Uwt.Uwt_error(Uwt.ENOTCONN, "shutdown", "")`) could be because I put my computer to sleep every time I go to lunch or finish work.

[2016-12-06 15:36] billforward-alex commented on #1010
the bottom one mentions some DNS changes… that may happen when I connect to our VPN.

maybe neither of these are related to the error we are seeing right now.
I will try to produce a more recent log.

[2016-12-06 15:40] billforward-alex commented on #1010
[code]

New Diagnostic ID: `3E50D0B0-B6D1-42FE-8BCD-4139DF9C62C9`

[code]

I can confirm that during _this_ test (between `2016-12-06T15:37:51Z` and `2016-12-06T15:38:29Z`):
- I did not put my computer to sleep
- I was not connected to the VPN

[2016-12-06 15:43] rogaha commented on #1010
thanks for the extra logs @billforward-alex.

here is the only new error that I see in the logs:
Detected symptom of problem 'error' in 3E50D0B0-B6D1-42FE-8BCD-4139DF9C62C9/20161206-153823.

[INVESTIGATE THE ISSUE]

The following log matches:
[code]

[2016-12-06 15:50] billforward-alex commented on #1010
hm, those errors occurred last week. they might be so old that they belong to a previous version of Docker.
my guess would be they're related to my computer waking from sleep.

it's worth knowing that when my computer wakes from sleep:
- may have no Ethernet cable plugged in yet
- WiFi is likely to be turned off (since I usually rely on wires)

I don't remember anything catastrophic happening last

[2016-12-06 15:54] billforward-alex commented on #1010
there's some stuff inside `docker-system-os.log` during that time:

[code]

for example:

[code]

[2016-12-06 19:08] raptor235 opened #1018 "Sooooo slow..."
Hey guys,

This is not really a bug but just trying to gain some understand of what's going on... I've been running docker-machine-nfs for a while now... tried to switch to docker for mac a few times but I just can't stomach the slow speed.... how can they push that product so hard when it's so bad at performance... doesn't anyone else have the same issues?

For example I'm running the same site,

[2016-12-06 19:09] Noodle05 commented on #1002
I'm getting following error:

[code]

[2016-12-06 20:12] gambtho opened #1019 "Unable to install docker for mac - E2F4EBBB-4C2E-4ECD-A374-58417F9FD202"
### Expected behavior
Install completes, and docker launches
### Actual behavior
Error message displayed - Fatal error: Communication with networking components failed.
### Information

Docker for Mac: version: 1.12.3 (583d1b8)
OS X: version 10.11.6 (build: 15G1211)
logs: /tmp/E2F4EBBB-4C2E-4ECD-A374-58417F9FD202/20161206-151028.tar.gz
failure: com.docker.slirp is not running
[ERROR]  vmnetd

[2016-12-06 20:16] gambtho commented on #1019
Found solution - https://github.com/docker/for-mac/issues/107#issuecomment-237320370

[2016-12-06 20:16] #1019 closed

[2016-12-06 23:13] askoretskiy commented on #825
Unfortunately I continuously reproduce "hang" problem on Docker for Mac 1.13.0-rc2-beta31 (14387). Waiting for a better fix ))

I would be glad to somehow help investigating the issue if needed.

[2016-12-07 04:14] leession commented on #935
@jijojv me too, data missed !

[2016-12-07 06:50] jlk commented on #770
Further question on this:

I see ~/Library/Containers/com.docker.docker/Data/database/com.docker.driver.amd64-linux/expose-docker-socket - does this get used anywhere?

[2016-12-07 08:14] geertvanheusden commented on #825
@askoretskiy As mentioned by @ijc25, the fix will be available in beta32 so "hang" in there. ;-)

[2016-12-07 11:01] Luthien-in-edhil commented on #1018
Not sure if it's a bug but it's sure bugging the hell out of me.

We switched to using Docker for our development environment sometime ago. The environment consists of Neo4J, Postgres, Tomcat & Apache - all dockerised. One of my colleagues is running Docker on Linux, while I'm using Mac OS (Sierra - 10.12) with the latest Docker beta _1.13.0-rc2-beta31 (14387)_.

For him, a docker restart for Tomc

[2016-12-07 14:57] raptor235 commented on #1018
Startup problems are different... I've seen those issues before with internal hosts files not being setup properly.

The issues I'm describing are on every page load... it's just a slow as hell and seems to be because of how volumes are being mounted.

Sent from my iPhone

[2016-12-07 15:10] philjones88 opened #1020 "Docker for Mac repeatable crashing"
### Expected behavior

To not crash. Running SeleniumHQ selenium-hub and node-chrome-debug images.

https://github.com/SeleniumHQ/docker-selenium

### Actual behavior

Crashes.

### Information

[code]

[code]

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

B61E99DF-82FC-4705-93F7-D5CBE45C367D

[code]

[code]

  - A reproducible case if this is a bug, Dockerfiles FTW

C

[2016-12-07 16:44] tmcsys opened #1021 "No Docker support on 2010 MacPro5,1"
### Actual behavior

Stable release

Unable to obtain diagnostic report

Incompatible CPU detected.

Diagnose * Feedback...
Diagnose and upload

failure: Optional("diagnostic: response is not valid JSON")

### Information

10.11.6
VirtualBox Version 5.1.10 r112026 (Qt5.6.2)

kern.hv_support: 0

Model Name:	Mac Pro (Mid 2010)
Model Identifier:	MacPro5,1
Processor Name:	Quad-Core Intel Xeon
Processo

[2016-12-07 17:49] ijc25 commented on #825
Beta 32 has just been released, if you are on the beta channel then you should be auto updated shortly. I'm going to close this issue now, obviously please reopen if you find the issue is not in fact fixed for you.

Thanks for your patience while we worked through the multiple issues found here.

[2016-12-07 17:49] #825 closed

[2016-12-07 18:12] djs55 commented on #371
Quick update on this: beta 32 (released today) has experimental support for TRIM. It's not yet running continuously in the background but it can be manually triggered for testing using a command like:
[code]
The TRIMs are batched on the host and, when a threshold is hit, a disk compaction shrinks the file. There are known rough edges including

- the compaction can be slow, particularly if there a

[2016-12-07 18:26] Vanuan commented on #1018
Likely the duplicate of #77

[2016-12-07 18:36] zwass commented on #17
I have experienced this two days in a row with
[code]

The clock does not reset itself after at least half an hour of the computer coming back from sleep, but it does immediately reset when Docker is restarted.

I just updated to `1.13.0-rc3-beta32` and will report back if I continue experiencing the problem.

[2016-12-07 19:55] muenalan opened #1022 "Docker spontaneously does not respond"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-12-07 20:05] davidmpatterson opened #1023 "Fresh install - error: Could not read CA certificate ".../machine/machines/default/ca.pem" no such file..."
### Expected behavior
The "hello-world" should download and run.

### Actual behavior
Could not read CA certificate "/.../.docker/machine/machines/default/ca.pem": open /Users/.../.docker/machine/machines/default/ca.pem: no such file or directory

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
Docker for Mac: version: 1.12.3 (583d1b8)
OS X: version 10.11

[2016-12-07 20:10] MagnusS commented on #1022
I'm closing this issue as there is not enough information in it to reproduce or debug. Please file a new issue with more information about how the issue occurred and a diagnostics ID if available.

[2016-12-07 20:10] #1022 closed

[2016-12-07 20:45] TofPlay opened #1024 "My main disk is almost full... 😰"
Hi
My main disk is almost full. Can I move docker images to another disk?

[2016-12-07 21:13] yankcrime commented on #371
Thanks @djs55 - certainly did the trick here, reducing usage from 16GB down to 4.5GB in a little under 6 minutes.  This is on an SSD-equipped 2014 MBP:

[code]

[2016-12-07 21:20] ye commented on #371
Thank you @djs55 !

It worked for me as well. It reduced the `~/Library/Containers/com.docker.docker` down from around 18GB to 8.2GB in under 2 minutes (sorry didn't quite capture the log outputs but those are rough estimates) on an Early 2015 MBP.

[2016-12-07 21:27] ggarnier commented on #371
@djs55 it's not working for me (OS X El Capitan):

[code]

[2016-12-07 21:30] MisterMartin commented on #371
I had the same error until I updated doker-for-mac. Then ran great and
reduced usage from 29G to 15G in a couple of minutes.

On Wed, Dec 7, 2016 at 2:28 PM, Guilherme Garnier <notifications@github.com>
wrote:

[2016-12-07 21:35] ggarnier commented on #371
@MisterMartin I just checked for updates, and seems like I'm already using the latest version

[2016-12-07 21:38] konradjurk commented on #371
@ggarnier Are you in the beta channel?

[2016-12-07 21:39] justincormack commented on #371
@ggarnier this is only on beta channel at present (as its still very beta!).

[2016-12-07 22:01] jrwesolo commented on #371
@djs55 This is awesome! You mentioned it does not run continuously in the background right now. Is the plan to have that be automatic before it exits the beta channel?

[2016-12-07 22:10] ggarnier commented on #371
@konradjurk @justincormack oh, I see. I'm using the stable version. Sorry!

[2016-12-07 23:51] jamshid opened #1025 ""docker pull" fails after 1.13.0-rc3-beta32 upgrade with "server misbehaving""
### Expected behavior
docker pull should work after upgrading to latest beta.
### Actual behavior
[code]
### Information

[code]
### Steps to reproduce the behavior

  1. upgrade a previously working docker for mac to latest beta
  2. i do not have any VPN enabled, but i am on my work wifi (normally docker for mac works fine)
  3. Yup, definitely something about being on work wifi. It worked when

[2016-12-08 08:43] geertvanheusden commented on #825
I tested the mysql-stress-test again and it doesn't crash the same way as it used to.

Now I have:

[code]

Not sure if this is a docker or docker-for-mac issue. Could be something else, never used the stress test tool before so...

[2016-12-08 08:58] dbourguignon commented on #371
Worked for me perfectly too.

Down from 29Go to 6.4Go

[2016-12-08 09:16] ijc25 commented on #825
@geertvanheusden I found the OOM killer would sometimes assassinate one of the mysqld processes which lead to errors something like this. Upping the amount of RAM Docker was configured with seemed to resolve it.

[2016-12-08 09:27] TehesFR commented on #1018
@raptor235 as mentioned by @Vanuan you can see in #77 that you are definitely not alone facing this issue.

So far, the best solution that I've tested on Mac is https://github.com/codekitchen/dinghy with xhyve provider.

Lately, I've tried Docker for Mac, Dinghy with virtualbox provier, and Dinghy with xhyve provider.
With each one, I've created a docker container with a shared volume, and execute

[2016-12-08 09:36] geertvanheusden commented on #825
Thx! It does the trick!

[2016-12-08 10:41] bric3 commented on #371
It works!
@djs55 is it necessary to use `justincormack/debian` for `nsenter`? For exemple can't we use [walkerlee/nsenter](https://github.com/walkerlee/docker-nsenter) it only ships with `nsenter` and `fstrim` is run on Moby (alpine) anyway .

[2016-12-08 10:42] kwerey opened #1026 "Throw error when users add the protocol to the start of insecure registries"
When adding insecure registries in Docker for Mac, the daemon expects input in the format  'mydomain.com:5000'. If a user adds an insecure registry through the Docker for Mac UI in the format 'https://mydomain.com:5000', that endpoint will be added to the list of insecure registries, but the daemon will not actually disable certificate verification for the host - it doesn't understand input with a

[2016-12-08 12:32] rogaha commented on #1023
@davidmpatterson it looks like the `docker` client is pointing to `docker-machine` configurations. Can you please verify if you have environment variables forcing that `path`?

[2016-12-08 15:54] hoatle commented on #77
anyone here wanna try a truly universal software development platform?

teracy-dev is created to set up a universal development platform which has the same development workflow on Mac, Linux and Windows with good developer experience and productivity in mind.

We have docker and docker-compose preinstalled, better than docker toolbox, docker native app.

The project is here: https://github.com/ter

[2016-12-08 16:01] rogaha commented on #1010
@billforward-alex  have you tried to re-install it from scratch? is that possible for you?

[2016-12-08 16:14] dave-tucker commented on #77
@hoatle Your comments here and on `docker/for-win` were removed as it hit my internal spam filter 👾 . If you are a user of Docker for Mac or Docker for Windows and have something to add to the discussion then please feel free to comment in a more constructive manner.

[2016-12-08 17:16] dawnerd commented on #921
Here too. Restarting docker fixes it but is not ideal.

[2016-12-08 17:48] schmunk42 commented on #77
Not to be meant as a concurrent product, but even we have created a [custom VM setup with Vagrant](https://github.com/dmstr/vado-ligure/blob/master/template/Vagrantfile), because neither Docker-for-Mac, nor `docker-machine` or existing NFS addons could solve our problems :(

[2016-12-08 21:13] kzettlmeier commented on #1026
I also have the same issue on our end.  We run an internal docker server via Nexus and the registry is signed by an internal CA certificate.  The same steps @kwerey provided give me the same error message from the daemon.

[2016-12-08 22:06] murphyke commented on #1023
The same thing happened to me, and it turned out that I had `DOCKER*` environment variables set in my environment from much earlier experiments. When I did away with these, things started working.

[2016-12-08 22:15] kdubois commented on #825
Confirming as well that the latest beta fixes the issue! Thanks!

[2016-12-08 22:36] kwerey commented on #1026
Since my bug report is long: if you're getting that error, the fix for you as an end user is this:

1. remove the protocol ('https://') from the start of your registery, leaving just 'myregistry.domain.com:port'.
2. click 'apply and restart' and wait for the docker daemon to get up and running again.

There isn't any missing functionality, and this is exactly what the interface and examples tell y

[2016-12-09 01:20] EvanZhouTHU opened #1027 "Docker uninstallation failure"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 95A5BACD-4CFB-4C80-B92A-86477A07F33F
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12.1 (Build 16B2555)

### Steps to reproduce

1. ...
2. ...

[2016-12-09 07:46] SimonHoenscheid commented on #1024
Refers to #1003

[2016-12-09 08:04] Vanuan commented on #77
Is there still a plan to open source Docker for Mac?

[2016-12-09 09:26] rogaha commented on #994
@jsok is it still an issue?

[2016-12-09 09:32] rogaha commented on #1002
@Noodle05 can you please install the latest `beta` version? it looks like you are using the `stable` version. Link: https://download.docker.com/mac/beta/Docker.dmg

[2016-12-09 09:38] rogaha commented on #997
@djs55 any thoughts?

[2016-12-09 09:55] rogaha commented on #998
@nawa @epahl-atlassian can you please verify if the issue persists with `1.13.0-rc3-beta32`?

[2016-12-09 10:19] rogaha commented on #1005
@maheshcn can you please try to install the `newer` version from scratch, if possible?

[2016-12-09 10:20] rogaha commented on #1006
@pranittrivedi  can you please try to install the `newer` version from scratch, if possible?

[2016-12-09 10:28] rogaha commented on #1003
@SimonHoenscheid just a heads up, we are planning to add that feature to the next `beta` release. We will keep you posted.

[2016-12-09 10:28] rogaha commented on #1024
@TofPlay  just a heads up, we are planning to add that feature to the next `beta` release. We will keep you posted.

[2016-12-09 10:39] SimonHoenscheid commented on #1003
Thx!!!

[2016-12-09 10:39] rogaha commented on #1008
@ibigbug this is fixed on the `beta` channel (https://download.docker.com/mac/beta/Docker.dmg) and it will be fixed on the next `stable` release. Thanks for reporting the issue!

[2016-12-09 10:40] ibigbug commented on #1008
@rogaha Great to hear that. Thanks for your work!

[2016-12-09 10:40] #1008 closed

[2016-12-09 10:45] rogaha commented on #1011
@hector70 which one exactly? I'm trying to understand your `use-case`.

[2016-12-09 10:48] rogaha commented on #1012
@heyeon can you please try that with the `latest` beta version (https://download.docker.com/mac/stable/Docker.dmg)?

[2016-12-09 10:52] rogaha commented on #1018
closing this in favor of #77. @raptor235 please use that `issue` for any further discussions. thanks!

[2016-12-09 10:52] #1018 closed

[2016-12-09 11:03] nawa commented on #998
@rogaha Looks like fixed

[2016-12-09 11:28] rogaha commented on #1020
@philjones88 I wasn't able to replicate your issue. I'm using the latest `beta` version (beta32). See below my environment details:

**docker-compose.yml**
[code]

**config.js**
[code]

**package.json**
[code]

Can you please try it again with that?

[2016-12-09 11:28] pranittrivedi commented on #1006
@rogaha I tried that multiple times. Set bash profiles a few times too. But in the end, just re-installing it didn't fix it, you had to hit the "reset to factory defaults" to ensure it cleaned out all the old files.

Thanks though.

[2016-12-09 11:28] #1006 closed

[2016-12-09 11:29] rogaha commented on #1024
It's worth mentioning this issue https://github.com/docker/for-mac/issues/371 is fixed in the latest `beta` version.

[2016-12-09 11:53] dsvmacdonald commented on #999
Thanks

[2016-12-09 11:53] #999 closed

[2016-12-09 12:20] rogaha commented on #998
awesome, thanks for the update @nawa!

[2016-12-09 12:20] #998 closed

[2016-12-09 13:05] rogaha commented on #1027
@EvanZhouTHU do you mind trying to perform a `reset to factory` before doing the `uninstalling`?

[2016-12-09 13:37] gmgauthier opened #1028 "All docker-cli commands failing: Error response from daemon: Bad response from Docker engine"
### Expected behavior
proper responses from cli

### Actual behavior
Error response from daemon: Bad response from Docker engine

### Information
OSX Dock icon is permanently "starting" state.

- Full output of the diagnostics from "Diagnose & Feedback" in the menu
Docker for Mac: version: 1.12.3 (583d1b8)
OS X: version 10.10.5 (build: 14F1909)
logs: /tmp/BB8A3D3E-6BA4-4FDA-8330-84A1E1B58347/20161

[2016-12-09 16:28] kzettlmeier commented on #1026
@kwerey Thank you for the fix.

[2016-12-09 17:17] john3exonets opened #1029 "Docker never moves out of "Starting...." status"
### Expected behavior
Docker to start and Restart-Always containers to run.

### Actual behavior
Docker never moves from the "Starting..." status.  'docker ps' command fails.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
Docker for Mac: version: 1.13.0-rc3-beta32 (9cf974f9e)
OS X: version 10.10.5 (build: 14F2009)
logs: /tmp/D38D290F-6C5C-4B85-A50A-7B03

[2016-12-09 18:12] snodnipper commented on #5
I seem to be able to produce this error fairly easily whilst building Mapbox GL.  Executing the following:

[code]

Produces output like:

[code]

I can build it by getting into the container and compiling from where it blows up.
e.g. ```docker run -i  -v `pwd`:/home/mapbox/build -t mapbox/gl-native:linux``` and repeating the make process.

[2016-12-09 18:13] Noodle05 commented on #1002
The beta having same issue. Uploaded diagnostic

Diagnostic ID: 5A7D84F4-40A1-4A9E-994A-B9D7D3168ACA

[2016-12-10 01:28] heyeon commented on #1012
Thanks! Works.

On Fri, Dec 9, 2016 at 2:48 AM, Roberto Gandolfo Hashioka <
notifications@github.com> wrote:

[2016-12-10 06:48] TofPlay commented on #1024
@rogaha I do not know if it's a coincidence or not but I have used Docker quite intensively lately. 2 days ago my mac started to stop seeing my disks and have strange behavior. It had never happened before. To restore the system I was obliged to reinstall a backup. Since then I hesitate to reuse Docker. Can Docker make my config unstable?

[2016-12-10 06:54] TofPlay commented on #1024
@rogaha thank you for following 🙂

[2016-12-10 10:26] hector70 commented on #1011
The use case is simple: I want some container to connect to the company
intranet, which reaches a network with the same address of the default
docker bridge network through a router so only the default gateway knows
about its existance, that's why I wanted to change the default bridge
network address. I solved the problem attacching container to a
user-defined bridge network but I would like this

[2016-12-10 16:48] maheshcn commented on #1005
It is working fine with new install. Thanks

On 9 December 2016 at 15:49, Roberto Gandolfo Hashioka <
notifications@github.com> wrote:

--
Thanks,

Mahesh

[2016-12-10 21:13] gesellix commented on #849
I tested the issue against Docker 1.13.0-rc3 (Git commit 4d92237) and can confirm this issue to be fixed.

[2016-12-11 14:50] diameter2000 opened #1030 "Docker swarm service died with "context deadline exceeded", can't recover again with reinstall or upgrade to 1.12.3"
### Expected behavior
Docker swarm service should be always up and running per defined replication instances

### Actual behavior

Docker version: 1.12.1

The docker service can't run and reported "context deadline exceeded", upgraded to docker 1.12.3, it is a little better doesn's show this error but service instance always shows 0 and always in preparing. After serveral rounds quit and restart d

[2016-12-11 15:52] wojas commented on #371
If I try to run `fstrim /var` with beta32 on El Capitan, the Docker CPU usage goes up to 100% and Docker for Mac completely stops responding after a minute or so (both the docker daemon and on the `com.docker.driver.amd64-linux/tty` socket).

I let it run overnight, but it seems it simply crashed. I cannot find any errors in the logs, not any tty output.

[2016-12-11 20:03] askoretskiy commented on #825
Thank you @ijc25 -- my issue have been resolved in beta 32 . Great job!

[2016-12-11 21:17] danm commented on #17
Problem here too.

Host Date:
`$ date`
`Sun 11 Dec 2016 21:15:03 GMT`

Container Date:
`$ docker run alpine date `
`Sun Dec 11 18:29:44 UTC 2016`

Mac `10.11.6 (15G1108)`
Docker `Docker version 1.12.3, build 6b644ec`

[2016-12-11 21:33] ealves-pt opened #1031 "network_mode: "host" probably not working as expected"
I'm trying to run from a `docker-compose.yml` the a service with `network_mode: "host"` but it doesn't seem to be working as expected in OS X.

Having the `docker-compose.yml`:
[code]

### Expected behavior

Running `nmap -sT 127.0.0.1` should output:
[code]

### Actual behavior

Running `nmap -sT 127.0.0.1` doesn't show the expected port.

[2016-12-11 22:23] jsok commented on #994
Yes still an issue.

 I can access the download URL:

[code]

Another factor is a corp MITM SSL setup, however the CA is in my Keychain and trusted (and Docker for Mac recently acquired the ability to honour it).
Potentially the download URL is failing due to an SSL issue?

[2016-12-12 08:44] chengxing1987 opened #1032 "Docker exits suddenly on MAC"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 0A658CB1-B1FF-4313-A376-1BAB469AAAAD
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12.1 (Build 16B2555)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]