[2016-10-14 13:26] #646 closed

[2016-10-14 13:28] samoht commented on #610
Detected symptom of problem 'auplink-segfault' in 6B253562-2AE9-4A1B-ACEA-00D0592313E9/20160913-195151.

You hit an issue with the AUFS storage driver that we shipped in previous versions of Docker for Mac. You should upgrade to the latest version of the product which fixes this defect. Thanks!

May be related to docker/for-mac#7

The following log matches:
[code]

[2016-10-14 13:28] #610 closed

[2016-10-14 13:29] #568 closed

[2016-10-14 13:30] djs55 commented on #662
@samoht I've not seen that before. I believe this is from inside the VM and `ENFILE` means "The system limit on the total number of open files has been reached" which sounds like bad news. I wonder which process is using all the fds?

[2016-10-14 13:31] #435 closed

[2016-10-14 13:32] samoht commented on #419
Detected symptom of problem 'auplink-segfault' in 854DD300-375F-42D9-A6A5-E375463D58AB/20160825-171803.

You hit an issue with the AUFS storage driver that we shipped in previous versions of Docker for Mac. You should upgrade to the latest version of the product which fixes this defect. Thanks!

May be related to docker/for-mac#7

The following log matches:
[code]

[2016-10-14 13:32] #419 closed

[2016-10-14 13:35] samoht commented on #103
Detected symptom of problem 'auplink-segfault' in A26E0E2B-B04F-4B07-81ED-8D275FCD93C5/20160803-113349.

You hit an issue with the AUFS storage driver that we shipped in previous versions of Docker for Mac. You should upgrade to the latest version of the product which fixes this defect. Thanks!

May be related to docker/for-mac#7

The following log matches:
[code]

[2016-10-14 13:35] #103 closed

[2016-10-14 13:37] mitchless commented on #738
Thanks @ijc25 and @samoht. I haven't seen a crash since I upgraded.

[2016-10-14 13:40] kitsushadow commented on #343
Perhaps before closing it you could provide instructions on how to implement it...

[2016-10-14 13:40] kitsushadow commented on #343
@samoht

[2016-10-14 13:44] samoht commented on #343
@kitsushadow please see the docs: https://docs.docker.com/docker-for-mac/faqs/#/how-do-i-add-custom-ca-certificates

[2016-10-14 13:57] gloomybrain commented on #343
@samoht the document you've provided says `Starting with Docker for Mac 1.12.1, 2016-09-16 (stable) ...`. I have a fresh docker installation on my Mac (1.12.1 build 12133) and I have our enterprise sertificate imported into Keychain and marked as "always trust". But I still do not have an ability to download a docker image from our private TLS-secured registry because of the `x509: certificate sig

[2016-10-14 14:14] samarth commented on #788
I am not able to reproduce this issue again . The only thing that changed was my MAC since I raised this one.

Closing for now , will raise another one if I ever comeby across it . Thanks !

[2016-10-14 14:14] #788 closed

[2016-10-14 14:21] genei09 commented on #681
[code]

[2016-10-14 14:22] samoht commented on #343
@gloomybrain sorry about that, our docs are wrong: CA integration with OSX keychain is only in the Beta channel (and will be in the next stable release next week).

[2016-10-14 14:22] samoht commented on #343
I am re-opening the issue to keep track of fixing the docs.

[2016-10-14 14:33] dougtoppin commented on #800
Followup on this. I installed macOS Sierra (10.12) and re-installed the Docker Mac Beta and it still did not work. I then used the Docker UI to uninstall docker entirely and then installed it again.
This time it did come up successfully.
Still not sure what caused the initial issue.

2 lessons (re-)learned, don't update anything if you have to have it working the next day and make sure that the cu

[2016-10-14 14:33] #800 closed

[2016-10-14 14:39] gloomybrain commented on #343
@samoht Thanks a lot!

[2016-10-14 14:44] kitsushadow commented on #343
Thanks

On Oct 14, 2016 10:39 AM, "Denis Novozhilov" <notifications@github.com>
wrote:

[2016-10-14 15:01] justincormack commented on #769
I am doing some experiments. Forgotten how frustrating Linux audio is. Anyway I have some silence working...

[2016-10-14 15:43] jakajancar commented on #801
@justincormack Can you explain how you got to 85983232?

[2016-10-14 15:44] samoht commented on #343
btw, our docs are now hosted on https://github.com/docker/docker.github.io/tree/master/docker-for-mac so you are very welcome to open a PR to fix that error :p

[2016-10-14 15:45] samoht commented on #799
@vikramvi this configuration is not yet supported in Docker for Mac, but we are trying to make it easier to do that in the future. I will see if we can add a section in  https://github.com/docker/docker.github.io/tree/master/docker-for-mac about that (or feel free to open a PR to suggest doc improvements).

[2016-10-14 15:46] justincormack commented on #801
82 Megabytes. The ulimit specification in the `docker run` command is in bytes, while for the shell it is in k it seems.

[2016-10-14 15:46] samoht commented on #799
I am closing the issue now as we found a workaround for your issue. Thank for using Docker for Mac!

[2016-10-14 15:46] #799 closed

[2016-10-14 15:52] jakajancar commented on #801
Ah, ok.

Although if varnish there has 82000 KB (not 82 MB), then that's 83968000 B, no? Not that it matters, probably.

[2016-10-14 15:54] justincormack commented on #801
No, it doesnt make much difference, as it is a minimum.

[2016-10-14 16:13] remysaissy opened #802 "Native Docker for Mac – need ability to define per container memory/cpu conf"
Hi,
currently the docker for mac allows for a global memory and cpu setting for all containers.
it would be good to have a way to override these settings for some containers (eg a dev env that would need much more resources to build properly).

[2016-10-14 16:35] roman-gliffy commented on #68
@ziyouchutuwenwu, I'm curious why its hard to bind to a host interface?

[2016-10-14 19:57] victorlin commented on #742
same issue, always starting

Diagnostic ID:
3CFC53D2-5294-4B4F-B132-3F851F847ABD

[2016-10-14 20:04] vrinek opened #803 "5 seconds delay on _first_ external request of process"
### Expected behavior

External HTTP requests should not experience arbitrary delays.
### Actual behavior

The _first_ external HTTP request of a process (maybe thread I'm not sure) experiences a delay of 5 seconds. Subsequent requests are not delayed.
### Information
#### Diagnostics

[code]
### Steps to reproduce the behavior

**Note:** all of the commands below, when run outside of docker, do n

[2016-10-14 21:19] alvarow commented on #343
The docs state Docker for Mac creates a bundle based on Keychain trusted certs and passes that bundle to Moby... can you tell us how often does it do that? It is every time you start Docker for Mac, is it one time, or is it whenever it gets installed or updated?

Thanks

[2016-10-14 23:17] Bruce-li-92 opened #804 "https://download.docker.com/mac/stable/Docker.dmg"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 4D8AB3DF-5707-431B-8AC1-CD5B322C5642
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]     vm

[2016-10-15 03:58] chespinoza opened #805 "Last Docker stable - don't start on MacOs 10.11.6 El Capitan after installation"
### Expected behavior
Docker startup after clean installation
### Actual behavior
Docker don't start
### Information

Diagnostic ID: 04B84FA6-0C52-42D7-B808-6D94A6FFF2F6

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/04B84FA6-0C52-42D7-B808-6D94A6FFF2F6/20161015-004704.tar.gz
failure: com.docker.driver.amd64-linux -db is not running
[ERROR]  docker-cli

[2016-10-15 06:39] vikramvi commented on #799
@samoht Can you please clarify "..this configuration is not yet supported in Docker for Mac..." , I didn't get this point.

[2016-10-15 08:42] justincormack commented on #20
Reopening as it is not fixed yet, even though we don't have a repro case, it clearly affects lots of people. We are looking at switching to `overlay2` not aufs, which we hope will alleviate this, in the next beta.

[2016-10-15 08:45] justincormack commented on #802
You can set memory use per container, see https://docs.docker.com/engine/reference/run/#/runtime-constraints-on-resources

However these need to be less than the total, we have to reboot the virtual machine to increase its memory and CPUs, so we cannot easily do it for a single docker run.

[2016-10-15 08:52] cmosetick commented on #743
@bric3 Here is something you can run to get the man pages while offline:
https://github.com/cmosetick/docker-manpages-osx

[2016-10-15 10:11] jippi commented on #483
Any ETA on this? :)

Currently it's blocking https://github.com/hashicorp/nomad/issues/1091 and other projects :)

[2016-10-15 13:15] dsheets commented on #483
This is currently scheduled for resolution in November. Sorry for the delay.

[2016-10-15 13:17] dsheets commented on #804
Detected symptom of problem 'unsupported-sierra' in 4D8AB3DF-5707-431B-8AC1-CD5B322C5642.

Sierra is supported from the version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the stable channel. Please upgrade.

May be related to docker/for-mac#561

[2016-10-15 13:17] #804 closed

[2016-10-15 13:46] jippi commented on #483
@dsheets okay, will it be available in beta builds beforehand?

[2016-10-15 13:48] dsheets commented on #483
Our goal is to ship it in beta builds in November.

[2016-10-15 14:28] jippi commented on #483
amazing @dsheets - if you need any testing or otherwise beforehand, I'm willing to help out!

[2016-10-15 16:02] kachkaev commented on #77
This issue has the highest number of +1 reactions of all, which means that this is the most painful one amongst the users of _Docker for mac_.

So surprising not to hear any official comments and to see this discussion even after about half a year since the first release. I remember trying this app shortly after the announcement in around May and switching back to _Docker Toolbox_ after a few hour

[2016-10-15 18:00] samoht commented on #77
@kachkaev we are still working on improving the performance of volume sharing. The roadmap is still pretty much the same as the one @dsheets detailed in https://forums.docker.com/t/file-access-in-mounted-volumes-extremely-slow-cpu-bound/8076/158. The things than you can do to help -- e.g. give us a minimal reproduction test-case -- still hold. Thanks.

[2016-10-15 18:09] samoht commented on #799
I just mean that Docker for Mac today only works out-of-the box if you only have one user or if you switch between users and you re-run `Docker.app` with the new user. The workflow that you have works with the workaround that I gave you, but it is clearly not an optimal user-experience. We plan to work to improve it in the future.

[2016-10-15 18:21] bopm commented on #77
@samoht so it took you three months to finally mention fact that there is a problem and give some explanation in a Forum. Not in the product description, not here in README.md, not somewhere else where everyone who uses MacOS can see it before investing some time into trying to adopt Docker for his needs. And it took you another three months to give those users completely nothing but just left the

[2016-10-15 18:29] samoht commented on #77
@bopm we are continuously improving the product with the resources that we have. The team here is very aware of that issue, and we are working hard to fix it; but it will not all work magically and we will not have a solution which will work for everyone immediately: we need to prioritise between short-term gain which will solve some problems for some users (what we have done so far) and bigger ch

[2016-10-15 18:39] bopm commented on #77
@samoht I am thinking that you providing a really great product. Keep up the good work. But that's not enough in things like this one. Because it's not about a quality of the product but about a quality of user support for one.
It's not users problem to figure out that there is that BIG problem hidden in a plain sight. It's not user responsibility to understand which solution is reliable while you

[2016-10-15 18:46] samoht commented on #77
Yes you are perfectly right. Do you think we should keep a more detailed list of issues/workaround in https://docs.docker.com/docker-for-mac/osxfs/ ? If yes, I will see with our documentation team what's the best way to organise this (btw, the docs are now open-source so anyone in the community can open a PR to add some links to https://github.com/docker/docker.github.io/blob/master/docker-for-mac

[2016-10-15 18:54] bopm commented on #77
Speaking about this list in the documentation, a typical user will never reach those docs on his own, while they important for all users. You providing users with the application. It needs to mention that list on the first run.

And it's definitely good to make it community driven. But it's your team who needs to provide the expert review for those things.

But generally, be here for us. Six month

[2016-10-15 20:12] Yugloocamai commented on #457
Same issue.  I have to reboot my system to get docker back into a good state.

[2016-10-16 12:11] genei09 commented on #681
the previous diagnostic was run while modify events were being passed through to the container.  the following was after seeing the symptom return.

[code]

[2016-10-16 12:32] genei09 commented on #681
after quitting docker and restarting, and recreating the container the problem persisted.
after quitting docker the process `com.docker.vmnetd` was still running.
quitting docker a second time, killing the vmnetd process and restarting docker the modify events are still being blocked, even from within the container there is inconsistent behavior.  Inside the container I used vi to open a file.  Wh

[2016-10-16 12:40] genei09 commented on #681
after restarting the machine the containers were damaged and unusable.  When attempting to exec into the containers to see what was going on I receive the message:
[code]

[2016-10-16 13:35] artmak commented on #805
Hi! In 10.12 (16A323) Sierra to.

[2016-10-16 14:32] genei09 commented on #681
after rebuilding the containers the same symptom is present.  no longer able to detect modify events from outside the container, and vi only triggers modify events when close/write is used.

possibly a kernel issue?

[2016-10-16 14:47] lege2016 opened #806 "docker"
### Expected behavior
### Actual behavior
### Information

Diagnostic ID: 4DDBB1D6-CDDD-4FB6-9D10-265B7AECF737
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.10.5 (Build 14F1912)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]     v

[2016-10-16 15:52] judezhan opened #807 "docker failed to start"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 5ECC228B-2CDC-4EC3-9E85-071E7FAF86A3
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[ERROR]  docker-cli
         docker ps failed
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[ERROR]  osxfs
         com.docker.osxfs is not running
[OK]

[2016-10-16 17:33] jamesreggio commented on #281
Has anybody begun investigating this? Is there anybody with a hunch about where the problem may lie? (If you share your thoughts, I'd be happy to take up the torch and investigate... but right now, I wouldn't know where to begin.)

[2016-10-16 17:40] guidsen opened #808 "docker build command freezes"
### Expected behavior

Run `docker build`
### Actual behavior

When I run `docker build .` it just does nothing, it freezes without giving feedback.
I've also tried running as root, but without success.
### Information

Diagnostic ID: 58C94623-A5F1-4D4C-9E28-28D0DEFB6788
Diagnose & Feedback info:

[code]

[2016-10-16 17:55] justincormack commented on #281
@jamesreggio hi, it is on my TODO list but have not had a chance yet.

The best bet is to start by comparing `docker pull` performance to the same from the host, eg you can use something along the lines of https://github.com/justincormack/regextract which pulls locally. Compare with docker hub and a local repo perhaps, and then start to look at the differences, eg dump the network traffic and see

[2016-10-16 18:55] ebridger commented on #733
Hopefully this is the correct issue. I'm running docker for mac beta version 1.12.2 API 1.24.
`docker run  -t --rm -v /Applications/MAMP/htdocs/:/htdocs alpine sh -c "ls -la /htdocs"`
Gives the error:

What used to work in version 1.11.1, back in July also gives the same error.
`docker run  -t --rm -v /Mac/Applications/MAMP/htdocs/:/htdocs alpine sh -c "ls -la /htdocs"`

Trying to fix via Docker -

[2016-10-16 22:32] samoht commented on #77
This is not very fair. The GA release of Docker for Mac was announced at the end of July (so 2,5 months ago). Since then, we've continuously shipped improvement to the filesystem sharing: although we have always prioritised fixing semantics/consistency problems first, as we know that loosing or corrupting data is something that nobody really like. And then we kept improving the performance too. Al

[2016-10-16 22:48] genei09 commented on #681
It looks like the containers pick up modify events fine until you issue a `docker restart` on the container.  This is a fairly common command for us to issue so I didn't think anything of it while trying to narrow this down.

I've repeated this 3 times and each time it reacts the same way.
docker run: modify events are working
docker restart: modify events are not working

[2016-10-16 22:57] justincormack commented on #681
@genei09 ah, that is a known issue, yes. It should probably be documented better until it is fixed.

[2016-10-17 01:32] hyperknot opened #809 "rm -rf inside mounted folder makes docker hang on 2nd run"
### Expected behavior

Should not hang Docker, but just delete folder.
### Actual behavior

The `rm -rf /shared/logs/CURRENT` hangs on the 2nd runs of a Docker container. The command cannot be terminated. Docker container cannot be stopped. Docker need to be reset by the GUI button. After reset it's good for the first run, but hangs the second run.

Changing the line to `rm -rf /shared/logs/CURREN

[2016-10-17 03:17] yexianyi opened #810 "Docker crash down in Mac 10.12"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 93DB1FD8-4D47-44EE-BC0E-EF29FAE3EE75
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]

[2016-10-17 03:40] chespinoza commented on #805
Ok, checking generated logs in /tmp I saw this error message:

**vmx_init processor not supported**

I realized that my mac doesn't support virtualization, that was the problem, I checked with a newer one and it's worked ok.

Sorry and thanks.

[2016-10-17 03:40] #805 closed

[2016-10-17 06:48] mduller commented on #77
I have the following simple experiment to reproduce the issue, showing an almost 18x slower operation on the mounted FS vs. the container's own FS: extracting the Linux kernel sources. It should be straightforward to reproduce by reproducing the commands shown below.
For reference, the experiment shown below was run on a MacBook Pro 13" with 2.9GHz Core i5 and 8GB RAM. 2GB RAM and 2 cores were ass

[2016-10-17 06:58] mduller commented on #77
For reference, extracting the archive natively on the Mac on average also takes ~12s real time.

[2016-10-17 09:01] aminvielle commented on #540
Same for me with the latest beta release and MacsOs Sierra.
Same workaroudn: I must manually update the /etc/resolv.conf inside the VM every time I connect to my company VPN. But these changes are lost every time I restart Docker.

On MacOs, /etc/resolv.conf does not provide the relevant DNS infos. _scutil --dns_ does.

Docker for Mac: version: 1.12.2-beta28 (71c4a00)
OS X: version 10.12 (build: 1

[2016-10-17 09:10] dsheets commented on #810
Detected symptom of problem 'unsupported-sierra' in 93DB1FD8-4D47-44EE-BC0E-EF29FAE3EE75.

Sierra is supported on latest stable and beta releases only. Please upgrade.

[2016-10-17 09:10] #810 closed

[2016-10-17 10:04] dsheets commented on #809
Thanks for your report. I cannot reproduce this issue but I also don't expect to be able to. If you can semi-consistently reproduce it, could you please record a trace of the file system activity and send it to `beta-feedback@docker.com` with a reference to this issue? The trace will contain all of the file system transactions including data read and written so it may contain sensitive data. When

[2016-10-17 10:09] vikramvi commented on #799
@samoht Thanks for detailed clarifications.

Regards,
Vikram

[2016-10-17 10:10] dsheets commented on #733
@ebridger your issue is different from the one in this ticket. `/Mac` has been removed and will no longer work. To share `/Applications/MAMP/htdocs`, I recommend sharing exactly that path from :whale: ➡️ `Preferences` ➡️ `File Sharing`. If you still have difficulties with file sharing, please open a new issue.

[2016-10-17 13:09] ebridger opened #811 "Mac File Sharing for files not under /Users gives: Error The path / is reserved by Docker."
### Expected Behavior
Mount OS X dirs / files not under /Users. e.g.
`docker run  -t --rm -v /Applications/MAMP/htdocs/:/htdocs alpine sh -c "ls -la /htdocs"`
says to add the dir using: Docker -> Preferences -> File Sharing.

### Actual Behavior
After adding /Applications/MAMP/htdocs/ relaunching Docker gives an error dialog:

### Information

  - Full output of the diagnostics from "Diagnose & Fe

[2016-10-17 13:10] ebridger commented on #733
@dsheets. Thanks. See #811

[2016-10-17 14:41] vikramvi opened #812 "jenkins user stops working randomly - "Cannot connect to the Docker daemon. Is the docker daemon running on this host?""
### Expected behavior

Jenkins user should always be able to run docker command
### Actual behavior

Refer to ticket https://github.com/docker/for-mac/issues/799
Even after doing this , jenkins user sometimes stops working randomly. Have observed this couple of times in last 3 days
### Information

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.10.5 (build: 14F1909)
logs: /tmp/BD6F5CAF

[2016-10-17 14:59] dsheets commented on #811
It looks like you've upgraded from quite an old version of Docker for Mac and have somehow retained the `/` mount export entry in your export table despite our attempts to remove it for you during upgrade migration. If you remove the `/` entry from the File Sharing preferences screen, things should be back to normal. If this doesn't work or doesn't fix your problem, please re-open this issue.

Tha

[2016-10-17 14:59] #811 closed

[2016-10-17 18:29] ebridger commented on #811
Yes. This fixed it. Thanks for the quick response.

[2016-10-17 19:48] knutsenm commented on #51
The release notes for Version 1.12.2-beta28 (12906) specifically mention:

Indeed, the problem seems to have gone away.

[2016-10-17 21:06] nelsonenzo opened #813 "docker 1.12.1 on osx keeps freezing."
### Expected behavior

docker ps to return running containers and docker start <container-name> to start a container
### Actual behavior

nothing happens, just freeezes.
### Information

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.10.5 (build: 14F1912)
logs: /tmp/457B79B0-21CB-4F55-B889-E73EFBC7D2D1/20161017-140021.tar.gz
failure: docker ps failed: Failure("docker ps: timeout after

[2016-10-17 21:43] ervinknight opened #814 "docker incompatiable"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-10-17 22:36] avaskys opened #815 "TCP errors and flakiness when using many simultaneous connections"
When connecting to a service in a docker-for-mac container using many parallel TCP connections, I've been experiencing lots of unexpected TCP connection issues. The issue is quite easy to reproduce (see steps below).
### Information

Diagnostic ID: 7277E55A-2918-4FD1-B691-EEB0D44E3E2F

[code]
### Steps to reproduce the behavior

Summary: start an apache container serving up a file. Run multiple cu

[2016-10-18 03:07] zhmchenprime opened #816 "docker for mac start failed"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 635A6EB8-E301-456C-BF54-93907A63B364
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12 (Build 16A323)
[ERROR]  docker-cli
         docker ps failed
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[ERROR]  osxfs
         com.docker.osxfs is not running
[OK]

[2016-10-18 03:42] chezbut opened #817 "ARG not usable on 1.12"
### Per the documentation, specifying an ARG foo=BAR in the dockerfile should allow the docker-build command to be run with --build-arg foo=BAR2 which would allow that ARG to be accessible to commands in the Dockerfile to be run such as RUN curl https://my.$BAR2.com > /tmp/bar.deb
### Actual behavior

Even a CMD echo $BAR2 or CMD echo $BAR shows no output, only "$BAR" as if it were explicitly quot

[2016-10-18 03:45] chezbut commented on #817
Output:
$ docker build --rm -t grafana .
Sending build context to Docker daemon 277.5 kB
Step 1 : FROM xxx/xxx-base
 ---> 3b351e9c669f
Step 2 : ENV GRAFANA_VERSION 3.1.1-1470047149
 ---> Using cache
 ---> 1ffcfd518934
Step 3 : CMD echo $GRAFANA_VERSION
 ---> Running in f984b8f45104
 ---> 1d3407fba210
Removing intermediate container f984b8f45104
Step 4 : RUN curl ${GRAFANA_VERSION} > /tmp/grafana.d

[2016-10-18 03:46] chezbut commented on #817
$ docker --version
Docker version 1.12.1, build 6f9534c

[2016-10-18 03:47] chezbut commented on #817
Same results on Ubuntu docker, from the same dockerfile and same Ubuntu base.

Docker version 1.12.1, build 23cf638

[2016-10-18 04:59] eric-zhu opened #818 "dial unix Library/Containers/com.docker.docker/Data/*00000003.00000948: connect: connection refused"
### Expected behavior

Use Docker normally: 'docker-compose up' to launch all containers(db, web).
Make code changes, web server restarts and reloads updated code.
### Actual behavior

Occasionally both my containers crashed and reported the following errors.

[code]
### Information

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/75393C3D-9C6E-4415-AABB

[2016-10-18 08:24] #51 closed

[2016-10-18 09:29] ZherebcovSergey commented on #205
The same issue on OSX 10.12 (build: 16A323) with Docker version: 1.12.1 (2d5b4d9). After rebooting MAC.
I've got one of my services declared in docker-compose.yml (webpack) like that:
ports: - "3000:3000"

[code]

[code]

logs: /tmp/79ABB4D6-AC97-498B-9C28-BFA79AE6C99E/20161018-121008.tar.gz
[OK]     docker-cli
[OK]     virtualization kern.hv_support
[OK]     menubar
[OK]     moby-syslog
[OK]

[2016-10-18 09:32] rogaha commented on #807
Analysing archive 5ECC228B-2CDC-4EC3-9E85-071E7FAF86A3/20161016-235146
--------------------------------------------------------------------------------
Detected symptom of problem 'unsupported-sierra' in 5ECC228B-2CDC-4EC3-9E85-071E7FAF86A3/20161016-235146.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the stable channel. Please upgrad

[2016-10-18 09:32] #807 closed

[2016-10-18 09:47] yallop commented on #814
There's not enough information here for us to investigate.  Could you please open a new issue with more details?

[2016-10-18 09:47] #814 closed

[2016-10-18 11:07] justincormack commented on #817
Can you make a fully reproducible minimal test case please. I am using `ARG` on Docker for Mac without issues, so it is something about the detail of your usage, but I cannot actually test your example.

[2016-10-18 11:43] mauritsl commented on #693
I had the same issue, originally posted in Docker issue queue:
https://github.com/docker/docker/issues/27488

A restart also fixes the problem for me.

[2016-10-18 13:00] bvoisin commented on #17
I have the same issue with 1.12.2-rc1-beta27
Basically I have re-sync the clocks after every sleep period. This one liner found on Stackoverflow does it (bash syntax) :
  docker run --rm --privileged centos:6.7 date -s "`date`"

[2016-10-18 13:02] justincormack commented on #17
@bvoisin can you paste teh output of `ntpq -p`

[2016-10-18 13:05] bvoisin commented on #17
Running it on my mac (the containers are currently in sync):
[code]

[2016-10-18 13:12] justincormack commented on #17
Do the clocks resync if you wait after sleep? Can you run `ntpq -p` when they are not synced as well.

[2016-10-18 14:42] jwegne opened #819 "Docker for Mac crashes shortly after wake-up (macos Sierra)"
### Expected behavior

Docker should run without issues after host system wakes up from sleep.
### Actual behavior

Docker crashes silently and restarts - corrupting the cow2 image in the process.
### Information

Diagnostic ID: FCE91E11-5BA2-4819-BFE6-3933A1176824
- Full output of the diagnostics from "Diagnose & Feedback" in the menu
  Docker for Mac: version: 1.12.2-beta28 (71c4a00)
  OS X: ver

[2016-10-18 15:33] HariSekhon opened #820 "Stuck in starting mode after coming out of sleep"
### Expected behavior

Startup

### Actual behavior

Starting indefinitely, even after "restart" and doing a kill of all docker processes and start from clean.

### Information

[code]

Wifi currently works, not sure why it failed to send.

[2016-10-18 15:39] HerbCSO commented on #725
I'm getting the `Bad response from Docker engine` from time to time after I put my Mac to sleep. It seems to get into a tizzy then, but only sometimes. Not quite sure what other info to send for further debugging, not really too familiar with the Docker environment - mostly just a user, sorry. But happy to send in more infos if you'll tell me what would be useful for this.

I usually do a reset wh

[2016-10-18 16:11] schmunk42 commented on #77
Benchmarks...

### Test script

[code]

### Docker for Mac

[code]

### VirtualBox `docker-machine`

[code]

[2016-10-18 16:19] HariSekhon commented on #820
I found #792 and tried using beta as suggested, but this issue still occurs.

[2016-10-18 16:23] HariSekhon commented on #820
Tried reset from #52 which worked, but I notice these tickets are getting closed when this is still a bug.

[2016-10-18 16:24] rvissapragada opened #821 "Docker CLI hangs along with Docker diagnose on Mac"
### Expected behavior
Docker Diagnose and Docker CLI work as expected.

### Actual behavior
Cannot run any docker cli commands like "docker images"

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.10.5 (build: 14F1912)
logs: /tmp/3ADEAD7D-D0D0-4BCD-A400-7BAECA0D9C29/20161018-091908.tar.gz
failure: docker ps failed: Failure("docker ps: timeout after 10.00s")
[ERROR]  docker-cli

[2016-10-18 16:29] rvissapragada commented on #821
[20161018-091908.tar.gz](https://github.com/docker/for-mac/files/536836/20161018-091908.tar.gz)

[2016-10-18 16:52] bvoisin commented on #17
Here with the containers clocks out of sync. Here are clocks for local and of a few containers : 10 min (+ TZ) offsets:
[code]
Ntpq doesn't change anything:
[code]
Rq: to compare the clocks, :

If I then run the resync command (forcing the clock of a container, thus the VM to the local clock):
[code]
... the clocks get synch
[code]

It seems to me the VM should resynch it-self with the local clock

[2016-10-18 18:17] ghinks commented on #668
I too have a similar issue with slow response when using postgres containers.

[2016-10-18 20:06] karanjthakkar commented on #777
@samoht Facing the same issue. Diagnostic ID: 2B4A03EE-C62F-4414-A566-82B94A3959AE Deleting `/Library/PrivilegedHelperTools/com.docker.vmnetd` does not resolve this.

[2016-10-18 20:47] levelfivehub opened #822 "Docker is not running - mac osx problems"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 478B8933-1887-4A65-A357-0A19421B312D
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[ERROR]  docker-cli
         docker ps failed
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[ERROR]  osxfs
         com.docker.osxfs is not running
[OK]

[2016-10-19 07:20] nick3 opened #823 "56CDB37C-E9EB-4497-9313-AD36283FD675"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 56CDB37C-E9EB-4497-9313-AD36283FD675
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12 (Build 16A320)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]     vm

[2016-10-19 08:17] bvoisin commented on #17
After sometimes the VM and containers get back in synch (I believe the ntp deamon resynchs the VM's clock)

[2016-10-19 08:37] rogaha commented on #822
Detected symptom of problem 'unsupported-sierra' in 478B8933-1887-4A65-A357-0A19421B312D/20161018-214639.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the stable channel. Please upgrade your version of Docker for Mac.

May be related to docker/for-mac#561

[2016-10-19 08:38] rogaha commented on #823
Detected symptom of problem 'unsupported-sierra' in 478B8933-1887-4A65-A357-0A19421B312D/20161018-214639.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the stable channel. Please upgrade your version of Docker for Mac.

May be related to docker/for-mac#561

[2016-10-19 09:32] #823 closed

[2016-10-19 09:33] #822 closed

[2016-10-19 10:12] gtardif opened #824 "Different behaviour in docker for mac & docker (linux) when building image with ADD & permission issues"
With the following Dockerfile :

Building this on linux gives :

since ADD creates the file as root and not 'newuser' ; the following RUN command executes as 'newuser'

With Docker for Mac, strangely the "RUN chmod +x test.sh" executes without any problem.
The test.sh file in the container is owned by root at the end.

This was tested with docker 1.12.2 on Debian 8.2,
Docker for mac version 1.12.2

[2016-10-19 10:52] neophob commented on #5
Same error here, try to compile a linux kernel, diagnostic id: 061AD9FE-66AC-4C23-AE81-E4357A76091D.

Note: I created an additional disk volume (case sensitive) and mounted this volume inside the docker container (-v)

[2016-10-19 11:26] justincormack commented on #824
Hi, this is not actually a Docker for Mac specific issue - the same happens on a Linux system with Ubuntu 16.04, I think related to changes in the 4.4 kernel with respect to capabilities.

Looks like some changes were merged into 1.12.2 that probably should not have been, as this is an unexpected change for a minor revision.

Basically on kernels since 4.3 non root users can be granted capabilitie

[2016-10-19 12:05] lily1110 commented on #742
the same .
the log is followed:
Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.2 (build: 15C50)
logs: /tmp/A599E82F-B634-4249-B9A7-779C8E8E0BCF/20161019-195940.tar.gz
failure: com.docker.driver.amd64-linux -db is not running
[ERROR]  docker-cli
         docker ps failed
[OK]     virtualization kern.hv_support
[OK]     menubar
[OK]     moby-syslog
[OK]     dns
[OK]     disk
[OK]

[2016-10-19 13:25] ijc25 commented on #819
@jwegne thanks for your report, there have been various similar reports of what appears to be a C heap corruption which has been proving rather elusive but yours is the first report on beta28+ which finally gathered some more logging, which I was hoping would help pin point the issue. Sadly the stack traces here are of various threads falling victim to a prior corruption, which is not as helpful a

[2016-10-19 13:31] dsheets commented on #764
This issue is now being tracked in #819 with a user running beta 28. If you are interested in following along, please subscribe to that issue and/or switch to the beta channel.

Thanks for your report!

[2016-10-19 13:31] #764 closed

[2016-10-19 14:25] geertvanheusden opened #825 "docker-compose services are unstable and docker "hangs""
### Expected behavior

Starting up a stack with multiple linked containers (Wildfly, MySql, Apache httpd, Jetty, java processes) using docker-compose should stay "alive".
### Actual behavior

All containers startup correctly but after some heavy REST call load on Wildfly some services become inaccessible/unresponsive.

Restarting or stopping the containers with docker-compose or via docker directl

[2016-10-19 14:41] wadjeroudi commented on #77
@schmunk42 explain your benchmarks please. I don't get the difference.

[2016-10-19 15:24] jpbochi opened #826 "Docker Daemon crashes after starting lots of containers"
### Expected behavior

Docker should continue running.
### Actual behavior

A couple of minutes after starting some 15 containers using docker-compose, docker daemon crashes.
### Information

Output from Docker for Mac Diagnose & Feeback tool:

[code]

[20161019-170956.tar.gz](https://github.com/docker/for-mac/files/539412/20161019-170956.tar.gz)

[code]

Output of `docker-compose up` when the cra

[2016-10-19 17:31] schmunk42 commented on #77
@wadjeroudi For the last section "Cloning into 'clone-container-host-volume'..." under both options - the script does a lot of git operations on a host volume, which is about 3x times slower than the other solutions.

The is a very simple benchmark with just one git clone operation.

[2016-10-20 00:24] klausbadelt commented on #77
Is this dup of #668?

[2016-10-20 00:28] cilefen commented on #77
Well, this one was open first...

[2016-10-20 00:50] klausbadelt commented on #77
;-) There is a [working fix](https://github.com/docker/for-mac/issues/668#issuecomment-250513589) in there for a while. No need for 3rd party solutions (at least, for many of us it seems).

[2016-10-20 00:55] cilefen commented on #77
#688 seems to work for some reported use cases but check out https://github.com/docker/for-mac/issues/77#issuecomment-254000196 and https://github.com/docker/for-mac/issues/77#issuecomment-254079986.

[2016-10-20 04:13] mikeball commented on #668
I'm having the same issues, how can we get the beta channel?

[2016-10-20 06:50] jwegne commented on #819
Hi @ijc25,

Thank you for your quick answer. I tried to run Docker with the debugging options enabled, but Docker does not start. Furthermore this command line causes my other programs to fail. After trying to start Docker several other applications (Firefox, Outlook) failed to start or behaved strange (could not type in Vivaldi).

This is the output of Docker with debugging options:
[code]

[2016-10-20 08:00] samoht commented on #77
#668 is about I/O performance of the container filesystem (e.g. _not_ using `-v`). This issue (#77) is about performance shared mounts (e.g. using `-v`). Please try to not mix-up threads.

Thanks @mduller and @schmunk42, I have added your benchmarks to our suite, we will try to report here when we make progress on the performance of your use-cases.

[2016-10-20 08:14] samoht commented on #668
@mikeball: see https://docs.docker.com/docker-for-mac/

[2016-10-20 08:31] jwegne commented on #819
Not sure if this helps, but running the command a bit later crashed Docker while starting up.

Log:
[code]

[code]

[2016-10-20 08:37] rogaha commented on #826
Detected symptom of problem 'aufs-corruption' in AE12FEE1-78CE-496A-A738-6F2C6944CFB5/20161019-170956.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related

[2016-10-20 08:38] rogaha commented on #826
@jpbochi can you please try that approach and confirm that fixes the issue?

[2016-10-20 08:42] rogaha commented on #825
Detected symptom of problem 'auplink-segfault' in F59B1A59-7957-48B4-8B5E-ABBA33F9B419/20161019-151334.

You hit an issue with the AUFS storage driver that we shipped in previous versions of Docker for Mac. You should upgrade to the latest version of the product which fixes this defect.

May be related to docker/for-mac#7

[2016-10-20 08:42] rogaha commented on #825
@geertvanheusden can you please try to upgrade it and confirm if that fixed the issue? Thanks!

[2016-10-20 08:47] schmunk42 commented on #77
@samoht I dug a bit more and found something interesting... benchmarks could be improved with it.

When seeing the very slow performance with `composer`, there's an internal call to `git update --prune origin`.

Running a benchmark with the above command on a fresh repo makes almost no difference - that's why it's hard create a benchmark. A fresh repo is about 100 MB.
But running this from my day-

[2016-10-20 08:49] rogaha commented on #816
Detected symptom of problem 'unsupported-sierra' in 478B8933-1887-4A65-A357-0A19421B312D/20161018-214639.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the stable channel. Please upgrade your version of Docker for Mac.

May be related to docker/for-mac#561 -- feel free to re-open it if the issue persists.

[2016-10-20 08:49] #816 closed

[2016-10-20 08:55] rogaha commented on #813
Detected symptom of problem 'hypervisor-framework-acpi-crash' in 457B79B0-21CB-4F55-B889-E73EFBC7D2D1/20161017-140021.

It looks like at least some cases can be explained by a bug in the workaround for a Hypervisor.framework ACPI crash bug. We are not sure whether the workaround is still needed -- the underlying crash may well have been fixed by Apple, especially in the most recent versions and up

[2016-10-20 08:56] rogaha commented on #813
@nelsonenzo is the OS update a viable option? Otherwise, can you please try to reset to factory defaults which will unfortunately delete /var/lib/docker (all containers and images will need to be rebuilt)?

[2016-10-20 09:06] rogaha commented on #821
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 3ADEAD7D-D0D0-4BCD-A400-7BAECA0D9C29/20161018-091908.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

[2016-10-20 09:11] rogaha commented on #821
Can you please confirm if that fixes the issue? Also, updating the OSX might help as the `oxs/10.10.x` has some `hypervisor-framework-acpi-issues`.

[2016-10-20 09:12] mauritsl commented on #693
Time is not synced to docker because timezone is not synced on Mac automatically, according to this issue: https://github.com/docker/docker/issues/27488

[code]
However, checkbox "Set date and time automatically" is checked in the Date & Time settings on MacOS and synced with "Apple Americas/U.S. (time.apple.com.)" (running El Capitan).

I can reproduce this behavior consistently. Yesterday mornin

[2016-10-20 09:18] rogaha commented on #820
@HariSekhon thanks for your feedback, we are working on optimizing the way we handle the issues to make we don't close them before they get fixed. Is the issue fixed for you?

[2016-10-20 09:20] rogaha commented on #808
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 58C94623-A5F1-4D4C-9E28-28D0DEFB6788/20161016-193751.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

[2016-10-20 09:23] rogaha commented on #806
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 4DDBB1D6-CDDD-4FB6-9D10-265B7AECF737/20161016-220518.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

[2016-10-20 09:24] rogaha commented on #806
@lege2016 can you please confirm if that fixes the issue?

[2016-10-20 09:29] ijc25 commented on #819
Sorry about this, this wasn't what I expected at all, the command line I gave should have set those environment variables only for the process being spawned by that line so there should have been no impact on any other process.

Did you manage to sort things out? Since I've no idea how/why this would have happened I'm not sure what to suggest -- maybe just killing the particular terminal window yo

[2016-10-20 09:32] jwegne commented on #819
Yes, I was able to sort things out. Stopping the command line fixed the issue and the other programs started/worked fine. I ran the command in a tmux session; perhaps this caused the side effects. I will try a standalone bash session.

[2016-10-20 09:39] ijc25 commented on #819
@jwegne it looks like your `/Applications/Docker.app/Contents/Resources/bin/docker-diagnose` is not the version which came with beta28 (it looks like it is maybe the one from around beta26 or maybe stable). Unfortunately the logs I need were only collected starting with beta28.

Did you install beta28 in a different path other than `/Applications/Docker.app` perhaps? Please could you try and locat

[2016-10-20 09:45] jwegne commented on #819
[Docker_2016-10-20-102438_4demjwegne.crash.txt](https://github.com/docker/for-mac/files/541323/Docker_2016-10-20-102438_4demjwegne.crash.txt)

The crash report is uploaded. I installed the stable version and later updated to beta 28. It seems that the docker-diagnose was not correctly replaced. I will remove my docker installation and install beta 28 again.

[2016-10-20 10:14] ijc25 commented on #819
@jwegne thanks! Could you also please try the same command with all the `Malloc*` stuff but omitting the `MallocScribble=1` and upload the logs for that too.

BTW, you can also (if you want) add `MallocLogFile=$HOME/malloc.log` to the command to save all that stuff to a file -- which might be easier than cut and paste.

[2016-10-20 10:36] jpbochi commented on #826
@rogaha I saw this problem before and did a factory reset already. It came back soon afterwards.

Maybe the root cause is some other thing I'm doing that is causing the FS corruption. I'll do another factory reset and keep an eye out for that. Thanks.

[2016-10-20 10:45] darioajr opened #827 "Docker Virtualization fail"
### Expected behavior
### Actual behavior
### Information

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.12 (build: 16A323)
logs: /tmp/9DE85209-22B3-4992-BFF9-A63F82FE5E7E/20161020-084136.tar.gz
failure: sysctl -a reports no hypervisor support
[ERROR]  docker-cli
         wrong Docker version: 1.11.1 (expected 1.12.1)
         /var/run/docker.sock does not exist
         Unexpected er

[2016-10-20 10:45] HariSekhon commented on #820
I managed to get it working again by resetting the installation, losing all my local containers and images (can re-download from my DockerHub automated builds) but I wouldn't call the issue "fixed".

I'd say it is fixed when a new version of the software including patch for this issue is released such that the issue no longer occurs.

[2016-10-20 11:05] jwegne commented on #819
@ijc25 Is it normal that Docker will start up very, very, very slowly with debugging options? I started it 30 Minutes ago, and it still not has been started.

[2016-10-20 11:13] geertvanheusden commented on #825
@rogaha You mean the latest beta?

[2016-10-20 11:16] ijc25 commented on #819
It's definitely expected to be slower but 30mins seems too slow, perhaps something has crashed due to the options. Probably best to drop the `MallocScript=1` option and just go with the rest.

[2016-10-20 11:21] jwegne commented on #819
This run was without MallocScript/MallocScribble. That is the command i ran:
[code]

I see lines like this in the log file:
[code]

The counter goes quickly to 400000, but after that it takes several minutes for the next line to appear.

[2016-10-20 11:52] ijc25 commented on #819
Sorry, I did mean `MallocScribble` as you guessed, AFAIK `MallocScript` isn't a thing.

For me things seem to work tolerably without `MallocScribble`. You might also find that killing it and restarting it (maybe a few times) eventually makes progress.

At this point though I think I'm leaning towards waiting for beta29 to rule out the issues which are fixed there.

[2016-10-20 13:33] bric3 commented on #743
@cmosetick Thanks for the script ! It doesn't work here the md2man fails with this error. I don't know exactly what's wrong at this moment. I'll check that later when I have more free time ;)

[code]

[2016-10-20 13:38] motin commented on #77
Just a note here on an important use-case that is much slower with osxfs than previously with Docker Machine: Running a database service which has it's data files stored in a host volume for persistency reasons.

I don't have reproducible benchmarks yet, but from the latest weeks of experience I have noticed a general slowdown in database operations, especially dumping and loading data takes much

[2016-10-20 14:28] justincormack commented on #824
This will be fixed in docker 1.12.3

[2016-10-20 15:39] Journerist commented on #77
same issue here...

this issue blocks my current target to dockerize every service. I need to synchronise a big git repository that will also contain *.class files that will change frequently while working. These files should be available on my

- application docker image
- containerised eclipse application
- host system

There will be other docker images that require access to these files.

Right

[2016-10-20 17:40] mikeball commented on #668
Ok, latest beta and fixes from @djs55 made no difference in my case.

The scenario is building an uberjar with the .m2 directory as a shared volume, and placing the generated jar into a different shared volume, meaning it does read and write. Time taken normally ~2 seconds, but docker for mac is well over 8 minutes with 100% cpu usage. In my case its 167 times slower than normal.

[2016-10-20 18:12] ilg-ul opened #828 "docker 1.12.1 occasionally hangs"
### Expected behavior

long and complex builds are expected to pass
### Actual behavior

long and complex builds occasionally hang; most of the time restarting the build solves the problem, but some times docker hangs from the very beginning, while starting (this last behaviour reminds me to some broken sockets, that have a long timeout to close and to allow the TCP port to be reused)
### Informat

[2016-10-20 18:24] cjdavies opened #829 "Docker will not start"
### Information
Diagnostic ID D466944B-790A-45B7-A2D8-3CF4FEDFBAC6

- Full output of the diagnostics from "Diagnose & Feedback" in the menu
Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/D466944B-790A-45B7-A2D8-3CF4FEDFBAC6/20161020-112100.tar.gz
failure: Docker.qcow2 missing: the VM has never been started
[ERROR]  docker-cli
         cannot find docker

[2016-10-20 19:19] geertvanheusden commented on #825
Updated to the latest beta. Same behaviour but maybe an other issue?

New Diagnostic ID: C3E2F9E1-26BD-44B4-97FF-FBCD1EC1CC40

[2016-10-20 20:41] jasonmp85 commented on #803
Here I was thinking I was _insane_. What is going on here?

[2016-10-20 20:45] jasonmp85 commented on #803
(BTW comparing e.g. `curl` to `ping` shows that this issue is triggered by HTTP (TCP? `ssh` shows similar slowdown) requests but not ICMP)

[2016-10-20 23:17] jwilso opened #830 "Docker HTTP and HTTPS proxy settings disappear"
### Expected behavior

Configure http and https proxy in GUI from Docker desktop pulldown in "Preferences... -> Advanced".  Click "Apply and Restart" to save.
### Actual behavior

Configure http and https proxy in GUI from Docker desktop pulldown in "Preferences... -> Advanced".  Click "Apply and Restart" to save.  Select "General" tab from Docker popup. Adjust memory value. Click "Apply and Resta

[2016-10-21 00:47] dowentao opened #831 "error"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 5DCECAC4-727C-4ACE-BA0E-AE1422A22E6A
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]

[2016-10-21 01:46] alexmercertomoki opened #832 "can't start"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 01F12B07-6647-47D7-B3BA-478BFD7125C9
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]

[2016-10-21 02:49] JoeyQin opened #833 "Just can not successfully launch my docker on Mac"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 785EB718-888B-4595-B67F-FF9883B71A37
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12 (Build 16A323)
[ERROR]  docker-cli
         cannot find docker
         docker-cli check failed with: Failure("docker -v: timeout after 10.00s")
[OK]     app
[OK]     moby-syslog
[ERROR]  disk
         disk check failed with: Fai

[2016-10-21 07:22] ilg-ul commented on #828
while cleaning my file system, I identified one file in a build that crashed:

[code]

the libusb size is huge, 18 GB. this somehow confirm my feeling that something is wrong with file sharing, since these build scripts create lots of files.

[2016-10-21 07:25] ilg-ul commented on #828
here is another one, in another project, with even more complex build scripts:

[code]

there is definitely something wrong with file sharing between docker and the macOS file system.

[2016-10-21 07:43] vortec commented on #205
We've been facing the same issue for weeks and it's seriously slowing us down.

Here's a diagnostic ID from one of my co-workers: 8B5B573A-EEA7-447B-8DCD-3BC115AFF40A

We can provide many more if needed :-)

Is there anything else we can do to help you reproduce this issue?

[2016-10-21 08:17] mttkay commented on #82
I just ran into the same issue with the latest Docker for Mac beta (1.12.2-beta28 (12906))

I ran the diagnosis to see if that comes up with anything, but it appears to fail:

<img width="796" alt="screen shot 2016-10-21 at 10 14 14" src="https://cloud.githubusercontent.com/assets/102802/19591419/42667bf8-9777-11e6-9275-5d7818e28a4f.png">

Docker seems to be completely stuck when I try to issue an

[2016-10-21 09:23] jaggerwang commented on #693
meet the same problem, both mac os and docker is the newest.

[2016-10-21 09:26] dsheets commented on #828
Hi! This looks like a duplicate of #495 and #728 which has been fixed in Beta 28. If you are comfortable running the beta channel, trying Beta 28 to see if it fixes the problem would be appreciated.

[2016-10-21 09:27] scnypl commented on #763
JanBednarik,

Thank you very much! It works.

[2016-10-21 09:34] djs55 commented on #205
A small update: this could be related to the issue [docker/docker#25981] -- under some circumstances the docker engine keeps a port allocated even though there is no associated container. Hopefully the upcoming 1.12.3 will have some fixes in this area.

On the linked ticket some people reported success with a workaround: (NB I've had to tweak this to remove mention of `systemctl`)

First get a she

[2016-10-21 12:26] jwegne commented on #819
The debugging options are not the issue. Even without the debugging options Docker will not start. I cleanly de-installed Docker, restarted, installed stable, but Docker hangs after showing the popup (Nice whaling with you - or something similar).

Might be an issue with my MacOS X installation. It seems I have to reinstall it.

[2016-10-21 16:05] juanmrad opened #834 "Docker behat Laravel issues"
On version 1.12.1 behat comand runs db migrate from laravel super slow. I had to downgrade to version 1.12.0 in order to be able to run it smoothly.

I'm running on OS El capitan 10.11.6 and Laravel 5.1.
It takes over 5 minutes to run a simple scenario due to the slow migrate. doing a
php artisan migrate
takes over 2 minutes. DB only has 44 tables.

[2016-10-21 17:07] rogaha commented on #825
Thanks for upgrading it @geertvanheusden. I'm still trying to figure out what's happening.

[2016-10-21 20:04] seripap opened #835 "Docker crashed, won't start/restart"
### Expected behavior

Docker to start
### Actual behavior

Docker won't start/restart, even after quitting/restarting.
### Information

42ACB14D-5306-48C4-BE0C-0C80F3D834B5

Docker for Mac: version: 1.12.2-beta28 (71c4a00)
OS X: version 10.12 (build: 16A323)
logs: /tmp/42ACB14D-5306-48C4-BE0C-0C80F3D834B5/20161021-155843.tar.gz
failure: docker ps failed: (Failure "docker ps: timeout after 10.00s"

[2016-10-21 20:15] seripap commented on #835
No idea what went wrong, I uninstalled docker and reinstalled the stable version and it seems to work.

[2016-10-21 21:01] geertvanheusden commented on #825
Are you able to find something in the log files? Please let me know if I can provide additional info.

[2016-10-21 21:18] ilg-ul commented on #828
Hi @dsheets,

You were right, with Beta 28 the builds passed without any problems. With the VirtualBox versions I had a problem running `strip` on a file located on a mounted folder, so at that time I had to find a workaround (copy the file locally and back to the original location). With the current version I no longer needed the workaround, `strip` performed directly on the mounted file.

Howeve

[2016-10-21 22:20] rogaha commented on #829
Detected symptom of problem 'vmnetd-comm-failure' in D466944B-790A-45B7-A2D8-3CF4FEDFBAC6/20161020-112100.

The UI failed to communicate with the networking helper process. Deleting `/Library/PrivilegedHelperTools/com.docker.vmnetd` and restarting the application should help you.

May be related to docker/for-mac#61

[2016-10-21 22:21] rogaha commented on #829
@cjdavies can you please try that and let us know if that works? Thanks

[2016-10-22 17:25] WANG-lp opened #836 "Network error"
When I run `redis-benchmark` to test the `redis:latest` container's performance, I got `Error: Server closed the connection` error
### Actual behavior

`PING_INLINE: 11560.69 requests per second`
`Error: Server closed the connection`
### Information
- Full output of the diagnostics from "Diagnose & Feedback" in the menu

  Docker for Mac: version: 1.12.1 (2d5b4d9)
  OS X: version 10.12 (build: 16A

[2016-10-22 17:56] ilg-ul commented on #828
I was a bit optimistic when I said the builds passed without problems. Occasionally the builds still fail, differently from before, but still fail. :-(

I'll try to get more details, but, until now, I could not reproduce the problem, if I run again the scripts, they pass...

[2016-10-22 19:10] ilg-ul commented on #828
for example:

[code]

the script does `make all pdf` followed by `install install-pdf`; it looks like the build folder was corrupted, and `make` failed.

[2016-10-22 21:13] cjdavies commented on #829
That worked. Thanks!

[2016-10-22 21:13] #829 closed

[2016-10-22 21:41] mmasouras commented on #700
Figured this out - I had DOCKER_HOST env variable set because I was using docker-machine before, so the docker client was hanging trying to connect to a non-existent ip:port

[2016-10-22 21:41] #700 closed

[2016-10-23 03:07] amazingandyyy commented on #808
I have same thing.

When I type
`docker build -t andychen/debian .`

it does nothing

freeze there for about 2 mins...
and show errors:
`Error checking context: 'can't stat '/Users/Andysign/Library/Saved Application State/com.bitrock.appinstaller.savedState''.`

[2016-10-23 11:33] vrinek commented on #803
@jasonmp85 Yep, it's definitely bizarre. Kudos for narrowing it down to TCP.

[2016-10-23 13:03] dsheets commented on #834
You may be suffering from #668 which contains a work-around for the block device sync issue.

[2016-10-23 13:05] dsheets commented on #828
@ilg-ul the occasional failures sound frustrating. Could you run `Diagnose & Upload` again so we can take a look at your recent logs?

[2016-10-23 13:09] dsheets commented on #808
@amazingandyyy could you please open a new issue with a diagnostic summary (including Diagnostic ID) from :whale: ➡️ `Diagnose & Feedback` ➡️ `Diagnose & Upload`? Also, if you can share the repository, script, use case, or configuration that lets us reproduce your issue, that would be very helpful. Thanks!

[2016-10-23 15:37] ilg-ul commented on #828
Diagnostic ID: D71F5326-0D23-4376-8A06-67DBD61AF38C

next time I'll write down the time when it happens and the actual error in the console.

could you point me the location of the running logs, so I can check them right after detecting a problem?

[2016-10-23 17:30] #678 closed

[2016-10-23 18:59] Kreshnik opened #837 "Docker crash while updating."
### Expected behavior
### Actual behavior
### Information

Diagnostic ID: 8A53DC77-1445-45BF-9C1C-8F5479CDB11F
Docker for Mac: 1.12.0-beta21 (Build 10868)
macOS: Version 10.12.1 (Build 16B2553a)
[ERROR]  docker-cli
         Connection refused (ECONNREFUSED) connecting to /var/run/docker.sock: check if service is running
         Connection refused (ECONNREFUSED) connecting to /Users/Ninxha/Library

[2016-10-24 12:13] ZherebcovSergey commented on #205
Hooray! Correct! There is no need to throw off to the factory settings ... Thank you!
If you suddenly need a diagnosis...

BA3EF875-A019-4578-9D7C-C0212AA758F2

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.12 (build: 16A323)
logs: /tmp/BA3EF875-A019-4578-9D7C-C0212AA758F2/20161024-150942.tar.gz
[OK]     docker-cli
[OK]     virtualization kern.hv_support
[OK]     menubar
[OK]     moby

[2016-10-24 15:47] ijc25 commented on #819
(I somehow missed the mail notification of the last comment, sorry)

I guess that is unrelated to the post-sleep crash issue. Best bet is probably to open a new ticket with a fresh diagnostic taken in (or right after) the hanging state.

[2016-10-24 19:25] jtbennett commented on #835
I have had this happen many times.  Roughly every few hours of active work with Docker running.  All CLI commands hang. Actions in Kitematic (e.g., clicking Stop on a container) do nothing -- no confirmation, no error, no feedback -- nothing.

The only resolution for me has been to go into Docker prefs and "Reset to factory defaults".  After the restart and setup, it works again.  For a while...

[2016-10-24 19:30] jtbennett commented on #835
Diagnostic from my latest instance of this problem: 7B27D0DB-CB3E-4BAD-8C70-3ED2B5C00B58

Same problem as above -- could not upload

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/7B27D0DB-CB3E-4BAD-8C70-3ED2B5C00B58/20161024-152809.tar.gz
failure: docker ps failed: Failure("docker ps: timeout after 10.00s")
[ERROR]  docker-cli
         docker ps failed

[2016-10-24 20:13] dave-tucker commented on #125
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-10-24 20:13] #125 closed

[2016-10-24 20:14] dave-tucker commented on #768
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-10-24 20:14] #768 closed

[2016-10-24 20:21] HariSekhon opened #838 "Feature Request: configurable disk size"
Feature request to add configurable disk size when setting up Docker for Mac.

Docker easily runs out of space and needs to have both the qcow disk and the filesystem expanded, which I currently do via a tedious qemu gparted process.

Coupled with bug in issue #820 which results in the regular loss of the disk to get it working again via factory reset which recreates the disk back to it's default

[2016-10-24 20:46] daveisfera commented on #768
What is the more info that's needed? I've seen this happen a few times and uploaded logs from it. Is there something else that you need to have provided?

[2016-10-24 22:32] xandris commented on #739
What is `config.Wait`? What does it need from the OS/filesystem/etc? I can gather any data needed.

[2016-10-24 23:28] pgcp commented on #205
After putting together pieces from various sources, this is the whole process that worked for me:

1.  Get a shell to the VM by connecting via screen:
```screen  ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/tty```
1. Hit Enter to see the shell prompt.
1. Run ```rm /var/lib/docker/network/files/local-kv.db``` to clear network information, including the allocated ports.

[2016-10-24 23:31] dave-tucker commented on #768
Thanks for uploading the reports! What would be really helpful is also posting the diagnostic ID in this issue as otherwise it's very hard for us to know which reports to look in to.

Yes, to troubleshoot this further we really need either:

-  A reproducible case
  - FWIW, I have the same settings in "Energy Saver" as in the original report but I don't see an issue...

Or:

- More reports!
  - Th

[2016-10-25 02:51] rbuckland opened #839 "missing device-mapper kernel driver in moby-kernel"
We use docker container to build raw disk images. This relies on the  device-mapper kernerl driver being available (the container runs privileged).

What is required to get this into the moby-kernel ?
### Expected behavior

device-mapper available in the `moby` kernel.
### Actual behavior

[code]
### Information

[code]

[2016-10-25 04:16] bayhe opened #840 "not login"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-10-25 06:07] Tohoff opened #841 "Docker does not run under Mac OS Sierra - even newest version"
### Expected behavior

Docker should except terminal commands.
### Actual behavior

Docker does not except terminal commands.
### Information
- Diagnose & Feedback"

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.12 (build: 16A323)
logs: /tmp/ACB893CB-1936-40C0-84E4-F6D82F529659/20161025-075850.tar.gz
failure: cannot find docker
[ERROR]  docker-cli
         cannot find docker

[2016-10-25 06:54] sincerekamal commented on #484
Please provide the solution or status about the issue before marking it as Closed.

[2016-10-25 08:01] xvolks opened #842 "Docker does not work for users with home folder on an other disk"
### Expected behavior

Docker should start / work
### Actual behavior

 /var/run/docker.sock does not exist
### Information

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.12.1 (build: 16B2555)
logs: /tmp/F5D2B84B-8265-474D-BEC6-540916B47052/20161025-095637.tar.gz
failure: docker ps failed: Failure("docker ps: timeout after 10.00s")
[ERROR]  docker-cli
         /var/run/docker.sock doe

[2016-10-25 08:15] flynniec6 opened #843 "Port 3306 is in use with no containers running"
### Expected behavior

Having started **docker** but before launching any containers, expect port 3306 not to be in use.
`sudo lsof -i :3306` should return an empty list.
### Actual behavior

The opposite. The command `sudo lsof -i :3306` returns

[code]
### Information

Docker for Mac: version: 1.12.2-beta28 (71c4a00)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/75E7D14C-D11A-4110-9C4D-80B99

[2016-10-25 08:20] flynniec6 commented on #843
We were using **mariadb** image as part of the project, which is the container that couldn't start up because port 3306 was already in use. Using docker-compose but without the restart setting.

Everything was working as normal yesterday (Monday 24th of October)

[2016-10-25 08:21] flynniec6 commented on #843
This might be the same problem
https://forums.docker.com/t/com-docker-slirp-is-using-my-containers-ports/16663/2

[2016-10-25 13:02] geertvanheusden commented on #825
@rogaha Is there any status update that you could share with us?

[2016-10-25 13:04] yallop commented on #840
There's not enough information here for us to diagnose the problem, unfortunately.  If the issue persists, could you please open a new issue with a diagnostic ID and a description of the problem?

[2016-10-25 13:04] #840 closed

[2016-10-25 14:07] vicfernandez opened #844 "Fix Issue pls"
### Expected behavior
### Actual behavior
### Information

Diagnostic ID: FC3B42FC-538E-43EA-B864-6C5F1A47FABD
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
### Steps to reproduce
1. ...
2. ...

[2016-10-25 15:08] HariSekhon commented on #820
This issue keeps recurring often when coming out of sleep, requiring reset and loss of containers and images which then need re-downloading.

Shouldn't this bug stay open until it's resolved in the next version?

[2016-10-25 15:45] bmbroom commented on #768
I see this bug all the time now using docker for mac beta (currently 1.12.2-beta28).

When I do 'Diagnose & Feedback' I get an error report that looks nearly identical to that in the original report:
Docker for Mac: version: 1.12.2-beta28 (71c4a00)
OS X: version 10.10.3 (build: 14D136)
logs: /tmp/9518ADD2-2AEF-434A-9083-6DC4A695530D/20161025-103704.tar.gz
failure: docker ps failed: (Failure "docke

[2016-10-25 16:31] bagnasco opened #845 "Docker stays "starting" forever after update"
### Expected behavior
Finish starting after a few minutes or less

### Actual behavior
Stays in "Docker starting" status forever

### Information

Diagnostic ID is CABFB86A-EE42-4692-B2B7-8A417A31601E, even though apparently the output could not be uploaded (see log below)

Docker for Mac: version: 1.12.2-rc1-beta27 (179c18c)
OS X: version 10.11.6 (build: 15G1108)
logs: /tmp/CABFB86A-EE42-4692-B2B

[2016-10-25 17:40] Luukyb commented on #371
The workaround suggest by @yankcrime did not work in my case. Because you need to fill up the disk with zeroes, you need at least to be able to store the file at 64 GB, right?

[2016-10-25 18:17] rvissapragada commented on #821
Yes please

With Best Regards,
Rama

On Thu, Oct 20, 2016 at 2:11 AM, Roberto Gandolfo Hashioka <
notifications@github.com> wrote:

[2016-10-25 18:27] alexmercertomoki commented on #832
solved!

On Friday, October 21, 2016, Roberto Gandolfo Hashioka <
notifications@github.com> wrote:

--
--

*Master of Information Systems Management*

H.John Heinz III College

Carnegie Mellon University

[2016-10-25 19:21] dennissheppard commented on #497
Same issue with latest beta:

`Docker for Mac: version: 1.12.2-beta28 (71c4a00)
OS X: version 10.12 (build: 16A323)
logs: /tmp/FAFA21A6-76A8-4BA2-A928-37D1C961C0AE/20161025-141957.tar.gz
failure: com.docker.osxfs is not running
[ERROR]  docker-cli
         docker ps failed
[OK]     virtualization kern.hv_support
[OK]     menubar
[OK]     moby-syslog
[OK]     dns
[OK]     disk
[OK]     system
[OK]

[2016-10-25 20:58] jamshid commented on #17
Yup, just encountered this after waking up my El Capitan macbook and this fixed it:
[code]
Also seen in this thread:
https://forums.docker.com/t/syncing-clock-with-host/10432/3

[2016-10-25 22:31] oshikryu opened #846 "Error response from daemon: dial unix /Users/ryuta/Library/Containers/com.docker.docker/Data/*00000003.00000948: connect: connection refused"
### Expected behavior

Do not quit
### Actual behavior

Quits every 5 minutes and requires docker restart
### Information

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/591D1575-E6D6-4638-A8B2-D6F40DDDF3FC/20161025-152934.tar.gz
[OK]     docker-cli
[OK]     virtualization kern.hv_support
[OK]     menubar
[OK]     moby-syslog
[OK]     dns
[OK]     disk

[2016-10-26 06:01] icemanovich opened #847 "Mac problems"
### Expected behavior
### Actual behavior
### Information

Diagnostic ID: 9028B00E-0EDC-434D-9451-8FBF7FDF50F3
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[ERROR]  docker-cli
         cannot find docker
         docker-cli check failed with: Failure("docker -v: timeout after 10.00s")
[OK]     app
[OK]     moby-syslog
[ERROR]  disk
         disk check failed with: Fai

[2016-10-26 06:39] mmenozzi opened #848 ""vmstateevent invalid json" fatal error during upgrade"
### Expected behavior
Successful upgrade

### Actual behavior
"vmstateevent invalid json" fatal error

### Information

Diagnostic ID: 25EE9EB6-48C3-4C54-B2D3-7DF13EEAC354
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[

[2016-10-26 08:13] dloeckx commented on #321
@samoht , thank you very much for the feedback. I cleaned up the hard drive, having >27GB of free space, but unfortunately still run into the same issue.

[code]

I just had the issue twice in a row, the previous log ID is 08529DC2-8DF4-4E6D-84F2-DB78B4035829

Would be great if you could help!

[2016-10-26 09:12] gesellix opened #849 "Error response from daemon / Docker engine panic: leave after shutdown"
### Expected behavior

Docker engine should not panic
### Actual behavior

Docker engine is not reachable. Client prints `Error response from daemon: Bad response from Docker engine`, Engine logs show `panic: leave after shutdown`
### Information

Using the latest Docker for Mac beta:

[code]

Output of `docker info`:

[code]

Diagnostic ID: 823B859D-B25B-4842-9FCD-BD4C4DCB4BF2

The last entries i

[2016-10-26 09:21] zexpp5 opened #850 "encounter a problem when user percona 5.7 container"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. encounter a problem when user percona 5.7 container. However ,the container cannot be stoped and rest

[2016-10-26 09:23] #850 closed

[2016-10-26 09:37] brmzkw opened #851 "Custom kernel module"
Is it possible to enable CONFIG_PPP_ASYNC and CONFIG_PPP?

They are required to run [forticrap](https://github.com/brmzkw/forticrap), a fortigate SSL-VPN client — and actually any PPTP client.

Also, is it possible to rebuild the kernel used with docker for mac?

[2016-10-26 09:51] gesellix commented on #849
The integration test mentioned above (DockerSwarmIntegrationSpec) to reproduce the error makes a bunch of `swarm init`, and `swarm leave --force`. Maybe it doesn't use a valid config or there's some timing issue due to some missing waits? See the source code at [DockerSwarmIntegrationSpec](https://github.com/gesellix/docker-client/blob/0825edfc776c090a4fe58befc3cd55ec7a29600a/client/src/integratio

[2016-10-26 10:07] bagnasco commented on #845
Apparently fixed after a further update to Version 1.12.3-rc1-beta29 (13397)

[2016-10-26 10:07] #845 closed

[2016-10-26 10:31] justincormack commented on #851
Hi, yes can add those.

The kernel config and patches from upstream are available in the VM, see https://github.com/docker/for-mac/issues/719#issuecomment-252616845 for how to extract them. You should be able to build a kernel module and add it with a sufficiently privileged container.

[2016-10-26 10:35] brmzkw commented on #851
Thanks a lot :-)

How can I get the new kernel? Do I have to wait for a release and "check for update"?

[2016-10-26 10:36] geertvanheusden commented on #825
Upgraded to the latest beta (29) and still facing the same problem.

Diagnostic ID: A02AFC7D-B768-41E9-929D-05B92B751ADA

Some errors from the mysql container:

[code]

Hope this helps.

[2016-10-26 10:41] justincormack commented on #851
It will be in the next beta; as we just released a beta last night the current estimate would be next Tuesday, but it might be before or after that depending on other releases and issues. It probably won't be in the stable channel for a bit longer.

[2016-10-26 10:43] brmzkw commented on #851
Thanks a lot :)

[2016-10-26 10:43] #851 closed

[2016-10-26 10:44] jsnsimpson commented on #677
+1

[2016-10-26 10:48] dsheets commented on #633
This should be fixed in the just-released Beta 29. Sorry for the delay in resolving the issue -- we had a couple of false starts on the design but now we use an ACL entry to make xattrs (containing ownership metadata) behave like inode metadata in most circumstances. Please give it a try and let us know how it works (or doesn't) for you. I'm going to close this issue but if you find related proble

[2016-10-26 10:48] #633 closed

[2016-10-26 10:48] dsheets commented on #263
This should be fixed in the just-released Beta 29. Sorry for the delay in resolving the issue -- we had a couple of false starts on the design but now we use an ACL entry to make xattrs (containing ownership metadata) behave like inode metadata in most circumstances. Please give it a try and let us know how it works (or doesn't) for you. I'm going to close this issue but if you find related proble

[2016-10-26 10:48] #263 closed

[2016-10-26 10:48] dsheets commented on #117
This should be fixed in the just-released Beta 29. Sorry for the delay in resolving the issue -- we had a couple of false starts on the design but now we use an ACL entry to make xattrs (containing ownership metadata) behave like inode metadata in most circumstances. Please give it a try and let us know how it works (or doesn't) for you. I'm going to close this issue but if you find related proble

[2016-10-26 13:21] JamesChevalier commented on #371
@Luukyb I had a good experience with [these steps](https://forums.docker.com/t/no-space-left-on-device-error/10894/26?u=jameschevaliercmi) (that site's UI is funky - you may need to scroll down to see the comment from beccari on Aug 31. The process doesn't require running `dd`, but it does require you to think about your disk usage - you're effectively re-setting the upper limit of the `qcow2` fil

[2016-10-26 13:26] ragrum opened #852 "Overlay2 storage driver breaks tmux"
### Expected behaviour

After running `$ tmux`, it starts correctly.

### Actual behaviour

After running `$ tmux`, only the characters `1;2c` are shown. Tmux doesn't start.

After googling the issue, some people suggest this is because some permissions
problems. I suspect the new Overlay2 storage driver has something to do with this
issue. It was working perfectly with the AUFS driver.

### Infor

[2016-10-26 13:36] TsumiNa commented on #846
got same issue with you but with nginx+tornado+mongodb. I use weighttp to ran a simple benchmark test and found that when the response get bigger(about 5MB), this issue occurred.

[2016-10-26 13:43] snky1987 commented on #677
+1

[2016-10-26 13:59] justincormack commented on #852
Hi this is probably not related to overlay but to https://github.com/docker/docker/issues/27765 we are working on a fix now.

[2016-10-26 16:36] justincormack commented on #852
We will be releasing an update that should fix this very shortly.

[2016-10-26 16:41] ragrum commented on #852
In the mean time I've switched to Docker for Mac Stable channel, it hasn't this issue. More than happy to test the fix when available in Beta channel, thanks for the effort!

[2016-10-26 17:49] goneflyin commented on #77
This is a fundamental performance problem with [osxfs](https://docs.docker.com/docker-for-mac/osxfs/), full stop. As others have noted, _anyone_ who is attempting to use DfM for a development environment of any significant size must be hitting this -- I can't imagine how they are not.

I encountered similar slowness using with `docker-machine` and virtualbox via `vboxfs`. It looked like a show-sto

[2016-10-26 18:17] justincormack commented on #852
The fixed version is out on the beta channel now - if you could test that this is the issue and unrelated to overlay that would be helpful.

[2016-10-26 19:09] jwegne commented on #819
It seems that my macOS installation was broken. With a freshly installed macOS Docker starts up just fine. Also, I did not encounter any crashes after waking up my Mac. But the Docker.cow2 images still gets corrupted when I restart or shutdown Docker.

Still, I will try to reproduce the crashes the next few day, but I think they were also related to my broken macOS.

[2016-10-26 19:21] ragrum commented on #852
I can confirm that the mentioned issue is fixed in:

[code]

[code]

Thanks a lot for the quick fix! 👍

[2016-10-26 19:42] melostbr commented on #777
@samoht, the file doesn't exist in my computer. I tried downloading and installing it again, but the problem persists. Here is the output of the diagnose I've just received:

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/CDDE3FB0-A591-4896-8D5B-B78B7F5FC723/20161026-173925.tar.gz
failure: Docker.qcow2 missing: the VM has never been started
[ERROR]  doc

[2016-10-26 22:28] gesellix commented on #849
After further investigation it seems like a fast and repeated `docker swarm init; docker swarm leave --force; docker swarm init; ...` sequence can trigger the error.
Those commands sequence is obviously not the real life use case, but integration tests are part of a developer's life ;-) and I also didn't have any problems in older releases (pre `1.12.3-rc1-beta29 (13397)`).
Is this something which

[2016-10-26 23:36] wiseman commented on #802
The `-m`/`--memory` flag doesn't seem to work.

With the Memory slider in preferences set to 1 GB:

[code]

With the slider set to 2 GB:
[code]

[2016-10-27 03:52] dawnerd commented on #835
Same problem:

BEA11C20-0004-4AA0-AF21-3F4C4C772504

Was noticing some odd behavior in a container and decided to use the restart button. Says it started up but docker doesn't respond.

[code]

[2016-10-27 03:57] AntSworD opened #853 "qcow2 file so large，how to clean up?"
Problem: Docker.qcow2 to large
`109632640 -rw-r--r--  1 ant  staff    52G 10 27 11:50 /Users/ant/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/Docker.qcow2`

How to clean up? my mbp only have 120GB space, this file take half of my disk space

`docker info`

[code]

`docker version`

[code]

[2016-10-27 06:43] motin commented on #77
Thank you @goneflyin so much for pointing us to [d4m-nfs](https://github.com/IFSight/d4m-nfs)!

This is incredible!

[code]

NFS is 18x faster than OSXFS - and even faster (or at least on par with) than not using a host volume at all (which blows the file-synchronization workarounds away from consideration)!

[This gist](https://gist.github.com/motin/488998820e31f65c4ae01b4bf4d42146) currently inc

[2016-10-27 06:50] ilg-ul commented on #77
Although I did not run any benchmarks, I also confirm that running long builds inside a mounted folder takes ages to complete. The builds I'm talking about are [GNU ARM Eclipse OpenOCD](http://gnuarmeclipse.github.io/openocd/build-procedure/) and [GNU ARM Eclipse QEMU](http://gnuarmeclipse.github.io/qemu/build-procedure/).

[2016-10-27 07:32] lukasfrank opened #854 "Not possible to install/start docker"
### Expected behavior

Try to start docker initially
### Actual behavior

Docker dosen't start caused by a fatal error network error
### Information
- Diagnostic ID: C5645C57-4B95-4913-BFBC-D6A2A71361A6
### Steps to reproduce the behavior
1. Download latest docker version
2. Move app to application folder
3. Try to lunch the application
### Error log

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X

[2016-10-27 08:37] justincormack commented on #852
Sorry we broke it!

[2016-10-27 08:37] #852 closed

[2016-10-27 08:40] justincormack commented on #839
There are no current plans to add this as it causes slowdowns in boot times.

You might be able to use lkl https://github.com/lkl/linux or usermode Linux to do this in userspace.

[2016-10-27 08:48] justincormack commented on #714
@cwbeck you still did not post the exact command line you were using.

[2016-10-27 08:54] justincormack commented on #693
@mauritsl there is no `*` on your `ntpq -p` output which means it is not synced, at which point it will not sync with the VM. Your offset is quite a way off. This seems somewhat common, but we don't know why...

Should look like:
[code]

[2016-10-27 09:09] HariSekhon opened #855 "SERIOUS BUG: routinely corrupts / hangs after coming out of sleep, needs reset loss of Containers + Images"
### Expected behavior
1. sleep mac
2. wake mac
3. run docker commands
### Actual behavior

Docker gets stuck starting back up if you left it running when Mac goes in to sleep mode. This happens daily on all 3 of my Macs, 2 laptops and a desktop that Docker gets stuck and never becomes available again.

This has basically become unusable as it requres a factory reset losing all the containers and i

[2016-10-27 09:24] samoht commented on #855
Are you using `10.10.5` on all of your laptops?

Some of the problem that you linked comes from an issue with the aufs drivers that we ship in Docker for Mac. In the last Beta, we have switched to `overlay2` as the default storage driver, which should fix these. Did you try running the latest Beta?

[2016-10-27 09:26] samoht commented on #819
We have switched to `overlay2` in Beta29, that you need to enable to reseting to factory defaults (see the changelog). Can you please try to see if that fixes your problem? We know that `aufs` get corrupted easily on hard shudown (which could happens when you kill the VM running inside Docker.app) and we hope that `overlay2` will fix these problems.

[2016-10-27 09:29] HariSekhon commented on #855
I think they're on different versions but yes the laptop I'm writing on now is 10.01.5.

One of the first things I did was upgrade to Docker Beta on one of them to see if that made any difference but the issue still recurred, unless that new Beta change to overlay2 happened within the last few days in which case I need to upgrade again to test it.

[2016-10-27 09:36] jwegne commented on #819
Thanks, I switched to overlay2.

But after (clean) shutdown of Docker I get following issues when checking the cow2 image:

[code]

Steps to reproduce:
1. Remove old Docker.cow2
2. Start Docker
3. Quit Docker
4. Check Docker.cow2

[2016-10-27 09:41] justincormack commented on #819
`qemu-img` errors are unrelated to the filesystem on the image.

@djs55 are these errors a problem?

@jwegne can you update to the beta 29.2 that is out now and see if there is any difference?

[2016-10-27 09:57] samoht commented on #855
It would be useful to have a diagnostic ID on which of the machine where this is failing, as the issue is probably related to 1/ the OSX version that you are running (there are some OSX kernel bugs in 10.10 related to sleep mode that we can unfortunately do nothing about) and 2/ your Docker for Mac version (there are various causes). We switched to `overlay2` in Beta29 that we released a few days

[2016-10-27 09:59] HariSekhon commented on #855
I put the diagnostic in #820, I'll try upgrading to Beta again at some point soon and see if the issue subsides.

[2016-10-27 10:07] ijc25 commented on #693
The "If your system does not have access to an NTP server" paragraph near the end of https://docs.docker.com/docker-for-mac/troubleshoot/ contains a possible workaround for this sort of thing (namely adding the local clock as a low priority NTP source).

[2016-10-27 10:20] HariSekhon commented on #855
I'm actually a bit hesitant to upgrade my Macs now as I saw there were some issues with the Mac Sierra version...

[2016-10-27 10:20] funkydorian opened #856 "Docker hyperkit is consuming 1.64 GB. RAM even there is no active containers"
### Expected behavior

Hyperkit should release the memory

### Actual behavior

Hyperkit does not release the memory

### Information

I restarted Docker4Mac and even it seemed restarted during some time "docker images" was giving error, and it restarted itself again

Related screenshots:
<img width="1092" alt="screen shot 2016-10-27 at 10 39 51" src="https://cloud.githubusercontent.com/assets/874

[2016-10-27 10:41] Luukyb commented on #371
Thanks @JamesChevalier. In my case I have a SSD and 20GB to 30GB would be the maximum I would allow. I will try creating one of 20GB max size, and my understanding is that when it gets full I would be able to recompress the disk.

[2016-10-27 13:10] elliotcm opened #857 "Docker for mac stalling on a Macbook 12""
### Expected behavior

Uninterrupted fetching, extracting, and building of images.
### Actual behavior

When building images the parallel process of downloading and extracting images frequently stalls for anything between 10 seconds and 2 minutes.  This can happen in the middle of a download or in between steps of downloads and extractions.  There is no feedback during these stalls and minimal pro

[2016-10-27 13:42] boxmein opened #858 ""Automatically check for updates" preference causes Fatal error"
### Expected behavior

Ticking or un-ticking "Automatically check for updates" will modify the setting, persist and not show any pop-up.
### Actual behavior

Ticking or un-ticking "Automatically check for updates" will cause an error.

![image](https://cloud.githubusercontent.com/assets/358714/19769394/da100bd6-9c63-11e6-8f3b-f0bc7748f853.png)
### Information

Diagnostic ID: 82AB32B3-DB0A-4DC7-8A3

[2016-10-27 14:44] velimir0xff commented on #19
hey @djs55 can you please clarify why this issue has "fixed" state? This is still an issue at least for me. I there a workaround, which I missed?

[2016-10-27 16:43] dave-tucker commented on #625
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-10-27 16:43] #625 closed

[2016-10-27 16:44] dave-tucker commented on #632
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-10-27 16:44] #632 closed

[2016-10-27 16:46] dave-tucker commented on #747
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-10-27 16:52] dave-tucker commented on #776
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-10-27 16:52] #776 closed

[2016-10-27 18:44] anonymuse commented on #82
Having a similar problem myself and being relatively intolerant of GUI-based intervention, I've found that pkill-ing docker at the command line provides a seamless restart of the Docker engine and associated processes.

If you run
`$ sudo pkill docker`
the Docker for Mac application will restart all associated processes and allow you to get back to work with (what appears to be) minimal disruption

[2016-10-27 18:45] haata opened #859 "docker info hangs, restart does not work, on 5th factory reset today"
### Expected behavior

docker info shouldn't hang. Restarting docker should make it work again in all cases.
### Actual behavior

docker factory reset is required to run docker again. Only works for a while.
### Information

6A7A1072-5D9B-43C8-8FD8-A653C5B550A2

[code]
### Steps to reproduce the behavior
1. Run docker container a few times
2. Attempt to run docker info, hangs
3. Try to restart
4.

[2016-10-27 20:13] Vanuan commented on #77
While NFS is a lot faster, I think we should not forget why osxfs was introduced:

# graceful handling of file ownership
# supporting filesystem events

It would be great if NFS supported fsevents, but it doesn't.

[2016-10-27 20:14] k2xl opened #860 "Network Requests Way Slower Inside Container"
### Steps to reproduce the behavior
1. Run a container, any container (even with host network enabled) on Mac
2. Install `curl` in the container. Try `time curl google.com`
3. Exit the container. Run `time curl google.com` on host.

I'm getting much slower response when inside container. I just upgraded to Version 1.12.3-beta29.2 (13499) and still seeing this issue.

[2016-10-27 21:48] dave-tucker commented on #856
Closing as a duplicate of #178 - Please see the description in https://github.com/docker/for-mac/issues/178#issuecomment-238509543 for an explanation of what's happening

[2016-10-27 21:49] #856 closed

[2016-10-27 21:59] nathanhourt opened #861 "Docker not starting after installing on El Capitan"
### Expected behavior

Docker starts up normally and `docker info` returns the usual info
### Actual behavior

Docker is not starting, `docker info` replies
`Error response from daemon: dial unix /Users/nathan/Library/Containers/com.docker.docker/Data/*00000003.00000948: connect: no such file or directory`
### Information

Diagnostic ID: 1BEF06D1-0B48-4244-8AE7-2E18CD276325

[code]
### Steps to re

[2016-10-27 22:29] olygoelements opened #862 "Mac Pro 1.1"
### Expected behavior
Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1108)
logs: /tmp/FA42857F-2230-4792-B37A-DF60B7CCAA7A/20161028-002541.tar.gz
failure: sysctl -a reports no hypervisor support
[ERROR]  docker-cli
         cannot find docker
         docker-cli check failed with: Failure("docker -v: timeout after 10.00s")
[ERROR]  virtualization kern.hv_support

[2016-10-27 22:29] #862 closed

[2016-10-27 22:29] olygoelements commented on #862
i don't know what i make

[2016-10-27 23:35] ngpestelos opened #863 "Daemon not running after restart"
Please refer to `08059EC2-AC24-4E19-A917-532045FB9886`.

[2016-10-28 00:04] schmunk42 opened #864 "Docker not coming back up after restart"
### Expected behavior

Docker coming back up after restart
### Actual behavior

[code]
### Information
- Full output of the diagnostics from "Diagnose & Feedback" in the menu

[code]

[2016-10-28 01:54] tweep commented on #82
Same problem on Mac OS X "El Capitan" 10.11.6 - com.docker.hyperkit is draining my battery, shutting Docker down via icon in menu bar did not work - I had to force-quit the process.

I'm using Docker Version 1.12.1 (build: 12133)

[2016-10-28 06:37] oliverhr commented on #205
@pgcp I think that does not work for `Docker native` on `MacOS/OsX`

[2016-10-28 06:53] oliverhr commented on #205
Same problem with Version 1.12.3-beta29.2 (13499)
Diagnostic ID: B9ACA12E-2617-41AD-9A22-9737F2739253

[code]

[2016-10-28 07:23] motin commented on #77
@Vanuan Yes, something like the following should be added to the Docker for Mac readme:

Pros and cons osxfs vs NFS:

Pros osxfs:
- graceful handling of file ownership
- supporting filesystem events

Cons osxfs:
- 10-20x slower than NFS

This way developers can choose based on what is most important for them. For me using persistent databases and sharing my application's source code, speed is way

[2016-10-28 08:08] jwegne commented on #819
@justincormack, I re-tested with beta 29.2. `qemu-img` still shows errors, but the filesystem seems to be fine. No ext4 errors so far.

[2016-10-28 09:10] brmzkw opened #865 "Docker for mac keeps crashing"
### Expected behavior

The subject of this issue should be `Docker for mac keeps working`.
### Actual behavior

I'm running several containers (PostgreSQL databases, Python Flask APIs, ...). After a few hours,  the output of `docker-compose logs -f --tail 50`:

[code]

`db-*` containers are PostgreSQL databases.
`fluent` is the `fluent/fluentd` image.

Note I wasn't in from of the computer for a w

[2016-10-28 09:11] ijc25 commented on #819
Are there any remaining issues here? Seems like the original crash has been resolved either by the fixes made in beta29 or by the OSX reinstall (or at least has become unreproducible somehow) and the fs corruption seems ok with beta29.2 (AIUI `qemu-img check` is prone to false positives, or at least it being noisy is not necessarily an indication of qcow2 corruption).

I think I'll close this tick

[2016-10-28 09:21] ijc25 commented on #710
:+1: to the request for a diagnostics upload.

In the logs given I do see:
[code]

There were some related fixes in beta29.2, if you are happy to try the beta version then it would be interesting to know if you can still reproduce with that version. Also beta28 onwards collect more information relevant to these kinds of issues so _if_ it reproduces there then a diagnostic upload from the current b

[2016-10-28 10:02] astropanic opened #866 "Docker for mac is not starting properly"
### Expected behavior

Docker for mac is starting properly

### Actual behavior

Docker for mac is not starting properly.
Instead of the whale icon in the bar, I see a spinner. I can't access any Docker menu item from the bar.

`ps aux | grep -i docker`

`3024   0.0  0.3  2594304  44640   ??  S    11:48AM   0:00.17 /Applications/Docker.app/Contents/MacOS/Docker`

After killing the unresponsive pro

[2016-10-28 11:23] dave-tucker commented on #848
Unfortunately the version of Docker for Mac you are running is not supported on OSX Sierra.
You will need to go to 🐳  -> `Preferences` -> `Uninstall/Reset` -> `Uninstall` and then drag the old `Docker.app` to the trash.

**Warning: You will lose any data from your old Docker for Mac installation. If you have containers or images you want to keep you should use `docker save` to export them**

You c

[2016-10-28 11:23] #848 closed

[2016-10-28 11:33] dave-tucker commented on #866
@astropanic I'm sorry about your first issue being closed without a fix.

Once you dragged the app to your `/Applications` folder and started it, what happened?
Did you see any dialog boxes saying that "We're whaly happy to see you" or asking for permissions to install our networking components? If not, there's a chance these may be stuck/hidden under other windows - you can used Mission Control (

[2016-10-28 11:43] astropanic commented on #866
@dave-tucker , after dragging it to Applications, the standard warning appears, it is downloaded from the internet and if I want open it. After confirming, nothin more happens, besides showing me a growl notification saying I updated from a previous version. I can't make a screenshot of the menu bar, because there was nothing there. just when I hover with my mouse on the space, the OSX spinner sho

[2016-10-28 11:43] #866 closed

[2016-10-28 12:02] dave-tucker commented on #865
Thanks for your report.
It looks like in these cases that `osxfs` has died either due to `'illegal-instruction' or `invariant-violated` issues. We're aware of these and @dsheets is working on a fix

[2016-10-28 12:42] HariSekhon commented on #855
This occurred on my desktop last night which is currently 10.10.4

[2016-10-28 12:42] HariSekhon commented on #855
I've upgraded both to Beta and will keep an eye on this.

[2016-10-28 12:47] dave-tucker commented on #864
Thanks for the report.
I've done some digging and found some errors, that may be unrelated to the problem you are having.

--------------------------------------------------------------------------------
Detected symptom of problem 'state-not-recoverable' in 2399EBB7-B444-4B74-918B-87BC7A3819DE/20161028-015836.

[INVESTIGATE THE ISSUE]

The following log matches:
[code]
---

/cc @dsheets as discus

[2016-10-28 13:21] dave-tucker commented on #866
Thanks @astropanic

Glad you managed to get it working in the end. I'll take a look at the logs and see if I can figure out what when on but I suspect there was some bad state from a previous install that caused this to happen.

[2016-10-28 13:38] michaelwilde commented on #17
This is a big issue for me as I use data generators with Splunk on my laptop.  If i'm searching for data in the "last 30 minutes" there may *not* be data as if my laptop sleeps, the Moby VM loses its current time sync with my laptop.   Sometimes it can be for days, or just a few minutes.

While a manual comparison can be with:
`docker run --rm --privileged alpine date`
and a manual update can be d

[2016-10-28 13:53] michalcoka opened #867 "OSX 10.12.1: docker daemon cannot start"
### Expected behavior

Docker can start up
### Actual behavior

Cannot start docker for mac

Diagnostic ID: 32016D5C-592F-4E8F-9F41-E19A9AA04F8B

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.12.1 (build: 16B2555)
logs: /tmp/32016D5C-592F-4E8F-9F41-E19A9AA04F8B/20161028-154745.tar.gz
failure: docker ps failed: Failure("docker ps: timeout after 10.00s")
[ERROR]  docker-cli
         doc

[2016-10-28 17:27] adammolnar commented on #82
I had the same issue and used my macbook as a heating in the last days. I'm using a webpack container which is running in docker. In my `webpack.dev.js` config file I added the following:
[code]
and in the `package.json`of the project I removed the `--watch-poll` flag in the start script. I don't know which one solved the problem, but now my CPUs running on ~15%. I hope it helps.

[2016-10-28 17:35] HarryWeppner opened #868 "Building OpenNetworkLinux yields unresponsive container"
### Expected behavior

Container completes build.
### Actual behavior

Container becomes unresponsive, i.e.
- `docker ps` shows it is `Up`
- `docker exec -it <cmd> <container_id>` hangs
- `docker stop <container_id>` hangs (unable to stop it)
### Information

[code]
### Steps to reproduce the behavior
- https://opennetlinux.org/docs/build

[code]

[2016-10-28 17:43] thazarik commented on #867
Same here. Docker intermittently stops responding, when starting or attaching to a container.

What finally worked for me was to reset docker to factory defaults, then remove /private from preferences -> File Sharing. YMMV.

[2016-10-28 18:29] zachary-russell commented on #82
@adammolnar are you using just a regular MacBook or a MacBook pro? I'm more curious to see how docker for mac performs on a Macbook as i'm considering it for my next purchase.

[2016-10-28 18:54] HariSekhon commented on #855
This has just happened again on my 10.10.4 desktop even after upgrading to the latest Beta yesterday:
[code]

[2016-10-28 18:55] HariSekhon commented on #855
Looks like the Beta version doesn't have the fix in it.

[2016-10-28 19:02] bauerpl opened #869 "ERROR: for app 'ascii' codec can't decode byte 0xc5 in position 4: ordinal not in range(128)"
### Expected behavior

`docker-compose up -d` creates containers.
### Actual behavior

I got:

[code]
### Information

[code]

I'm using Docker for Mac (stable version):

`Docker version 1.12.1, build 6f9534c`
`docker-compose version 1.8.0, build f3628c7`

[2016-10-28 19:53] Druotic commented on #483
@dsheets That statement makes me think the work for this is already underway. However, the status label is still "1-acknowledged". Is this currently being worked on, or still on the todo list?

[2016-10-28 20:00] oliverhr commented on #205
Update:

With Version 1.12.3-beta29.2 I was able to fix doing this:

- Force remove all containers from network
  * `docker network  disconnect -f network-name container-name`
- Remove network
  * `docker network rm network-name`

- Create again the network
  * `docker network create network-name`

- Delete and Re-Run the containers

Hope this helps.

[2016-10-28 23:59] testn opened #870 "docker logs -f does not follow"
### Expected behavior

docker logs -f should tail the log
### Actual behavior

docker logs -f starts and stops at a random point in the log file
### Information

Version 1.12.3-rc1-beta29.1 (13437)

Docker for Mac: version: 1.12.3-rc1-beta29.1 (6514be4)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/E0C352F7-9F97-4EE6-8D28-F702E8FB734F/20161028-165015.tar.gz
[OK]     vmnetd
[OK]     dns
[OK]

[2016-10-29 17:00] goneflyin commented on #77
@motin @Vanuan

I wanted to respond to the valid concerns raised by @Vanuan myself, but @motin said it much more clearly than I could have!

You're absolutely right -- and I'm glad you mentioned those two specific features, `fsevents` and file ownership. For some use cases, these are of primary concern. For me and @motin (and many others from what I've gathered), they aren't particularly relevant

[2016-10-29 17:20] justincormack commented on #77
@goneflyin You can already use `nfs` mounts using `docker volume`, as the default `local` driver supports nfs mounts, eg `docker volume create --driver local --opt type=nfs --opt o=addr=192.168.1.1,rw --opt device=:/path/to/dir --name foo` (see https://docs.docker.com/engine/reference/commandline/volume_create/ for details). Note you currently need to supply the IP address, and you may need `o=use

[2016-10-30 04:31] jamshid opened #871 ""docker exec"s are hanging"
### Expected behavior

Exiting a `docker exec` `bash` should fully exit.
### Actual behavior

[code]
### Information

3E549EA9-14E0-4793-B0D4-4EDDFDF6FB3B

Docker for Mac: version: 1.12.3-beta29.2 (902414d)
OS X: version 10.11.6 (build: 15G1108)
logs: /tmp/3E549EA9-14E0-4793-B0D4-4EDDFDF6FB3B/20161029-233021.tar.gz
[OK]     vmnetd
[OK]     dns
[OK]     driver.amd64-linux
[OK]     virtualization VT

[2016-10-30 15:27] WolfgangFahl commented on #77
The design decisions here do not seem to fit the needs of the docker users.
Having a native docker on OSX sounds like a great idea. I'd expected not only to have osxfs but also nfs and cifs as options for mounting withouth much hassle. For CIFS e.g. I found
http://stackoverflow.com/a/27996394/1497139 which states:
_Yes, Docker is preventing you from mounting a remote volume inside the container as

[2016-10-30 16:20] justincormack commented on #77
@WolfgangFahl that post tells you exactly how to do mount, you add the extra flags to `docker run`. You can mount `nfs` and `cifs` from containers or volume drivers as you wish. If you wish to disable all the security protections on the software on your machine you may do that.

[2016-10-30 16:26] WolfgangFahl commented on #77
Thanks  justin. I figured out to use CIFS. The performance ratio in my case is:
* 20 MBytes/sec via CIFS  for a simple copy of a multi-mbyte file
* 60 MBytes/sec via osxfs for a simple copy of a multi-mbyte file

restoring a 280 MByte MySQL Backup:
* 5 mins 30 secs via CIFS
* 7 mins 13 secs via osxfs
and this was a CIFS mount to a server on the network not the local machine!

[2016-10-30 22:38] Murazaki commented on #82
For the same containers, Docker use 200% CPU on my Mac, as opposed to 99% CPU when running through VBox.

macOS 10.12.1 (16B2555)
MacBook Pro 3,1 GHz Intel Core i7, 16 Go 1867 MHz DDR3 memory

[code]

[2016-10-31 03:12] hangyuancn opened #872 "docker fail on mac"
I installed docker 1.12 on my mac osx 10.10.5. It always reported the following error when I executed any docker command.

docker version                                                                                                                                            [11:05:04]
Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.7.1
 Git commit:   6f9534c
 Built:        T

[2016-10-31 03:13] #872 closed

[2016-10-31 06:38] grav opened #873 "Time Machine exclusions"
More of a suggestion:

It would be nice, if the TM exclusion that you can make in Docker for Mac would actually be applied to the Time Machine preferences, meaning:

- it would be visible in the Time Machine options
- it would persist, even if you reset Docker for Mac to factory defaults

[2016-10-31 07:32] wojas commented on #171
As a workaround, I ended up using OpenVPN to access the Docker networks.

My setup can be found here (easy to use Compose file): [wojas/docker-mac-network](https://github.com/wojas/docker-mac-network)

[2016-10-31 07:55] ypanyukov opened #874 "Cannot login on mac"
### Expected behavior
success login
### Actual behavior
Error response from daemon: Get https://index.docker.io/v1/users/: dial tcp: lookup index.docker.io on 192.168.65.1:53: no such host
### Information

osx 10.12.1
Docker version 1.12.1, build 6f9534c

  Diagnosis ID FDEEA220-16CD-4C7D-9244-243F283B8849
 Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.12.1 (build: 16B2555)
logs: /tmp

[2016-10-31 09:49] jwegne commented on #819
Everything seems to be stable now. I will create another issue if I encounter other crashes.

Thank you very much for your help.

[2016-10-31 09:49] #819 closed

[2016-10-31 09:49] dsheets commented on #873
Thanks for the suggestion! We'll look at this when a number of other storage improvements are coming online.

[2016-10-31 10:11] Jokersoft commented on #497
Same with the newer version

[2016-10-31 10:17] Jokersoft commented on #861
Almost same here
[code]

[2016-10-31 10:20] Jokersoft commented on #841
Same here, even with the newer beta:
[code]

[2016-10-31 10:59] ddebasilio commented on #186
So I still am having issues with docker crashing on my mac constantly. I have been able to install the Beta version for testing.
  Docker version 1.12.3, build 6b644ec, experimental (beta29.2)
My issue should have been resolved with Beta28 but it seems that it still is constantly crashing/restarting. Once more I'm happy to provide any feedback that will help resolve this issue since I can barely w

[2016-10-31 14:19] Toddzio opened #875 "Docker failing to start on startup, or restart of application"
### Expected behavior
Docker Opens
### Actual behavior
Docker hangs on startup
### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

Docker for Mac: version: 1.12.3-beta29.2 (902414d)
OS X: version 10.11.6 (build: 15G1108)
logs: /tmp/F635057

[2016-10-31 14:40] daveisfera commented on #768
Here's the Diagnostic ID (`3059FBF4-118B-4268-9AE1-74314EC1D71E`) but I'm not sure how useful it is because it appears that it wasn't uploaded:
[code]

I'm running Docker 1.12.3-beta29.2 (13499) on a Mac Book Pro and this seems to happen most weekends when I come in on Monday morning after the laptop has been sitting idle most, if not all of, the weekend.

[2016-10-31 15:01] dsheets commented on #457
@DeepSpawn @hinunbi @Yugloocamai please open a new issue with diagnostic information if you would like us to investigate the issue. It is likely that the problem you experience is not the same as this issue report -- many different problems can cause this same symptom. We recommend running the latest Beta or Stable release as we are constantly fixing issues some of which cause this same symptom.

[2016-10-31 15:23] dsheets commented on #350
I do not believe that the original issue was caused by the invariant violation that @samoht cites.

[2016-10-31 15:56] goneflyin commented on #77
Thanks @justincormack, that's an approach I wasn't aware of. I did try it, but without success. It's likely due to the fact I already have NFS mounted to the Linux instance in `xhyve`. I haven't explored it any further as of now.

----

Since I've already said my piece, I'll be brief: using `docker` to create NFS volumes on a container-by-container basis is just a workaround for how to deal with t

[2016-10-31 16:00] justincormack commented on #77
I took a look at the `d4m_nfs` script, it should be possible to make it into a privileged container that is set to auto restart every time you start docker, so use is pretty transparent.

[2016-10-31 16:03] dsheets commented on #248
The invariant violation issue is not the root cause of this report. This particular invariant violation issue was fixed in Beta 23/Stable 1.12.1.

[2016-10-31 16:10] ijc25 commented on #82
All,

To reiterate and expand upon [@dsheets' earlier comment](https://github.com/docker/for-mac/issues/82#issuecomment-250556552) there are many possible reasons why each of you may be seeing high CPU usage, ranging from macOS kernel bugs (in 10.10.x and early 10.11.x in particular) to the use of polling within container (e.g. build systems for various languages) to potential Docker for Mac bugs

[2016-10-31 16:10] #82 closed

[2016-10-31 16:15] dsheets commented on #175
The invariant violation issue is not the root cause of this report. This particular invariant violation issue was fixed in Beta 23/Stable 1.12.1.

[2016-10-31 23:38] chezbut commented on #817
The test case is specifically using CURL with a RUN argument as shown above, trying to CURL a URL with an ARG variable as part of the URL.

[2016-10-31 23:49] dsng9q843hpaurghapuhga opened #876 "Docker for Mac does not start"
### Expected behavior
Docker for Mac version 1.12.1 should start normally on my mac running OSX 10.12.1

### Actual behavior
It does not start
### Information

I have re-installed multiple times and it still will not start
[50B74E9F-29BD-4E17-BDCB-C84A4F22D772.zip](https://github.com/docker/for-mac/files/563077/50B74E9F-29BD-4E17-BDCB-C84A4F22D772.zip)

### Steps to reproduce the behavior

  1. In

[2016-11-01 00:28] dave-tucker commented on #759
@crmejia the issue with `httpredir` should have been fixed in https://github.com/docker/docker/pull/27620

I've tested this on `Beta 29.2` with the latest docker master (https://github.com/docker/docker/commit/8cced8702261224ffd726774812eb50e8a600e52 at the time of writing) and cannot reproduce.

If you're following the guide and you are on the `dry_run` branch you can update to the latest docker

[2016-11-01 02:15] zbuc opened #877 "Unable to connect to Daemon -- MacOS 10.12.1 / Docker 1.12.1"
### Expected behavior

Able to connect to daemon, as the desktop widget and process listing seem to show Docker's daemon running.

### Actual behavior

`docker ps` results in the following error:

[code]

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
[code]

I verified the `docker` command line binary seems to be correct:

[code]

[2016-11-01 09:13] mwullink commented on #302
awesome, that fixed it.

[2016-11-01 09:13] ddebasilio opened #878 "Docker Restarts Unexpectedly Restarting the Containers too"
### Expected behavior
Docker should be "stable"
### Actual behavior
It restarts unexpectedly constantly making it hard to have the containers up, this happens even without accessing the containers, but randomly, sometimes after a few minutes sometimes after a few hours.
### Information (This is related to issue https://github.com/docker/for-mac/issues/186)
I was told that docker beta28 would fix t

[2016-11-01 09:51] ijc25 commented on #878
@ddebasilio I'm sorry that you are still having trouble, I've checked your new logs and the good news is that #186 (AKA docker/hyperkit#50) doesn't seem to be happening to you any more.

The bad news is that in the new logs I see:
[code]
So it seems you are now hitting another issue. AIUI there is already a fix for this which will be released shortly in beta30. @dsheets can likely confirm or deny

[2016-11-01 09:54] ddebasilio commented on #878
Well that's good news, if you need anything else from me to fix the issue please let me know.

[2016-11-01 11:15] dsheets commented on #817
If you are interpolating an argument into a string which has variable-name-valid character following the argument variable name, e.g. `$GRAFANA_VERSION_amd64.deb`, you must delimit the variable name with `{` and `}` otherwise the parser does not know where the variable name ends:

[code]

[2016-11-01 11:15] #817 closed

[2016-11-01 11:15] justincormack commented on #824
This was fixed, please update to latest beta (beta 29.x)

[2016-11-01 11:15] #824 closed

[2016-11-01 11:28] gtardif commented on #824
Thanks, works fine !

[2016-11-01 12:06] dsheets commented on #497
@dennissheppard @Jokersoft please open new issues with what you've observed and your diagnostic reports and IDs. It's unlikely the root cause of your issues are the same as the original poster and we are very unlikely to properly handle your issues on a closed ticket. Thanks!

[2016-11-01 12:07] dsheets commented on #768
@bmbroom @daveisfera please open new issues with what you've observed and your diagnostic reports and IDs. It's unlikely the root cause of your issues are the same as the original poster and we are very unlikely to properly handle your issues on a closed ticket. Thanks!

[2016-11-01 12:29] mangelajo commented on #875
Same here: 94646CA0-8842-41A7-B0F2-48F2E12658D9

[2016-11-01 13:35] dsheets commented on #847
Detected symptom of problem 'unsupported-sierra' in 9028B00E-0EDC-434D-9451-8FBF7FDF50F3/20161026-085249.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the beta channel. Please upgrade your version of Docker for Mac.

May be related to docker/for-mac#561

The following log matches:
[code]

[2016-11-01 13:35] #847 closed

[2016-11-01 13:38] onmishkin opened #879 "Docker hangs regularly; requires restart"
Periodically (once every day or so) I notice my containers are unresponsive. I do "docker ps" which hangs. I assume the Docker daemon is hung. I have to quit Docker, wait a minute or so, and restart Docker to get it working again.

Nothing interesting appears to show in the Mac Console app. Often the problem happens overnight (i.e., I see it when I first start working again in the morning). The Ma

[2016-11-01 13:42] bergman opened #880 "DNS not respecting search domain"
### Expected behavior
DNS lookups should respect search domain of `/etc/resolv.conf` or `scutil --dns` on host computer.

### Actual behavior
search domain is ignored.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
[code]
  - Dockerfile:
[code]

### Steps to reproduce the behavior

  1. `ping -c1 internaldomain` works on host computer, gives regular pin

[2016-11-01 14:03] Mehonoshin opened #881 "Volume inspect given non-existing path"
### Expected behavior
`docker volume inspect` returns existing path

### Actual behavior
`docker volume inspect` returns non-existing path

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

[code]
### Steps to reproduce the behavior

Run any container with docker volumes

[code]

Inspect volume

[code]

Mountpoint does not exist

[code]

Even /var/lib/dock

[2016-11-01 15:26] mchiang0610 commented on #874
@ypanyukov I am able to login, and unable to reproduce.  Would it be possible for you to restart Docker for Mac or do a factory reset?

Thanks for being a Docker user. I'm closing this for now, but if problems persist, please feel free to reply. We can always reopen the ticket.

[2016-11-01 15:26] #874 closed

[2016-11-01 15:38] dsng9q843hpaurghapuhga commented on #876
I think the problem is admin privileges.  I just tried starting docker from a user who has admin privileges and Docker starts normally.

[2016-11-01 15:40] mchiang0610 commented on #876
@dsng9q843hpaurghapuhga reading the logs, it seems like the daemon failed to start for some reason. You do need admin privileges for Docker for Mac to function correctly.

Closing this issue for now.

Thanks!

[2016-11-01 15:40] #876 closed

[2016-11-01 16:46] mchiang0610 commented on #849
@gesellix Thanks for sending this. I am able to reproduce this using your method

[code]
Docker for Mac Version 1.12.3-beta29.2 (13499). Channel: Beta (902414df0c)
Operating System: MacOS 10.12.1 Beta (16B2548a).

Thank you for all the help. We will look into a potential fix for this.

[2016-11-01 17:13] mchiang0610 commented on #879
@onmishkin Thanks for letting us know the issue. Are you able to help provide steps to reproduce this?
I'm going to close this for now and reopen once we have more information.

Thank you for all the help! We appreciate it.

[2016-11-01 17:13] #879 closed

[2016-11-01 17:17] mchiang0610 commented on #857
@elliotcm Thanks for submitting this. Do you have any sample images for me to test on? Some that I have tried are the top images on Docker Hub, and am unable to reproduce.

Closing this for now and will reopen once we get more information to reproduce.

Thank you for the help! We appreciate it.

[2016-11-01 17:17] #857 closed

[2016-11-01 17:48] mchiang0610 commented on #867
@michalcoka @thazarik Thank you for the help. Do you have more information regarding this issue? I'm trying to reproduce this.

[2016-11-01 17:52] onmishkin commented on #879
Sorry, I don't know a sequence of steps to repro the problem. All I know is that I often find things are in a broken state at the beginning of my work day and they had been working fine at the end of my previous work day and the machine had been basically idle between those points in time. During that time I'd have had anywhere from 5-10 containers running, but no explicit Docker operations (e.g.,

[2016-11-01 18:19] elliotcm commented on #857
This was (is) happening with such esoteric images as `ubuntu`, so if you're not seeing anything it must not be endemic to the class of machines.

I'll reopen if/when I find any more useful information.

In the meantime, are there any mechanisms I can use to get a peek into what the various docker processes are doing during these hangs?

[2016-11-01 18:24] mchiang0610 commented on #857
@elliotcm Thanks. The syslogs may be helpful

[code]

[2016-11-01 18:38] nmcalabroso commented on #412
+1 to this issue

[2016-11-01 18:41] mklatsky commented on #867
Resetting to factory defaults worked for me.

Docker:
Version 1.12.3-beta29.2 (13499)
Channel: Beta
902414df0c

OSX: 10.12.1 (16B2555)

[2016-11-01 18:47] nmcalabroso opened #882 "CLI for Docker For Mac"
# CLI for Docker For Mac
## Feature Request

Is it possible to have all the features that can be done via the GUI of Docker for Mac to some sort of CLI? This request is coming from an annoying issue from #412 that is holding back people who want to use their containers both for GNU/Linux and MacOS. Thank you!

[2016-11-01 19:11] andreyors commented on #677
+1

[2016-11-01 22:14] sylvainmouquet opened #883 "Docker 1.12.1 macOSX crash"
In reference to https://github.com/docker/docker/issues/27954

With MacOS Sierra version 10.12.1 (16B2555)
With docker version 1.12.1 (build : 12133)

Docker crashs brutally all containers are stopped
I have 70% of memory used and 50% of SWAP perhaps the problem occures when the system is out of memory
When i run docker service ls the services are listed but the service are not starting.
if i try

[2016-11-01 22:44] samoht commented on #883
Are you sure you installed the latest Beta properly? Your `docker version` shows a different version for the client and server (the server is still using 1.12.1).

The logs that you uploaded contain an issue with has definitely fixed in the latest Beta (and the upcoming next Stable release at the end of the week):

---

Detected symptom of problem 'assertion-failed-hyperkit-50' in 201F8F57-9F05-4B

[2016-11-02 06:21] eanvafaei opened #884 "Allow manual entries in File Sharing settings of Docker for Mac OSX"
Currently, the only allowed method is selecting from a pop-up, however, the pop-up will not allow selecting volumes like /var or /etc but add them as /private/var or /private/etc. So if the docker config is set to use /var, as it's volume, it will fail to start.
This is a problem where there is a mix of Linux and Mac machines using docker and docker-compose to setup development environment.

[2016-11-02 09:41] xiaods commented on #853
same here.

[2016-11-02 09:47] ijc25 commented on #857
@mchiang0610 the output of `syslog -k Sender Docker` (and much more besides) is already present in the diagnostic bundle uploaded with id 9133819d-18ca-4b60-b337-63140fab1be5.

[2016-11-02 09:58] dsheets commented on #884
This is a duplicate of #412 which is on the roadmap for our GUI team. I'm really sorry this is preventing you from reusing your development configuration. Please subscribe to #412 for updates.

[2016-11-02 09:58] #884 closed

[2016-11-02 10:14] ebuildy commented on #412
If this can help, you can use NFS mounts instead of D4M shares, this should let you more flexibility (and speed ^^).

[2016-11-02 10:25] justincormack commented on #285
This is an upstream docker issue tracked here https://github.com/docker/docker/issues/26111

[2016-11-02 10:43] sylvainmouquet commented on #883
Where could i find the process for installating the latest Beta of Docker for mac ?
This bug seams to be solved i could verify it

[2016-11-02 10:49] samoht commented on #883
See https://docs.docker.com/docker-for-mac/ and click on "Get Docker for Mac (Beta)"

[2016-11-02 11:38] aardelean opened #885 "Fails randomly after a few minutes of usage on Sierra update."
### Expected behavior
To run idnefinetely
### Actual behavior
Fails
### Information

Diagnostic ID: B40F11D3-3B50-4860-A0DE-A78FDBB62DB0
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console

[2016-11-02 11:44] samoht commented on #885
Detected symptom of problem 'unsupported-sierra' in B40F11D3-3B50-4860-A0DE-A78FDBB62DB0/20161102-133727.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the beta channel. Please upgrade your version of Docker for Mac.

May be related to docker/for-mac#561

[2016-11-02 11:44] #885 closed

[2016-11-02 12:33] mchiang0610 commented on #857
Yes, it is. However, the user cannot read what's inside the diagnostic
report themselves easily. Doing so helps them.
On Wed, Nov 2, 2016 at 6:47 PM Ian Campbell <notifications@github.com>
wrote:

--
Thanks,
Michael Chiang

[2016-11-02 15:17] tim-ireland opened #886 "Can't start docker"
### Expected behavior

### Actual behavior

Unable to start or run docker at all.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

[code]

  - A reproducible case if this is a bug, Dockerfiles FTW

I really don't know what happened, but I was using beta 27 successfully for some time and then somehow docker hung and I could not get it restarted. I upgrade

[2016-11-02 15:17] tim-ireland commented on #886
Is there a way to completely remove docker from the command line, and start over?

[2016-11-02 15:50] tim-ireland commented on #886
No, there is nothing in the toolbar that responds, not even the docker icon.  Just a spinning cursor when I hover the mouse where the icon should be.

[2016-11-02 17:57] cpuguy83 opened #887 "Hyperkit non-insignificant amount of CPU while idle"
### Expected behavior
Hyperkit should use very little/no CPU while idle

### Actual behavior
After idling for about 30mins, hyperkit is sitting at 4.5% CPU usage.
When first looked at it (a minute or two after touching it) it was between 6%-12%

### Information
Diagnositc ID: F9467209-AD82-445C-88DC-A760AED26E30
As you can see, the upload failed.
[code]

### Steps to reproduce the behavior
Idle wi

[2016-11-02 18:08] dsheets commented on #442
This invariant violation was a symptom of a use-after-free bug in the file system event watching code which occurred due to multiple containers with volume mounts racing to set up their mounts. It is possible that it caused your hangs or crashes and has been fixed in the recently released Beta 29.3. Please open a new issue for any further problems. Thanks!

[2016-11-02 18:11] dsheets commented on #334
This invariant violation was a symptom of a use-after-free bug in the file system event watching code which occurred due to multiple containers with volume mounts racing to set up their mounts. It is possible that it caused your hangs or crashes and has been fixed in the recently released Beta 29.3. Please open a new issue for any further problems. Thanks!

[2016-11-02 18:12] dsheets commented on #238
This invariant violation was a symptom of a use-after-free bug in the file system event watching code which occurred due to multiple containers with volume mounts racing to set up their mounts. It is possible that it caused your hangs or crashes and has been fixed in the recently released Beta 29.3. Please open a new issue for any further problems. Thanks!

[2016-11-02 18:13] dsheets commented on #396
This invariant violation was a symptom of a use-after-free bug in the file system event watching code which occurred due to multiple containers with volume mounts racing to set up their mounts. It is possible that it caused your hangs or crashes and has been fixed in the recently released Beta 29.3. Please open a new issue for any further problems. Thanks!

[2016-11-02 18:13] dsheets commented on #289
This invariant violation was a symptom of a use-after-free bug in the file system event watching code which occurred due to multiple containers with volume mounts racing to set up their mounts. It is possible that it caused your hangs or crashes and has been fixed in the recently released Beta 29.3. Please open a new issue for any further problems. Thanks!

[2016-11-02 18:15] sylvainmouquet commented on #883
I have installed it
[code]

I test if the problem occures

[2016-11-02 18:15] dsheets commented on #285
The invariant violation is not the root cause of this issue and is most likely harmless. It was fixed in the recently released Beta 29.3.

[2016-11-02 18:17] dsheets commented on #713
The invariant violation was a symptom of a use-after-free bug in the file system event watching code which occurred due to multiple containers with volume mounts racing to set up their mounts. It is possible that it caused hangs or crashes and has been fixed in the recently released Beta 29.3. That defect is not the root cause of this issue report.

[2016-11-02 18:24] dsheets commented on #630
This invariant violation was a symptom of a use-after-free bug in the file system event watching code which occurred due to multiple containers with volume mounts racing to set up their mounts. It is possible that it caused hangs or crashes and has been fixed in the recently released Beta 29.3.

It is possible that this defect was the root cause of your issue but if no containers were run after th

[2016-11-02 18:25] dsheets commented on #536
This invariant violation was a symptom of a use-after-free bug in the file system event watching code which occurred due to multiple containers with volume mounts racing to set up their mounts. It is possible that it caused your hangs or crashes and has been fixed in the recently released Beta 29.3. Please open a new issue for any further problems. Thanks!

[2016-11-02 18:29] dsheets commented on #865
This invariant violation was a symptom of a use-after-free bug in the file system event watching code which occurred due to multiple containers with volume mounts racing to set up their mounts. It is possible that it caused your hangs or crashes and has been fixed in the recently released Beta 29.3.

@brmzkw could you please try Beta 29.3 and let us know if the crashes go away (or become significa

[2016-11-02 18:30] dsheets commented on #878
This invariant violation was a symptom of a use-after-free bug in the file system event watching code which occurred due to multiple containers with volume mounts racing to set up their mounts. It is possible that it caused your hangs or crashes and has been fixed in the recently released Beta 29.3.

@ddebasilio could you please try Beta 29.3 and let us know if the crashes go away (or become signi

[2016-11-02 18:47] sylvainmouquet opened #888 "Docker 1.12.3 swarm subnetwork --opt encrypted"
Docker service fails to create a valid container
[code]

I create a network
`docker network create --driver overlay --subnet 10.0.9.0/24 --opt encrypted subnetwork
`
i start swarm
`docker swarm init`

i create a service attached to this network
`docker service create --replicas 1 --network subnetwork hello-world`

[code]

[code]

I don't know where i could find the full error logs

[2016-11-02 19:26] tshrklr opened #889 "Installation succeeded but docker commands don't work"
### Expected behavior
`docker ps` works after a fresh install.

### Actual behavior

Basic docker commands don't work from native terminal or iTerm.
Diagnostic ID: 847E91F5-5857-4876-8754-C5A2CCC79BE8

### Information
Docker for Mac: version: 1.12.3-beta29.3 (619507e)
OS X: version 10.11.4 (build: 15E65)
logs: /tmp/847E91F5-5857-4876-8754-C5A2CCC79BE8/20161102-122103.tar.gz
[OK]     vmnetd
[OK]

[2016-11-02 19:31] samoht commented on #889
Please check that you dont have any `DOCKER_*` environment variable set (this could happen if you previously installed toolbox).

[2016-11-02 19:34] sylvainmouquet opened #890 "Docker 1.12.3 Segmentation fault"
I have tried to start a container and i have gone
[code]

[code]
[code]

[2016-11-02 19:51] ktamiola opened #891 "10.11.6 Startup issue"
Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/E8C1358B-E14A-4AC0-8EFD-F5D1A01BE9AD/20161102-205040.tar.gz
failure: com.docker.driver.amd64-linux -db is not running
[ERROR]  docker-cli
         docker ps failed
[OK]     virtualization kern.hv_support
[OK]     menubar
[OK]     moby-syslog
[OK]     dns
[OK]     disk
[OK]     system
[OK]     app
[OK]     o

[2016-11-02 19:55] samoht commented on #890
Thanks for your report. The IPSEC issue was reported and fixed in https://github.com/docker/docker/issues/27188 so it will be available in the next stable release of docker engine (1.13).

We are investigating the crash report (which seems unrelated to the IPSEC issue), thanks!

[2016-11-02 19:55] justincormack commented on #890
Hi, the IPSEC error is probably a known issue which is fixed in Docker 1.13 (the beta for this should be out in a few weeks). See https://github.com/docker/libnetwork/issues/1439 for the upstream issue. I can't quite verify this though as it is unclear what you were trying to run.

The OSX error seems unrelated though, but it is a bit odd. Can you run the diagnostics option?

[2016-11-02 20:00] sylvainmouquet commented on #890
C1CAF96A-3834-449F-8D4A-572AB433B357

[2016-11-02 20:27] anthcor commented on #883
I'm running into the same issue but came across a really odd warning in my system console;
[code]
can docker-for-mac not run alongside spotify? lol

[2016-11-02 20:47] kriswill opened #892 "docker compose ps/ERROR: Bad response from Docker Engine"
### Expected behavior
`docker-compose ps` should list container status for docker-compose.

### Actual behavior
`ERROR: Bad response from Docker engine`

### Information
[code]

### Steps to reproduce the behavior

  1. seems to happen after sleep mode, but may be a red herring, because it has happened while working.
  2. run `docker-compose ps` in a path with a docker-compose.yml.

[2016-11-03 00:12] rockwellct commented on #747
I'm actually at the same place that masonjm is, and I have the same problem on another machine with and without Trend services running, and it won't work either way.  I've uploaded at diagnosis at 62AB6731-21AF-43F1-85EA-47225A39DA83

[2016-11-03 00:20] masonjm commented on #747
I don't have rights to reopen the issue, but @rockwellct is having the same issue (we share an office).

If it's helpful, I don't have the issue on another computer that's using a local user account.

[2016-11-03 06:13] jeremywadsack commented on #371
@djs55 Are you sure about that maximum size?

[code]

[2016-11-03 09:28] brmzkw commented on #865
Sure, I just installed the beta. I'll keep you updated.

[2016-11-03 09:54] ebriney commented on #890
Hi, for the gui crash, it should be fixed soon, thanks for the reports.

[2016-11-03 09:59] ijc25 commented on #747
62AB6731-21AF-43F1-85EA-47225A39DA83 contains (redacted):
[code]

Where the socket path length with `$DOMAIN` and `$USER` expanded is 109 characters. The maximum Unix socket path length on macOS is 104 characters. The prefix up to the `.../Data/` (which IIRC is the bit we cannot control) is 91 characters, l leaving 13 characters for the socket name itself, for which we currently use 18 characters.

[2016-11-03 12:10] dsheets commented on #892
Has this occurred on a recent beta? Can you reproduce on beta 29.3? I see that you were on beta 26.2 and then beta 28 until recently.

[2016-11-03 12:37] cjw296 commented on #179
Pretty unbelievable that this functionality wasn't added before pinata was removed.
This used to be fine to set with pinata...

[2016-11-03 13:15] anthcor commented on #883
I'm running into a similar issue, just running a simple flask app;

[code]

[code]

[code]

[2016-11-03 13:53] djs55 commented on #371
@jeremywadsack 64GiB ought to be the maximum size of .qcow2 files created by Docker for Mac.  Could you try this:
[code]
The physical size of the file on the Mac should be less than or equal to the reported virtual size.

If the qcow2 was originally imported from toolbox then the original virtual size of the toolbox disk would have been preserved-- could this be the cause?

[2016-11-03 14:26] geertvanheusden commented on #825
Updated to the latest beta (1.12.3-beta29.3 (13640)). Still the same issue...

[2016-11-03 15:19] aiacovella opened #893 "Can't restart docker after last update to 1.12.1 build: 12133"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-11-03 15:27] ddebasilio commented on #878
Well this seems to have done the trick, Beta 29.3, no restarts in 8 hours of working. I can't wait for this to be a stable release. I will report any issues if I find them. Cheers!

[2016-11-03 16:03] anthcor commented on #883
Getting the same results with;
[code]

[2016-11-03 16:32] masonjm commented on #747
Awesome.

Maybe we could do something fancy with symlinks or hardlinks to get a shorter alias that docker could use? Or is it possible to install to a different prefix?

[2016-11-03 17:13] ilg-ul opened #894 "Docker becomes even slower is Parallels Desktop is started"
### Expected behaviour
If enough memory is available, starting Parallels Desktop should not impact Docker performances

### Actual behaviour
Starting Parallels Desktop while Docker is running seems to make Docker even much slower than it is usually.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

Docker 1.12.3-beta29.2

[code]
Attached manually:
[201611

[2016-11-03 17:16] samoht commented on #883
@anthcor Can you give us your diagnostic ID?

[2016-11-03 17:17] ijc25 commented on #747
Sadly it is the full path to the _target_ of the symlink which matters, so no.

AIUI you can install it wherever you like (or at least wherever your CorpIT policies will let you) but I don't know what, if any, effect that has on the stuff which goes into `~/Library/Containers` since I'm not really familiar with OSX on those terms. I suspect that particular path is independent of the install locati

[2016-11-03 17:18] samoht commented on #18
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-03 17:18] #18 closed

[2016-11-03 17:19] samoht commented on #684
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-03 17:19] samoht commented on #707
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-03 17:19] #707 closed

[2016-11-03 17:19] samoht commented on #716
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-03 17:19] #716 closed

[2016-11-03 17:24] samoht commented on #742
@victorlin can you please open a new issue with more details, thanks!

---

@lily1110:

Detected symptom of problem 'processor-not-supported' in A599E82F-B634-4249-B9A7-779C8E8E0BCF/20161019-195940.

Your system does not satisfy the hardware requirements of Docker for Mac. See https://docs.docker.com/docker-for-mac/#/what-to-know-before-you-install for more information.

[2016-11-03 17:32] samoht commented on #742
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-03 17:32] #742 closed

[2016-11-03 17:32] samoht commented on #796
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-03 17:32] #796 closed

[2016-11-03 17:32] samoht commented on #806
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-03 17:32] #806 closed

[2016-11-03 17:33] samoht commented on #809
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-03 17:33] #809 closed

[2016-11-03 17:33] samoht commented on #813
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-03 17:33] #813 closed

[2016-11-03 17:36] samoht commented on #893
Please create a new issue with a diagnostic ID, as explained on https://docs.docker.com/docker-for-mac/troubleshoot/#/diagnose-problems-send-feedback-and-create-github-issues

[2016-11-03 17:36] #893 closed

[2016-11-03 17:38] samoht commented on #888
Running:

[code]

will generate a diagnostic tarball that you can inspect if you wish. Use `-u` to upload the diagnostic tarbal to our server if you want us to investigate the issue as well.

[2016-11-03 17:46] jeremywadsack commented on #371
I did upgrade from toolbox and it is definitely much more than 64GB:

[code]

The upgrade process left pieces of toolbox all over. Including the virtual box image, but that was only 36GB. (Maybe the virtual size was larger.)

How would I go about reducing the virtual size setting?

[2016-11-03 17:51] samoht commented on #881
Hi! Thanks for using our product. This is a known defect and we are working on improving that.

[2016-11-03 17:56] samoht commented on #886
Can you try maybe to install the latest Beta to see if that helps? I am not sure why everything is hanging.

[2016-11-03 18:39] kriswill commented on #892
@dsheets I just upgraded, and forced the Mac to sleep, and it was OK coming back.  I will monitor it and let you know if it breaks again.  Thanks!

[code]

[2016-11-03 19:04] anthcor commented on #883
Apologies for not including earlier @samoht.

[code]

[2016-11-03 20:05] phant1 opened #895 "cannot find an icon to open a docker terminal"
![screen shot 2016-11-03 at 3 03 35 pm](https://cloud.githubusercontent.com/assets/20304284/19983124/b9a1314a-a1d6-11e6-9d18-adfb8eb5d578.png)
### Expected behavior

### Actual behavior

### Information
I think i have successfully installed the Docker for Mac... Please see attached screen capture.  but i can't seem to find the docker terminal icon to open it

  - Full output of the diagnostics fro

[2016-11-03 20:52] tim-ireland commented on #886
Ok, I tracked this down to corruption on my ssd.  Could not be repaired with disk utility. Thanks for the help.

[2016-11-03 20:52] #886 closed

[2016-11-03 21:08] samoht commented on #895
You should just be able to use any terminal, for instance `Terminal.app` which is shipped with macOS.

[2016-11-03 21:08] #895 closed

[2016-11-03 21:12] samoht commented on #883
@anthcor you also need to upload it the our diagnostic server so that we can see them :-)

You could do that via the UI or use `/Applications/Docker.app/Contents/Resources/bin/docker-diagnose -u`

[2016-11-03 21:13] samoht commented on #891
Detected symptom of problem 'processor-not-supported' in E8C1358B-E14A-4AC0-8EFD-F5D1A01BE9AD/20161102-205040.

Your system does not satisfy the hardware requirements of Docker for Mac. See https://docs.docker.com/docker-for-mac/#/what-to-know-before-you-install for more information.

[2016-11-03 21:13] #891 closed

[2016-11-03 21:40] phant1 commented on #895
Ok, thank you…

From: Thomas Gazagnaire <notifications@github.com<mailto:notifications@github.com>>
Reply-To: docker/for-mac <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, November 3, 2016 at 4:08 PM
To: docker/for-mac <for-mac@noreply.github.com<mailto:for-mac@noreply.github.com>>
Cc: "Phan, Tuan" <Tuan.Phan@vce.com<mailto:Tuan.Phan@vce.com>>, Author <author@noreply.githu

[2016-11-03 21:40] samoht commented on #285
Detected symptom of problem 'xtables-lock-held' in E8C9B149-C537-4F80-B801-39B213B60E6F/20160815-125229.

There is a global lock which protects the host firewall rules. Under heavy load, contention for this lock increases and eventually `iptables` commands time out. This failure is intermittent and a workaround is to repeat the failed command.

May be related to docker/for-mac#285 docker/docker#26

[2016-11-03 21:40] #285 closed

[2016-11-03 21:46] samoht commented on #877
Do you have any `DOCKER_` environment variables set? These are set by toolbox installations but need to be unset for Docker for Mac to work properly. See https://docs.docker.com/docker-for-mac/troubleshoot/#/workarounds-for-common-problems

[2016-11-03 21:54] samoht commented on #875
@Toddzio

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related to docker/for-mac#20

[2016-11-03 21:56] samoht commented on #875
@mangelajo your issue is different:

---
Detected symptom of problem 'malloc-corruption' in 94646CA0-8842-41A7-B0F2-48F2E12658D9/20161101-132317.

Corruption has been detected in the malloc heap. This is a known issue which is under investigation.

May be related to docker/for-mac#819

[2016-11-03 21:56] #875 closed

[2016-11-03 22:06] samoht commented on #867
@michalcoka Does Diagnose & Feedback from the :whale: menu work? Could you please run and upload the diagnostics to our server? Thanks!

[2016-11-03 22:08] samoht commented on #861
Detected symptom of problem 'processor-not-supported' in 1BEF06D1-0B48-4244-8AE7-2E18CD276325/20161027-165350.

Your system does not satisfy the hardware requirements of Docker for Mac. See https://docs.docker.com/docker-for-mac/#/what-to-know-before-you-install for more information.

[2016-11-03 22:08] #861 closed

[2016-11-03 22:09] samoht commented on #860
Which ratio of slow down do you get? What version of OSX do you run?

[2016-11-03 22:12] samoht commented on #858
Detected symptom of problem 'unsupported-sierra' in 82AB32B3-DB0A-4DC7-8A3B-F0911B35B950/20161027-163747.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the beta channel. Please upgrade your version of Docker for Mac.

May be related to docker/for-mac#561

[2016-11-03 22:12] #858 closed

[2016-11-03 22:16] samoht commented on #854
Detected symptom of problem 'vmnetd-comm-failure' in C5645C57-4B95-4913-BFBC-D6A2A71361A6/20161027-092739.

The UI failed to communicate with the networking helper process. Deleting `/Library/PrivilegedHelperTools/com.docker.vmnetd` and restarting the application should help you. Please re-open that issue if your problem persist.

May be related to docker/for-mac#61

[2016-11-03 22:16] #854 closed

[2016-11-03 22:17] samoht commented on #853
Closing as a duplicate of #371

[2016-11-03 22:17] #853 closed

[2016-11-03 22:20] samoht commented on #849
A fix has been pushed upstream https://github.com/docker/libnetwork/pull/1533 and will be integrated in Docker 1.13. We will ship it in Docker for Mac as soon it is released. Thanks for your report!

[2016-11-03 22:24] samoht commented on #846
Beta29.3 should fix your issue. Could you try to upgrade and report if it works for you? Thanks!

[2016-11-03 22:26] samoht commented on #846
(/cc @dsheets as the logs shows interesting osxfs crashes)

[2016-11-03 22:26] samoht commented on #844
Does Diagnose & Feedback from the :whale: menu work? Could you please run and upload the diagnostics and post your diagnostic ID back here?

[2016-11-03 22:30] samoht commented on #842
Closing as a duplicate of #771

[2016-11-03 22:30] #842 closed

[2016-11-03 22:31] k2xl commented on #860
On Sierra. It is like 10ms vs 1.5 seconds

[2016-11-03 22:33] samoht commented on #841
@Tohoff

Detected symptom of problem 'symlinks-are-not-correctly-installed' in ACB893CB-1936-40C0-84E4-F6D82F529659/20161025-075850.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-m

[2016-11-03 22:34] samoht commented on #841
@Jokersoft your issue seems different and related to osxfs. Could you please open a new issue to track this? Thanks!

[2016-11-03 22:34] #841 closed

[2016-11-03 22:37] samoht commented on #839
Closing as this won't happen (at least in the short term).

[2016-11-03 22:37] #839 closed

[2016-11-03 22:37] samoht commented on #838
Closing as duplicate of #371

[2016-11-03 22:37] #838 closed

[2016-11-03 22:39] samoht commented on #837
Detected symptom of problem 'unsupported-sierra' in 8A53DC77-1445-45BF-9C1C-8F5479CDB11F/20161023-205919.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the beta channel. Please upgrade your version of Docker for Mac.

May be related to docker/for-mac#561

[2016-11-03 22:39] #837 closed

[2016-11-03 22:40] samoht commented on #836
Does Diagnose & Feedback from the :whale: menu work? Could you please run and upload the diagnostics and post your diagnostic ID back here?

[2016-11-03 22:45] gesellix commented on #849
Thanks!

[2016-11-03 22:46] samoht commented on #835
@jtbennett you seem to have hit various bugs related to osxfs and to our some of our Objective-C bindings which should all have been fixed in the latest beta (Beta29.3). Could you try to upgrade and see if it works better for you? Thanks!

@dawnerd your issue is different, could you please open an other ticket to track it? Thanks!

[2016-11-03 22:49] samoht commented on #827
Please see the system requirements: https://docs.docker.com/docker-for-mac/#/what-to-know-before-you-install

[2016-11-03 22:49] #827 closed

[2016-11-03 22:54] samoht commented on #825
The logs that I see from the 26 Oct shows AUFS corruptions. Not sure what is causing it, but it could be interesting to test overlay2 to see if is more robust (it should). To do so, you unfortunately need to reset to factory defaults with Beta29. Or if you prefer you could try to upload new logs from Beta29 and I will have a look.

[2016-11-03 23:00] samoht commented on #818
There were a number of updates to the hypervisor transport system in the recently released Beta 27. If you are comfortable running a beta (we still do QA on it), you could give that a try and see if it stops the frequent crashing.

May be related to docker/hyperkit#50

[2016-11-03 23:03] samoht commented on #735
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 18A381B3-3908-4D3E-8EEC-5738C079E2F4/20161003-150958.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

[2016-11-03 23:03] #735 closed

[2016-11-03 23:06] samoht commented on #868
Does Diagnose & Feedback from the :whale: menu work? Could you please run and upload the diagnostics and post your diagnostic ID back here?

[2016-11-03 23:09] samoht commented on #20
This is now fixed in Beta29.

[2016-11-03 23:25] kriswill commented on #892
@dsheets Hi, I just had the docker engine disconnect happen again.  I was away from my machine for an extended period (~2 hours), came back and the same problem occurred.

[code]

[2016-11-03 23:27] samoht commented on #892
Could you upload your diagnostic logs after the new crash? Thanks!

[2016-11-04 00:34] nathanhourt commented on #861
That is incorrect; I have run docker successfully on this hardware (in Yosemite, before upgrading to El Capitan).

[2016-11-04 02:10] michalcoka commented on #867
@samoht Diagnose & Foeedback work, I'm just not able to upload the result..
ID 32016D5C-592F-4E8F-9F41-E19A9AA04F8B: Failure: Could not upload diagnostic data to remote server (docker-diagnose exit code is 1)
possible root cause extracted from the log file?
`
Nov  4 09:25:20 BTSM60268173A Docker[com.docker.docker][31630] <Notice>: Symlinks are valid.
Nov  4 09:25:21 BTSM60268173A Docker[com.docker

[2016-11-04 05:06] eric-zhu commented on #818
I tried Beta 28 and the issue was resolved. thanks a lot.

[2016-11-04 05:06] #818 closed

[2016-11-04 07:39] samoht commented on #861
This is very strange, as your logs contain:

[code]

Did you change something in your hardware settings maybe?

[2016-11-04 07:45] samoht commented on #867
Thanks I got your logs.

---

Detected symptom of problem 'malloc-corruption' in 32016D5C-592F-4E8F-9F41-E19A9AA04F8B/20161104-095547.

Corruption has been detected in the malloc heap. If you are comfortable running a beta (we still do QA on it), you could give that a try to the latest beta (Beta29) where this issue should have been fixed.

May be related to docker/for-mac#819

[2016-11-04 07:52] samoht commented on #662
Detected symptom of problem 'vmnetd-comm-failure' in 9725CA14-1861-4DC4-8285-DFC2B9B33462/20160917-130535.

The UI failed to communicate with the networking helper process. Deleting `/Library/PrivilegedHelperTools/com.docker.vmnetd` and restarting the application should help you. Please re-open that issue if your problem persist.

May be related to docker/for-mac#61

[2016-11-04 07:52] #662 closed

[2016-11-04 07:54] samoht commented on #682
Could you please send us a diagnostic ID and upload your diagnostic logs to our server as explained in https://docs.docker.com/docker-for-mac/troubleshoot/#/diagnose-problems-send-feedback-and-create-github-issues? Thanks!

[2016-11-04 08:03] samoht commented on #711
I am closing the issue as it has been inactive for more than 2 weeks. Please feel free to re-open it with more info.

[2016-11-04 08:03] #711 closed

[2016-11-04 09:06] sylvainmouquet commented on #883
The bug is solved with version 1.12.3

[2016-11-04 09:53] samoht commented on #721
Detected symptom of problem 'large-certificate' in 184CF0F1-B1EE-4A98-8F6B-196016BE5A3E/20161005-174134.

Since Beta27, Docker for Mac uses the hosts certificates directly. However, there was an issue with large certificates that you unfortunately hit. This was fixed by Beta28. Please upgrade. Thanks for using our product!

May be related to docker/for-mac#721

[2016-11-04 09:53] #721 closed

[2016-11-04 09:55] samoht commented on #739
The line:
[code]

indicates that you hit the same issue as docker/for-mac#721

Since Beta27, Docker for Mac uses the hosts certificates directly. However, there was an issue with large certificates that you unfortunately hit. This was fixed by Beta28. Please upgrade. Thanks for using our product!

[2016-11-04 09:55] #739 closed

[2016-11-04 09:56] samoht commented on #732
Detected symptom of problem 'large-certificate' in D38EB34F-107C-4183-926A-81B29C2D5012/20161003-014750.

Since Beta27, Docker for Mac uses the hosts certificates directly. However, there was an issue with large certificates that you unfortunately hit. This was fixed by Beta28. Please upgrade. Thanks for using our product!

May be related to docker/for-mac#721

[2016-11-04 09:56] #732 closed

[2016-11-04 11:47] dsheets commented on #841
The `osxfs` issue occurred prior to upgrade from beta 19 to beta 29.2.

@Jokersoft a new report would still be very welcome. Thanks for using Docker for Mac!

[2016-11-04 14:12] geertvanheusden commented on #825
Hi @samoht,
I did a reset and here are the logs: 8B7B4130-B1F3-4F3A-9FA7-2AD11C08D848.

Still the same behaviour...

[2016-11-04 15:27] evanlemke opened #896 "File-system event CLOSE_WRITE not propagating from host to container"
I'm using docker for local development.  When I mount a volume and edit the file from the host machine the "CLOSE_WRITE" event is not propagated to the container.  Many other events like create/delete/modify are working as mentioned here (https://forums.docker.com/t/file-system-events-not-correctly-propagating-from-host-to-container/15201).

here is a simple test case
[code]

I get this output aft

[2016-11-04 18:56] nathanhourt commented on #861
I'm not sure... Did how OSX does virtualization change substantially between 10.10 and 10.11?

[2016-11-04 19:45] samoht commented on #861
What hardware do you have? You can find that information in  "about this mac" :arrow_right: "system report" :arrow_right: "hardware". I can see if I can try to reproduce on a similar box.

[2016-11-04 19:46] samoht commented on #861
You could also double-check what is the output of `sysctl kern.hv_support`? If it says 0 I am afraid we cannot do much. I don't see how upgrading from 10.10 to 10.11 could have changed that :-/

[2016-11-04 19:58] kriswill commented on #892
@samoht I just had the issue present, without any OS sleep.

[code]
it says it failed to upload the log, not sure why...
I can post it to a gist if you like?

[2016-11-04 20:03] kriswill commented on #892
I uploaded the Log file to my dropbox:

https://dl.dropboxusercontent.com/u/3191054/docker-logs/20161104-125530.tar.gz

[2016-11-04 20:07] samoht commented on #892
Thanks, you logs have been sent successfully to our server, so I have removed the link to your dropbox. I am investigating now.

[2016-11-04 20:08] nathanhourt commented on #861
`sysctl kern.hv_support` returns 1, so I assume that's OK. As to hardware, it's not apple hardware, so it's unlikely that you'll have a similar system. :P I now know the issue is in Hypervisor.framework though, so I'll probe around and see what I can figure out. Thanks. :)

[2016-11-04 20:31] samoht commented on #892
Sorry I can't see a clear error in your logs... I see some strange occurrences of:
[code]
but I have no idea what the mean...

[2016-11-04 21:25] RSivakov opened #897 "не запускается докер"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-11-04 21:36] yangm97 opened #898 "Launch Docker.app automatically when using CLI"
### Expected behavior
If Docker.app is not running when a user tries to interact with the CLI, issue a `open -a Docker` automatically.

### Actual behavior
docker-cli asks the user to manually launch Docker.app.

### Information
N/A

### Steps to reproduce the behavior
  1. Interact with docker-cli while Docker.app is not running
  2. ...
  3. Profit

[2016-11-04 23:35] xandris commented on #739
Awesome! Thank you so much!

[2016-11-05 14:18] snoopdave opened #899 "Docker fails to start on Mac (El Capitan)"
### Expected behavior

docker ps works

### Actual behavior

docker ps returns this:
Cannot connect to the Docker daemon. Is the docker daemon running on this host?

(env | grep DOCKER says I have no DOCKER settings in my environment)

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build:

[2016-11-05 19:37] reconbot opened #900 "Exposing a tty serial device requires privileged and doesn't work"
### Expected behavior
That I can expose a tty dev device from my mac to a linux container by running.

[code]

### Actual behavior
[code]

I can work past this with `--privileged` but I don't see it in `/dev/`
[code]

According to the docs on docker run I shouldn't need `--privileged`.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
[code]
  - Page URL i

[2016-11-05 19:47] justincormack commented on #900
Unfortunately the Mac and Linux are running in different operating systems and cannot see the same devices. I think there are some existing issues, the way to implement it will differ for different device types, but it is not trivial.

[2016-11-05 19:50] larsks commented on #900
Take a look at boot2docker/boot2docker#707 for some discussion on this topic.

[2016-11-05 20:58] muchtajidun opened #901 "B1823159-0C46-4D44-9E1C-6FB3B2B3E973"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-11-06 18:35] dsheets commented on #834
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-11-06 18:35] #834 closed

[2016-11-07 04:04] hansworse opened #903 "docker for mac fails to start"
### Expected behavior
Docker starts and is usable.

### Actual behavior
Startup fails with Fatal Error

"Communication with networking components failed."

### Information
Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/6B66CCFB-638B-4F69-A0A4-6EF752D234BF/20161106-224623.tar.gz
failure: com.docker.slirp is not running
[ERROR]  docker-cli
         /var/r

[2016-11-07 08:04] Jeff-Tian opened #904 "What should I do with this error?"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: ACC89D95-64B4-41DD-B6BD-5F68A8C19AB5
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12.1 (Build 16B2555)
[ERROR]  docker-cli
         cannot find docker
         docker-cli check failed with: Failure("docker -v: timeout after 10.00s")
[OK]     app
[OK]     moby-syslog
[ERROR]  disk
         disk check failed with:

[2016-11-07 08:43] ptaillard opened #905 "vmstateevent invalid json:"
### Actual behavior
Message displayed:
"Fatal Error:
vmstateevent invalid json: "
It seems to have an empty string instead of valid json
### Information

Diagnostic ID: 6BE8F529-9B3B-4F9C-9565-9C58D8FCD1C7
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     me

[2016-11-07 09:08] SmilentRhino opened #906 "Docker build api response have more than one line per chunk?"
### Expected behavior
When call docker api to build images, one status line in one single chunk.

### Actual behavior
Multi status line in one chunk, which cause saltstack's dockerng module fail.
### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
[code]

  - In case you need the Dockerfile
[code]
  - test.sh is empty, just for test
[code]

### Steps to repro

[2016-11-07 09:20] brmzkw opened #907 "docker for mac stuck"
### Actual behavior

I'm running the beta version of docker for mac. I came back at work after the weekend, and docker is stuck.

Running `docker ps` doesn't respond.

`sudo dtruss docker ps` displays:

[code]

I tried several things to solve the issue:
* click on "restart": Docker didn't start, and was marked as "starting" for several minutes.
* quit and relaunch docker: Docker was marked as "sta

[2016-11-07 11:53] dsheets commented on #869
Would it be possible for you to post a `docker-compose.yml` file that causes this error? It looks like a problem with character encoding in your compose configuration.

[2016-11-07 12:09] dsheets commented on #896
Hi @evanlemke, thanks for your report!

This is an enhancement request we've been watching over the summer (see original response [on the forums](https://forums.docker.com/t/inotify-events-not-triggering/10331/4)). We've [documented](
https://docs.docker.com/docker-for-mac/osxfs/#file-system-events) that this event isn't currently supported but we also understand that that isn't a very satisfactor

[2016-11-07 12:50] eradman commented on #896
It might be best to follow the mapping that [libkqueue](https://github.com/mheily/libkqueue/blob/master/src/linux/vnode.c) uses:

    /* Convert the fflags to the inotify mask */
    mask = IN_CLOSE;
    if (kn->kev.fflags & NOTE_DELETE)
        mask |= IN_ATTRIB | IN_DELETE_SELF;
    if (kn->kev.fflags & NOTE_WRITE)
        mask |= IN_MODIFY | IN_ATTRIB;
    if (kn->kev.fflags & NOTE_EXTEND)

[2016-11-07 18:32] LaurentGoderre opened #908 "Add radio button to enable or disable proxy settings in the UI"
I switch network often on my Mac and now have to remove and re-add my proxy settings constantly. It would be nice to have a radio button to enable or disable proxy settings so that they are not lost everytime.

[2016-11-07 18:56] dsheets commented on #908
Thanks for your suggestion! We have a number of ideas about configuration management and I will put your enhancement request in that work stream.

[2016-11-07 19:07] evanlemke commented on #896
@dsheets, great news to hear this will be fixed this month.

Currently, I'm just using http://entrproject.org/ to run unit tests when a file is changed. I have a few other scenarios where I would like to compile and/or build assets that I would implement after this fixed gets released.

I do thing that synthesizing the event after a short delay would work for my purposes.

[2016-11-07 20:40] bramswenson commented on #77
The latest d4m beta seems to be much improved for our use cases (so far).

[2016-11-07 22:16] wbednarski opened #909 "Docker won't start "Docker starting...""
### Expected behavior
Working Docker

### Actual behavior
Docker won't start. It says "Docker starting..."
### Information

[code]
### Steps to reproduce the behavior
I ran `docker-compose up` and my MBP crashed.

[2016-11-07 22:17] BenMcH commented on #77
@bramswenson it's still slow for me.

1.12.3-beta29.3 still has this issue.

[2016-11-08 00:34] timrutter opened #910 "No Docker support on MacPro4,1"
### Expected behavior
For Docker to run properly

### Actual behavior
Docker fails to start
[ERROR]  virtualization kern.hv_support
         sysctl -a reports no hypervisor support

### Information
The MacPro4,1 has two Intel Xeon X5650 which fully support VT-x, VT-d & EPT
http://ark.intel.com/products/47922

VMware Fusion runs without a problem, I can even run Docker in a Linux VM

Docker for Mac

[2016-11-08 03:08] wbednarski commented on #813
It is crashing for me as well, `docker-compose up` and MBP freezes and required force reset.

[2016-11-08 05:48] nicerobot opened #911 "Docker daemon hangs opening (or writing) to fifo"
### Expected behavior

I expect it to be able to read and write to a mounted fifo in the same way docker does on Linux.

Essentially, I'm doing this:

    mkfifo in out
    cat out &
    docker run -d --name fifo -v ${PWD}/in:/in -v ${PWD}/out:/out pipe
    cat main.go >in

The docker daemon locks-up on the `docker run` command.

### Actual behavior

Docker hangs. I have to kill the daemon to reco

[2016-11-08 09:23] gottfrois opened #912 "docker-compose AttributeError: 'NoneType' object has not attribute 'get'"
### Expected behavior

Launching my service using docker-compose:

[code]

### Actual behavior

[code]

### Information

Does not seems to be related to mongo image in particular since it does not work with `redis` as well.
Worked well on previous docker version (beta29.2)

Diagnostic ID: `DC0A292B-2A42-41FB-8C7A-189D69ACE994`

### Steps to reproduce the behavior

docker-compose.yml:

[code]

[2016-11-08 10:51] djs55 commented on #907
Thanks for your report. Despite the error about uploading diagnostic data, the data was uploaded successfully. Running a diagnostic tool over your logs does find evidence of a volume sharing problem:

Detected symptom of problem 'invariant-violated' in FC49437F-1C9C-41FF-B167-E5B397BDC292/20161107-100200.

(FYI @dsheets)

The following log matches:
[code]
However I'm not sure if this can explain t

[2016-11-08 10:54] brmzkw commented on #907
Okay, I'll update this ticket if the problem occurs again.

Thanks a lot,

[2016-11-08 10:58] dsheets commented on #907
The invariant violations occurred during a run of 1.12.1 which was upgraded to Beta 29.3 32 seconds later. Beta 29.3 fixed the issue.

[2016-11-08 11:06] brmzkw commented on #907
Glad to hear :) I close the issue then.

Thanks a lot

[2016-11-08 11:06] #907 closed

[2016-11-08 11:12] dsheets commented on #911
Hi @nicerobot, thanks for your report. I can confirm this issue with your excellent reproducible test case -- thank you!

Cross-hypervisor FIFO files are not yet supported (see <https://docs.docker.com/docker-for-mac/osxfs/#/file-types>) but this should clearly not result in the hang you observe. We will support cross-hypervisor pipes soon (you are the first user to have mentioned it!) but we shou

[2016-11-08 11:55] dsheets commented on #912
Hello! I think this may be a duplicate of docker/compose#4103 which will arrive in a beta soon. If you don't believe this is the same issue, please feel free to reopen. Thanks for your report!

[2016-11-08 11:55] #912 closed

[2016-11-08 12:31] djs55 commented on #906
Thanks for the clear report.

In the [current API docs](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/) the number of lines in a `Transfer-encoding: chunked` chunk of a `POST: /build` is left unspecified, so I think clients should be written defensively to handle any number of lines (or parts of lines). I recommend that clients use a generic HTTP client to handle transfer-en

[2016-11-08 12:31] #906 closed

[2016-11-08 13:49] ramon commented on #909
same here...

--------------------

Docker for Mac: version: 1.12.3-beta29.3 (619507e)
OS X: version 10.10.5 (build: 14F1509)
logs: /tmp/B5CA040E-7343-405B-BCB5-5F1010298ACB/20161108-104824.tar.gz
failure: docker ps failed: (Failure "docker ps: timeout after 10.00s")
[OK]     vmnetd
[OK]     dns
[OK]     driver.amd64-linux
[OK]     virtualization VT-X
[OK]     app
[OK]     moby
[OK]     system
[OK

[2016-11-08 13:53] djs55 commented on #905
Thanks for your report.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the beta channel. Please upgrade your version of Docker for Mac.

Related to docker/for-mac#561

[2016-11-08 13:53] #905 closed

[2016-11-08 13:55] djs55 commented on #904
Thanks for your report.

OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the beta channel. Please upgrade your version of Docker for Mac.

Related to docker/for-mac#561

[2016-11-08 13:55] #904 closed

[2016-11-08 14:08] djs55 commented on #903
Thanks for your report.

The logs contain
[code]
This means that the UI failed to communicate with the networking helper process.

Try the following steps:
- stop Docker for Mac
- delete the file `/Library/PrivilegedHelperTools/com.docker.vmnetd`
- start Docker for Mac

Hopefully this will (re-)install the networking helper process properly. Please re-open this issue if your problem persists.

May

[2016-11-08 14:08] #903 closed

[2016-11-08 15:13] djs55 commented on #901
The logs show a migration from beta 29.3 to stable 1.12.1:
[code]
The `docker` daemon is not running inside the VM since it failed to load the containers and images. Note the default graph driver in 1.12.1 stable is `aufs` but the default driver in 1.12.3-beta29.3 is `overlay2`. Neither `overlay2` nor `aufs` seem to be mounted in the VM. I suspect the disk actually has `overlay2` and the stable ve

[2016-11-08 15:13] #901 closed

[2016-11-08 15:20] djs55 commented on #899
Thanks for your report. The logs have
[code]
The UI failed to communicate with the networking helper process-- it sometimes happens that the Apple API leaves the helper process half-installed. FWIW we're hoping to make the helper process a soft dependency, since it's only needed for a small number of operations.

In the meantime, try the following steps:
- stop Docker for Mac
- delete the file `/L

[2016-11-08 15:20] #899 closed

[2016-11-08 16:14] djs55 commented on #909
@wbednarski In your logs I can see
[code]
which means that everything looks ok. I then see a harmless "ping" event:
[code]
but then 3 minutes later I see a re-launch of the app:
[code]
and this includes deleting "leaked" pidfiles, suggesting that all the subprocesses were killed:
[code]
The docker daemon then unfortunately fails to start because the containers directory has been corrupted. Perhaps

[2016-11-08 16:26] djs55 commented on #909
@ramon I think your diagnostics data really did fail to upload. Could you try again and open a fresh ticket? Thanks!

[2016-11-08 16:36] djs55 commented on #897
Unfortunately we can't help without being able to see your logs.

Please use:

Menu -> Diagnose & Feedback -> Diagnose & Upload -> Open issue

and include the **Diagnostic ID** (the text which looks like '2922125F-D698-4729-879D-7080AC8BE10D')

Thanks for your patience!

[2016-11-08 16:38] lycovian opened #914 "Docker Fails to Launch (OS X 10.11.6)"
### Expected behavior
Docker will start.

### Actual behavior
Docker never starts or if it does actually indicate that it is started the menu-bar icon and the Docker menu indicate that the daemon is restarting.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/94028

[2016-11-08 16:52] ramon opened #915 "Docker not working"
### Expected behavior

Working docker

### Actual behavior

Docker not working

### Information

[20161108-134645.tar.gz](https://github.com/docker/for-mac/files/578783/20161108-134645.tar.gz)
Docker for Mac: version: 1.12.3-beta29.3 (619507e)
OS X: version 10.10.5 (build: 14F1509)
logs: /tmp/B5CA040E-7343-405B-BCB5-5F1010298ACB/20161108-134645.tar.gz
failure: docker ps failed: (Failure "docker ps

[2016-11-08 16:52] dsheets commented on #911
Thanks for the info -- your use case is interesting and one we'd like to support. In the meantime, I believe stdin/stdout of the `docker` client should be connected to the stdin/stdout of the process running in the container without additional configuration. Also, it might be useful to you to point out that FIFO files are just queues so multiple readers will consume different data (without any sho

[2016-11-08 16:55] ramon commented on #909
@djs55 new ticket opened #915.

[2016-11-08 17:54] jtbennett commented on #835
@samoht My freeze/crash issue seems to be fixed with Version 1.12.3-beta29.3 (13640).  However, Docker for Mac is waaaay slower now -- mounted volumes are just too slow.  Switching to docker-machine and VirtualBox for the time being.

[2016-11-08 18:00] dsheets commented on #835
@jtbennett you may have experienced #668 (with work-around <https://github.com/docker/for-mac/issues/668#issuecomment-250406582>) which is a performance regression of the block storage device. We don't know of any other performance regressions in the last several months.

[2016-11-08 18:36] jtbennett commented on #835
Thanks, @dsheets . Tried that, but still much slower than a docker-machine VirtualBox vm. Not sure what the cause is -- will try to find time to investigate soon.

[2016-11-08 18:48] jctemkin commented on #5
Same error here while building OpenXT. Diagnostic id: 11A5A876-BFBD-4AC5-84A2-CA196BD347F3.

For what it's worth, it looks like some folks on the forums are encountering a similar issue [here](https://forums.docker.com/t/crash-when-running-container-with-host-mount/12982/23).

[2016-11-08 19:01] beeradb commented on #681
When combined with the poor performance of osxfs, having these broken really reduces developer options to mitigate the performance hit they take when running apps in docker for mac. Tools like unison or rsync are a common workaround to the performance issues seen when running directly off osxfs volume, but that solution becomes unworkable when inotify events fail to get delivered. This makes the c

[2016-11-08 19:10] MukulAmbulgekar opened #916 "docker-compose pull from Docker Trusted Registry fails"
**Expected behavior**
Pull image from DTR successfully.

**Actual behavior**
ERROR: Error while pulling image: Get http://<DTR>/v1/repositories/images: dial tcp 172.18.131.117:80: getsockopt: no route to host

**Information**
We are using DTR to store our private images. We are using self signed certificates to access DTR and adding DTR to insecure registries as well.

When we do fresh docker inst

[2016-11-08 19:15] genei09 commented on #681
@beeradb I concur.
We are using Node-Js for our front end development.  Running the node-modules across the mount results in extremely poor performance.  So we has node-modules in the container.  However this then makes the unit tests/git against the code brought in via osxfs mount extremely slow.  To increase the performance and use an nfs mount, I then can't use fsevents to selectively recompile

[2016-11-08 20:22] nochtap opened #917 "Swarm cluster over VPN fails"
### Expected behavior
Create swarm cluster over VPN (L2TP)

### Actual behavior
Moby linux on OSX throw error: "Error: rpc error: code = 2 desc = raft: no elected cluster leader"

### Information
We want to create swarm cluster over VPN (L2TP), using AWS node instance and Docker for Mac instance.
[code]
Diagnostic ID: 93359F0D-0C70-4F0F-8784-304A66FFC6BD

### Steps to reproduce the behavior

  1.

[2016-11-08 22:19] entzik opened #918 "Container clocks dont advance when a Mac host resumes"
I get the exact same issue as described in https://github.com/docker/docker/issues/27711 but on the mac. Whenever my mbp wakes up from hibernation (i.e. I open the lid) and I test the time in containers I get the time of the moment I closed the lid.
My environment is:
- MacBook Pro (Retina, 15-inch, Late 2013)
-  OS X 10.11.5
-  Docker Stable  - Version 1.12.1 (build: 12133) 2d5b4d9c3daa089e3869e6

[2016-11-08 22:23] justincormack commented on #918
See #17 and #693

[2016-11-08 22:27] justincormack commented on #917
The swarm endpoints are currently not forwarded from the VM to the Mac, so there will be no connections. If you run a VPN client in a container with `--net=host` it might work.

[2016-11-08 22:30] justincormack commented on #888
I think there is an issue with encrypted networks trying to do a `modprobe` and failing when this is not needed, that will be fixed in docker 1.13, see https://github.com/docker/libnetwork/pull/1502

[2016-11-09 07:07] felixge commented on #668
FWIW this issue still requires the workaround from above as of Version 1.12.3-beta29.3 (13640).

I also had to reapply the workaround, presumably because beta 29 encourages doing a hard reset which I did.

[2016-11-09 14:25] belooussov commented on #171
+1

[2016-11-09 14:39] juditgreskovits opened #919 "Docker cli issue"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-11-09 15:07] ab9-er opened #920 "Docker not starting"
### Expected behavior
Docker to start

### Actual behavior
Docker not starting and the whale animation continues to infinity

### Information

Diagnostic ID: EDE9672C-4EB2-43F2-91D6-29F2C35AA6D1
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[ERROR]  docker-cli
         docker ps failed
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     sys

[2016-11-09 16:21] daveisfera opened #921 "Docker hangs after computer is idle overnight"
### Expected behavior
Docker is still running when I come in the next day.

### Actual behavior
Docker is hung and does not respond when I first get in some mornings.

### Information
Docker for Mac: version: 1.12.3-beta29.3 (619507e)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/F78308D6-2C83-4AD1-A699-DDBAE51A937E/20161109-091739.tar.gz
failure: docker ps failed: (Failure "docker ps: timeout

[2016-11-09 16:23] daveisfera commented on #768
@dsheets I opened issue #921.

[2016-11-09 17:22] kriswill commented on #892
The symptoms have subsided.  I haven't had the issue reoccur for a few days.

[2016-11-09 17:22] #892 closed

[2016-11-09 18:48] sylus commented on #668
I am also on Version 1.12.3-beta29.3 and I think it did help a bit but overall the performance is order of magnitudes slower then a native docker-machine + virtualbox workflow. For instance a drupal site with many modules and high cpu I/O takes about 1min 30 seconds to install on docker-machine + virtualbox. With the fix from this issue the install time took about 8 minutes to install. Without the

[2016-11-09 18:55] garaden opened #922 "Docker ps unresponsive using PyCharm. Copy command?"
### Expected behavior

I configure a Python remote interpreter of the Docker-Compose type in PyCharm 2016.3 EAP (Build #PY-163.7342.4), and it updates skeletons of the libraries in the container for use in the IDE.

### Actual behavior

The updating hangs at the end, and `docker ps` hangs as well.

### Information

Diagnostic ID: A92A140E-8892-405C-A03D-84F91B878A37

[code]

Also, I noticed someth

[2016-11-09 19:30] jflatow opened #923 "HyperKit >100% CPU running with mounted volume"
### Expected behavior

Running erlang inside a container, inside a volume mounted from the host. Erlang VM crashes, writes a `erl_crash.dump`. The crash dump should write and exit erlang shell immediately (its not a large dump).

### Actual behavior

During the dump, HyperKit CPU usage spikes ~150%, and the process never exits - just hangs. Keyboard interrupts do not work (although backgrounding t

[2016-11-09 20:02] WyseNynja commented on #483
We are in November now :) Any guess when this will be in Beta? This feature blocks a lot for us.

[2016-11-09 21:07] vivekmenezes commented on #8
I'm seeing the same kind of issue where I'm using docker version 1.12.1, and it's not starting. I'm on macos 10.12.1

If I try to start the app from the applications menu I do not see the fish show up on the top bar. On moving my cursor to the top bar I see a multi-colored wheel spinning. I'm happy to share any diagnostics with you.

[2016-11-09 21:56] TomFrost commented on #77
@Vanuan Regarding NFS not forwarding fsevents/inotify events, I created https://github.com/TechnologyAdvice/fs_eventbridge as a solution. The included install script is specifically for VMs created with docker-machine, but the app compiles and runs wonderfully on d4m. The sticking point is that there is no known way to auto-start fs_eventbridge when d4m starts up or reboots.

@samoht Boot2docker s

[2016-11-09 21:58] spikegrobstein opened #924 "DNS fails to resolve for private registry when connected to VPN"
### Expected behavior

`docker pull` should successfully pull down images from private registry when connected to VPN

### Actual behavior

Errors with:

    Error response from daemon: Get https://docker.mycompany.com/v1/_ping: dial tcp: lookup docker.mycompany.com on 192.168.65.1:53: no such host

### Information

#### Diagnose & Feedback:

[code]

#### Additional notes

We're using an SSL vpn,

[2016-11-10 00:31] lox commented on #77
There have been similar attempts in the past @TomFrost, I think it just ends up being too difficult to do well and it creates complexity for the end user.

Some fiery discussion here https://github.com/guard/listen/issues/258.

[2016-11-10 00:43] TomFrost commented on #77
@lox Similar attempts at what? If you're referring to event forwarding out of band with NFS, that's working quite nicely right now on top of docker-machine. See [DevBox](https://github.com/TechnologyAdvice/DevBox), which sets up and configures a docker implementation on Mac using NFS and event forwarding with fs_eventbridge.

Your link refers to a TCP broadcast, when this is simply a lightweight c

[2016-11-10 01:27] daveisfera commented on #921
Here's the logs from /var/log/system.log:
Nov  9 09:17:30 Daves-MBP WindowServer[164]: send_datagram_available_ping: pid 950 failed to act on a ping it dequeued before timing out.
Nov  9 09:17:32 Daves-MBP com.apple.CDScheduler[41]: SysAdmChk: Throttling activity execution. memFlags:0x0 thermalLevel:0x1
Nov  9 09:17:34 --- last message repeated 1 time ---
Nov  9 09:17:34 Daves-MBP Docker[25374]: T

[2016-11-10 02:27] unijoy opened #925 "first run docker,don't know what's wrong"
### Expected behavior

### Actual behavior
download dmg,open and copy app to application.click app ,need password then crash
### Information

Diagnostic ID: 2FE6FCFE-1102-4F2F-830F-59CE59A1784C
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12.1 (Build 16B2657)
[ERROR]  docker-cli
         Connection refused (ECONNREFUSED) connecting to /var/run/docker.sock: check if service is running

[2016-11-10 06:09] lox commented on #77
Yup, I know what you are talking about. I've implemented the same thing myself a number of ways. It just ends up being an extra piece of complexity with strange edge cases of it's own (e.g how do you handle deletes?).

It's faster than osxfs now, but it's also much more limited in future direction and lacks the ability to handle things like sockets (which are planned and will be huge).

[2016-11-10 08:26] ShannonHickey commented on #924
My guess is that this is a duplicate of https://github.com/docker/for-mac/issues/540

[2016-11-10 08:26] ShannonHickey commented on #540
I'm having the same problem and have spent many hours trying to find a solution. Hopefully the information I provide below (including a work-around using a user-defined network) helps Docker with an investigation and/or helps you to get past this problem. Note that some info has been redacted.

I'm using Docker for Mac, stable version:
[code]

Part of our Docker build includes pulling images from

[2016-11-10 09:43] samchang8826 opened #926 "UDP problem when one socket talk with 2 or more sockets. [Version 1.12.3 (13776)]"
### Expected behavior
each received sockets address should correct.

### Actual behavior
not correct on mac, it's correct on ubuntu docker.
correct on container with `--net=host` enabled, but it's useless as we can't find the host/port of the hyperkit vm, and we can't use `-p` option.

### Information
remote1 console >
[code]

remote2 console >
[code]

container console >
[code]
**all the `from` a

[2016-11-10 09:56] ShannonHickey commented on #540
Here's a rather ugly work-around that I've discovered:

[code]

Add a `dns` entry like so:
[code]

Think carefully about what you want to be in here. As I mentioned in my previous comment, alpine tries DNS servers in parallel. If you need to access something on your corporate network and you include, for example, your router's IP, you'll continue to see random failure when using an alpine image.

[2016-11-10 11:03] djs55 commented on #926
Thanks for the report and the very easy to follow reproduction steps. I can see the same effect on my machine. Furthermore if I permute the `s.sendto` lines in `test.py` then the last source port "wins".

It looks like the flow is:

- [recv_ba](https://github.com/docker/vpnkit/blob/a595bbe7207ac6337ed0c4c8309fad71d03dd9c3/src/hostnet/host_uwt.ml#L175) from `libuv` receives the buffer and the remot

[2016-11-10 13:17] djs55 commented on #925
OSX Sierra is supported from Docker for Mac version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the beta channel. Please upgrade your version of Docker for Mac.

Related to docker/for-mac#561

Could you tell me where you got your dmg from? The official download page should have the most recent stable version. Is it an old copy or did you find it somewhere else?

[2016-11-10 13:17] #925 closed

[2016-11-10 13:22] djs55 commented on #924
Thanks for the report. Could you try again and upload a diagnostics report with beta 30 (released ~2 hrs ago). I can't promise it's fixed but the DNS code has been improved:

- better logic to extract DNS configuration from the SC database (as used by `scutil`) <-- this is where I need some help to make sure the code manages to understand your configuration properly
- ability to send requests to m

[2016-11-10 13:27] Kushmaro commented on #515
Can someone please prioritize this?

[2016-11-10 14:30] djs55 commented on #540
@ShannonHickey first of all thank you for the clear report. I apologise for the trouble this is causing you (and others), but be assured that we're working on it!

To hopefully answer your questions:

1. each IP address exposed to the VM was mapped onto one of the host's upstream resolvers. The idea was to push more of the retry logic into the VM rather than implement it host-side. Unfortunately i

[2016-11-10 14:51] raszi commented on #5
Experiencing the same issue with [`postgres:latest`](https://hub.docker.com/r/_/postgres/) quiet often.

[code]

[2016-11-10 14:54] djs55 commented on #923
I'm not familiar with erlang -- could you provide a test case (via a `Dockerfile`?) that I could run?

Also please upload a diagnostics report from

Whale menu -> Diagnose & Feedback

Thank you for using Docker for Mac!

[2016-11-10 15:41] durganuvvula opened #927 "docker for mac hanging with out any response when I execute docker commands"
### Expected behavior
docker commands should execute and return the response as expected

### Actual behavior
docker commands like docker images, docker ps -a or docker info all these are hanging and taking a long time and not responding. Even I tried restarting the docker but it did not help. Finally it worked after restarting my machine. but I would expect the ways to trouble shoot and fix the i

[2016-11-10 15:49] djs55 commented on #922
Thanks for the report. It sounds like a lock is being held inside the engine during the (deadlocked? very long running?) copy operation -- this would explain why some `docker` commands work but not others.

I notice you aren't using the latest stable version of docker -- could you try to reproduce with 1.12.3?

[2016-11-10 16:15] lukebergts opened #928 "Docker service fails to start"
### Expected behavior
I'd expect a clean diagnostic. I'm new to docker so can't say much beyond trying to get started and running into these issues.

### Actual behavior
When I start docker I get the whale animation spinning for a long time. I get it to say "started" by clicking restart. But when I go to start a container or look at my containers I get an error that the daemon isn't running. Not s

[2016-11-10 16:38] Fedalto opened #929 "Problem when multiple users on the same host want to use docker"
### Expected behavior

Multiple users on the same host can use docker.

### Actual behavior

After installing Docker, or updating, the `docker` cli commands are only accessible to the user which initiated the install/update process.

### Information

Digging a big, the docker command is in `/usr/local/bin/docker`, but it's only a symlink to `/Users/my_user/Library/Group Containers/group.com.docker

[2016-11-10 16:59] spikegrobstein commented on #924
@ShannonHickey this does appear to be a dupe of #540 -- I went through open issues looking to see if it was already reported, but somehow missed it.

@djs55 w00! beta 30 does, indeed fix this problem. I did a factory reset, tried to start up my docker container, it failed (because I wasn't connected to VPN), then connected and tried to start, and it successfully pulled. This is great, thank you!

[2016-11-10 17:41] Bluesmile82 commented on #920
I have the same problem. It happened suddenly when I was using PyCharm

[2016-11-10 17:50] garaden commented on #922
Same problem with 1.12.3. Added some more context this time, since I got the `docker events` this time. This isn't the full log, but the last cycle of creating a one-off container. Why PyCharm doesn't just bring the service up and do a bunch of `exec` on it, I'm not sure, though I'm new to Docker myself so might be missing something. Additionally, I tried to include logs starting at the same point

[2016-11-10 17:51] spikegrobstein commented on #924
After doing some additional testing, I'm finding that DNS resolution in the Moby VM and in a running docker container are not in sync and not working as expected:

## in VM

 - google.com: FAIL
 - archive.ubuntu.com: FAIL
 - docker.mycompany.com: OK
 - apt.mycompany.com: OK
 - git.mycompany.com: OK

## in running container

 - google.com: FAIL
 - archive.ubuntu.com: FAIL
 - docker.mycompany.com: O

[2016-11-10 18:04] ascotan commented on #515
BTW my solution for this (which is terrible) is to port forward ever required reachable port in every container onto localhost with unique port numbers.

[2016-11-10 18:15] dylanvee commented on #540
@djs55 Thanks very much for this detailed response. I'm happy to confirm that beta 30 fixes the issues I've been having with a VPN and private registry.

[2016-11-10 19:11] sylus commented on #77
Is it possible at this point in time to at least get an answer to some of @goneflyin questions?

In particular whether the problem has at least been wholly identified and an approximate timeline for a fix has been suggested? As this issue has been over a year old looking at the forums it would be nice to see some concrete plans to address this issue.

If there are no concrete plans at this point t

[2016-11-10 19:12] lukebergts commented on #915
I have the same issue. If i click restart while the docker animation is going and says docker starting it will get to "docker started" but docker ps -a doesn't work because it didn't actually work.

Diagnostic ID -
493978B4-86A8-4D52-95A8-2F7CF86A67FC

[2016-11-10 19:14] lukebergts commented on #909
I commented in #915 as well but this looks like the same issue that I am seeing.

Diagnostic id - 493978B4-86A8-4D52-95A8-2F7CF86A67FC

[2016-11-10 20:03] samoht commented on #77
@sylus how can this issue been over a year when we released our first stable version 3 months ago? :-)

The team is working on improving the performance of osxfs: Beta30 (released today) contains some nice improvement to the latency of osxfx which will improve some use-cases (but not all, we are aware of that).

The implementation of a new kernel module in the VM to bypass kernel/userspace context

[2016-11-10 20:09] bramswenson commented on #77
@samoht Is there somewhere we can find the up to date release notes and release binaries? I thought I remembered them being tracked in this repo, but I could be mistaken. Thanks!

not found here: https://docs.docker.com/docker-for-mac/release-notes/#beta-release-notes

[2016-11-10 20:15] samoht commented on #77
@bramswenson indeed the release docs for Beta30 seem not to be updated yet (it will be shortly). The release notes are:

[code]

And as usual, the binary is available if you click on "Check for auto-Updates" in your 🐳 menu, otherwise at https://download.docker.com/mac/beta/Docker.dmg

[2016-11-10 20:55] sylus commented on #77
@samoht, I was referring to the forum issue @ https://forums.docker.com/t/file-access-in-mounted-volumes-extremely-slow-cpu-bound/8076/178 which was created on march 1st. Although that issue could possibly have been repurposed, and if so my apologies! Although march 1st would mean 8-9 months so either way my counts were off and I have corrected my previous statement! :)

I really appreciate you ta

[2016-11-10 21:06] msimon opened #930 "Docker networking components failed on Mac OS 10.11.6"
### Actual behavior
Docker does not start. Ask for my admin password then return:
"Fatal Error"
"Communication with networking components failed"

### Information

- Previous version stop to be able to start (the docker icon was present, but stuck on starting). I didn't have time to investigate
- Installed the latest version this morning, and now crash right after I enter my admin password.

  Doc

[2016-11-10 23:44] konradjurk opened #931 "Docker can't connect to internet"
As of

Version 1.12.3-beta30 (13798)
Channel: Beta
7314181670

How can I fix this. I've tried to quit Docker and restart it but it still does not work...

[2016-11-10 23:48] konradjurk commented on #931
<img width="368" alt="bildschirmfoto 2016-11-11 um 00 47 04" src="https://cloud.githubusercontent.com/assets/6976170/20199066/72e82f10-a7a8-11e6-8a6b-69d3b5021e1b.png">

[2016-11-11 00:11] lox commented on #668
With the flush workaround and beta30, things are looking considerably faster in our mysql-5.6 based tests.

[2016-11-11 01:54] bmhatfield commented on #931
Are you on an IPv6 network?

[2016-11-11 01:55] bwegrzyn commented on #931
I have this issue as well with beta30. I downgraded to stable and it works fine.

[2016-11-11 02:01] bmhatfield opened #932 "Docker For Mac does not work on an IPv6 network"
### Expected behavior
I expect Docker For Mac to support IPv6 if I am on an IPv6 network.

### Actual behavior
When my network interface is configured for IPv6, docker for mac is unable to perform many actions, such as pulling new images or networking out to the internet from within containers.

eg

[code]

Reconfiguring my network interface to be "Link-local only" for IPv6 (OSX Network preference