[2016-09-27 08:15] joeblew99 commented on #75
also the implementation would probably need to be a bit like how Electron works.

I would use golang to write it.

For each host OS, you woudl have a library that does the above functionality.

For example opening a native file open dialogue.

For the guest, you would need to code to the docker apps API to open a native file open dialogue.
It would then make a call to the host OS to open the nativ

[2016-09-27 08:15] #75 closed

[2016-09-27 10:06] aikebah opened #706 "docker hangs in 'starting' after build-attempt with --no-cache --pull"
### Expected behavior
docker daemon running smoothly
### Actual behavior
docker daemon hanging hanging in 'starting' even after restarting and after reinstall
### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/2DCC474C-0FF4-4E9E-90DD-7800CA38F80D/20160927-115214.tar.g

[2016-09-27 10:09] dsheets commented on #388
I'm curious about *why* Concourse CI requires `btrfs` and falls back to `tmpfs`. Do you know (or could you find out) why Concourse has these particular requirements and fallback chain?

[2016-09-27 10:09] aikebah commented on #706
Resolved it for now by a docker uninstall & reinstall, which basically confirms that it's related to the docker data outside of the docker app (which got removed by the uninstall)

[2016-09-27 10:17] dsheets commented on #705
This issue is a duplicate of #412. Thanks for reporting this problem. We have increased the priority of the fix. Sorry this is causing issues for you. Thanks for using Docker for Mac!

[2016-09-27 10:17] #705 closed

[2016-09-27 10:27] dsheets commented on #288
This could be due to disk image corruption or a kernel bug that has since been fixed in a more recent release (1.12.1 is now available). If you still observe this issue, we'd be very interested in another report. Otherwise, if it is fixed after upgrading or resetting to factory defaults, there is little we can do. We are working to improve both the robustness of the disk image under application/po

[2016-09-27 10:27] #288 closed

[2016-09-27 10:36] dsheets commented on #315
I'm not sure what you mean by

It works only the first time? What does it do the other times when it fails?

I don't have your `manage.py` so I can't reproduce this exactly. Perhaps your issue is a duplicate of #205?

[2016-09-27 10:43] dsheets commented on #670
Could this also be the cause of #205?

[2016-09-27 11:10] Krzysiaczek commented on #670
Yeah, #205 looks very similar to my case.
Right I am away from this machine (for a whole week) and using the older version Toolbox for Mac on my laptop so I cannot test or verify anything at the moment.

[2016-09-27 11:47] pcollaog commented on #703
I just restart and Reset to factory defaults and it works.

I lost all my containers but it works!

[2016-09-27 11:47] #703 closed

[2016-09-27 17:41] mogrifier opened #707 "docker login to AWS hangs in version 1.12.1 (build: 12133) on OSX 10.11.6"
### Expected behavior

docker should login to AWS and give you back the command line to use for subsequnet docker commands using the AWS ecr
### Actual behavior

command hangs. Only output is 'Flag --email has been deprecated, will be removed in 1.13.'
### Information

OS X El Capitan 10.11.6
- Full output of the diagnostics from "Diagnose & Feedback" in the menu
  I'd love to provide the output.

[2016-09-27 18:08] cguess opened #708 "Kernel Panic caused by com.docker.hyper"
MacOS suffered a kernel panic while using Docker for Mac. I was doing nothing out of the ordinary.

Steps to reproduce the issue:
1. Run Docker for Mac
2. docker-compose up
3. Kernel Panic after some time

Describe the results you received:

Kernel panic

Describe the results you expected:

Not to have the machine crash.

Additional information you deem important (e.g. issue happens only occasiona

[2016-09-27 18:13] iainhouston opened #709 "Build directory not properly ADDed"
### Expected behavior

The `web` directory should be correctly `ADD`ed to `/usr/src/app` in the following case.( See directory structure below.)

The  `docker-compose.yml` file has the `web/Dockerfile` build an image, copying the context (the contents of its build directory) i.e. the `web` directory.

### Actual behavior

The image does not contain the expected `web` directory structure. `command:

[2016-09-27 18:23] dsheets commented on #709
I believe that an unqualified volume name like `web` will result in the creation of a new Docker volume called `web`. If you want to mount the local directory `web` (relative to the working directory), you should use `./web`. Does that solve your issue?

[2016-09-27 18:32] iainhouston commented on #709
@dsheets oh yes! I do believe it has solved my issue. Thank you!

[2016-09-27 18:32] #709 closed

[2016-09-27 18:44] mukteshkrmishra opened #710 "Docker for mac not starting after latest version upgrade Version 1.12.1 (build: 12133) 2d5b4d9c3daa089e3869e6355a47dd96dbf39856"
Hi,

After updating to latest version, docker for mac is not starting. App is trying to start forever with following error in logs:
Docker is not responding: Get http://./info: EOF: waiting 0.5s

Please note after factory resetting issue got resolved, but it deleted all my images.

Version 1.12.1 (build: 12133)
2d5b4d9c3daa089e3869e6355a47dd96dbf39856

Complete start up logs:

[code]

[2016-09-27 18:49] blackstar257 commented on #673
Does anyone have any good work arounds?

[2016-09-27 21:01] mukteshkrmishra opened #711 "Exception while trying to pull image from docker hub"
HI,

I am getting following exceptin while trying to pull an image from docker hub.

Please note this problem has started after upgrading to latest docker version app.

docker pull tomcat
Using default tag: latest
Warning: failed to get default registry endpoint from daemon (Error response from daemon: dial unix /Users/Test/Library/Containers/com.docker.docker/Data/_00000003.00000948: connect: con

[2016-09-27 22:34] holman commented on #681
All of it is showing up as `[OK]` for me. Strangely, though, everything seemed to start working again for me in the last few days. I don't think I've really changed anything, so it must be *:sparkles:magic:sparkles:*. I'll keep an eye on it and see if it happens again and, if so, will post the full diagnostics and details here.

[2016-09-27 23:34] justinhj commented on #67
This is great. Thanks for your help everyone.

[2016-09-28 01:07] simonplend commented on #17
I am also seeing this issue and it's causing problems with the applications I have running in containers e.g. AWS APIs rejecting requests:

I can see the workarounds in the troubleshooting docs for Docker for Mac (https://docs.docker.com/docker-for-mac/troubleshoot/#/known-issues), but is there any timeline for this issue to be fixed?

[2016-09-28 03:08] kishaningithub opened #712 "docker login command line password misbehaviour"
Im a new user to docker hub (my user id: kishanb)

[code]

[code]

Im sure im entering the correct password.. Tried this several times
as well.

### Information
  - Diagnostic ID: AA29E5F0-DC99-41D9-B944-0648349F074B

[2016-09-28 05:08] londoncalling commented on #67
Thanks Justin - Well you still might hit some problems on Docker for
Windows. Let me know if you do. Creating machines on Windows with hyper-v
driver seems to work variably and hang sometimes at either waiting for SSH
or before.

I should have an update for those docs again this week hopefully. In the
meantime , feel free to send more feedback !

Cheers,
Vicky

On Tuesday, September 27, 2016, Just

[2016-09-28 08:59] motin commented on #77
Anyone have some current performance stats with the latest stable and beta versions for some reproducible usage scenarios?
It would be great to understand if the performance is 10% of native or closer to 80% or whatever, to understand if a workaround is worth implementing.

[2016-09-28 09:46] motin opened #713 "Docker not launched at login due to Mac downloaded files quarantine - Could not find and/or execute program specified by service: 155: Refusing to execute/trust quarantined program/file: com.docker.helper"
As reported in the forums (https://forums.docker.com/t/docker-beta-on-mac-refusing-to-execute-trust-quarantined-program-file/15389/3, https://forums.docker.com/t/launch-service-cannot-find-com-docker-helper/10691/5)
### Expected behavior

No spamming of the system logs
Launch of com.docker.helper (whatever that does)
### Actual behavior

The system logs are spammed with the following message repea

[2016-09-28 10:29] dagguh commented on #516
Is there a workaround?

[2016-09-28 10:36] cwbeck opened #714 "This could be the end of Docker for us. More networking issues"
### Expected behavior

Docker exposes ports
### Actual behavior

Docker does not expose ports
### Information
- Full output of the diagnostics from "Diagnose & Feedback" in the menu
- A reproducible case if this is a bug, Dockerfiles FTW
- Page URL if this is a docs issue or the name of a man page
### Steps to reproduce the behavior

Upgrade to version 1.12. -- Multiple issues.

Purged docker and

[2016-09-28 10:45] djs55 commented on #714
Are you intending to use Docker for Mac or Docker Toolbox?

One difference between the two is that Docker for Mac exposes ports on the Mac's local interfaces like Docker on Linux -- perhaps try `curl http://localhost:8080`?

If you'd rather use Docker Toolbox than Docker for Mac then make sure you set the environment variables to talk to the right docker daemon:
[code]
If you have time then have a

[2016-09-28 10:53] Vanuan commented on #77
Though it also depends on the network latency, I find npm install a good test:

[code]

The 2nd run, after caching, doesn't involve much networking so it would reveal the differences in disk usage.

[2016-09-28 10:53] dsheets commented on #712
If your password contains characters interpreted by your shell (in particular `$` but there are others), executing a command with your password in it may fail due to shell interpretation. I recommend putting your password between single quotes (`'`) to disable shell interpretation in Bourne (`sh`) and similar shells (`bash`, `ash`). Does that work?

[2016-09-28 11:04] dsheets commented on #711
Could you please run `Diagnose & Feedback` from the :whale: menu, select `Diagnose & Upload`, and post the results here? In particular, the diagnostic ID would be very helpful in investigating your issue. Thanks!

[2016-09-28 12:34] cwbeck commented on #714
The issue list is still growing. Seems VirtualBox could be the culprit here. Is there an alternative engine/driver on Mac to this? - Ubuntu setup works just fine for everything.

[2016-09-28 12:36] justincormack commented on #714
You can install Docker for Mac https://docs.docker.com/docker-for-mac/ which does not use Virtualbox. This is the support area for Docker for Mac, not for Toolbox, so slightly confused but it looks like you are not using it.

[2016-09-28 12:39] ijc25 commented on #708
Thanks for your report.

hyperkit is a purely userspace process which uses the OSX provided/supported `Hypervisor.framework` and has no kernel modules of its own, so it is unlikely that we will be able to do anything about this directly.

I notice that you have various virtual box kernel modules installed. It might be worth trying with those uninstalled (which needs more than the usual drag to tra

[2016-09-28 12:42] dsheets commented on #672
Please try again with the macOS Sierra 10.12 final release (build 16A323) or later. If you can still reproduce the problem, please re-open this issue.

[2016-09-28 12:42] #672 closed

[2016-09-28 12:42] Mactory commented on #412
Thank you for your reply.
For now I have helped myself by adding an additional local.yml for docker-compose that overwrites /etc/foo:/etc/foo to use the resolved form /private/etc/foo:/etc/foo

[2016-09-28 12:44] dsheets commented on #488
Do you still have trouble uninstalling with Beta 26.1 or 1.12.1 on macOS Sierra 10.12 final? Please re-open this issue if you still cannot uninstall using the application. Thanks for your report.

[2016-09-28 12:44] #488 closed

[2016-09-28 12:44] cwbeck commented on #714
I've been using both products. I have Docker for Mac too. Problems encountered on Toolbox forced a move away from it. Docker for Mac does not seem to enable us to run multiple ips unless I've missed something. localhost is not enough.

[2016-09-28 12:48] djs55 commented on #714
Docker for Mac 1.12.1 should allow ports to be exposed on any interface of the Mac (it was broken in 1.12.0). For example:
[code]
exposes `nginx` on my wifi IP 192.168.1.103. Does that help at all?

[2016-09-28 12:52] cwbeck commented on #714
This helps massively - 1.12.0 was the issue then! Tried everything to get your above example to work before.

[2016-09-28 13:16] justincormack commented on #714
@cwbeck ah ok. See this comment https://github.com/docker/docker/issues/22753#issuecomment-246054946 for how to set up multiple IP addresses on the Mac attached to different hosts and publish ports to them.

[2016-09-28 13:21] cwbeck commented on #714
seems there is a limit issue on ranges?

docker: Error response from daemon: driver failed programming external connectivity on endpoint market (d1133ef6e8d7b3b8ad7e68831e9d1f70f5255b0f3a15ccf927f6920915142dcb): Error starting userland proxy: Bind for 172.168.0.101:80: unexpected error (Failure EADDRNOTAVAIL).

running 1.12.1

[2016-09-28 13:24] justincormack commented on #714
Did you mean `192.168.0.101`?

[2016-09-28 13:33] cwbeck commented on #714
Any IP - the comment you linked to does not seem to be resolved.

ff3aab6775f7b8412e0ffef2f81f216ff43a493f9c7be605d4947060d0db0210
docker: Error response from daemon: driver failed programming external connectivity on endpoint market (01455862dc31b8ae583c7f51c4d89a96aa7b4e24b68dfcb9e9b4c8034f424186): Error starting userland proxy: Bind for 192.168.0.101:80: unexpected error (Failure EADDRNOTAVAIL)

[2016-09-28 13:45] djs55 commented on #714
Could you check the exact version you're running? In "Whale menu -> About Docker" I have:

2d5b4d9c3daa089e3869e6355a47dd96dbf39856

The version reporting as 1.12.0 will still have the bug where we called `bind` also inside the VM, with an IP which was only present on the Mac, hence `EADDRNOTAVAIL`.

On my host I have:
[code]
and this command works:
[code]
whereas this one fails with `EADDRNOTAVAI

[2016-09-28 14:17] cwbeck commented on #714
[code]

[code]

[2016-09-28 15:18] ltagliamonte opened #715 "[Question] Moby linux sources"
Hi everybody!
I'm looking for moby linux sources or package repo, i'm interested into the linux-kernel package and it's config file.
I hadn't luck googling, can anybody point me to the package repo?

[2016-09-28 15:24] dsheets commented on #715
Hi! Have you looked in the gzipped tarball linked from <https://docs.docker.com/docker-for-mac/opensource/>?

[2016-09-28 15:29] ijc25 commented on #715
I just checked and the kernel sources are in that tarball (along with lots of other stuff), so closing.

@ltagliamonte if you are still having trouble finding them please ping here again.

[2016-09-28 15:29] #715 closed

[2016-09-28 15:46] dsheets commented on #495
I've reproduced this issue and then fixed it upstream. After some QA, it should reach Beta 28 in a week or two.

[2016-09-28 15:54] dsheets commented on #419
Do you still see this issue with more recent betas? Are you experiencing worse performance relative to other machines running Docker for Mac?

[2016-09-28 15:55] ltagliamonte commented on #715
@dsheets thanks!

[2016-09-28 16:33] evantorrie opened #716 "Latest version of Docker for Mac Version 1.12.1-beta26.1 (build: 12100) fails to start"
### Expected behavior

Docker starts up and allows me to run Docker commands
### Actual behavior

Docker never completes starting up.  Menubar whale/container just keeps animating
### Information
- Full output of the diagnostics from "Diagnose & Feedback" in the menu
- A reproducible case if this is a bug, Dockerfiles FTW
- Page URL if this is a docs issue or the name of a man page

From console.l

[2016-09-28 16:34] evantorrie commented on #716
Should mention that I recently upgraded to MacOS 10.12 (Sierra), and that I do have Optimize Mac Storage turned on (although obviously, no Docker data as far as I'm aware stored in iCloud).

[2016-09-28 16:43] SyntaxStacks commented on #198
I was having the same issue, I had a local `.env` file that was causing the issue. After deleting the file I was able to get `docker-compose` working again. Hope this helps someone that's tried all the steps above.

[2016-09-28 17:10] xicubed commented on #688
Getting the error too...

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.12 (build: 16A323)
logs: /tmp/E96DFE3B-96B7-4C8E-88E3-D6FA982001AE/20160928-110631.tar.gz
failure: docker ps failed: Failure("docker ps: timeout after 10.00s")
[ERROR]  docker-cli
         /var/run/docker.sock does not exist
         Unexpected error (No such file or directory) connecting to /var/run/docker.sock

[2016-09-28 17:14] dsheets commented on #428
I can reproduce this on 1.12.1 and Beta 26.1 but not on the Beta 27 master branch due out this week that includes a variety of TCP/IP fixes. I will post here again once Beta 27 is released so that you have a reminder to confirm that this issue is resolved in Beta 27. Thanks for using Docker for Mac!

[2016-09-28 17:19] bfsrjose commented on #428
Awesome, thanks :-)

[2016-09-28 17:31] dsheets commented on #659
It looks like your disk image became corrupted due to a crash or unexpected shutdown of the application, operating system, or machine. Do you still experience this problem? Have you tried to `Reset to factory defaults` from :whale: -> Preferences -> Uninstall/Reset?

[2016-09-28 17:34] dsheets commented on #339
It looks like something has gone very wrong with your installation. Did you have another version of Docker installed or install another version on top of Docker for Mac? I see that the version of the command line tool is 1.7.0 which is quite old. Docker for Mac ships with 1.12.0. Have you tried uninstalling your previous Docker software and reinstalling Docker for Mac?

[2016-09-28 17:35] protechig commented on #82
I'm also experiencing this issue.

`Docker version 1.12.1, build 6f9534c, experimental`

I'm using docker-compose to run a basic [WordPress config](https://github.com/protechig/Docker-WordPress-LEMP), doing actions within it is super slow. Note: this does not occur on a linux VPS that i'm running.

Please let me know if I can do anything to help.

[2016-09-28 17:41] dsheets commented on #418
Your diagnostic bundle did not upload (perhaps due to a known issue with diagnostic uploads not respecting system proxies and AWS access being blocked behind GFW). Does this issue still occur after uninstall/reinstall with Docker for Mac 1.12.1?

[2016-09-28 17:43] dsheets commented on #657
This was fixed so I am closing it. If you feel there are actions to be taken to improve some aspect of the software that relate to this issue, please post them here or open new tickets on the Docker for Mac internal issue tracker.

[2016-09-28 17:43] #657 closed

[2016-09-28 17:47] dsheets commented on #446
Do you still experience poor network performance with Docker for Mac on 1.12.1 or Beta 26.1/Beta 27? If so, could you please post a detailed sequence of steps to reproduce the issue? For instance, could you tell us the command you are using to `docker run rand/docker-clojurescript exposing ports` or `start a lein ring server on port`? Are you using a graphical web browser to `browse to docker imag

[2016-09-28 17:54] olandere commented on #692
The reset of the preferences works for the current run, but the next time I start docker, the same thing happens, so again I reset, download containers (a few hours for 1.7 GB container) and am able to run it again.  This is not workable for me.

[2016-09-28 17:55] dsheets commented on #495
I should also mention, thanks @dantswain for the great work developing a reproduction and thanks to everyone for reporting the issue and helping out. The bug turned out to be related to specific inotify events being delivered on a file that was also being read which ended up causing us to corrupt the Linux node table. Without your work, this bug would have lurked for much longer. Thank you! ❤️

[2016-09-28 19:08] genei09 commented on #681
Had a developer encounter the same issue.  It went from working to not working without any change in version.

our normal setup (which he had working):
Ordinarily we have node_modules installed in the containers file system and then symlink to where the project source is.
The project source is volume mounted from the OSx FS.

what he changed:
he removed the symlink and installed node_modules into

[2016-09-28 19:09] dsheets commented on #428
Beta 27 has now been released. Could you give it a try and see if it resolves the issue for you?

[2016-09-28 19:10] dsheets commented on #686
Beta 27 has now been released. Could you give it a try and see if it resolves the issue for you?

[2016-09-28 19:11] timsutton opened #717 "Provide CLI tool for finalizing install"
### Expected behavior

Docker for Mac could provide some CLI tool that enables sysadmins deploying Docker.app using automated tools to "complete" the installation, rather than requiring users to provide admin credentials to do so when the app is launched (either initially, or after updates requiring changes to system components).
### Actual behavior

Docker for Mac currently provides no such utili

[2016-09-28 19:11] dsheets commented on #674
Beta 27 has been released. Could you give it a try and let us know if it resolves the issue for you?

[2016-09-28 20:31] ktwalrus opened #718 "Update to beta27 resets Memory preference"
I set Memory to 8GB, but when I installed the latest beta27 today, the setting was reverted to 2GBs after the install/relaunch. An update should reapply my preferences before relaunching the Docker daemon.

[2016-09-28 21:08] karneaud commented on #446
Sorry but i switched from docker for mac and used docker-machine with docker-sync.

[2016-09-28 21:08] #446 closed

[2016-09-28 21:10] bfsrjose commented on #428
Will do, I'll report back in a  bit.

[2016-09-28 22:13] mingp commented on #673
We're also encountering a large (>10x) slowdown on a write-heavy disk IO workload, which might be this same issue. More specifically, we have some automated tests which reset MySQL database state afterwards by truncating all tables in the test database, and this process has recently gone from <5 seconds to ~1 minute. This happens on both the beta channel (Version 1.12.1-beta26.1 (build: 12100)) an

[2016-09-28 22:16] jemueller commented on #371
Looking forward to these fixes. Having my HD randomly fill up, running DaisyDisk and seeing Docker eating up 50GB on my SSD with a relatively small project is not a good sight to behold.

Being able to lower the cap would be a huge help as a stop-gap measure until the automated tools to manage this in the background come out.

What is the expected ETA for the cap configuration tool and/or the vari

[2016-09-28 22:29] ltagliamonte opened #719 "[Question] Moby linux stable sources"
This is a follow up from my previous question https://github.com/docker/for-mac/issues/715
The archive in the link suggested before it is linked to the docker for-mac beta channel, atm the archive contains a config for kernel 4.4.22 instead the stable channel is using 4.4.20.
Is there any other pointer to the stable sources or a versioned repo?

[2016-09-28 23:32] xicubed opened #720 "docker-compose not running from terminal"
### Expected behavior
[code]
### Actual behavior
[code]

### Information

  - I can run docker-compose via:
`/Applications/Docker.app/Contents/Resources/bin/docker-compose`
but according to the documentation https://docs.docker.com/docker-for-mac/docker-toolbox/ I shouldn't have to do anything special to get it to run out of the box.
  - I had to do this docker fix to even get docker to run...
as

[2016-09-29 00:47] disrvptor opened #721 "After upgrade to 1.12.2-rc1-beta27 docker will not start"
[20160928-204212.tar.gz](https://github.com/docker/for-mac/files/499543/20160928-204212.tar.gz)
### Expected behavior

Docker starts and is available via the CLI
### Actual behavior

After upgrading to 1.12.2-rc1-beta27 Docker will not start. The icon in the menu is continuously animated, but docker is unavailable.

[code]
### Information

Docker for Mac: version: 1.12.2-rc1-beta27 (179c18c)
OS X:

[2016-09-29 02:33] jeff-lau commented on #371
A little bit off topic, what happens when qcow2 hits 64GB?  We use docker to stand up many dependent services on a fairly large software project.  Some of our docker images are like 15GB in size, so 64Gb is not a lot for us. We are using docker for Mac and running into issues where docker images just seems to mysteriously disappear. Or docker wouldn't start unless we delete the old qcow2 file etc.

[2016-09-29 03:08] dzikri opened #722 "Update Error when Updating Docker for macOS"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: D9E7AF16-6E30-4675-BA4E-AD7B5120EF68
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]

[2016-09-29 03:34] bmorgenthaler opened #723 "vmnetd installation failure"
634EB843-9ADE-43B5-9612-4C084DDE9FA6

[2016-09-29 03:59] andreychernih commented on #686
My container has been running without crashing for 15 minutes, I consider it fixed.

[2016-09-29 04:01] kishaningithub commented on #712
Thanks a lot! Special characters caused the mess for me..

[2016-09-29 04:01] #712 closed

[2016-09-29 06:54] Multiply commented on #721
I am having a similar issue. Same exact error as above, however, the Whale is not animated, but simply static, as if Docker is running as it should.

Output from moby:
[code]

[2016-09-29 07:26] burnetjubian opened #724 "Cannot install Docker with mac"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: A2952C21-4BF5-4D62-AFA9-BCBE45DF54DA
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12 (Build 16A323)
[ERROR]  docker-cli
         /var/run/docker.sock does not exist
         Unexpected error (No such file or directory) connecting to /var/run/docker.sock
         /Users/han/Library/Containers/com.docker.docker/Dat

[2016-09-29 08:00] Multiply commented on #668
@djs55 Is it the `flush` change mentioned in the changelog for `1.12.2-rc1-beta27 (build: 12496)`? If so, I'd love to try it out.

[2016-09-29 08:27] #686 closed

[2016-09-29 08:43] djs55 commented on #668
Thanks for the reminder -- here's how to activate the `flush` change on beta 27:

My "About Docker" shows:
[code]

I typed into a terminal:
[code]
This will cause the VM to reboot which takes about 30s or so. Afterwards `flush` should be fast (but the data won't have hit the physical disk, which means it could be lost if there was a sudden power loss)

Let me know if this works for you.

[2016-09-29 09:04] mping commented on #668
@djs55 probably a typo in `echo false > com.docker.driver.amd64-linux//full-sync-on-flush`right? it's missing the `disk` part I guess

[2016-09-29 09:05] malduarte commented on #668
@djs55 Awesome! Works just fine! There's a small typo in your instructions.

`$ echo false > com.docker.driver.amd64-linux//full-sync-on-flush`
should be
`$ echo false > com.docker.driver.amd64-linux/disk/full-sync-on-flush `

[2016-09-29 09:09] JanBednarik commented on #668
It works, thank you!

[2016-09-29 09:17] avishayp commented on #692
Same.
Docker on mac is just not production ready. Please ping once it is.
[code]

[2016-09-29 09:41] ijc25 commented on #678
I've had a dig through the logs and I am fairly confident that this isn't docker/hyperkit#50. Nothing else leapt out at me as being obviously the cause of this issue though. If you are able to provide a reproducer that would likely be very valuable.

[2016-09-29 09:44] ijc25 commented on #435
There have been some improvements to the vsock code in the 1.12.1-beta27 release so if you are happy trying a beta version of the software it would be useful to know if this has resolved it for you. When switching between the beta and stable branches it is necessary to uninstall Docker for mac.

If it still occurs for you with beta27 then if you could enhance you reproduction steps with the `docke

[2016-09-29 09:46] ijc25 commented on #289
There have been some improvements to the vsock code in the 1.12.1-beta27 release so if you are happy trying a beta version of the software it would be useful to know if this has resolved it for you. When switching between the beta and stable branches it is necessary to uninstall Docker for mac.

If it still occurs for any of you with beta27 please open fresh individual tickets against https://gith

[2016-09-29 09:49] ijc25 commented on #351
I'm afraid I don't see any sign of the docker/hyperkit#50 failure in any of the three diagnostics uploaded under 4A1A849E-8CF4-45E0-95DF-D61CC9AB1543, so this must be something else.

[2016-09-29 09:51] nailor commented on #179
Yup, same here.

[2016-09-29 10:29] djs55 commented on #668
Glad to hear it works, sorry for the typo! (I really thought I had cut and pasted that properly, oh well)

We're considering adding some kind of "experimental" or "advanced" configuration options to the UI along the lines of `about:config` in firebox which could make this kind of thing easier in future.

[2016-09-29 11:14] dsheets commented on #723
Installation fails in `launchd` with some contradictory messages, @djs55:

[code]

Thanks for your report!

[2016-09-29 12:16] mathiaslm89 commented on #82
I have this issue as well. Any container with Grunt watching mounted files will cause the CPU to run amok. I suspect it's related to the fact that the files are being watched by both Grunt and Docker, concurrently.

[2016-09-29 12:28] bmorgenthaler commented on #723
Okay, what are the correct permissions and ownership then? Here is what the initial install configured:

`-rw-rw-r--  1 root  wheel   688B Sep 28 23:31 com.docker.vmnetd.plist`

[2016-09-29 12:45] johker01 opened #725 "Error response from daemon: Bad response from Docker engine"
This issue is related to the following 2 issues:

https://github.com/docker/for-mac/issues/170
https://github.com/docker/docker/issues/24045

The original issue seems to be gone now, however, when trying to compile a large project via ant, I now receive the error "Error response from daemon: Bad response from Docker engine".
Unfortunately, I cannot share the source code I'm trying to compile, as i

[2016-09-29 12:48] johker01 commented on #170
The issue mentioned here seems to be gone now.

[2016-09-29 12:48] #170 closed

[2016-09-29 13:08] ewilansky opened #726 "Docker not responding after OS X Sierra sleep mode"
### Expected behavior

Following OS X sleep, Docker commands and docker containers respond.
### Actual behavior

Docker commands, such as Docker ps hang. In addition, attempting to reach any services running in containers fails.
### Information
- Full output of the diagnostics from "Diagnose & Feedback" in the menu:
  Diagnostic ID: 4D7F2A13-B944-4D05-A5C5-710DA2467E74 (uploaded)
- A reproducible

[2016-09-29 14:27] dsheets commented on #678
I see a number of failures like

[code]

which indicate something is either leaking or very rapidly consuming file descriptors. There was one fix for this in relation to many rapid DNS requests in the recently released Beta 27. If you're comfortable trying out a beta (which requires uninstallation and reinstallation of Docker for Mac), it would be great to know if this fixes the problem for you.

[2016-09-29 14:44] dsheets commented on #351
This might be the same issue as #495 which should be fixed in Beta 28.

[2016-09-29 14:49] goneflyin commented on #678
Thanks, I'll definitely try that. Installing a large number of ruby gems does, by definition, include a huge number of files being written. Also worth noting, this is being done across volumes (we use a data volume to keep the gems persisted across container rebuilds).

I'll keep my fingers crossed that we get through it using the new beta. If not, I'll definitely see about creating a stripped dow

[2016-09-29 14:50] dsheets commented on #264
Your logs contain many instances of
[code]

[2016-09-29 15:44] dsheets commented on #684
Could you point out where in the docs we discuss copying `resolv.conf` into containers? I believe we source DNS resolution configuration from the host and handle it transparently in the network stack. Are you having issues with DNS resolution? Are particular parts of the configuration not being obeyed?

I don't believe you will see any change inside of a container file system when DNS settings are

[2016-09-29 15:46] dsheets commented on #710
Could you please run `Diagnose & Feedback` from the :whale: menu, select `Diagnose & Upload`, and paste the results of the diagnostic run (including diagnostic ID) back here? This will help us understand what is happening with the Docker application. Thanks!

[2016-09-29 15:50] dsheets commented on #679
Have you tried uninstalling through the application before reinstalling? Go to :whale: -> `Preferences` -> `Uninstall / Reset` -> `Uninstall`. Then, simply run the application again. Does it still fail to start?

[2016-09-29 15:54] alekseyig commented on #679
I am going to close it for now, yes i was able to make it working by uninstalling and removing /Library/LaunchDaemons/com.docker.vmnetd.plist. However, i was not be able to uninstall it using UI, i used cli to do that.
Thank you for looking into that, but it seems to me that the root cause of this problem is still unknown.

[2016-09-29 15:54] #679 closed

[2016-09-29 16:11] jbrinley commented on #668
The file at `com.docker.driver.amd64-linux/disk/full-sync-on-flush` did not exist for me, so I had to create it.

[code]

Seems to be working great now. Thanks!

[2016-09-29 16:12] dsheets commented on #676
It looks like the hypervisor is crashing with

[code]

which is similar to, but not the same as, docker/hyperkit#50. There were a number of updates to the hypervisor transport system in the recently released Beta 27. If you are comfortable running a beta (we still do QA on it), you could give that a try and see if it stops the frequent crashing.

/cc @ijc25

[2016-09-29 16:16] ijc25 commented on #676
This is effectively the same issue as docker/hyperkit#50, the only change is that in 1.12.1 I added some macros with sensible names to make the logic a bit easier to read so the message has changed, but the underlying code's behaviour is identical.

Nonetheless, the request to try beta27 is a good one since that does contain functional changes which should help with that issue.

[2016-09-29 16:17] dsheets commented on #675
You should have seen an error message which read:

        VirtualBox v4.3.28 is currently installed.
        Please upgrade or uninstall Virtualbox.

It means that Docker and VirtualBox < 4.3.30 are mutually incompatible and you must upgrade or uninstall VirtualBox before using Docker for Mac. We do this because otherwise OS X will crash due to issues with VirtualBox's kernel module in versions b

[2016-09-29 16:17] #675 closed

[2016-09-29 16:29] dsheets commented on #658
Hello!

It looks like you are running the Docker for Mac application from the Trash:

[code]

In order for Docker for Mac to function correctly (due to Apple's codesigning restrictions), you need to install it into an Applications directory like `/Applications` or `~/Applications`.

If you still experience this issue after running the application from an Application directory, please re-open this

[2016-09-29 16:29] #658 closed

[2016-09-29 16:50] sebastienDevibim opened #727 "Very slow outgoing and incoming trafic"
### Expected behavior

Have a normal outgoing trafic with a normal ping
### Actual behavior

Every time the outgoing trafic is very slow and can reach 30 seconds to reach an external server.
### Information

Docker for Mac: version: 1.12.2-rc1-beta27 (179c18c)
OS X: version 10.12 (build: 16A323)
logs: /tmp/91E57AEB-F466-4D96-A2E8-E4C6E8546025/20160929-184705.tar.gz
[OK]     docker-cli
[OK]     vir

[2016-09-29 16:53] dsheets commented on #727
Does this reproduce for you under all circumstances? Is there a very simple test case that reproduces the behavior? Do you have unusual network components in your environment (e.g. VPN, proxy, strange middleboxes, unusual link types like bluetooth, etc)?

[2016-09-29 16:57] JanBednarik commented on #673
@mingp Here is link to download 1.12.0 stable: https://download.docker.com/mac/stable/1.12.0.11213/Docker.dmg

[2016-09-29 16:58] sebastienDevibim commented on #727
I'm always connected through ethernet.
I don't have any VPN or proxy, only a Freebox (a French router) between my computer and the internet.
I didn't have the problem before the last update (beta 27).
You can try to reproduce it by trying to connect to the Twitter API with TwitterOAuth in php.
The problem is not the Twitter API because it has a normal response time on a Debian server with the same

[2016-09-29 17:03] dsheets commented on #673
It is likely that many of you are experiencing #668. We really recommend trying the solution in #668 and using Beta 27 if this is a blocking issue for you. 1.12.0-a has many known issues so reverting to it is not recommended. If you continue to experience poor performance, you may be experiencing #77 for which improvements are under way.

[2016-09-29 18:32] bestform commented on #82
What @mathiaslm89 says is interesting. As I said I observe the same problem and I have a similar situation, where a container is watching the same files as my IDE. This might be nothing, but I suppose it couldn't hurt to mention it. Maybe it is a factor.

[2016-09-29 18:41] londoncalling commented on #704
This is now documented and published per the referenced docs PR above

[2016-09-29 18:41] #704 closed

[2016-09-29 18:46] londoncalling commented on #67
@justinhj all is working for me now on [Docker for Windows Beta 27](https://docs.docker.com/docker-for-windows/release-notes/#/beta-27-release-notes-2016-09-28-1-12-2-rc1-beta27), and for @ManoMarks on the latest [stable Beta](https://docs.docker.com/docker-for-windows/release-notes/#/stable-release-notes) (v1.12.1) . Let us know if you run into more problems. Thanks!

[2016-09-29 18:47] dsheets commented on #82
If you are seeing increased CPU utilization while running programs that 'watch' files on shared directories, you are not experiencing the same issue as the original poster in this thread. Many popular file system monitoring applications do not actually use the asynchronous event APIs of the platform they run on -- `grunt` in particular does not use `inotify` by default but instead polls the file s

[2016-09-29 18:51] mingp commented on #673
@dsheets

Thank you for the info. I'll try that workaround and see what happens.

@JanBednarik

Thank you for the link. I'll try the version rollback as a last resort, if the other solutions don't work, just to get our current development workflow unblocked for the short term.

[2016-09-29 18:59] tim-ireland commented on #673
For the record, I tried the suggestion in #668, which was to use 1.12.2-rc1-beta27 (build: 12496) and `echo false > com.docker.driver.amd64-linux/disk/full-sync-on-flush` etc.

I'm still getting around 4 MB/s write time.

[code]

[2016-09-29 18:59] bestform commented on #82
Thank you @dsheets for clearing this up. I'll take back my addition then, as the IDE I am using is in fact utilizing inotify to watch files.

[2016-09-29 19:03] dsheets commented on #673
@tim-ireland could you check the performance of your original use case? Is it back to the old speed that you remember?

For the particular microbenchmark that you have used, we are aware that performance isn't where it needs to be but we also don't believe that there was a performance regression in the file system sharing component between 1.12.0 and 1.12.1. General performance improvement of file

[2016-09-29 19:14] jabenninghoff commented on #674
I have been running graylog now for ~20 hours and have seen no issues. Syslog UDP has not stopped working and no Docker errors related to UDP in the system.log. Fixed, Thanks!!!

[2016-09-29 19:18] #674 closed

[2016-09-29 19:21] tim-ireland commented on #673
@dsheets

Thanks, I don't really have a good benchmark metric for comparison from before 1.12.1, but my test suite does seem to be running faster now with 1.12.2-rc1-beta27.   Definitely not as fast as it once was, but improved.  A portion of the test suite interacts with PostgreSQL, so I'm guessing that is where the performance gain is the highest.

[2016-09-29 19:30] dsheets commented on #673
Great! Glad to hear it. The numbers you posted earlier are very similar to the numbers for the same microbenchmark on modern Mac's with SSDs that we've been seeing for a couple months. We have a number of improvements in the pipeline.

Given that this issue seems to be mostly covered by #668 and #77 and we know of no changes that would significantly negatively or positively impact shared file syst

[2016-09-29 19:30] #673 closed

[2016-09-29 20:20] mingp commented on #673
The workaround in #668 worked for me. Performance is now back to where it was before.

Thank you all for your help.

[2016-09-29 20:24] mingp commented on #668
We had an issue where we were seeing a ~10x performance regression on specific write-heavy disk IO workloads. In particular, our backend automated testing setup (Python, Django, etc.) would reset (MySQL) database state in between individual test cases by truncating all tables in the test database. After installing a recent 1.12.1 release, we saw the delay of this operation spike up from < 5 second

[2016-09-29 21:40] tbodt commented on #488
Nope, it uninstalls fine now.

[2016-09-29 21:51] xicubed commented on #720
I may have had a previous version on at some point but I don't think it was installed when I loaded 1.12.1. It would have been pre Sierra.

Just now I uninstalled again, and reinstalled the beta channel and that put 1.12.2-rc1-beta27 (179c18xc) on my machine but it still got the failure:
[code]

Other notes. I have Xcode loaded. I also have my home directory on a removable drive.

[2016-09-30 02:50] marclennox commented on #721
Same here, animated whale never ends.

[2016-09-30 08:58] bilus commented on #721
Same here, I'm stuck.

[2016-09-30 09:06] davoustp opened #728 "In-place sed replacement on file in a bind mounted dir with Docker for Mac maxes one CPU core out"
### Expected behavior

From a container, in-place editing a file (using sed) which lies in a bind-mounted directory should work flawlessly (_even if slow - acknowledging performance issue with osxfs bind mounting here_).

### Actual behavior

When doing several in-place edits quickly (performed with sed in a loop in the project to reproduce), the container just stalls at some point: the sed proces

[2016-09-30 09:19] oleborup opened #729 "Docker not blocked by macOS firewall"
### Expected behavior

When mapping a container port to a host port it is expected that external access to the port is blocked by the macOS firewall, if enabled, and it is expected that the user should be prompted to allow docker to open the port in the firewall.

### Actual behavior

Mapped ports are accessible externally even if the firewall is enabled. Only enabling "Block all incoming connecti

[2016-09-30 09:20] dsheets commented on #721
There are many possible reasons for the symptom you are describing. It would really help us to understand the cause and possible remedies if you would run :whale: -> `Diagnose & Feedback` -> `Diagnose & Upload` and then paste your diagnostic ID back here or open a new issue.

Thanks!

[2016-09-30 09:32] bilus commented on #721
I uninstalled and reinstalled the latest beta and it still won't start. Another diagnostic ID: 00F81869-B2C6-425F-A836-FC3DC81B2477

[2016-09-30 09:36] bilus commented on #721
I reset to factory defaults but it still won't start: A1E67A4D-59B6-40A3-B409-A22942EE4C3D

[2016-09-30 09:46] bilus commented on #721
I installed the stable version. I hope the ^ will help someone.

[2016-09-30 11:19] disrvptor commented on #721
Factory reset did nothing for me. Ultimately I re-installed the stable version and it worked fine.

[2016-09-30 11:26] spassig commented on #727
Same for me after upgrading to "1.12.2-rc1-beta27". Also Docker restarts automaticaly for more often. OS Version 10.12.

[2016-09-30 13:22] knutsenm commented on #51
Maybe it was the channel switch. The problem has returned for me with version 1.12.2-rc1-beta27

[2016-09-30 13:44] slot commented on #693
My colleague @ashishbagri7 and I had the same issue, after restart of docker itself the time is synced. I suspect it has to do with hibernation of the Mac itself. I'll try to reproduce.

[2016-09-30 13:53] knutsenm commented on #51
@djs55 my /Library/PrivilegedHelperTools/com.docker.vmnetd dates back to 16 Sep, when I switched from Stable back to Beta channel; hasn't been updated with the version 1.12.2-rc1-beta27. Could this be related to these? https://github.com/docker/for-mac/issues/644 https://github.com/docker/for-mac/issues/61 https://github.com/docker/for-mac/issues/8#issuecomment-236183193

[2016-09-30 14:03] joshuatalb commented on #51
Completely uninstalling Docker (incl. toolbox, kitematic etc) using AppCleaner, and then re-installing it seems to have fixed it for me. Not sure if this information helps but I came from Docker using Virtualbox, then upgraded to Docker natively for OS X.

[2016-09-30 14:38] torstenlehmann commented on #371
Are named volumes in any way related to Docker.qcow2? Does removing Docker.qcow2 break any named volumes or connections between images/containers and named volumes? Just asking myself if I loose the data saved in my named volumes if I remove Docker.qcow2.

I'm using docker-compose for my images/containers and declared named volumes in docker-compose.yml.

Thanks in advance for some hints.

[2016-09-30 14:40] justincormack commented on #371
Yes, the data in named volumes is stored in the Docker.qcow2 at present (it is possible to store it on the Mac but this is not the default, and has slower performance). You should back them up by copying via a container before changing the qcow if you have important data there.

[2016-09-30 14:43] xicubed commented on #720
I installed everything on a fresh computer and everything worked. So maybe something with a previous install or my non-standard user profile location...

[2016-09-30 14:49] torstenlehmann commented on #371
Thanks @justincormack for the fast response.

I'm using named volumes because the performance of host volumes on macOS was too bad. So now I have everything in named volumes running fast and watching Docker.qcow2 to grow.

Docker Beta hurts on two fundamentally important aspects here like @geerlingguy said beeing at a stage where it does not make its job silently. At the moment it's like a little

[2016-09-30 14:58] xicubed commented on #720
One thing in comparing the two installs, on the working machine i have docker, docker-compose and docker-machine in /usr/local/bin. On the malfunctioning device I only have docker in /usr/local/bin.

[2016-09-30 15:01] wadjeroudi commented on #77
FYI, we stopped using unison or rsync. We decided to switch the mac on virtualbox with https://github.com/adlogix/docker-machine-nfs
No more performance problem.

[2016-09-30 15:03] jordscream commented on #77
@wadjeroudi 👍 ! this is the only alternative, you're right !!

[2016-09-30 15:34] xicubed commented on #720
To fix for now for myself running...

`ln -s /Applications/Docker.app/Contents/Resources/bin/docker-compose /usr/local/bin/docker-compose`
and
`ln -s /Applications/Docker.app/Contents/Resources/bin/docker-machine /usr/local/bin/docker-machine`

[2016-09-30 15:39] xicubed commented on #720
resulting in....

[code]

[2016-09-30 16:35] dangogh commented on #721
same here with El Capitan -- cli and diagnostic upload failed -- all else passed: ```Docker for Mac: version: 1.12.2-rc1-beta27 (179c18c)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/91DCDFD1-6285-4902-8BB5-C0B023421E8D/20160930-103258.tar.gz
failure: docker ps failed: Failure("docker ps: timeout after 10.00s")
[ERROR]  docker-cli
         docker ps failed```

Moving back to stable version..

[2016-09-30 17:19] dangogh commented on #721
retracting that..   reboot and resetting docker cleared that up.  Back on beta.

[2016-09-30 18:46] nelsonenzo opened #730 "Docker 1.12.2-rc1-beta27 on OSX does not work"
### Expected behavior
docker ps to return containers running

### Actual behavior
docker ps just sits there and spins.  all commands do

### Information
appears to have started after the most recent update
Docker for Mac: version: 1.12.2-rc1-beta27 (179c18c)
OS X: version 10.10.5 (build: 14F1912)
logs: /tmp/457B79B0-21CB-4F55-B889-E73EFBC7D2D1/20160930-114235.tar.gz
failure: docker ps failed: Fail

[2016-09-30 19:25] tgorgolione commented on #720
Hello, just wanted to chime in and mention that I was having the same issue.  docker.sock, docker-machine, and docker-compose were not properly symlinked.

I'm running macOS Sierra and tried both 1.12.1 as well as the latest beta versions 1.12.2-rc1-beta26 and 1.12.2-rc1-beta27.  I don't know if this is contributing, but my user folder is on a usb drive instead of the normal users folder.

[2016-09-30 19:30] bfsrjose commented on #428
Looks like it is working, thanks!

[2016-09-30 19:30] #428 closed

[2016-09-30 21:26] oliverhr commented on #205
This happen again after shutdown computer while closing docker.

On linux you users have reported that after remove `local-kv.db` with all containers stoped the problem gets solved.

The thing is on Mac I can't find this file on linux the path is `/var/lib/docker/network/files/` but not in OsX or macOS.

[2016-10-01 00:30] szechyjs commented on #721
Having the same problem...

859B1187-7545-4158-B652-664859C22897

[2016-10-01 00:42] szechyjs commented on #730
dupe of #721

[2016-10-02 12:26] alepee opened #731 "docker fails to start after fresh install on 10.12 (hackintosh)"
### Expected behavior

Docker daemon should start

### Actual behavior

Docker fails, even after reboot and factory reset

### Information

*output from diagnostic tool*:
[code]

logs: https://cl.ly/3c0L3q3v313F

### Steps to reproduce the behavior

  1. installed docker on a fully setup hackintosh
  2. started docker for mac

[2016-10-02 14:10] justincormack commented on #731
Sorry, this is not a supported environment.

[2016-10-02 14:10] #731 closed

[2016-10-02 14:29] mwarren2 commented on #82
Two days ago I switched from the beta to Docker for Mac 1.12, and got this same problem, which occurs on every build.
The beta was fine as far as CPU was concerned.

[2016-10-02 17:19] toshi-a opened #732 "Docker 1.12.2-rc1-beta27 on macOS Sierra does not work"
### Expected behavior

  docker will be executed correctly
### Actual behavior

  docker does not start.
  first item in the menu bar icon will still be displayed as "Docker starting ...".
### Information
- Full output of the diagnostics from "Diagnose & Feedback" in the menu

Docker for Mac: version: 1.12.2-rc1-beta27 (179c18c)
OS X: version 10.12 (build: 16A323)
logs: /tmp/D38EB34F-107C-4183-926

[2016-10-02 23:03] tomyedwab commented on #721
Same here I believe: 5C11704E-3D1F-4226-AC18-54BF71D4795C
Factory reset did help for a few minutes but then it wedged itself again.

[2016-10-03 08:56] christtrc opened #733 "Error when trying to run Mesosphere Universe"
### Expected behavior

Docker start container correctly.
### Actual behavior

I build dcos universe under my mac os. I clone the repo from https://github.com/mesosphere/universe and build step by step following the instructions from the doc. When execute `sudo make local-universe`, I get this error:

[code]

Here is the diagnostic info with ID: AEAB95A6-D4F9-4640-81E8-3901BB0800BE

[code]

[2016-10-03 11:00] arnobeck commented on #721
I've got the same problem since beta27 : 4B613D51-A22A-4618-B62D-D7ED714B7729
Uninstall, factory reset, reboot, nothing fix this.

[2016-10-03 11:15] Krzysiaczek-at-theFoundry commented on #670
Reseting the Docker is the solution I was looking for, I just wasn't aware it exists - hidden in the preferences.
Thanks for help.

[2016-10-03 11:24] argent-smith commented on #668
Tried this workaround: it didn’t help :(

[2016-10-03 11:30] argent-smith commented on #668
Can we somehow use NFS mounts in this docker «machine»?

2016-09-29 23:24 GMT+03:00 Ming Pan <notifications@github.com>:

--
Yours truly, Pavel.

[2016-10-03 11:44] argent-smith commented on #446
I’ve just tried it. Yes, it’s dead slow.

[2016-10-03 14:14] cirocosta commented on #388
not using concourse here, but adding another reason to the discussion, `aufs` does not support disk size quota, right? (as of https://github.com/docker/docker/blob/7e29b33546098816d5dbc1fc429e868f02b69e44/docs/reference/commandline/run.md#set-storage-driver-options-per-container) - brtfs does.

[2016-10-03 14:21] djs55 commented on #668
@argent-smith could you describe what you tried (was it the same repro as described on this issue) and upload diagnostics via "Whale menu" -> "Diagnose & Feedback" -> "Diagnose & Upload" and quote the ID?

[2016-10-03 15:07] tpjg opened #734 "Docker for Mac continuously "starting""
### Expected behavior

Docker starts.

### Actual behavior

The icon says "Docker starting ...", never finishes.

### Information

Docker for Mac: version: 1.12.2-rc1-beta27 (179c18c)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/C7A8E0C7-8BB5-411B-A34E-A1687F6FF943/20161003-170334.tar.gz
failure: docker ps failed: Failure("docker ps: timeout after 10.00s")
[ERROR]  docker-cli
         docker

[2016-10-03 15:22] tpjg commented on #734
I have removed everything under ~/Library/Container/com.docker.com, as well as /var/run/docker.sock and re-installed. Now working fine.

[2016-10-03 15:22] #734 closed

[2016-10-03 16:08] ddffx commented on #734
FWIW It started behaving badly (v 1.12.1) this  morning with the exact diagnostic info above. I had to uninstall using preferences > **uninstall/reset**, and then reinstall. Working ok now.

[2016-10-03 17:38] robertomoutinho opened #735 "Diagnostic ID: 18A381B3-3908-4D3E-8EEC-5738C079E2F4 (Mac OS X)"
### Expected behavior
### Actual behavior
### Information
- Full output of the diagnostics from "Diagnose & Feedback" in the menu
- A reproducible case if this is a bug, Dockerfiles FTW
- Page URL if this is a docs issue or the name of a man page
### Steps to reproduce the behavior
1. ...
2. ...

[2016-10-03 18:53] bytesandwich opened #736 "How can I do port forwarding?"
### Expected behavior

I'm forwarding localhost:5000 on my mac from a container running in my kubernetes cluster. I want to push to localhost:5000, after configuring port forwarding on the docker for mac vm, and be able to pull from my k8s cluster.
### Actual behavior

I have no way to get the docker for mac vm to forward my mac's port 5000 to the vm's localhost:5000 ?
### Steps to reproduce the b

[2016-10-03 19:36] beaugunderson opened #737 "How to expose a port on the host to a container?"
I'd like to expose a port on my OS X host to a running container. This is necessary in my workflow because I'm using Aptible; the only way to access my private Aptible database is via the `aptible db:tunnel` command which creates an SSH tunnel and exposes the database via a port on my host. I'd like to access this host port from within a running container.

I've tried `network_mode: host` to no av

[2016-10-03 20:29] beaugunderson commented on #737
Here's an example of what I'm attempting to do:

![screenshot](https://i.imgur.com/0cpdG5k.png)

[2016-10-04 02:01] andreychernih commented on #727
I can confirm network performance degraded significantly in beta 27.

[2016-10-04 06:59] bladechen commented on #721
D6DD2885-3E92-431E-A025-98D622F8EC1F

[2016-10-04 08:06] martintrojer commented on #727
One more datapoint from me. Unbearably slow in 1.12.1

[2016-10-04 11:05] bschalme commented on #119
Neither `sudo pkill docker` nor clicking `reset to factory defaults` worked for me. After trying both, Docker 1.12.2-rc1-beta27 still remains in starting mode on my MacBook Pro, it never finishes starting.

[2016-10-04 13:29] jemattson commented on #311
Same issue, any updates from Docker on this?

[2016-10-04 15:31] mitchless opened #738 "Docker crashes after a period of use"
### Expected behavior
When running services through Docker Compose, Docker will continue to run without raising "HTTP code 500".

### Actual behavior
After an indeterminate amount of time Docker fails with "HTTP code 500" from all containers

### Information

Diagnostic ID: F300968F-A4E1-4CB4-8515-171C650A12BE

Docker for Mac: version: 1.12.2-rc1-beta27 (179c18c)
OS X: version 10.11.6 (build: 15G3

[2016-10-04 17:13] synic commented on #90
@dave-tucker: This happened again in Version 1.12.2-rc1-beta27 .  The permissions were wrong again.

I don't know if I'm reporting the bug correctly, because you've stated that it's been fixed several times (once here, several times on the docker forums), but it has never changed.

After installing docker, permissions of `/Library/LaunchDaemons/com.docker.vmnetd.plist` are too permissive.  Docker

[2016-10-04 18:23] lagofvc commented on #721
Joining the thread. Experiencing the same issue : F8720F0F-9EE9-40C9-95D8-6AF2DF876E3A
Mac OSX 10.11

[2016-10-04 19:09] shogsbro commented on #721
+1. Issue resolved by docker Reset and Restart.

[2016-10-04 19:21] lagofvc commented on #721
Thanx @shogsbro !  That did it for me too!

[2016-10-04 22:31] xandris opened #739 "New install on OSX 10.12 Sierra doesn't start"
### Expected behavior

Fresh install of Docker for Mac Beta (1.12.2-rc1-beta27) starts up VM and docker daemon responds to commands.

Docker for Mac Stable (1.12.1) starts up successfully.

I need the beta version for its increased vsock stability.
### Actual behavior

Docker starts and stops VM in a loop.
### Information
#### The output from "Diagnose & Feedback"

[code]
#### Interesting log exce

[2016-10-04 23:18] willejs commented on #388
@dsheets Its hazy. Basically, when you run a concourse worker in docker, it runs tasks in docker containers in the worker, so it does docker in docker. When it does this, it creates btrfs filesystems inside the docker container, I think it mounts them to the task containers, not sure. Anyway, if not it falls back to VFS and creates a tmpfs filesystem which is slow.

Anyway, that aside, why wouldn'

[2016-10-05 01:53] marwan1234 opened #740 "Docker for mac"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-10-05 05:24] sunarun commented on #668
I'm facing this problem while creating DB2 image on RHEL Server release 7.2 (Maipo) and docker version 1.12.1. If there is a fix for it, please share it with me.

[docker info.txt](https://github.com/docker/for-mac/files/510080/docker.info.txt)

[2016-10-05 05:24] thehappycoder commented on #668
Will downgrading to 1.12.0 work?

[2016-10-05 06:10] klausbadelt commented on #668
Fix by @djs55 worked for me on several devboxes.

[2016-10-05 06:33] sabelo-iris opened #741 "Docker timing out on start"
### Expected behavior
Applications Folder -> Click "Docker" whale icon to start -> Docker Starts
### Actual behavior
Applications Folder -> Click "Docker" whale icon to start -> Docker hangs
### Information
Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.10.5 (build: 14F27)
logs: /tmp/9D051E18-256B-4BF2-B16A-0585F26736EB/20161004-233105.tar.gz
failure: docker ps failed: Failure("docker

[2016-10-05 08:33] pengyaomail opened #742 "always show starting"
### Expected behavior
### Actual behavior
### Information

Diagnostic ID: 90727529-2743-4406-8C89-0B64F2A8B3A2
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.11.6 (Build 15G31)
[ERROR]  docker-cli
         docker ps failed
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-consol

[2016-10-05 09:21] bric3 opened #743 "install man pages"
Docker is super nice, but when not connected to internet it would be nice to have documentation in the standard manual pages e.g. `man`

[code]

[2016-10-05 14:26] AlessandroEmm opened #744 "IPSec Kernel Drivers"
### Expected behavior
-o encrypted when creating networks should work on docker for mac.

### Actual behavior
It's complaining about missing kernel syscalls which are in fact missing ipsec modules

### Information
Theres not much to add to this. Latest version of docker for mac (12.1-beta26.1 (build: 12100))

Solution should be adding those modules to the VM.

### Steps to reproduce the behaviour

[2016-10-05 14:30] JamesChevalier commented on #371
Yeah @jeff-lau - there's an upper limit to this file as well, as you're noticing.

I've got a StackOverflow question open about this problem here:
http://stackoverflow.com/questions/39402363/how-do-you-get-around-the-size-limitation-of-docker-qcow2-in-the-docker-for-mac

I've hit this limit with a very large postgres database I was trying to store in a volume. I was importing the data from a .sql

[2016-10-05 15:16] TheBigBear commented on #721
184CF0F1-B1EE-4A98-8F6B-196016BE5A3E same worked fine until now but after this update to Docker for Mac: version: 1.12.2-rc1-beta27 (179c18c) the icon stays animated and I can't start or connect to any container

[2016-10-05 15:29] TheBigBear commented on #721
will using the reset to factory settings loose all my downloaded (pull) containers?

[2016-10-05 15:36] ingshtrom opened #745 "Docker service ls reporting wrong number of running services."
### Expected behavior

I would expect all services to have tasks running, but actually running.
### Actual behavior

`docker service ls` shows a list of all of my services running, but `docker ps` shows nothing.
### Information
- Full output of the diagnostics from "Diagnose & Feedback" in the menu
  Diagnostic ID: 83AE2F2E-BEB1-49FE-94F1-BBB4D38392C0
- A reproducible case if this is a bug, Docker

[2016-10-05 15:36] lagofvc commented on #721
yes.  any images you want to keep you could push up to your dockerhub account

[2016-10-05 15:54] TheBigBear commented on #721
@lagofvc but isn't this a catch 22 situation? I can't use or connect to docker at all to do ANYTHING, right now, including pushing an image up to my dockerhub account?
Is there any way to get a nem of the images, whilst docker ps doesn't work? Maybe somehow peek inside the docker qcow2 file and get a list of installed/cached images?

[2016-10-05 15:56] lagofvc commented on #721
hmmm great question man!   I went through this last night and luckily on my other laptop i had no issues and it had the images i cared about.  But i see your dilemma.  I will let more experienced folks answer that for you.

[2016-10-05 16:10] oliverhr commented on #205
I already tried by stopping all the containers, even removing all of them. The reset is a desperate measure but is the only thing that kinda works, as I say before by far is not the best but  It is what it is at the moment.

[2016-10-05 17:24] petrklus commented on #18
I believe I may be seeing the same as well: https://dl.dropboxusercontent.com/u/7395199/dockerlogs.zip

The error I am seeing in the webserver log is the following:

    OSError: [Errno 107] Transport endpoint is not connected: 'filename_varies_here.py'

[2016-10-05 17:56] roelvanhintum commented on #205
@oliverhr In my case stopping containers was not sufficient. Cleaning up the remaining networks and after that stopping and starting docker fixed it. The containers are fine, it's just the lingering networks that keep blocking the ports.

[2016-10-05 18:21] chalothegreat opened #746 "Not able to start docker"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-10-05 19:28] masonjm opened #747 "Unix sock path limits"
### Expected behavior

Docker should start
### Actual behavior

Docker doesn't start
### Information

[code]
### Steps to reproduce the behavior
1. Install Docker.app
2. Launch Docker
3. Cry a little

[2016-10-05 19:28] sabzo commented on #701
@hmemcpy How did you reset to factory defaults?

[2016-10-05 19:30] hmemcpy commented on #701
@sabzo from the Settings (in the Docker icon in Mac menu), click on Uninstall / Reset

[2016-10-05 19:31] sabelo-iris commented on #741
Resetting to Factory Defaults solves the problem.

[2016-10-05 19:31] #741 closed

[2016-10-05 19:31] sabelo-iris commented on #747
Had same issue: https://github.com/docker/for-mac/issues/741  Resetting factory defaults on Docker solves the problem!

[2016-10-05 19:32] sabzo commented on #701
@hmemcpy worked for me! thnx

[2016-10-05 19:32] #701 closed

[2016-10-05 19:34] sabelo-iris commented on #747
Careful however because all your images and containers will be destroyed.

[2016-10-05 21:09] angelinachen opened #748 "Docker can not get started"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-10-05 21:57] jkimau commented on #677
having the same issue

[2016-10-06 03:28] tadayosi commented on #727
I had a similar issue with incoming ssh connections to a guest OS. It was resolved by changing the DNS configuration on the host Mac OS (explicitly setting `8.8.8.8` at the top).

Mac OS: 10.11.6, Docker: 1.12.1

[2016-10-06 04:00] thehappycoder commented on #668
Importing 3.3 GB sql file to mysql is now much faster with the custom workaround on docker beta.

But the webapp running in docker is still slower than on Linux boxes of my colleagues. Maybe I should try docker-machine and see the difference.

[2016-10-06 05:08] ferrufino opened #749 "Unable to Make Docker App Run - Stuck on Starting"
### Things tried:
I've installed and uninstalled the app. Also restarting my macbook.

I've tried kitematic and docker toolbox instead of the app and didn't work. Made sure docker app is all uninstalled. Tried it again vice-versa.

Googled similar errors didn't work.
### Output Diagnose

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/119B02C6-8AF4-42A3-

[2016-10-06 05:47] clintberry commented on #749
I had same issue. Click on docker icon -> preferences -> reset -> factory defaults
Then it restarts and works... :-)

[2016-10-06 05:53] Briones commented on #77
@wadjeroudi the https://github.com/adlogix/docker-machine-nfs alternative works with Docker for Mac or is only for the older docker version?

It's incredible that the performance issue is from months now and they can't fix it yet...

[2016-10-06 05:54] Caracal-IT opened #750 "Error Updating"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: AB6EF2C9-C7FB-4337-8144-89E7E64758C1
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[ERROR]  disk
         disk check failed with: Failure("exec: /Applications/Docker.app/Contents/Resources/bin/../../../Contents/MacOS/qemu-img check /Users/et

[2016-10-06 06:46] ctammes commented on #205
Similar problem here. Container using port 3000/3001 cannot be started: "Bind for 0.0.0.0:3001 failed: port is already allocated". When I remove port 3001, I get the same message for port 3000.
Happened this morning, no problems the days before, no system updates in between.
Stopped/removed container, restarted docker daemon ("sudo service docker restart"), but no result.

Netstat shows this:
tcp6

[2016-10-06 06:51] roelvanhintum commented on #205
@ctammes Did you try disconnecting or removing networks with `docker network`?

[2016-10-06 07:04] ctammes commented on #205
docker network disconnect <network> <container>: no result.
Suggestion from #25981 that kills process using the port: no result.

[2016-10-06 07:11] roelvanhintum commented on #205
I checked it again, here is what i did to solve it:
- remove the network listed in `docker network ls`
- stop docker to release the port (after this the port should be unused on your mac)
- start docker (the port should not be in use before starting any containers)

[2016-10-06 07:35] nkobber opened #751 "Notifies "Docker has been updated!" every time i run the application"
### Expected behavior
Only notify once that the application has been updated

### Actual behavior
Every time i open Docker for Mac it notifies:
Docker has been updated!
New version is 1.12.2-rc1-beta27

### Information
Docker for Mac: version: 1.12.2-rc1-beta27 (179c18c)
OS X: version 10.12 (build: 16A323)
logs: /tmp/72A5CDAA-C8B9-4718-BBEF-49B1E9C18EBD/20161006-093310.tar.gz
[OK]     docker-cli
[

[2016-10-06 08:01] ctammes commented on #205
@roelvanhintum Follwed your suggestions, but no result.

Tried to recreate image/container, but that lead to another error:
Error response from daemon: oci runtime error: process_linux.go:334: running prestart hook 0 caused "exit status 1: time=\"2016-10-06T09:47:15+02:00\" level=fatal msg=\"no sandbox present for 5b31e0edc7d82e0f91c9dd61d0f593337cf81bed293fd83ccc7b20f0a0062a23\" \n"
Error: failed

[2016-10-06 10:44] yallop commented on #746
There's not enough detail here. Could you please open a fresh report with at least the diagnostic id and a description of the problem?

[2016-10-06 10:44] #746 closed

[2016-10-06 10:46] yallop commented on #748
There's not enough detail here. Could you please open a fresh report with at least the diagnostic id and a description of the problem?

[2016-10-06 10:46] #748 closed

[2016-10-06 11:31] o5 commented on #77
@Briones look at [README](https://github.com/adlogix/docker-machine-nfs/blob/master/README.md).

[2016-10-06 12:08] seffenberg-naspers opened #752 "can't set sysctl parameters"
see #231 for more details. In general setting sysctl parameters should be possible via the interface or following a documented path.

In my case I need fs.inotify.max_user_watches to be _much_ bigger than the 8192

see also:
https://forums.docker.com/t/docker-for-mac-how-to-set-host-settings-sysctl-etc/11168

[2016-10-06 12:18] justincormack commented on #752
The default is 524288:

[code]

[2016-10-06 12:23] seffenberg-naspers commented on #752
so it must have been wrong in an older version

[2016-10-06 12:23] #752 closed

[2016-10-06 12:34] wadjeroudi commented on #77
it works with "both". You just don't use the docker-engine anymore, only a vm created with docker-machine and use docker as a client.

[2016-10-06 13:19] imavroukakis opened #753 "Volume names are not shown"
### Expected behavior
When create a docker volume with --name I expect the name to appear when doing `docker volume ls`
### Actual behavior
`docker volume ls` shows the hash of the volume, not the name
### Information
[code]
### Steps to reproduce the behavior
`docker create -v /some_dir --name foo_bar ubuntu /bin/true`
`docker volume ls`

Output
[code]

[2016-10-06 13:28] yallop commented on #753
Are you running `docker create` or `docker volume create`?

[code]

[2016-10-06 13:30] yallop commented on #740
There's not enough detail here. Could you please open a fresh report with at least the diagnostic id and a description of the problem?

[2016-10-06 13:30] #740 closed

[2016-10-06 13:34] yallop commented on #743
Thanks for the suggestion.  We plan to include and install the man pages in a future release.

[2016-10-06 13:37] bric3 commented on #743
You're welcome, that's small suggestion ;)
Thanks again for the work on docker*

[2016-10-06 13:38] nkobber commented on #751
Reset to factory defaults fixes the issue

[2016-10-06 14:01] laugimethods opened #754 "Ghost Services after Hard Reboot on a Mac"
### Expected behavior

[code]
### Actual behavior

[code]
### Information

Diagnosis ID: 783964D6-AD3B-4823-8219-C4CD33842231

[code]
### Steps to reproduce the behavior

[code]

Then Hard Reboot Mac OS X...

[2016-10-06 14:08] imavroukakis commented on #753
`docker create`. Am I making a noobish mistake?

[2016-10-06 14:13] laugimethods commented on #754
Swarm is also affected:
[code]

[2016-10-06 14:16] yallop commented on #753
`docker create` is for creating containers.  It sounds like you want [`docker volume create`](https://docs.docker.com/engine/reference/commandline/volume_create/).

[2016-10-06 14:20] imavroukakis commented on #753
noobish mistake it is, my apologies.

[2016-10-06 14:20] #753 closed

[2016-10-06 14:34] ferrufino commented on #749
Thanks @clintberry ! That Solved it :)

[2016-10-06 14:35] #749 closed

[2016-10-06 14:45] yallop commented on #750
Thank you for the report.  This appears to be a harmless error: `qemu-img check` is reporting a leaked cluster, but no data corruption.  I'm going to close this, but if you see additional symptoms that suggest there might be a more serious problem, please open a new report with the details.

[2016-10-06 14:45] #750 closed

[2016-10-06 15:07] jdaniel-GIS commented on #169
This is closed? Does this mean that I need to file a new issue because the daily message now says that "Docker has been updated! New version is 1.12.1"?

[2016-10-06 15:57] doniatc opened #755 "docker macos Sierra still starting mode"
### Expected behavior
Docker is running

### Actual behavior
Docker is starting... with an animation in menubar

### Information
Diagnostic ID : 859CB917-85CB-4096-A407-2900486955AA

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.12 (build: 16A323)
logs: /tmp/859CB917-85CB-4096-A407-2900486955AA/20161006-174513.tar.gz
failure: com.docker.driver.amd64-linux -db is not running
[ERROR]  d

[2016-10-06 20:16] schmunk42 opened #756 "DNS settings are not updated on restart (only factory reset)"
### Expected behavior

Working build
### Actual behavior

Build hangs when accessing server from office network
### Information
- Full output of the diagnostics from "Diagnose & Feedback" in the menu

[code]
### Steps to reproduce the behavior
1. At home (public DNS) do a factory reset
2. Go the the office (custom DNS server) and run `docker build`
#### wild_guess

Accessing a server in the same s

[2016-10-06 20:29] schmunk42 opened #757 "Unable to get/create a Diagnostic ID"
### Expected behavior

See a Diagnostic ID
### Actual behavior

I don't see a Diagnostic ID
### Information

[code]

<img width="832" alt="bildschirmfoto 2016-10-06 um 22 24 32" src="https://cloud.githubusercontent.com/assets/649031/19169234/bf3be092-8c13-11e6-819a-ca826c1919f8.png">
### Steps to reproduce the behavior
1. Open Diagnose & Feedback

FYI: I did a complete reinstall before writing thi

[2016-10-06 22:41] gpherguson commented on #755
I'm seeing a similar problem with Mac OS El Capitan:

Diagnostic ID : 403AF4D3-6EC5-4A57-B551-21551F2EB9A3

    Docker for Mac: version: 1.12.2-rc1-beta27 (179c18c)
    OS X: version 10.11.6 (build: 15G1004)
    logs: /tmp/403AF4D3-6EC5-4A57-B551-21551F2EB9A3/20161006-153852.tar.gz
    failure: docker ps failed: Failure("docker ps: timeout after 10.00s")
    [ERROR]  docker-cli
             docker

[2016-10-06 23:22] dbainbri-ciena opened #758 "ping any address working"
### Expected behavior
ping would fail

### Actual behavior
ping succeeded

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
767CDAAD-7BF7-4FA6-BC3F-E170518B33FC, but dialog said it couldn't upload

### Steps to reproduce the behavior

  1. docker run -ti alpine ash
  2. ping 1.1.1.1 # assume 1.1.1.1 isn't valid in your network

[2016-10-07 00:35] john2x commented on #621
Just to be clear, the `daemon.json` file should contain `{"max-concurrent-uploads": 2}` (and not {"labels": ["max-concurrent-uploads=2"]}`)

[2016-10-07 02:25] crmejia opened #759 "Issues setting up development container"
### Expected behavior

I'm trying to complete the development guide: https://docs.docker.com/opensource/project/set-up-dev-env/#/task-2-start-a-development-container
### Actual behavior

I've found two issues so far:

First, when following Task 2.4(Use make to build a development environment image and run it in a container.) the make would fail when running Step 6 : RUN apt-get update && apt-get i

[2016-10-07 08:20] bobbypriambodo commented on #737
The IP you are using is the IP of the Docker container (`elastalert`). You need to get the IP of your host by running `ifconfig` on the OSX host, and use that IP instead from the container. Basically what you're doing is you are `telnet`-ing the docker container, which is not listening on port 8000.

[2016-10-07 08:53] JamesKyburz commented on #725
Getting this too.

`Docker version 1.12.2-rc1, build 45bed2c, experimental`

I get it sometimes only when performing cpu high operations with locally mounted volumes.
Hard to pinpoint the error and provide a scenario on exactly how the error can be reproduced.

When I don't mount the volumes I have yet to see the error.

[2016-10-07 09:01] yallop commented on #758
Thank you for the report.  I believe this is a duplicate of #57.

[2016-10-07 09:01] #758 closed

[2016-10-07 10:01] 5HT opened #760 "86E988E6-CA16-4D6C-A46D-4EEF28F7350F"
Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/86E988E6-CA16-4D6C-A46D-4EEF28F7350F/20161007-125754.tar.gz
failure: Docker.qcow2 missing: the VM has never been started
[ERROR]  docker-cli
         /var/run/docker.sock does not exist
         Unexpected error (No such file or directory) connecting to /var/run/docker.sock
         /Users/5HT/Library/Conta

[2016-10-07 11:01] Habbie commented on #755
OS X 10.10.5:

[code]

[2016-10-07 11:58] schmunk42 commented on #17
Related https://github.com/docker/for-mac/issues/693

Very annoying bug, which also existed in `docker-machine` AFAIR.
This causes i.e. errors with AWS credential validation.

[2016-10-07 13:21] lfv89 commented on #77
I know that the docker team already recognize this issue since they put it in the "Known Issues" list.

What I still don't know though is wether they are already working on this bug or they think that an official fix for it is not a priority right now. Does anybody know anything about it?

[2016-10-07 15:19] blahster opened #761 "No response from docker"
### Expected behavior
`docker ps` should respond as should any other `docker` command.
Also, Kitematic (Beta) is stuck at 99% "Checking Docker" :)
### Actual behavior
No response
### Information
Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G31)
logs: /tmp/D6F8A6B4-F741-4E12-B236-896068E0DB81/20161007-204450.tar.gz
failure: docker ps failed: Failure("docker ps: timeout

[2016-10-07 16:13] michaelretrace opened #762 "Docker won't start."
### Expected behavior

### Actual behavior

### Information

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G31)
logs: /tmp/FF5023DC-4F55-4FC1-BF7A-22D947B06894/20161007-105049.tar.gz
failure: docker ps failed: Failure("docker ps: timeout after 10.00s")
[ERROR]  docker-cli
         docker ps failed
[OK]     virtualization kern.hv_support
[OK]     menubar
[OK]     moby-sy

[2016-10-07 16:53] scnypl opened #763 "Cannot run docker command on the latest Mac OS"
### Expected behavior
docker info: get the correct response

### Actual behavior
$ docker info
Error response from daemon: Bad response from Docker engine

### Information
Diagnostic ID: 518FA72C-1E41-4AF5-BE41-AEE788EB17D6

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.12 (build: 16A323)
logs: /tmp/518FA72C-1E41-4AF5-BE41-AEE788EB17D6/20161008-004805.tar.gz
failure: docker ps failed:

[2016-10-07 16:53] blahster commented on #762
Looks like a duplicate of #761

[2016-10-07 16:59] scnypl commented on #763
[20161008-004805.tar.gz](https://github.com/docker/for-mac/files/516685/20161008-004805.tar.gz)

This is the diagnostic log.

[2016-10-07 17:29] sbergsten opened #764 "Docker fails to start."
### Expected behavior
Docker starts and then runs.

### Actual behavior
Docker attempts to start indefinitely.  It seems to be hung with the "Docker starting..." in the drop down.  The first time I started it, it ran.  After shutting down and restarting it is hung.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

Docker for Mac: version: 1.12.1 (2d5b4d9)

[2016-10-07 18:13] Briones commented on #77
@lfv89 Yep, they are supposedly working in that, according to this message in the Docker Forum:
https://forums.docker.com/t/file-access-in-mounted-volumes-extremely-slow-cpu-bound/8076/158
But although this is a priority, it does not seem to be one... I'm actually using the old docker version, not Docker for Mac and using Dinghy with it in order to accelerate the performance but is slow even in th

[2016-10-07 18:59] collin opened #765 "Docker crashes when contained app serves many large http requests"
### Expected behavior

Docker will not crash when serving many large http requests.

### Actual behavior

We have a django app in docker that serves many http requests. In local development docker will crash. Sometimes it takes many refresh cycles to trigger this crash, sometimes it happens very quickly. We can also exacerbate the issue by increasing the size of http responses.

Later in this issu

[2016-10-07 19:01] collin commented on #765
From the README of the linked repository:

# This repository will consistently crash docker for mac

[code]

Open your web browser and visit http://localhost:9090/

Docker should crash.

# Why does it crash?

I believe it has to do with requesting many large files and breaking some of the
socket code here: https://github.com/docker/hyperkit/blob/ab368eb453dab1a03a3e8463388d7f3f1841ec42/src/pci_vir

[2016-10-07 20:17] #762 closed

[2016-10-07 22:06] genei09 commented on #681
the afore mentioned "fix" later rendered Docker for Mac completely unusable for him.

[2016-10-07 22:29] lev4ik opened #766 "Docker Beta doesn't start"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-10-08 00:21] axeralater opened #767 "docker error"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-10-08 06:42] rsaftoiu opened #768 "Docker hangs after several hours of inactivity"
### Expected behavior

Docker continues to work even after long periods of inactivity.

### Actual behavior

After about 5 hours of stopping usage of my Mac,  I went back to it and docker seems to be stuck. All commands are timing out, even shells I left open in running containers.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

Docker for Mac: version:

[2016-10-08 11:19] hoeghh opened #769 "Audio support"
Want to be able to get remote audio from Linux.

Discussing with @justincormack at Docker Summit.

If we include the alsa snd-aloop driver it should be possible to use this for network audio access.

[2016-10-08 11:20] justincormack commented on #769
Roughly along lines of http://ywwg.com/wordpress/?p=1201

Need to enable audio in Linux VM.

[2016-10-08 12:06] genei09 commented on #681
I installed the latest beta (1.12.2 rc1 beta 27)
and applied the fix in https://github.com/docker/for-mac/issues/668

running my script, modify events are not being picked up from outside the container.  from inside the container modified files are detected as expected

[2016-10-08 12:27] felixge commented on #668
I'd like to also confirm that the workaround above. Before applying the workaround, I saw ~70 TPS on `pgbench -i && pgbench -c 10 -T 5` vs ~2000 TPS when running postgres 9.6 natively. After applying the workaround, I'm seeing ~1500 TPS in docker now. More importantly, my application's test suite is no longer 10x slower in docker vs native.

Hopefully it will be possible to get similar fsync perfo

[2016-10-08 12:49] bobbypriambodo commented on #668
Workaround works for me too. However, I still don't find it clear why the original behavior (`full-sync-on-flush = true`) is persisted. What are the use-cases in which we want to have it enabled? @djs55

[2016-10-08 14:43] genei09 commented on #681
after installing 1.12.0 10871
modify events were still not being passed into the container
I quit docker and noticed that com.docker.vmnetd process was still running
I killed that process and started docker
modify events were being picked up by inotify as evidenced by the shell script referenced above, and 1 event was caught by webpack, but all events after were not.  These were all simple modific

[2016-10-08 15:22] BillLucky commented on #488
I also encountered the same problem, download using (Download: https://download.docker.com/mac/beta/Docker.dmg) this version of the mirror after it covers the local old version of the software, and then be able to skip Error warning You can open the program settings page. Click uninstall to re-install just fine, and MacOS Sierra should be a relationship, my system version is: 10.12.

Hope to help,

[2016-10-08 16:02] welladamm opened #770 "Docker for Mac doesn't listen on 2375"
### Expected behavior

Docker for Mac should listen on 2375, providing an HTTP API server.

### Actual behavior

    ± telnet 127.0.0.1 2375
    Trying 127.0.0.1...
    telnet: connect to address 127.0.0.1: Connection refused
    telnet: Unable to connect to remote host

### Information

    ± /Applications/Docker.app/Contents/Resources/bin/docker-diagnose -u
    OS X: version 10.12.1 (build: 16B2

[2016-10-08 17:19] beaugunderson commented on #737
Ah, way simpler than I thought; sadly it's not documented anywhere!

Telnetting to the address shown for `en0` on the host worked.

[2016-10-08 17:19] #737 closed

[2016-10-08 17:20] wiebe-ruiter opened #771 "Docker not starting with Library/Containers/com.docker.docker/Data being a symlink"
### Expected behavior

Put the Data directory on a USB hard drive.
do 'ln -s /Volumes/<drivename>/<path>/Data /Users/<username>/Library/Containers/com.docker.docker/Data'

Start the Docker application. Docker starts and finds the images stored on the external drive.
Docker should follow symlinks, even on a USB drive.

### Actual behavior

Start the Docker application. Docker crashes.

### Informat

[2016-10-08 17:39] genei09 commented on #681
after installing 1.12.1 (12133) with the same container, I'm not detecting the modify events with the script or webpack just as I saw with 1.12.2

[2016-10-08 21:05] genei09 commented on #681
after completely rebooting my mac I'm able to get modify events from outside the container to be detected with 1.12.1 (12133).  No amount of restarting docker / killing the processes worked.

[2016-10-09 02:34] Diluka opened #772 "crash at 1st run"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: DD18080C-77CE-4235-A276-14C957B3F8F4
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12 (Build 16A323)
[ERROR]  docker-cli
         cannot find docker
         docker-cli check failed with: Failure("docker -v: timeout after 10.00s")
[OK]     app
[OK]     moby-syslog
[ERROR]  disk
         disk check failed with: Fai

[2016-10-09 07:49] blahster commented on #761
Looking for help... problem continues..

[2016-10-09 15:37] ctammes commented on #205
Got the same problem again. All containers removed, stop docker engine:  no ports in use, start docker engine without any containers present: ports are in use according to 'netstat -an'.

Loosing my confidence in docker ...

[2016-10-09 19:43] jandubois opened #773 "Disconnected volume doesn't reappear on reconnect"
### Expected behavior

I have a volume from the NAS mounted on the Mac as `/Volumes/NAS`. It is bound into a container via `docker run -v /Volumes/NAS:/mnt/nas` and works as expected. When the volume is ejected, e.g. to restart the NAS, accessing `/mnt/nas` throws an error `cannot access /mnt/nas: No such file or directory`. This is also expected.

When the `/Volumes/NAS` on the host is recreated,

[2016-10-09 19:51] jandubois commented on #773
Sorry, didn't find https://docs.docker.com/docker-for-mac/osxfs/#mounts until after filing this.  I guess the behavior is covered by

[2016-10-10 01:23] giovannicandido opened #774 "Crash on sierra"
### Expected behavior
Docker for mac starts
### Actual behavior
Crash
### Information

Maybe because I upgrade to Macosx Sierra, I'm not sure because of lack of timing in the assumption.

Reset to factory settings not work. I will try the beta, if works I will close the issue or create a comment

Diagnose:

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.12 (build: 16A323)
logs: /tmp/86

[2016-10-10 02:06] giovannicandido commented on #774
Same error on Version 1.12.2-rc1-beta27

[2016-10-10 02:08] BrendanThompson commented on #774
Getting similar error, except mine just won't start!

[2016-10-10 07:13] flynniec6 commented on #51
Current have this problem with Version 1.12.2-rc1-beta27 (build: 12496)
179c18cae7. Did not have it on any prior version, and have been installing betas continually.

[2016-10-10 07:50] samoht commented on #774
@giovannicandido could you please try to upload a new diagnostic report, as the first one that you tried to send didn't go through (`Could not upload diagnostic data to remote server`) ? We are testing Sierra internally (and we are using it everyday) so this should normally not be a problem on Beta27 or 1.12.1 stable.

[2016-10-10 08:29] samoht commented on #770
For security reasons, we choose to not expose that port directly. However, as described in our [FAQ](https://docs.docker.com/docker-for-mac/troubleshoot/#/known-issues) you can run a `socat` container to redirect the Docker API exposed on the unix domain socket in Linux to the port of your choice on your OSX host:

[code]

and then:
[code]

I am closing this issue now, but please let us know if yo

[2016-10-10 08:29] #770 closed

[2016-10-10 08:36] welladamm commented on #770
@samoht This work-around will do. Thanks a lot, Thomas.

[2016-10-10 08:37] samoht commented on #771
Hi, thanks for the report. We are currently improving the management of the hypervisor storage (the qcow2 file) by allowing it to be defined in an alternate  location. Will it help your use-case or do you really need to move all the files in that directory?

[2016-10-10 08:39] wiebe-ruiter commented on #771
Moving the qcow2 file is perferctly fine; I discovered this workaround
after logging the issue and it solved my problem.

On 10/10/16 05:37, Thomas Gazagnaire wrote:

[2016-10-10 08:45] dsheets commented on #757
What happens if you run `/Applications/Docker.app/Contents/Resources/bin/docker-diagnose`?

[2016-10-10 08:46] samoht commented on #766
Can you please provide more information? e.g. by followings the steps described in https://docs.docker.com/docker-for-mac/troubleshoot/#/diagnose-problems-send-feedback-and-create-github-issues or by giving us a bit more of information on the system that you are using, the steps which worked and the one which didn't during the install process. Thanks!

[2016-10-10 08:46] #766 closed

[2016-10-10 08:47] dsheets commented on #751
I believe this is a duplicate of #51. Thanks for your report -- our OS X integration team is working on fixing this issue.

[2016-10-10 08:47] #751 closed

[2016-10-10 08:49] samoht commented on #767
Can you please provide more information? I am closing the issue now, but please feel free to re-open with a more detailed description of your error, your settings and if possible a diagnostic ID so that we can investigate your issue more.

[2016-10-10 08:49] #767 closed

[2016-10-10 09:00] samoht commented on #765
Thanks for your report! That issue should normally be fixed https://github.com/docker/hyperkit/pull/62 and we will ship these patches in the next Beta of Docker for Mac. Would be great if you could test it when it is out (normally in the next few days) and report if it works for you or not. Thanks!

[2016-10-10 09:03] samoht commented on #764
Hi thanks your report, but unfortunately we cannot help you as the diagnostic logs haven't been uploaded (we are independently working on making that upload more reliable). Could you try running the diagnostic tool again, and if possible on a network configuration without proxy/VPN/etc ? Thanks!

[2016-10-10 09:15] mping commented on #668
@bobbypriambodo I'm guessing its a mater of correctness. The use case is that if your container terminates abnormaly, you normally don't want to lose data, so `fsync` should be honored by default.

[2016-10-10 09:19] malduarte commented on #668
@bobbypriambodo : Your whole docker setup will likely get corrupted if you do a hard reboot of your machine with flush disabled for example. It has happened to me :) You definitely don't want that by default.

[2016-10-10 09:22] samoht commented on #656
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-10-10 09:22] #656 closed

[2016-10-10 09:25] samoht commented on #772
Docker for Mac 1.12.0 is not supported on macOS 10.12. Please upgrade to either 1.12.1 (stable channel) or to 1.12.2-rc1-Beta27.

Thanks.

[2016-10-10 09:25] #772 closed

[2016-10-10 09:27] samoht commented on #724
Docker for Mac 1.12.0 does not work on OSX 10.12. Please update your version of Docker for Mac to either 1.12.1 (stable) or 1.12.2-rc1 (beta 27).

Thanks!

[2016-10-10 09:27] #724 closed

[2016-10-10 09:29] samoht commented on #722
Hi thanks for you report. Could you try to update manually to the latest version (1.12.1)? 1.12.0* releases had known issues on Sierra.

[2016-10-10 09:29] #722 closed

[2016-10-10 09:34] JanBednarik commented on #761
Have you tried reset Docker to factory defaults?

[2016-10-10 09:36] JanBednarik commented on #763
Have you tried reset Docker to factory defaults? I had similar issue and factory reset helped.

[2016-10-10 09:47] samoht commented on #125
Could you tell us how to reproduce the issue? We are not shipping the registry in Docker for Mac, so I am a bit puzzled by your report.

[2016-10-10 09:57] samoht commented on #285
Could you publish a way to reproduce that issue easily? Thanks!

[2016-10-10 09:58] samoht commented on #301
Do you still have the issue? Please re-open the issue if that's the case. We pushed few improvement to the diagnostic tool and to our qcow2 support in the latest Betas.

[2016-10-10 09:58] #301 closed

[2016-10-10 09:59] samoht commented on #186
Do you still see that issue on more recent version of Docker for Mac?

[2016-10-10 09:59] ijc25 commented on #765
I was able to repro the issue with 1.12.2-rc1-beta27 (12496).

I tested the current docker for mac master (at commit ea06b4e124477b5c5e6371ef229cfe64effa67b8) and it didn't crash, the web browser kept spinning and the compose log filled with
[code]
Which I think is correct operation.

I refreshed a few times (it seemed to be counting higher each time) and still didn't manage to crash it. So I'm go

[2016-10-10 09:59] #765 closed

[2016-10-10 10:06] samoht commented on #560
fsync on OSX unfortunately slower than on Linux: see https://github.com/mirage/mirage-block-unix/issues/49 for the initial issue and https://github.com/mirage/mirage-block-unix/pull/52 for the "fix". Since latest beta we allow to turn on an "experimental" mode where fsync is faster but less safe: if your computer crashed in the middle of an fsync, we won't guarantee in that mode that you won't cor

[2016-10-10 10:07] ddebasilio commented on #186
Yes, docker crashes constantly on Friday I even had a cron job checking the status to bring the containers up automatically because it was crashing every minute.
I am on :
Docker version 1.12.1, build 6f9534c

[2016-10-10 10:15] #356 closed

[2016-10-10 10:16] samoht commented on #708
I am closing the issue, please re-open if you manage to see again after uninstalling virtualbox.

[2016-10-10 10:16] #708 closed

[2016-10-10 10:23] samoht commented on #205
@ctammes are you on Docker for Mac? Can you upload a diagnostic tarball and give us your diagnostic ID? Thanks!

For all people on the thread, please read: https://github.com/docker/for-mac/issues/205#issuecomment-247761953 having a reproducible case will help us a lot fixing that issue (as we are not able to see it in our environments and tests). Thanks!

[2016-10-10 10:27] samoht commented on #186
@ddebasilio That's very unfortunate :-( Does it crash even when you do nothing? Could you try producing a diagnostic ID after the next crash so we could investigate? Thanks.

[2016-10-10 10:53] ddebasilio commented on #186
It happens even when I do nothing. I can run docker-compose up -d and if I leave it idle it will eventually restart docker.

$ /Applications/Docker.app/Contents/Resources/bin/docker-diagnose
OS X: version 10.12 (build: 16A323)
Docker.app: version: 1.12.1 (2d5b4d9)
Local time: Mon 10 Oct 2016 12:49:44 CEST
UTC:        Mon 10 Oct 2016 10:49:44 UTC
Timestamp:  20161010-124944
Running diagnostic tests

[2016-10-10 11:45] samoht commented on #186
@ddebasilio Thanks! Your logs contains:

[code]

Which seems to indicate that your issue is the same as https://github.com/docker/hyperkit/issues/50 and will be fixed in Beta28 (which will be released in the next few days). Would be great if you could test and report if your restart issue still persist.

[2016-10-10 11:52] samoht commented on #186
@vivekkodira1 your initial report contains:

[code]

which seems to be related to https://github.com/docker/hyperkit/issues/50 too. As the fix will be release in the next few days, I am closing the issue pro-actively. Please re-open it if the issue persists after Beta 28. /cc @ijc25

[2016-10-10 11:52] #186 closed

[2016-10-10 11:52] ddebasilio commented on #186
Thanks! This would be awesome. I will see if I can install the Beta for testing but since I am using a laptop from work I may be busy with developing.

[2016-10-10 12:05] samoht commented on #771
I am glad that you found a workaround. I am closing this issue now as you found a workaround that meanwhile we are working on a more integrated solution (ie. allow to set the qcow2 location by using the UI).

[2016-10-10 12:05] #771 closed

[2016-10-10 12:07] samoht commented on #768
It would be very helpful if you could manage to upload a diagnostic tarball to our remote server:

[code]

Means that you are probably running behind a proxy/firewall. Would it be possible to disable that setting temporally and try again the next time you get such a crash? Thanks!

[2016-10-10 12:13] samoht commented on #764
Weirdly, it appears that the upload worked properly, and I can see the following in your logs:

[code]

I am not sure why, but this seems to indicate that containerd does not start.

[2016-10-10 12:21] samoht commented on #764
There are also other "interesting" issue in your logs:

[code]

And then a lot of:

[code]

[2016-10-10 12:32] schmunk42 commented on #757
[code]

[2016-10-10 12:36] doniatc commented on #755
Hello Peter,

Do you find a way to start Docker for Mac, anyway?

Regards,

Christophe

Le 2016-10-07 13:01, Peter van Dijk a écrit :

[2016-10-10 12:40] doniatc commented on #755
Hello,

Do you find a tip to get Docker for Mac on macos Sierra running?

Regards,

Christophe

Le 2016-10-07 00:41, G. Ferguson a écrit :

[2016-10-10 12:49] blahster commented on #761
I could but I'd lose images etc.

[2016-10-10 12:49] samoht commented on #755
@doniatc on which model/year do you try to run the product? the logs seems to indicate

[code]

See https://docs.docker.com/docker-for-mac/#/what-to-know-before-you-install

On older OSX machines, you can still use [docker-machine](https://docs.docker.com/machine/) with VirtualBox.

[2016-10-10 12:49] #755 closed

[2016-10-10 12:59] samoht commented on #774
@giovannicandido it seems that you don't have the right system requirements:

[code]

See the section **System Requirements** in https://docs.docker.com/docker-for-mac/#/what-to-know-before-you-install

[2016-10-10 12:59] #774 closed

[2016-10-10 13:08] samoht commented on #768
I managed to found your diagnostic tarball (for some random reason, it has been updated although the diagnostic tool says the contrary).

It seems that your Docker for Mac goes to quarantine about 4/5h hours:

[code]

I don't have the full contents of your logs (we try to scrap only what is related to Docker for Mac) so it would be useful if you could see what the `kern` process decides to do afte

[2016-10-10 13:15] samoht commented on #761
Analysing report with diagnostic ID D6F8A6B4-F741-4E12-B236-896068E0DB81 and timestamp 20161007-204450
Detected symptom of problem 'qcow2-corruption' in D6F8A6B4-F741-4E12-B236-896068E0DB81/20161007-204450.

This error suggests that the .qcow2 file is corrupt and will need to be recreated.

May be related to docker/for-mac#11

The following log matches:

[2016-10-10 13:21] justincormack commented on #719
The kernel config is available via `docker run --privileged alpine zcat /proc/config.gz` and the details of the source info and applied patches can be extracted as a tarball with `docker run  -v /etc:/hostetc -w /hostetc alpine tar cf - kernel-source-info kernel-patches > kernel.tar`.

The kernel-source-info file looks like
[code]

and the patches directory contains all the other patches we apply

[2016-10-10 13:23] samoht commented on #761
I am afraid your qcow2 image is indeed corrupted.

We don't yet provide a tool to try to recover your images, although this is something that we might consider in the future. `qemu-img check` tools can maybe help you to recover some files in the corrupted qcow2 image, but will probably not be the case. I am sorry, but reseting to factory settings is indeed the simplest solution for now on.

[2016-10-10 13:24] samoht commented on #761
Or you can try to use `qemu-img convert` to read your qcow2 file.

[2016-10-10 13:30] dsheets commented on #757
What is the output of `uuidgen`? `cat ~/Library/Containers/com.docker.docker/Data/user.id`?

[2016-10-10 13:36] dsheets commented on #18
@petrklus could you please open a new issue with the output of `Diagnose & Feedback` ➡️ `Diagnose & Upload` including the diagnostic ID that is generated?

@justincormack This could easily occur if `transfused` reads corrupt data from the vsock due to an overfull ring or similar.

[2016-10-10 13:37] samoht commented on #760
Detected symptom of problem 'vmnetd-comm-failure' in 86E988E6-CA16-4D6C-A46D-4EEF28F7350F/20161007-125754.

The UI failed to communicate with the networking helper process.

May be related to docker/for-mac#61

The following log matches:

@5HT a possible workaround is described in [that comment](https://github.com/docker/for-mac/issues/8#issuecomment-236183193). I am closing the issue for now on,

[2016-10-10 13:37] #760 closed

[2016-10-10 13:43] schmunk42 commented on #757
[code]

No idea why this is not working?!

[code]

no output

[2016-10-10 13:43] dsheets commented on #169
@jdaniel-GIS no new issue is necessary. Please follow #51 where this problem was originally reported for updates.

[2016-10-10 14:04] samoht commented on #763
Your logs contain some suspicious:

[code]

But I am not sure it is related. Your docker.log contains a lot of `TRANSIENT_FAILURE` errors from containerd, and a graphdriver error which doesn't look very good:

[code]

This is probably yet another AUFS corruption error. I you are fine with loosing all your containers, reseting to default factory will probably restore Docker to a good state.

[2016-10-10 14:08] dsheets commented on #773
Thanks for the report! I'm reopening this issue to track the generally poor user experience you mention. There are a couple of implementation options to make this better:

1. Pop up a message saying something like "container X has host volume Y mounted but host volume Y is being unmounted. [Force unmount] [Stop container X and retry] [Abort eject]"
2. Export the OS X mount table into the VM and up

[2016-10-10 14:18] samoht commented on #759
Could you try with Beta27? We don't seem to be able to reproduce your issue in our settings. Could you also try to post the full logs for the failing tests?

[code]

You can select to run just these tests by running `env TESTFLAGS='-check.f DockerSuite.TestHealth*' make test-integration-cli`

Thanks!

[2016-10-10 14:21] dsheets commented on #757
It looks like you have a `uuidgen` executable installed from a non-distribution source like homebrew or MacPorts. The executable under `/usr/bin/uuidgen` should work fine and if you run it and redirect its output to `~/Library/Containers/com.docker.docker/Data/user.id` then you should have a diagnostic ID and be able to upload reports. I've filed an internal issue to track our incorrect execution

[2016-10-10 14:32] phamdohung161 opened #775 "Fatal Error: vmstateevent invalid json:"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 0E3B2A16-E647-4C6A-AD07-4CAABF03E8DB
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]     vm

[2016-10-10 14:33] dsheets commented on #775
Please upgrade to 1.12.1 which fixes macOS Sierra support. This issue was #64 but has been resolved in recent releases.

[2016-10-10 14:33] #775 closed

[2016-10-10 15:43] samoht commented on #747
Could you try running `/Applications/Docker.app/Contents/Resources/bin/docker-diagnose` manually? It is hard to investigate your issue without a proper diagnostic archiver. Thanks1

[2016-10-10 15:46] dsheets commented on #446
@argent-smith could you please open a new issue with a reproduction?

[2016-10-10 15:49] samoht commented on #742
Can you upload your diagnostic tarball to our private server (by choosing "Diagnose & Upload" in the "Diagnose & Feedback" menu item)? It is very hard to investigate your issue without any logs. Thanks!

[2016-10-10 15:51] samoht commented on #754
Analysing report with diagnostic ID 783964D6-AD3B-4823-8219-C4CD33842231 and timestamp 20161006-094746
Detected symptom of problem 'aufs-corruption' in 783964D6-AD3B-4823-8219-C4CD33842231/20161006-094746.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will un

[2016-10-10 15:53] samoht commented on #754
You seem to have hit an AUFS corruption error, I am not sure why this is related to your swarm issue though..

[2016-10-10 15:54] justincormack commented on #744
Can you be more explicit about what you actually did and what the errors were, as I cannot replicate.

[2016-10-10 16:04] samoht commented on #739
You have a lot of:

[code]

In your logs. I am not sure why they mean, need to investigate a bit more.

[2016-10-10 16:07] collin commented on #765
Thank you for the prompt and detail response. Looking forward to beta28 💃💃💃💃💃

[2016-10-10 16:13] masonjm commented on #747
Archive uploaded: 496D76E1-01C0-463C-832C-908ABED87B8D

My guess is this has something to do with how IT setup my desktop. My user account is a "non-standard" location (`/Domain` rather than `/Users`). I've had some issues with setting stuff related to my directory account, too (like the default shell for Terminal).

[2016-10-10 16:42] dsheets commented on #728
Thanks for your report and excellent reproduction! This looks like a duplicate of #495 as I could reproduce it with Beta 27 but cannot with the branch that will be released as Beta 28. I will add your test case to our test suite. The fix should reach the stable channel along with 1.12.2. Thanks, again!

[2016-10-10 16:42] #728 closed

[2016-10-10 16:59] AlessandroEmm commented on #744
Hey Justin, this seems to be related to the other issue where you have been answering us and not directly docker for mac, my mistake. Can be closed thus - sorry.

[2016-10-10 17:07] #744 closed

[2016-10-10 17:08] samoht commented on #736
We do not support forwarding from the host to the containers yet, but we are working on it. Meanwhile, @justincormack might have a workaround involving socat, I'll let him comment.

[2016-10-10 17:35] jandubois commented on #773
# TL;DR

I think a mechanism to automatically restart containers when a mounted volume reappears is the most robust option.

# Popup message

Note that a clean disconnect by explicit "Eject" is probably the exception. I just used it as a shortcut during testing. My real use cases are:

1. NAS does software auto-update and reboots. Potentially in some configurations also NAS goes to sleep and disco

[2016-10-10 18:52] vyscond opened #776 "Preferences window not opening"
### Expected behavior

Preferences window be opened

### Actual behavior

Preferences is not opening

### Information

[code]

  1. Upgrade Docker to `1.12.2-rc1-beta27`
  2. Open Docker app
  3. Click on Preferences menu entry

Besides of this one particular bug. Everything is fine in relation to run the containers.

[2016-10-10 20:03] melostbr opened #777 "Fatal Error: Communication with networking components failed"
### Expected behavior
Install networking components after first installation and priviledge access granted.
### Actual behavior
Gives a "fatal error" message.
### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G31)
logs: /tmp/CDDE3FB0-A591-4896-8D5B-B78B7F5FC723/20161010-165540.tar.gz

[2016-10-10 20:47] austinezell commented on #747
I am having the same issue running `OSX El Capitan 10.11.16`. `Docker for Mac` was running great for a couple weeks then towards the end of last week, it just stopped. The diagnosis output on (failure to) start is identical to @masonjm's. I've tried both beta and stable releases with no difference in the outcome.

I have run and uploaded the the diagnosis as well if you need more information.

[2016-10-11 02:16] giovannicandido commented on #774
Ok problem solved. Intel Virtualization was disabled for some reason.

Thanks for the help.

[2016-10-11 03:08] guox191 commented on #467
@Vijay2win It's works for me, thanks

[2016-10-11 03:29] blahster commented on #761
Reset :(

[2016-10-11 03:29] #761 closed

[2016-10-11 03:35] crmejia commented on #759
I had to run
`env TESTFLAGS='-check.f DockerSuite.TestHealth*' hack/make.sh binary-daemon binary-client test-integration-cli`
as I kept getting:
`error: binary-client or dynbinary-client must be run before .integration-daemon-start` and
`error: binary-daemon or dynbinary-daemon must be run before .integration-daemon-start`

The test passes. This is the output:

[code]

I decided to keep digging a

[2016-10-11 04:08] jakajancar commented on #633
Anything new here?

[2016-10-11 04:39] unecoc opened #778 "error"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 16A62781-DF6D-4495-9DBA-9F61187036D3
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[ERROR]  docker-cli
         docker ps failed
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[ERROR]  osxfs
         com.docker.osxfs is not running
[OK]

[2016-10-11 05:37] navneetkarnani opened #779 "Exit on starting Docker App on MacOS"
### Expected behavior
Docker app on MacOS should start
### Actual behavior
Docker app crashes with error message

### Information

Diagnostic ID: E9905500-C997-43A3-AAF8-E1468377844D
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A322)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[O

[2016-10-11 08:11] testj opened #780 "docker for mac pop a error window shows:vmstateevent invalid json:"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: E2A8A6C7-3821-4856-98C0-58C0AA7BB659
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]

[2016-10-11 08:26] samoht commented on #780
Duplicate of #80 Please upgrade to either the last stable (1.12.1) or Beta 27 (1.12.2-rc1).

[2016-10-11 08:26] #780 closed

[2016-10-11 08:28] samoht commented on #779
1.12.0-a does not support Sierra. You should update to either the latest stable (1.12.1) or to latest Beta (1.12.2-rc1-beta27).

[2016-10-11 08:28] #779 closed

[2016-10-11 08:28] samoht commented on #778
1.12.0-a does not support Sierra. You should update to either the latest stable (1.12.1) or to latest Beta (1.12.2-rc1-beta27).

[2016-10-11 08:28] #778 closed

[2016-10-11 08:48] madskonradsen opened #781 "com.docker.hyperkit takes up way too much memory"
### Expected behavior

`com.docker.hyperkit` to only take up the needed memory

### Actual behavior

`com.docker.hyperkit` takes up 3GB

### Information

When building my image from my Dockerfile(see below) and run the container it makes hyperkit use an insane amount of memory which is okay when building images, but it seems like that memory isn't released afterwards which makes it stay at around

[2016-10-11 09:12] ijc25 commented on #781
This seems similar to https://github.com/docker/for-mac/issues/178. Please see https://github.com/docker/for-mac/issues/178#issuecomment-238509543 for an explanation of the issues. I'm going to close this issue for the same reasons described in #178 but if you are observing that the `rss` (_not_ the `vsz`) of the hyperkit process is remaining high when there are no containers but there are other s

[2016-10-11 09:12] #781 closed

[2016-10-11 09:24] samoht commented on #644
Closing as the issue seems now resolved.

[2016-10-11 09:24] #644 closed

[2016-10-11 09:27] samoht commented on #628
Closing the issue as it seems to be working better for you now.

[2016-10-11 09:27] #628 closed

[2016-10-11 09:29] samoht commented on #180
I confirm that I can reproduce the issue. I will discuss the issue further with the team to see what we can do to fix it.

[2016-10-11 09:34] samoht commented on #646
@sankarav would you be able to retry to send us your diagnostic archive? We cannot really help you without it. We also advise your to update to the latest stable (1.12.1) or latest beta (1.12.2-rc1-beta27).

[2016-10-11 09:38] samoht commented on #180
I also confirm that we can reproduce the issue on Linux, so the issue is not in Docker for Mac. /cc @thajeztah is it a know issue on Linux?

[2016-10-11 09:56] madskonradsen commented on #781
That's a shame. I have 2GB allocated for Docker(in the preferences pane) and my 200MB process in the container starts serving me OOM errors(probably because of the space that have been allocated by the kernel). So I guess there is no way to circumvent that?

Are there any plans for fixing the issue in the future? Like injecting something into the guest in order to keep tab on the usage(as you prob

[2016-10-11 10:02] ijc25 commented on #781
@madskonradsen If you have a 200MB process in a container (as viewed from within the container VM, not from OSX) and 2GB allocated to docker (which will be what OSX is seeing) and are getting OOMs then you have 1.8GB unaccounted for somewhere, the overheads for the kernel are nothing like that much. (this strikes me as an orthogonal issue to the original report which I understood to be regarding t

[2016-10-11 10:05] samoht commented on #648
It seems that you didn't upload the logs to our diagnostic server, so I am closing the issue. If your problem persists, please choose "Diagnose & Upload" in the Diagnostic menu item so that we can get your diagnostic logs and open a new issue.

[2016-10-11 10:05] #648 closed

[2016-10-11 10:05] ijc25 commented on #180
I had second thoughts about whether I had really reproduced on native Linux.

I had done a `docker run` then a `﻿⁠⁠⁠⁠curl localhost...`﻿⁠⁠⁠⁠ like the ticket says and saw an originating IP of 172.17.0.1, which is the IP of the `﻿⁠⁠⁠⁠docker0﻿⁠⁠⁠⁠` bridge, which thinking about it more is _an_ IP of the originating host (even if one maybe wouldn't think about it as "the" IP of the host).

In the for-m

[2016-10-11 10:20] madskonradsen commented on #781
I have a 200MB(not GB) process in a container(determined using `top` in the container). Yes, now that you mention it, the two issues might not be directly related(they was in my head). And in OSX I see com.docker.hyperkit using the maximum(the 2 GB that i lowered it to), and I get OOMs inside my container.

[2016-10-11 10:45] dsheets commented on #776
I couldn't find your diagnostic information. Could you please run :whale: :arrow_right: `Diagnose & Feedback...` ➡️ `Diagnose & Upload`?

[2016-10-11 10:45] ijc25 commented on #781
The oom spew in your logs seems to suggest you have multiple java processes consuming 3-4GB each running (as well as various other sundry processes which I didn't tot up).

I counted 12 java processes in the list, but it's possible some of them were threads of the same process (not 100% how the oom killer presents thing). Based on the sizes I'm pretty sure 9 of them were distinct though.

The part

[2016-10-11 11:21] dsheets commented on #733
Thanks for your report! There are a number of issues that you are encountering that should each be addressed:

1. Docker for Mac does not require `sudo` and does not create files as root. Mesosphere Universe explicitly checks for root in `scripts/local-universe.py` and fails if the `euid` is not 0. This likely needs to be corrected in Universe.

2. Docker for Mac should detect that the user is run

[2016-10-11 13:20] thaJeztah commented on #180
@samoht @ijc25 I know there's an issue in swarm mode (see https://github.com/docker/docker/issues/25526)

[2016-10-11 13:30] dsheets commented on #560
This looks like it is related to bind mounts rather than block device syncs. I haven't reproduced it yet but I am reopening as the block device issue is not the likely cause.

[2016-10-11 13:40] sleyb opened #782 "Docker App on OSX Yosemite 10.10.5"
### Expected behavior
Start the Docker App on OSX
### Actual behavior
Failure and diagnostic menu
### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
Diagnostic ID: 306AF89A-76AA-421C-AA92-AA9A78629B95
Output of Diagnostics:

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.10.5 (build: 14F1912)
logs: /tmp/306AF89A-76AA-421C-AA92-AA9A78629B95/201610

[2016-10-11 15:05] justincormack commented on #744
@AlessandroEmm ah sorry, I didn't connect these, but in fact there do appear to be modules missing I am adding them now. So it may be a bit of both.

[2016-10-11 15:14] unecoc commented on #778
thank you :)

[2016-10-11 15:34] zacharysverdrup opened #783 "ERROR: Couldn't connect to Docker daemon. You might need to start Docker for Mac."
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-10-11 15:39] soulfrozen opened #784 "docker-boot"
### Expected behavior

### Actual behavior

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

### Steps to reproduce the behavior

  1. ...
  2. ...

[2016-10-11 15:47] samoht commented on #777
Detected symptom of problem 'vmnetd-comm-failure' in CDDE3FB0-A591-4896-8D5B-B78B7F5FC723/20161010-165540.

The UI failed to communicate with the networking helper process.

May be related to docker/for-mac#61

The following log matches:
[code]

[2016-10-11 16:02] samoht commented on #782
Detected symptom of problem 'uninstall-virtualbox' in 306AF89A-76AA-421C-AA92-AA9A78629B95/20161011-093556.

Some parts of Virtualbox may still be installed. Please follow https://www.virtualbox.org/manual/ch02.html#idm871 to completely uninstall Virtualbox. Please note that dragging the application to the trash is not enough:there are kernel modules installed as well.

May be related to docker/fo

[2016-10-11 16:02] #782 closed

[2016-10-11 16:02] samoht commented on #783
Please re-open an issue with the full diagnostic information. Thanks!

[2016-10-11 16:02] #783 closed

[2016-10-11 16:03] ctammes commented on #205
No, sorry, I am not running on Mac, picked the wrong forum apperently.

[2016-10-11 16:03] samoht commented on #784
Please re-open an issue with the full diagnostic information. Thanks!

[2016-10-11 16:03] #784 closed

[2016-10-11 16:38] bric3 commented on #271
Another use case, I'd like to use binaries in docker images, e.g. cqlsh or sqlplus to access connect an ssh tunnel opened on my host to access distant machines right now this doesn't seem to work.

[code]

On linux it works.

<details><summary>Diagnose</summary>

[code]

</details>

[2016-10-11 16:42] PanJ commented on #180
I tried to replicate the issue and found out that the IP address like `172.17.0.1` only appears when the request is originated from the same host as the container.

This behavior is for standalone container. For swarm mode, it is another separate [issue](https://github.com/docker/docker/issues/25526).

[2016-10-11 16:47] thaJeztah commented on #180
@PanJ in that case, I suspect it's because of the userland-proxy

[2016-10-11 17:18] samoht commented on #601
I am closing this issue now as it not clear how the issues are related. @JoaoManoel @mukteshkrmishra @mediafigaro @allenyang79 @avijitsarkar123 @alex77lee @mustafa3009 @douglaspaulino @djalmaaraujo please let us know if you still have an issue by opening a new issue with a new diagnostic tarball. Thanks!

[2016-10-11 17:18] #601 closed

[2016-10-11 17:24] samoht commented on #631
Do you still have that issue? The logs that you updated are unfortunately empty. If you still see problems, could you please upload a new diagnostic to our remote server so that we can investigate. Thanks!

[2016-10-11 17:25] samoht commented on #632
Did you manage to reproduce this on other systems?

[2016-10-11 17:38] samoht commented on #650
@dsheets is that expected?

[code]

This seems to cause a lot of (unrelated?) connection errors.

[2016-10-11 17:42] dsheets commented on #650
The first error is expected if one tries to export `/var`. The second error is likely unrelated as it occurs about 90 seconds later but is a serious issue. The second error is not the likely cause of the reported issue, though, as `osxfs` is not involved during `docker build` (unless the `docker build` was concurrent with some kind of settings change).

[2016-10-11 18:09] PanJ commented on #180
@thaJeztah
I just noticed that this is docker for mac repo. Tried to reproduce again with docker for mac and the problem persists event the client and server is different machine. Both with machine in same network and doing NAT over the internet.

[2016-10-11 18:35] brooksph commented on #763
# Expected behavior
docker info : info

# Actual Behavior
Error response from daemon: Bad response from Docker engine

$docker info
Error response from daemon: Bad response from Docker engine

# Information
Diagnostic ID: 007B7251-3C71-47E2-827A-D4C2C19879C0

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G31)
logs: /tmp/007B7251-3C71-47E2-827A-D4C2C19879C0/20161011-1425

[2016-10-11 19:53] dcosson commented on #725
Same exact scenario for me as @JamesKyburz

I just unmounted my local volumes (more for speed reasons than because of this issue), so I'll keep an eye out for whether it that seems to fix this.

[2016-10-11 21:24] dunkenbutterfly opened #785 "docker Command line doesn't work on MacOS Sierra"
### Expected behavior
docker info returns info
### Actual behavior
bash: docker: command not found
### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu
  - A reproducible case if this is a bug, Dockerfiles FTW
  - Page URL if this is a docs issue or the name of a man page

Docker for Mac: version: 1.12.2-rc1-beta27 (179c18c)
OS X: version 10.12 (build: 16A323)

[2016-10-12 02:22] weisong82 opened #786 "macOS-10.12 (16A323) install error"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: B79C0FED-EB3A-4817-A77B-7979B8FF4631
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12 (Build 16A323)
[ERROR]  docker-cli
         cannot find docker
         docker-cli check failed with: Failure("docker -v: timeout after 10.00s")
[OK]     app
[OK]     moby-syslog
[ERROR]  disk
         disk check failed with: Fai

[2016-10-12 03:33] zeroasterisk opened #787 "docker starting... forever, ever actually starts, used to work"
### Expected behavior

docker should start

### Actual behavior

![ss](https://puu.sh/rG2Er/ea0932e2ed.png)

### Information

[code]

When docker isn't trying to start (after I've quit it), I get:

[code]

When it is trying to start, I get a lot of processes... here's an except:

[code]

And in the `system.log` I'm getting:

[code]

### Steps to reproduce the behavior

Unsure.  Docker was working

[2016-10-12 04:52] samarth opened #788 "Network timed out while trying to connect to index.docker.io"
**Description**

Trying to do a docker pull of an image results in a timeout . Fixed by prioritizing my DNS server.

**Steps to reproduce the issue:**
1. did a docker pull hello-world
2.
3.

**Describe the results you received:**
Service 'web' failed to build: Network timed out while trying to connect to https://index.docker.io/v1/repositories/library/python/images. You may want to check your inte

[2016-10-12 06:57] lcalvy commented on #738
Hi,

I can easily reproduce on our test environment.

We heavy load datas in an import process. It's seems that concurrent data import in our mongodb container break all containers

[code]

[2016-10-12 07:08] alepee commented on #731
Solved!
`VT-d` and `VT-x` (Intel Virtualization Technology) must be enabled in BIOS for docker to start a virtual env. Docker Mac is said to be native, but it reality it rely on mac os virtualization capabilities.

[2016-10-12 07:20] fmozturk commented on #631
No problem. Thanks.

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.12 (build: 16A323)
logs: /tmp/27EF856B-F70D-4996-998D-816213809A1C/20161012-101804.tar.gz
[OK]     docker-cli
[OK]     virtualization kern.hv_support
[OK]     menubar
[OK]     moby-syslog
[OK]     dns
[OK]     disk
[OK]     system
[OK]     app
[OK]     osxfs
[OK]     virtualization VT-X
[OK]     db
[OK]     slirp
[OK]

[2016-10-12 08:04] samoht commented on #631
I still cannot see your logs. Did you choose "Diagnostic & Upload" in the "Diagnostic & Feedback" menu item?

[2016-10-12 08:11] fmozturk commented on #631
Before I did "Diagnose Only" option, copy and paste result.

Now I did "Diagnose & Upload". ID is 27EF856B-F70D-4996-998D-816213809A1C

[2016-10-12 08:14] samoht commented on #631
Ok I got your new logs, thanks! I will have a look to try to understand your issue.

[2016-10-12 10:16] pattama opened #789 "docker-diagnose exit code is 1"
### Expected behavior

### Actual behavior
docker-diagnose exit code is 1

### Information

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G31)
logs: /tmp/20087DE5-2CD2-4A3F-A84E-014F0B366972/20161012-171439.tar.gz
failure: com.docker.slirp is not running
[ERROR]  docker-cli
         /var/run/docker.sock does not exist
         Unexpected error (No such file or directory

[2016-10-12 10:28] samoht commented on #631
Unfortunately, it seems that some of your logs are empty. Our diagnostic tool needs to be able to call `syslog`. Can you try to run:

[code]

and report the error messages if any? Thanks!

[2016-10-12 11:02] samoht commented on #786
Detected symptom of problem 'unsupported-sierra' in B79C0FED-EB3A-4817-A77B-7979B8FF4631/20161012-102120.

Sierra is supported on latest stable and beta releases only. Please upgrade.

May be related to docker/for-mac#561

The following log matches:
[code]

[2016-10-12 11:02] #786 closed

[2016-10-12 11:11] samoht commented on #789
Detected symptom of problem 'vmnetd-comm-failure' in 20087DE5-2CD2-4A3F-A84E-014F0B366972/20161012-171439.

The UI failed to communicate with the networking helper process. Deleting `/Library/PrivilegedHelperTools/com.docker.vmnetd` and restarting the application should help you. Please re-open that issue if your problem persist.

May be related to docker/for-mac#61

The following log matches:
[co

[2016-10-12 11:11] #789 closed

[2016-10-12 11:22] fmozturk commented on #631
Your command gave error:

NOTE:  Most system logs have moved to a new logging system.  See log(1) for more information.

So I tried

log show | grep Docker >> docker.log

But I think, it doesn't have day 2016-0915. Anyway I am attaching output file.
[docker.log.zip](https://github.com/docker/for-mac/files/524222/docker.log.zip)

[2016-10-12 11:26] samoht commented on #785
Detected symptom of problem 'symlinks-are-not-correctly-installed' in F637D9FB-3F4F-46B5-B1E5-FEACF0C16CE0/20161011-232145.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to

The following log ma

[2016-10-12 11:26] #785 closed

[2016-10-12 13:12] samoht commented on #631
Thanks! Can you try:

[code]

and check if `docker-system.log` contains something useful?

[2016-10-12 13:19] samoht commented on #631
Or `log show | grep docker >> docker-system.log` if the previous step didn't work (ie. the same thing as your last command but with `docker` instead of `Docker`).

[2016-10-12 13:23] samoht commented on #788
Hi, would you be able to upload a a diagnostic tarball to our private server by going into `Diagnostic & Upload` in the `Diagnostic & Feedback` menubar item when your pull is not working? Thanks!

We are currently improving the support for fancy VPN configurations in our product, so having more user-case/reproducible cases/traces is very useful to us. Thanks again!

[2016-10-12 13:26] samoht commented on #787
Detected symptom of problem 'aufs-corruption' in AACCA723-93CE-46FB-9438-293235F60DEB/20161011-232304.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related

[2016-10-12 13:29] samoht commented on #787
Detected symptom of problem 'assertion-failed' in AACCA723-93CE-46FB-9438-293235F60DEB/20161011-232304.

An Assertion failure relating to a Docker component was found in the system logs.

May be related to

The following log matches:
[code]

[2016-10-12 13:33] dansweeting opened #790 "Docker not starting up when I rebooted, unable to do docker ps"
### Expected behavior

docker ps to list my containers
docker animation to have stopped moving, signalling that everything has started.
docker to behave after I give it a manual restart (clicking the restart button)

### Actual behavior

docker ps gives me:
'Error response from daemon: Bad response from Docker engine'
Restart button restarts docker, but I get the same result

### Information

I sa

[2016-10-12 13:36] fmozturk commented on #631
[docker-system.log.zip](https://github.com/docker/for-mac/files/524664/docker-system.log.zip)

[2016-10-12 13:39] samoht commented on #787
There were a number of updates to the hypervisor transport system in the recently released Beta 27. If you are comfortable running a beta (we still do QA on it), you could give that a try and see if it stops the frequent crashing.

May be related to docker/hyperkit#50

[2016-10-12 13:39] #787 closed

[2016-10-12 13:44] samoht commented on #790
Could you please use the `Diagnostic & Upload` option in the `Diagnostic & Feedback` menubar item, so that your logs are sent to our diagnostic servers? Thanks!

[2016-10-12 13:46] samoht commented on #452
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-10-12 13:46] #452 closed

[2016-10-12 13:47] samoht commented on #777
The UI failed to communicate with the networking helper process. Deleting `/Library/PrivilegedHelperTools/com.docker.vmnetd` and restarting the application should help you. Please re-open that issue if your problem persist.

[2016-10-12 13:47] #777 closed

[2016-10-12 13:49] samoht commented on #763
@brooksph: your issue seems different (the installer didn't complete the installation fully), could you please open a new issue so we can track this separately? Thanks!

[2016-10-12 13:50] samoht commented on #759
/cc @talex5

[2016-10-12 13:57] samoht commented on #738
@lcalvy could you please open a new issue with uploaded logs and your diagnostic ID so that we can investigate?

/cc @ijc25 the initial logs contain:

[code]

Is this related to docker/hyperkit#50 ?

[2016-10-12 14:05] samoht commented on #691
Thank you for your report. It seems that your Docker.app is a weird half-installed state. Deleting `/Library/PrivilegedHelperTools/com.docker.vmnetd` and restarting the application should help you. Please re-open that issue if your problem persist.

[2016-10-12 14:05] #691 closed

[2016-10-12 14:11] samoht commented on #692
@avishayp could you please open a new issue with a diagnostic ID so that we can investigate your issue. Thanks.

@olandere Detected symptom of problem 'qcow2-corruption' in E4FCFDFB-ABC5-4E87-B1B8-20B62734D006/20160922-141516.

This error suggests that the .qcow2 file is corrupt and will need to be recreated.

May be related to docker/for-mac#11

The following log matches:
[code]

I am afraid you

[2016-10-12 14:11] #692 closed

[2016-10-12 14:17] samoht commented on #630
Detected symptom of problem 'invariant-violated' in 71B65A8E-E8D9-428D-B8C6-2D6B528FBD58/20160915-103454.

An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The following log matches:
[code]
Detected symptom of problem 'invariant-violated' in 71B65A8E-E8D9-428D-B8C6-2D6B528FBD58/20160915-103454.

An invariant wit

[2016-10-12 14:19] samoht commented on #625
You didn't upload the logs to our diagnostic server. Could you please click on the `Diagnostic & Upload` in the `Diagnostic & Feedback` menubar item?

[2016-10-12 14:20] samoht commented on #615
Detected symptom of problem 'assertion-failed' in 1C2531AD-B7A1-4011-B179-BCAA878FD07A/20160831-223739.

An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

@ijc25 will it be fixed in Beta28?

[2016-10-12 14:21] #615 closed

[2016-10-12 14:23] samoht commented on #610
Do you still have that issue? Your logs seems to indicate that something is wrong with your installation, but I am not sure this is related.

[code]

[2016-10-12 14:30] samoht commented on #688
@wangyongxin11

Detected symptom of problem 'more-than-one-hyperkit' in 2BBDE1B1-411E-4C7C-A7C5-A5482C98F407/20160922-004118.

More than one hyperkit process has started and is accessing the qcow2 disk at the same time. This will lead to corruption and Docker must be reset to factory defaults.

May be related to docker/for-mac#71

The following log matches:
[code]

-----

@aklimashevsky-sugarcrm

[2016-10-12 14:35] samoht commented on #688
@justinclayton I am closing this issue now as it conflate a lot of non-related error. Would you mind re-open a new issue with your diagnostic ID and new logs in case you hit that problem again? Thanks!

[2016-10-12 14:35] #688 closed

[2016-10-12 14:41] dansweeting commented on #790
Apologies,

I got this screen and reading the bottom righthand message, assumed it had uploaded all the info needed.

<img width="723" alt="screen shot 2016-10-12 at 15 38 36" src="https://cloud.githubusercontent.com/assets/375509/19314442/05700052-9092-11e6-8f2a-6ae2fc0df5dc.png">

I don't seem to have a Diagnostic & Upload option.

[2016-10-12 14:42] samoht commented on #631
The only weird thing that I can see in your logs is:

[code]

I am not sure if it is the real source of the issue, but that's very strange that no `com.docker.*` service seems to do any useful work at all... I will see with the team if someone else as a better idea.

[2016-10-12 14:48] ijc25 commented on #615
@samoht there are fixes in Beta27 which fix this for many people. There are some extra ones in Beta28 but those seem to hit folks much less frequently.

[2016-10-12 14:52] hittu123 commented on #625
I will try to reproduce the issue and upload log.

On Wednesday, October 12, 2016, Thomas Gazagnaire <notifications@github.com>
wrote:

--
Thanks,
Hitendra

[2016-10-12 14:52] samoht commented on #702
This seems to be like an AUFS corruption issue:

[code]

Closing the issue as there is unfortunately not much that we can do to prevent that.

[2016-10-12 14:52] #702 closed

[2016-10-12 14:57] samoht commented on #264
Thanks for your report, but I am closing that issue as a duplicate of #713. Please follow the resolution of that issue for further updates.

[2016-10-12 14:57] #264 closed

[2016-10-12 14:59] samoht commented on #551
Analysing archive 7DB0C3CB-5505-425C-9AC6-D67C93E29D78/20160908-105715
--------------------------------------------------------------------------------
Detected symptom of problem 'more-than-one-hyperkit' in 7DB0C3CB-5505-425C-9AC6-D67C93E29D78/20160908-105715.

More than one hyperkit process has started and is accessing the qcow2 disk at the same time. This will lead to corruption and Docker must

[2016-10-12 15:01] samoht commented on #559
An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

[2016-10-12 15:02] samoht commented on #588
Detected symptom of problem 'assertion-failed' in B9F658F8-D1D8-4C62-8B16-4CA593070FC5/20160911-143312.

An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

[2016-10-12 15:03] samoht commented on #586
The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related to docker/for-mac#20

The following log matches:
[code]

[2016-10-12 15:05] samoht commented on #527
An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

[2016-10-12 15:11] dansweeting commented on #790
Upgraded to latest version, still fails:

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.1 (build: 15B42)
logs: /tmp/68C8C864-81C4-4A9B-8599-92CDC939D32D/20161012-160856.tar.gz
failure: docker ps failed: Failure("docker ps: timeout after 10.00s")
[ERROR]  docker-cli
         docker ps failed
[OK]     virtualization kern.hv_support
[OK]     menubar
[OK]     moby-syslog
[OK]     dns
[

[2016-10-12 15:21] samoht commented on #536
An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The following log matches:
[code]

[2016-10-12 15:22] samoht commented on #589
Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on.
May be related to docker/for-mac#785

The following log matches:
[code]

[2016-10-12 15:28] samoht commented on #578
I am re-opening the issue as there is a weird error in the log:

[code]

I have opened https://github.com/docker/vpnkit/issues/131 to keep track of that issue.

[2016-10-12 15:43] dunkenbutterfly commented on #785
thanks but you mean: ln -s ~**/Library/Group/Containers/group.com.docker/bin/docker** /usr/local/bin/docker
there is no dir group.com.docker inside /Library/Group/Containers/

thanks

[2016-10-12 15:50] samoht commented on #576
This is probably due to an OSX bug in 10.10's hypervisor.framework. It is advised to upgrade your version of OSX.

[2016-10-12 15:51] dsheets commented on #576
It could also be a duplicate of #85.

[2016-10-12 15:56] samoht commented on #574
Detected symptom of problem 'processor-not-supported' in DCE04336-8053-4026-87FD-CBFB6D23258E/20160909-210541.

Your system do not satisfy the hardware requirements of Docker for Mac. nSee https://docs.docker.com/docker-for-mac/#/what-to-know-before-you-install for more information.

The following log matches:
[code]

[2016-10-12 15:59] samoht commented on #542
Detected symptom of problem 'assertion-failed-hyperkit-50' in 0A78DE46-0D35-4279-BF1F-6DE087FB851E/20160907-152850.

There were a number of updates to the hypervisor transport system in the recently released Beta 27. If you are comfortable running a beta (we still do QA on it), you could give that a try and see if it stops the frequent crashing.

May be related to docker/hyperkit#50

The following

[2016-10-12 16:00] samoht commented on #541
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 4B11418C-6668-40DA-88D9-04EF36E593ED/20160908-001048.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

T

[2016-10-12 16:00] homofortis commented on #574
@samoht thank you for your reply. I solved it by enabling Intel virtualization at bios.

[2016-10-12 16:01] samoht commented on #525
Detected symptom of problem 'symlinks-are-not-correctly-installed' in FE301383-62C7-46AF-A9E5-8F74E3292030/20160906-170033.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

T

[2016-10-12 16:02] samoht commented on #505
Detected symptom of problem 'aufs-corruption' in 7E3FFBC0-2643-4DC1-8F38-194878C5D465/20160902-143758.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related

[2016-10-12 16:08] stephenrwalli commented on #17
It's back for me.
### Expected behavior
Last login: Wed Oct  5 22:53:10 on ttys001
.profile start
.profile end
$ docker run --rm centos:7 date -u && date -u
Mon Oct 10 17:18:18 UTC 2016
Mon Oct 10 17:18:19 UTC 2016

This has been working correctly for a few days.

### Actual behavior this morning when I happened to check.
$ docker run --rm centos:7 date -u && date -u
Wed Oct 12 15:32:20 UTC 2016
W

[2016-10-12 16:08] samoht commented on #510
Detected symptom of problem 'assertion-failed' in 6067AE34-FB06-49D5-A3A8-E7C973A40158/20160831-183404.

An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

[2016-10-12 16:11] samoht commented on #511
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 2AB6D264-9BEE-438D-9147-56B1C94C46A6/20160903-113557.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

T

[2016-10-12 16:13] samoht commented on #471
Detected symptom of problem 'vmnetd-comm-failure' in 2B9CF279-9165-4E1D-86C8-3FBAF37BFEFE/20160830-183622.

The UI failed to communicate with the networking helper process. Deleting `/Library/PrivilegedHelperTools/com.docker.vmnetd` and restarting the application should help you. Please re-open that issue if your problem persist.

May be related to docker/for-mac#61

The following log matches:
[co

[2016-10-12 16:14] samoht commented on #437
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 08100040-A9DD-4492-8978-E79EE1BCFC8D/20160827-004230.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

T

[2016-10-12 16:19] samoht commented on #473
Detected symptom of problem 'aufs-corruption' in F4D8293D-9414-459E-8F7A-3964E1A596BA/20160830-195249.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related

[2016-10-12 16:20] samoht commented on #484
Detected symptom of problem 'moby-kernel-froze' in 77B72DAC-A084-40F9-BD82-AC9593CFC860/20160831-100521.

The kernel inside the VM stalled so Docker must be restarted.

May be related to docker/for-mac#87

The following log matches:
[code]

[2016-10-12 16:22] samoht commented on #450
Detected symptom of problem 'assertion-failed' in 3FA2792A-5188-4336-9FE4-CD1D365AA700/20160828-220308.

An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

[2016-10-12 16:24] samoht commented on #558
Detected symptom of problem 'moby-kernel-froze' in 7A1ADD07-6699-4E46-90D5-A69E0CE29769/20160908-161109.

The kernel inside the VM stalled so Docker must be restarted.

May be related to docker/for-mac#87

The following log matches:
[code]

[2016-10-12 16:26] samoht commented on #550
Detected symptom of problem 'moby-kernel-froze' in 80C34EA5-FB4D-4053-977C-EAB3F8C758F7/20160908-130910.

The kernel inside the VM stalled so Docker must be restarted.

May be related to docker/for-mac#87

The following log matches:
[code]

[2016-10-12 16:27] samoht commented on #442
Detected symptom of problem 'invariant-violated' in 08ADA003-4317-49EF-BEAA-581A2AC502D8/20160828-001100.

An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The following log matches:
[code]

/cc @dsheets

[2016-10-12 16:29] samoht commented on #457
Detected symptom of problem 'invariant-violated' in EB8152AF-9235-441D-9D25-2F7D74D6FB08/20160829-113951.

An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The following log matches:
[code]

/cc @dsheets

[2016-10-12 16:31] samoht commented on #112
Detected symptom of problem 'qcow2-corruption' in 35FB232B-BFFE-4A7E-9EC7-A652CACF6150/20160803-133813.

This error suggests that the .qcow2 file is corrupt and will need to be recreated.

May be related to docker/for-mac#11

The following log matches:
[code]

[2016-10-12 16:32] samoht commented on #438
Detected symptom of problem 'daemon-didnt-start' in B17A030B-8A10-4D27-B92F-ADA803399409/20160826-162044.

The docker daemon inside the VM failed to start.

The following log matches:
[code]

[2016-10-12 16:35] samoht commented on #402
Detected symptom of problem 'assertion-failed' in F7427C3F-5859-4184-94CF-21A364CABA1D/20160809-111413.

An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

[2016-10-12 16:36] samoht commented on #403
Detected symptom of problem 'aufs-corruption' in 2F42FCF0-2D96-4EAD-97E5-AA529CA9B5F4/20160823-122546.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related

[2016-10-12 16:37] samoht commented on #407
Detected symptom of problem 'moby-kernel-froze' in 7DFF6D63-C40D-49F5-B8B3-34F845E27A7E/20160823-171139.

The kernel inside the VM stalled so Docker must be restarted.

May be related to docker/for-mac#87

The following log matches:
[code]

[2016-10-12 16:38] samoht commented on #390
Detected symptom of problem 'assertion-failed' in F3F75424-03F7-4980-BEF5-91CC632E1F47/20160822-140029.

An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

[2016-10-12 16:39] samoht commented on #391
Detected symptom of problem 'symlinks-are-not-correctly-installed' in F2F453A6-DC2E-4D5E-AD44-A8F4F57D6C73/20160822-190922.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

T

[2016-10-12 16:40] brooksph opened #791 "Incomplete installation"
Expected behavior

docker info: info

Actual Behavior

Error response from daemon: Bad response from Docker engine

$docker info
Error response from daemon: Bad response from Docker engine

Information

Diagnostic ID: 007B7251-3C71-47E2-827A-D4C2C19879C0

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.11.6 (build: 15G31)
logs: /tmp/007B7251-3C71-47E2-827A-D4C2C19879C0/20161011-142526.t

[2016-10-12 16:40] samoht commented on #350
Detected symptom of problem 'invariant-violated' in 9337C522-8470-44F2-8952-CA77984DB3B9/20160818-095607.

An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The following log matches:
[code]

/cc @dsheets

[2016-10-12 16:40] brooksph commented on #763
@samoht Done. Thank you and see #791

[2016-10-12 16:43] samoht commented on #414
Detected symptom of problem 'moby-kernel-froze' in 9F7F4ABD-F93A-4925-8139-55D20CBE352C/20160824-103232.

The kernel inside the VM stalled so Docker must be restarted.

May be related to docker/for-mac#87

The following log matches:
[code]

[2016-10-12 16:46] samoht commented on #367
Detected symptom of problem 'symlinks-are-not-correctly-installed' in C1D18BAC-E3C5-4E3F-AE1D-1953FB2BA30C/20160819-094029.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

T

[2016-10-12 16:47] samoht commented on #364
Detected symptom of problem 'assertion-failed' in ED507C23-6D50-42B8-9C71-6FBE2F698B77/20160820-135929.

An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

[2016-10-12 16:47] samoht commented on #374
Detected symptom of problem 'assertion-failed' in ED507C23-6D50-42B8-9C71-6FBE2F698B77/20160820-135929.

An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

[2016-10-12 16:49] samoht commented on #334
Detected symptom of problem 'invariant-violated' in 85406DBD-EDF3-4044-87E4-561186803DF5/20160817-130444.

An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The following log matches:
[code]

/cc @dsheets

[2016-10-12 16:50] samoht commented on #323
Detected symptom of problem 'moby-kernel-froze' in B3806294-C49C-4396-8DF1-B189C4880215/20160817-144227.

The kernel inside the VM stalled so Docker must be restarted.

May be related to docker/for-mac#87

The following log matches:
[code]

[2016-10-12 16:55] samoht commented on #376
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 3A44C33F-7DC4-4F27-AA32-0959EE950063/20160820-134321.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

T

[2016-10-12 16:56] samoht commented on #360
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 67485CA9-D735-4D5C-B2C4-FBE5EDC602D4/20160818-185205.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

T

[2016-10-12 16:57] samoht commented on #347
Detected symptom of problem 'moby-kernel-froze' in 416E671A-114C-46A7-BED1-EE802DD499F0/20160818-121100.

The kernel inside the VM stalled so Docker must be restarted.

May be related to docker/for-mac#87

The following log matches:
[code]
Analysing archive 416E671A-114C-46A7-BED1-EE802DD499F0/20160912-144801

[2016-10-12 16:58] samoht commented on #296
Detected symptom of problem 'qcow2-corruption' in 6F0DF4EA-196C-4CDF-8922-9E0BF2C095C1/20160816-154421.

This error suggests that the .qcow2 file is corrupt and will need to be recreated.

May be related to docker/for-mac#11

The following log matches:
[code]

[2016-10-12 17:01] samoht commented on #300
Detected symptom of problem 'assertion-failed' in 7CF4BD4D-2188-483F-B5A8-0CE4D2A9D151/20160816-100814.

An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

[2016-10-12 17:06] samoht commented on #341
Detected symptom of problem 'moby-kernel-froze' in 7931E462-1D4C-4998-B173-EE320E2DE23F/20160817-224448.

The kernel inside the VM stalled so Docker must be restarted.

May be related to docker/for-mac#87

The following log matches:
[code]

[2016-10-12 17:06] samoht commented on #267
Detected symptom of problem 'moby-kernel-froze' in 5CFB6B94-07FB-4B35-88ED-6F4C7AD194DB/20160814-000756.

The kernel inside the VM stalled so Docker must be restarted.

May be related to docker/for-mac#87

The following log matches:
[code]

[2016-10-12 17:07] samoht commented on #248
Detected symptom of problem 'invariant-violated' in 51ED0C41-D9CD-47F7-A349-041D1A0E56AC/20160812-081102.

An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The following log matches:
[code]

/cc @dsheets

[2016-10-12 17:08] samoht commented on #247
Detected symptom of problem 'aufs-corruption' in 58B2AF8B-854C-42AA-BE58-2432BA20015C/20160812-074055.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related

[2016-10-12 17:10] samoht commented on #152
Detected symptom of problem 'aufs-corruption' in 2F9CBE9C-3EE5-4EC7-9B5B-49F671D17050/20160806-151242.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related

[2016-10-12 17:11] samoht commented on #217
Detected symptom of problem 'processor-not-supported' in 29BB1A6F-EF92-4A24-9B8F-97B108E59A3F/20160810-173019.

Your system do not satisfy the hardware requirements of Docker for Mac. nSee https://docs.docker.com/docker-for-mac/#/what-to-know-before-you-install for more information.

[2016-10-12 17:11] samoht commented on #188
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 928AE1CB-A2F6-41FD-B45F-1984EAFC6318/20160809-155533.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

T

[2016-10-12 17:12] samoht commented on #311
Detected symptom of problem 'aufs-corruption' in F52853AE-C9DB-4E20-8223-8EA5660F09DF/20160816-133039.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related

[2016-10-12 17:13] samoht commented on #182
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 4A709BC1-5F4D-496A-B061-62936CAE15E7/20160808-164557.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

T

[2016-10-12 17:15] samoht commented on #238
Detected symptom of problem 'invariant-violated' in tmp/20160714-163824.

An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The following log matches:
[code]

/cc @dsheets

[2016-10-12 17:16] samoht commented on #181
Detected symptom of problem 'assertion-failed' in 2353BBF8-7CC8-4ECB-BAE7-52B753E17636/20160808-220325.

An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

[2016-10-12 17:17] samoht commented on #165
Detected symptom of problem 'qcow2-corruption' in 9531B204-6B6E-4C7A-B309-55EA14E13303/20160808-121522.

This error suggests that the .qcow2 file is corrupt and will need to be recreated.

May be related to docker/for-mac#11

The following log matches:
[code]

[2016-10-12 17:20] samoht commented on #161
Detected symptom of problem 'qcow2-corruption' in C09207EB-E494-43C3-AC74-A7DBA108A165/20160807-131806.

This error suggests that the .qcow2 file is corrupt and will need to be recreated.

May be related to docker/for-mac#11

The following log matches:
[code]

[2016-10-12 17:22] samoht commented on #255
Detected symptom of problem 'qcow2-corruption' in 7BC955F0-6F9F-4EA2-9F31-29E80CC05650/20160812-131348.

This error suggests that the .qcow2 file is corrupt and will need to be recreated.

May be related to docker/for-mac#11

The following log matches:
[code]

[2016-10-12 17:24] mitchless commented on #738
@samoht Any ETA on beta 28? This is the most frustrating Docker bug I've encountered since grindinglly slow OSXFS performance.

[2016-10-12 17:27] samoht commented on #175
Detected symptom of problem 'invariant-violated' in 73D8E9C0-4390-4395-A2AA-D315819B2EC8/20160808-154931.

An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The following log matches:
[code]

[2016-10-12 17:29] samoht commented on #156
Detected symptom of problem 'daemon-didnt-start' in 982DA316-5943-4DE5-A478-2FAC26B801A8/20160806-121954.

The docker daemon inside the VM failed to start.

The following log matches:
[code]

@justincormack any idea what this `readdirent` things is about?

[2016-10-12 17:34] samoht commented on #103
Detected symptom of problem 'daemon-didnt-start' in A26E0E2B-B04F-4B07-81ED-8D275FCD93C5/20160803-113349.

The docker daemon inside the VM failed to start.

The following log matches:
[code]

@justincormack any idea what this is about?

[2016-10-12 17:35] samoht commented on #114
Detected symptom of problem 'qcow2-corruption' in 08368D01-3F63-48EC-9E5B-B4CB7A65BBCF/20160803-154641.

This error suggests that the .qcow2 file is corrupt and will need to be recreated.

May be related to docker/for-mac#11

The following log matches:
[code]

[2016-10-12 17:36] samoht commented on #109
Detected symptom of problem 'qcow2-corruption' in F6AB7257-6374-4F51-9981-9E64D30764BC/20160803-132950.

This error suggests that the .qcow2 file is corrupt and will need to be recreated.

May be related to docker/for-mac#11

The following log matches:
[code]

[2016-10-12 17:37] samoht commented on #63
Detected symptom of problem 'aufs-corruption' in 045D5711-47CB-474F-9E4B-18075E1E6712/20160801-171450.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related

[2016-10-12 17:38] samoht commented on #56
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 672E7D77-FC39-4D73-9774-EEB2D70BAF30/20160801-103532.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

[2016-10-12 17:39] samoht commented on #201
Detected symptom of problem 'moby-kernel-froze' in 101ABC7F-5588-401D-AF41-75E647F7BC7F/20160809-115108.

The kernel inside the VM stalled so Docker must be restarted.

May be related to docker/for-mac#87

The following log matches:
[code]

[2016-10-12 17:40] samoht commented on #96
Detected symptom of problem 'symlinks-are-not-correctly-installed' in D933E125-22CB-4BB5-BC68-A89C5232E3C9/20160803-092603.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

T

[2016-10-12 17:41] samoht commented on #146
Detected symptom of problem 'aufs-corruption' in 8E8C4890-46AA-422E-BE8F-A4D414BBDB7E/20160805-153804.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related

[2016-10-12 17:42] samoht commented on #158
Detected symptom of problem 'qcow2-corruption' in 0EC6304D-EECA-40FA-A211-3A2DC83E7ED5/20160806-182809.

This error suggests that the .qcow2 file is corrupt and will need to be recreated.

May be related to docker/for-mac#11

The following log matches:
[code]

[2016-10-12 17:42] samoht commented on #432
Detected symptom of problem 'symlinks-are-not-correctly-installed' in A6FD1B8B-00E4-486D-A62C-44374E570E76/20160826-103917.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on. A possible workaround is to install the docker client manually by running:
[code]

May be related to docker/for-mac#785

T

[2016-10-12 17:45] samoht commented on #400
Detected symptom of problem 'daemon-didnt-start' in 03E80B4C-6EF1-4363-B662-B536A29051E7/20160822-202714.

The docker daemon inside the VM failed to start.

The following log matches:
[code]

@justincormack do you know what that docker error means?

[2016-10-12 17:50] samoht commented on #609
Detected symptom of problem 'qcow2-corruption' in C1D86F1F-0218-48AA-A936-884E342166BB/20160913-162341.

This error suggests that the .qcow2 file is corrupt and will need to be recreated.

May be related to docker/for-mac#11

The following log matches:
[code]

[2016-10-12 17:55] samoht commented on #119
The cause of the initial issue is AUFS corruption:

[code]

Closing the issue as this should now be safer in more recent betas.

[2016-10-12 17:55] #119 closed

[2016-10-12 17:56] samoht commented on #119
Also I went through all the referenced issues and tried to triage them a bit more precisely. Lots of docker/hyperkit#50, lots of partial installations, lots of AUFS corruption issues and few osx invariant breakage. Some of these will be fixed in Beta 28, and we are working in fixing the other ones.

[2016-10-12 18:02] samoht commented on #339
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-10-12 18:02] #339 closed

[2016-10-12 18:02] samoht commented on #418
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-10-12 18:02] #418 closed

[2016-10-12 18:03] samoht commented on #659
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-10-12 18:03] #659 closed

[2016-10-12 18:03] samoht commented on #714
ping @djs55

[2016-10-12 18:04] samoht commented on #738
@mitchless before the end of the week

[2016-10-12 18:08] samoht commented on #791
May be related to docker/vpnkit#131 /cc @djs55

The following log matches:
[code]

[2016-10-12 18:13] samoht commented on #396
Detected symptom of problem 'invariant-violated' in FF7D4587-F19D-49D1-96B0-EBC7133A7A18/20160822-164322.

An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The following log matches:
[code]

We also advised to upgrade to the latest stable (1.12.1) or latest beta (1.12.2-rc1-beta27) where this bug is fixed. /cc @

[2016-10-12 18:13] #396 closed

[2016-10-12 18:15] samoht commented on #634
Detected symptom of problem 'assertion-failed' in C7BE9C3E-CE58-4FA7-A792-94E8327F6B73/20160915-152134.

An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

There were a number of updates to the hypervisor transport system in the recently released Beta 27. If you are comfortable running a beta (

[2016-10-12 18:15] #634 closed

[2016-10-12 18:16] samoht commented on #568
Maybe related to timekeeping in the VM, /cc @ijc25

Detected symptom of problem 'moby-kernel-froze' in 75D42165-85DB-4BC9-BADE-2F530E170F45/20160909-083743.

The kernel inside the VM stalled so Docker must be restarted.

May be related to docker/for-mac#87

The following log matches:
[code]

[2016-10-12 18:18] samoht commented on #654
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 2F07C19B-C2E8-4B02-91D3-868CC8DCA330/20160916-215505.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on.

May be related to docker/for-mac#785

The following log matches:
[code]

[2016-10-12 18:20] samoht commented on #654
Please follow the resolution of #785 for updates on your issue. In the meantime, a workaround is to re-install Docker.app and/or reset to factory settings.

[2016-10-12 18:20] #654 closed

[2016-10-12 18:21] samoht commented on #636
Detected symptom of problem 'symlinks-are-not-correctly-installed' in 32E1E8D2-D09B-4970-AE67-9C3627EC30C1/20160915-154113.

Thanks for your report! The docker symlinks have not been correctly installed by the installer, which is a known issue that we are currently working on.

May be related to docker/for-mac#785

The following log matches:
[code]

Please follow the resolution of #785 for updates

[2016-10-12 18:21] #636 closed

[2016-10-12 18:26] samoht commented on #662
@djs55 have you already seen this?

[code]

the diagnostic log shows all sort of AUFS corruption and incomplete vmnetd launchd registration, so that's probably not the main issue but that looks suspicious to me.

[2016-10-12 18:26] Rastusik commented on #634
yes, today I switched back to beta, since I updated my OSX and the stable channel didn't work very well...

[2016-10-12 18:30] samoht commented on #680
It's indeed an AUFS corruption issue:

Detected symptom of problem 'aufs-corruption' in 383B4A6D-2869-42FC-9262-A6D5F89BFA13/20160920-102125.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images wi

[2016-10-12 18:30] #680 closed

[2016-10-12 18:34] samoht commented on #289
Detected symptom of problem 'invariant-violated' in F9B62D2C-58B4-4D3D-99AF-6247680F0C16/20160815-153602.

An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The following log matches:
[code]

/cc @dsheets

[2016-10-12 18:34] #289 closed

[2016-10-12 18:38] samoht commented on #720
The missing symlinks is a known issue that we are tracking in docker/for-mac#785, so closing.

[2016-10-12 18:38] #720 closed

[2016-10-12 18:44] samoht commented on #727
Your logs contains two issue: one is docker/hyperkit#50 and docker/vpnkit/131. The first one should be fixed in latest (and upcoming) Beta releases, the second one is being working on.

[2016-10-12 18:46] schmunk42 commented on #757
You're right :), thank you.

[code]

[2016-10-12 18:52] VojtechVitek opened #792 "Docker daemon stuck and not responding"
### Expected behavior
Docker daemon runs correctly.

### Actual behavior
[code]
The UI says Docker is "Starting" .. forever. Reboot didn't help either.

### Information

  - Full output of the diagnostics from "Diagnose & Feedback" in the menu

[code]
[20161012-142826.tar.gz](https://github.com/docker/for-mac/files/525361/20161012-142826.tar.gz)

[code]

docker-system.log:
[code]

[code]

### Step

[2016-10-12 18:58] samoht commented on #285
@dsheets have you seen that one before?

Detected symptom of problem 'invariant-violated' in E8C9B149-C537-4F80-B801-39B213B60E6F/20160815-125229.

An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The following log matches:
[code]

[2016-10-12 19:01] VojtechVitek commented on #792
FYI, I had to `Reset Docker to factory defaults.` so I can work again.

[2016-10-12 19:04] samoht commented on #713
@dsheets have you seen this already?

Detected symptom of problem 'invariant-violated' in 6C609C3B-783E-4D46-9A49-C336F3A029BA/20160928-124152.

[code]

[2016-10-12 19:11] samoht commented on #792
Thanks for the reports, your logs show various issues which might be causing your problem. I see some instances of docker/vpnkit#131, docker/hyperkit#50 and some AUFS corruption issue. I suspect docker/hyperkit#50 is the main cause of your trouble and should be fixed in Beta28. Please re-open the ticket if you hit that problem again with Beta28 (to be released before the end of the week).

[2016-10-12 19:11] #792 closed

[2016-10-12 19:14] samoht commented on #790
Unfortunately it seems that it is an AUFS corruption issue:

[code]

[2016-10-12 19:23] VojtechVitek commented on #792
Will do. Thank you!

[2016-10-12 21:04] funkydorian opened #793 "Docker Client cannot restart on Mac"
### Docker Client should not aim to restart itself
### Docker Client suddenly tried to restart and cannot achieve to do
### Information

Docker for Mac: version: 1.12.1-beta26.1 (12c3e63)
OS X: version 10.11.6 (build: 15G1004)
logs: /tmp/21DEB528-D468-49AA-A480-0592DACD92CC/20161012-235623.tar.gz
failure: docker ps failed: Failure("docker ps: timeout after 10.00s")
[ERROR]  docker-cli
         doc

[2016-10-12 21:34] funkydorian commented on #793
I uninstalled and installed again, now seems ok

[2016-10-12 22:28] jamshid commented on #458
Docker release (1.12.2) has been out for almost week but is not yet available in Docker for Mac. Any idea when? It really helps when needed docker fixes are available on all platforms at roughly the same time.

[2016-10-12 22:30] samoht commented on #747
@austinezell After looking at your logs your issue seems more related to docker/for-mac#61

[2016-10-12 22:37] samoht commented on #747
@masonjm you have a lot of `TMCCFS xxxx ERROR needToScanThisExecve == ` in your logs. Do you need to do something to allow Trend Micro product to start/install Docker maybe? I am not very familiar with that product.

[2016-10-12 22:45] justincormack commented on #458
@jamshid Docker 1.12.2 was released yesterday. We will be releasing updated versions of Docker for Mac and Windows as soon as we are sure they are ready.

[2016-10-12 22:48] bskrtich opened #794 "DNS Option Missing"
### Expected behavior
To set the dns server for every container

### Actual behavior
Unable to do so

### Information
I need some way to set the dns server for all my containers by default. I have tried DOCKER_OPTS in /etc/default/docker and modifying ~/Library/Containers/com.docker.docker/Data/database/com.docker.driver.amd64-linux/etc/docker/daemon.json and nether seems to work.

Please let me k

[2016-10-12 22:53] zeroasterisk commented on #787
Thanks for the advice, I'll give beta a try

[2016-10-13 06:33] mrnqbao opened #795 "I have problem with docker run on macOS"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 70E98A16-5536-47F7-9BCD-945CA46813FF
Docker for Mac: 1.12.0 (Build 10871)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]     vm

[2016-10-13 08:05] rickpeters commented on #17
Just to confirm that this is still a problem (I'm on the beta channel). Since my mac is living 'the future' from container and moby vm point of view, the problem is that timestamps of files changed on the mac (through a volume) do not exist yet in the container.
This gives unexpected behaviour...

[2016-10-13 08:37] favoretti opened #796 "If /etc/resolv.conf is updated by VPN client on host machine - docker doesn't see the change"
### Expected behavior

While trying to connect to private registry, when DNS servers are updated by a VPN client Docker should use those to do the resolving.
### Actual behavior

In fact, it doesn't. I have to manually log in to moby and add VPN DNS servers as first ones.
### Steps to reproduce the behavior
1. Start docker
2. Start VPN
3. Try to log in to a private repository that's resolvable thr

[2016-10-13 08:50] dansweeting commented on #790
So... similar to this?
https://github.com/docker/for-mac/issues/52

[2016-10-13 09:02] #790 closed

[2016-10-13 09:27] mattiasa commented on #726
This frequently, but not always,  occurs for me as well on OS X Sierra. As with @ewilansky a simple restart of Docker does not help, but if I quit docker via the taskbar icon menu and then verify that all docker processes exit before I restart docker then I'm able to get it back to a working state.

[2016-10-13 09:33] azizur opened #797 ""Docker has been update!" dialogue after every restart"
### Expected behavior
"Docker has been update!" dialogue shown once after install/update

### Actual behavior
"Docker has been update!" dialogue shown after every restart of OS
<img width="331" alt="screen shot 2016-10-10 at 10 06 19" src="https://cloud.githubusercontent.com/assets/114551/19344017/76da0910-9130-11e6-9787-457e547537b5.png">

### Information
[code]

### Steps to reproduce the behavi

[2016-10-13 09:48] dloeckx commented on #321
I have the same issue, running rather heavy image processing in a container.

`Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.12 (build: 16A323)
logs: /tmp/A8CA0F0E-F1D1-4CF6-B9AD-D9C3409B67D0/20161013-114545.tar.gz
[OK]     docker-cli
[OK]     virtualization kern.hv_support
[OK]     menubar
[OK]     moby-syslog
[OK]     dns
[OK]     disk
[OK]     system
[OK]     app
[OK]     osxfs
[OK

[2016-10-13 09:52] arizawan opened #798 "Unexpected error, docker closed"
### Expected behavior

### Actual behavior

### Information

Diagnostic ID: 48AC3702-F350-4FB7-95F6-D54FC3AB6E0C
Docker for Mac: 1.12.0-a (Build 11213)
macOS: Version 10.12 (Build 16A323)
[OK]     docker-cli
[OK]     app
[OK]     moby-syslog
[OK]     disk
[OK]     virtualization
[OK]     system
[OK]     menubar
[OK]     osxfs
[OK]     db
[OK]     slirp
[OK]     moby-console
[OK]     logs
[OK]

[2016-10-13 12:30] samoht commented on #794
It should normally be using the same DNS configuration as the one of the host. If it doesn't work, please submit a way to reproduce it and/or a diagnostic tarball.

Or do you really have different settings for your host and containers? In that case, we don't support that feature but we would be interesting to hear about your use-case!

[2016-10-13 12:42] samoht commented on #795
Can you describe which problem do you have? What error message do you see? Do you have a way to reproduce it?

[2016-10-13 12:45] samoht commented on #796
Which version of Docker for Mac are you using? We have improved support for DNS/VPN in latest releases.

If you happen to run a recent version of Docker for Mac but still have that issue, it would be helpful for us if you could upload the logs to our diagnostic server and give us your diagnostic ID so that we can investigate. Thanks!

[2016-10-13 12:46] favoretti commented on #796
@samoht Hey, thanks for getting back so quickly. I'm on the latest beta. I'll get home tonight and record a diagnostic session. From what I can see - I can reproduce it every time.

[2016-10-13 12:50] samoht commented on #797
Thanks for your report. This should be fixed in Beta28 that we are about to release. Please re-open that ticket if you still have the issue with that new version.

[2016-10-13 12:50] #797 closed

[2016-10-13 13:08] samoht commented on #795
Detected symptom of problem 'unsupported-sierra' in 70E98A16-5536-47F7-9BCD-945CA46813FF/20161013-133246.

Sierra is supported from the version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the stable channel. Please upgrade.

May be related to docker/for-mac#561

[2016-10-13 13:08] #795 closed

[2016-10-13 13:17] mrnqbao commented on #795
Thanks you very much, It’s seem working.

[2016-10-13 13:29] samoht commented on #798
Detected symptom of problem 'unsupported-sierra' in 48AC3702-F350-4FB7-95F6-D54FC3AB6E0C/20161013-155132.

Sierra is supported from the version 1.12.1 on the stable channel, and from 1.12.1-beta26 on the stable channel. Please upgrade.

May be related to docker/for-mac#561

The following log matches:
[code]

[2016-10-13 13:29] #798 closed

[2016-10-13 14:44] rcarmich commented on #171
I believe this is the same issue I'm experiencing. If I start an nginx container that should proxy to some code running on my actual host, I can't do that anymore since upgrading from docker toolbox. I used to be able to proxy requests to 10.0.2.2 or whatever IP my host was given, but now the host has no IP (other than my DHCP given IP) for a reliable proxy destination. Very much a blocker for us,

[2016-10-13 14:52] samoht commented on #321
@aferrandini your logs contains few:

[code]

Which should be fixed in more recent Beta releases as we upgraded the Linux kernel that we ship. So we advise you to update. Please re-open an issue if you still have some other problems. Thanks!

@dloeckx your issue is rather different. I see few:

[code]

in the logs, which seems to indicate that your disk is full? Can you check if making some space

[2016-10-13 14:58] samoht commented on #351
This issue has been inactive for more than 14 days while marked as `status/0-more-info-needed`. It is being closed due to abandonment. Please feel free to re-open with more information about the problem.

MORE_INFO_EXPIRY_TIMEOUT

[2016-10-13 14:58] #351 closed

[2016-10-13 15:02] samoht commented on #763
@brooksph Thank you

@scnypl your issue seems indeed due to an AUFS corruption issue. We plan to switch to overlayFS 2 when it becomes stable enough to avoid this kind of corruption. To fix your issue, I am afraid that you will have to reset to factory defaults.

[2016-10-13 15:02] #763 closed

[2016-10-13 15:11] bskrtich commented on #794
I have using dnsmasq for local development. This allows me to run a reverse proxy to shunt traffic automatically to each container based on its name. The only problem is that I need to supply the dns server to each container. I was doing this via `DOCKER_OPTS="--dns 10.254.254.1"` but that doesnt seem to be working any more.

[2016-10-13 15:14] vikramvi opened #799 "Faied to connect to the Docker daemon ( Mac OS )"
**Description**

Jenkins user on Mac mini can't run docker command
1.1. Inside Jenkins build; Execute shell command says "docker command not found"
1.2 Shifting to Jenkins user on shell prompt and trying to run docker command gives error
   "Cannot connect to the Docker daemon. Is the docker daemon running on this host?"

**Steps to reproduce the issue:**
1.  Mac mini Jenkins and Docker installed

[2016-10-13 15:28] samoht commented on #799
Hi, thanks for your report. Would you be able to send us a diagnostic report so that we could investigate the issue? You can either do that through the UI (in the "Diagnostic and Feedback" menubar item) or run that command in a terminal:

[code]

Thanks!

[2016-10-13 15:33] vikramvi commented on #799
@samoht  Please find below updates

/Applications/Docker.app/Contents/Resources/bin/docker-diagnose -y -u
diagnose: unknown option `-y'.
Usage: diagnose [OPTION]...
Try `diagnose --help' for more information.

I tried with UI and below is the result

Docker for Mac: version: 1.12.1 (2d5b4d9)
OS X: version 10.10.5 (build: 14F1909)
logs: /tmp/BD6F5CAF-E36D-4AA6-B8A6-4B6034AD018D/20161013-173148.tar.

[2016-10-13 15:34] vikramvi commented on #799
/usr/local/bin

lrwxr-xr-x   1 buildserver  staff        71 Oct 12 18:50 docker -> /Users/buildserver/Library/Group Containers/group.com.docker/bin/docker
lrwxr-xr-x   1 buildserver  staff        79 Oct 12 18:50 docker-compose -> /Users/buildserver/Library/Group Containers/group.com.docker/bin/docker-compose
lrwxr-xr-x   1 buildserver  staff        79 Oct 12 18:50 docker-machine -> /Users/buildser

[2016-10-13 15:38] samoht commented on #799
Sorry, can you try again with the `-y`? Or select `Diagnostic & Update` instead of just `Diagnostic` so that a diagnostic tarball is sent to our remote servers.

[2016-10-13 15:44] vikramvi commented on #799
BD6F5CAF-E36D-4AA6-B8A6-4B6034AD018D  ( This is I got from UI ).  Please let me know if this is good enough ?

sorry can you please put complete command again. I didn't get which is correct format.

[2016-10-13 15:46] vikramvi commented on #799
got it

/Applications/Docker.app/Contents/Resources/bin/docker-diagnose -u

Your unique id is: BD6F5CAF-E36D-4AA6-B8A6-4B6034AD018D

[2016-10-13 15:51] vikramvi commented on #799
I found matching problem here https://forums.docker.com/t/how-to-use-docker-command-in-jenkins-shell/16307/6 but no answer for resolution ( just fyi..)

[2016-10-13 15:53] samoht commented on #794
How did you update your `daemon.json`? Can you try the following:

[code]

After a few seconds, Docker.app should be restarting and then you can to connect again. Let me know if it works better or if is a regression on our side.

[2016-10-13 16:04] crmejia commented on #759
### Summary
Got beta27 and ran into trouble again(in a different test).

### Information
currently commit 8658748ef716e43a5f6d834825d818012ed6e2c4
Merge: aba3a99 c5393ee
[code]

### $make shell

Installed docker beta27 had to restart docker 3 times(is the charm) doing the `host $ make shell` and once again got this issue:

[code]

After this, the process went smoothly.
**Find the complete log atta

[2016-10-13 16:12] ijc25 commented on #759
[code]

This is a bug with the `httpredir.debian.org` service (which keeps putting the same bad mirror back in rotation, sigh) and not with Docker (for Mac or otherwise).

[2016-10-13 16:12] samoht commented on #799
Thanks, I have your logs now.

As @justincormack this is probably a permission issue. Is the `jenkins` user able to run `/Users/buildserver/Library/Group Containers/group.com.docker/bin/docker ps`?

[2016-10-13 16:15] vikramvi commented on #799
@samoht  please find below

bash-3.2$ whoami
jenkins
bash-3.2$ /Users/buildserver/Library/Group\ Containers/group.com.docker/bin/docker ps
Cannot connect to the Docker daemon. Is the docker daemon running on this host?
bash-3.2$

[2016-10-13 16:19] samoht commented on #799
Can you try to change the owner and/or permissions of all the files in `/Users/buildserver/Library/Containers/com.docker.docker/Data/` to git read/write permissions to the `jenkin` user?

[2016-10-13 16:23] bskrtich commented on #794
The com.docker.drive.. folder didn't exist so I had to change the commands you gave me a bit.
So here is the list of commands I used to test just now.

[code]

I then manually restarted the docker service via the app and tried it. It did not work.

Let me know if there is something wrong with the json I am using and I can try again.

And thank you for your help!

[2016-10-13 16:25] justincormack commented on #794
You need to commit in the master branch.

[2016-10-13 16:29] bskrtich commented on #794
Yea! That worked! Thank you! Here is my revised set of commands for who ever reads this in the future

[code]

[2016-10-13 16:34] #794 closed

[2016-10-13 16:55] samoht commented on #205
@oliverhr can you try to upgrade, this will fix at least one issue that you've hit.

Detected symptom of problem 'invariant-violated' in 269F8ACE-C09C-4FB4-856C-8208C92B0020/20160809-155640.

An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The following log matches:
[code]

[2016-10-13 16:55] #205 closed

[2016-10-13 16:56] samoht commented on #205
@ctammes no problem, but you probably were looking for https://github.com/docker/docker/issues

[2016-10-13 17:17] samoht commented on #793
@funkydorian your log contains:

[code]

which doesn't sound very good. I'll escalate the issue to the team. Thanks again for your report!

[2016-10-13 19:31] acdha commented on #139
Beyond the scope of fixing this bug, it feels like this would be a good question for the install / first-run process: I was trying to restrict the scope of my sharing from anything in my home directory to be a specific `~/Projects`. It might be nice to prompt the user a bit on the implications of this change since it does appear to open the possibility of a container getting access to e.g. `~/.ssh

[2016-10-13 19:40] dougtoppin opened #800 "Docker Version 1.12.2-beta28 (12906) update and then install, failed to start on OSX 10.11.6"
Update, manually ran /Applications/Docker.app/Contents/Resources/bin/docker-diagnose -u and it included this id: DA6356F9-31EC-4E6B-B511-E78258539D00

Not sure if it uploaded or not.

### Expected behavior

docker accessible

### Actual behavior

Docker whale icon continually showing 'Docker starting' but client unable to reach server.

$ docker ps
Error response from daemon: Bad response from Doc

[2016-10-13 19:49] dougtoppin commented on #800
Critical log messages in docker-system.log are:

[com.docker.vmnetd][515] <Critical>: File /usr/local/bin/docker is a symlink
[com.docker.vmnetd][515] <Critical>: File /usr/local/bin/docker-compose is a symlink
[com.docker.vmnetd][515] <Critical>: File /usr/local/bin/docker-machine is a symlink
[com.docker.vmnetd][515] <Critical>: File /usr/local/bin/notary is a symlink
[com.docker.vmnetd][515] <C

[2016-10-13 20:11] dougtoppin commented on #800
docker-system.log shows this from upgrade to first critical error:

[com.docker.docker][45272] <Notice>: AppDelegate: Application version: 1.12.2-beta28 (12906)
[com.docker.docker][45272] <Notice>: AppDelegate: Administrator user: true
[com.docker.docker][45272] <Notice>: OSX Version: Version 10.11.6 (Build 15G1004)
[com.docker.docker][45272] <Notice>: UpdateMigrator: migrator: start migration pro

[2016-10-13 22:48] jakajancar opened #801 "Increase ulimit -l"
Moby's /etc/init.d/docker currently sets

[code]

Can you also please set `ulimit -l` higher? We need it for Varnish.

[2016-10-13 22:57] klausbadelt commented on #668
I updated to Version 1.12.2-beta28 (12906)
Channel: Beta
71c4a001c2

The above workaround seems to have persisted after the update:

[code]

1. Because the fix includes a `git commit` - did the update actually "perform completely"?
1. Seems very slow again

[2016-10-13 23:02] mukteshkrmishra commented on #800
same issue faced. :(

[2016-10-13 23:10] pcads commented on #668
I have to change all of our Node containers gulp.watch interval from default to 1000ms. CPU usage down from 300% to 30%.

On the other hand, same containers run fine on Ubuntu with default gulp.watch interval.

[2016-10-14 01:58] trawor commented on #624
I got this too

I have my 'data' folder soft linked from extend disk

[2016-10-14 03:06] oliverhr commented on #205
@samoht done updated to:

Version 1.12.2-beta28 (12906)
Channel: Beta
71c4a001c2

[2016-10-14 08:28] ijc25 commented on #738
@mitchless beta28 is out now, Thanks for your patience.

[2016-10-14 08:28] #738 closed

[2016-10-14 08:36] vikramvi commented on #799
@samoht  I have changed permission for group and now it looks as below
drwxrwx---   47 buildserver  staff  1598 Sep 21 13:28 Containers

jenkins user is part of staff group. buildserver is admin user on mac mini

After this restarted docker and jenkins as well.

But still I'm seeing same issue

bash-3.2$ whoami
jenkins
bash-3.2$ docker ps -a
Cannot connect to the Docker daemon. Is the docker daemo

[2016-10-14 09:11] justincormack commented on #801
What sort of value do you need?

[2016-10-14 10:03] samoht commented on #205
@oliverhr what's your diagnostic ID? I can only see the logs related to your initial issue, where you hit an osxfs bug which was fixed after Beta21:

Detected symptom of problem 'invariant-violated' in 269F8ACE-C09C-4FB4-856C-8208C92B0020/20160809-155640.

An invariant within the code of one of the components was not held. Docker needs to be restarted.

May be related to docker/for-mac#89

The fol

[2016-10-14 10:07] samoht commented on #624
@trawor can you try to link only the qcow2 image? This is not really supported, but it seems to be a working workaround until we allow to change the location of the file in the UI (which is in our short-term roadmap). If that doesn't work, please open a new issue with a diagnostic ID and upload your logs to our diagnostic server.

[2016-10-14 10:10] justincormack commented on #801
Ok, 82000 seems to be recommended. https://www.varnish-cache.org/lists/pipermail/varnish-misc/2011-August/020949.html

[2016-10-14 10:25] justincormack commented on #801
@jakajancar you can increase the limits to the recommended value with `docker run --ulimit memlock=85983232:85983232 varnish` but I will increase the default as it is pretty low.

[2016-10-14 10:29] justincormack commented on #801
The default will be increased in the next beta.

[2016-10-14 10:40] notorioushanz commented on #800
Hi, i had this same issue. I uninstalled docker.app with app cleaner.
and it seems to work now. warning, everything gets whipped.

this might be a permission issue. because i have 2 users on my mac. and with the principal administrator account it was working well.

[2016-10-14 12:11] dsheets commented on #139
@acdha that's a great idea and one we've thought about before. It would be great if you could open a new issue with the feature request and we can use to track and discuss it. Thanks for your feedback!

[2016-10-14 12:13] samoht commented on #730
Detected symptom of problem 'hypervisor-framework-acpi-crash' in 457B79B0-21CB-4F55-B889-E73EFBC7D2D1/20160930-114235.

It looks like at least some cases can be explained by a bug in the workaround for a hypervisor.framework ACPI crash bug. We are not sure whether the workaround is still needed -- the underlying crash may well have been fixed by Apple, especially in the most recent versions and up

[2016-10-14 12:13] #730 closed

[2016-10-14 12:16] samoht commented on #716
Thanks for your report, if you still have that issue could you try running the diagnostic tool manually?

[code]

This will upload your logs to our diagnostic server. Thanks!

[2016-10-14 12:18] samoht commented on #707
Which version of Docker for Mac are you running? Could you try running the diagnostic tool manually?

[code]

This will upload your logs to our diagnostic server so that we can investigate your issue. Thanks!

[2016-10-14 12:19] samoht commented on #516
We will be switching to overlayfs in the next Beta (Beta29) so closing that issue.

[2016-10-14 12:19] #516 closed

[2016-10-14 12:28] samoht commented on #469
Detected symptom of problem 'segfault' in C5D129A0-A03F-431B-A528-A48BDC5C1362/20160830-112747.

You have hit an issue with the Linux kernel version what we ship in Docker for Mac. We have fixed that issue in more recent versions of the product, so please upgrade. Thank you for your report!

The following log matches:
[code]

[2016-10-14 12:28] #469 closed

[2016-10-14 12:34] samoht commented on #343
Docker for Mac uses the host certificates since Beta27, so closing.

[2016-10-14 12:41] samoht commented on #346
Detected symptom of problem 'auplink-segfault' in 22793DAD-DA1A-4151-9FD5-32FAE1C237D3/20160818-122937.

You hit an issue with the AUFS storage driver that we shipped in previous versions of Docker for Mac. You should upgrade to the latest version of the product which fixes this defect. Thanks!

May be related to docker/for-mac#7

The following log matches:
[code]

[2016-10-14 12:41] #346 closed

[2016-10-14 12:43] samoht commented on #706
Detected symptom of problem 'assertion-failed-hyperkit-50' in 2DCC474C-0FF4-4E9E-90DD-7800CA38F80D/20160927-115214.

There were a number of updates to the hypervisor transport system in the recently released Beta 27. If you are comfortable running a beta (we still do QA on it), you could give that a try and see if it stops the frequent crashing.

May be related to docker/hyperkit#50

The following

[2016-10-14 12:43] #706 closed

[2016-10-14 12:47] dsheets commented on #495
This should now be fixed in the just-released Beta 28. Please give it a try and feel free to re-open this issue or comment here if the problem has not been resolved. The fix should reach the stable channel with 1.12.2 in a week or two. If you experience other problems, please open a new issue. Thanks for using Docker for Mac!

[2016-10-14 12:47] #495 closed

[2016-10-14 12:52] dantswain commented on #495
I will test as soon as I can!

[2016-10-14 13:09] samoht commented on #423
@f3ndot

Detected symptom of problem 'aufs-corruption' in B06EB172-1ECD-412A-9A1D-19492C239FE6/20160825-110732.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be

[2016-10-14 13:09] #423 closed

[2016-10-14 13:13] samoht commented on #681
@genei09 could you please upload your diagnostic logs to our server by running:

[code]

So that we can investigate your issue. Thanks!

[2016-10-14 13:17] samoht commented on #678
Detected symptom of problem 'auplink-segfault' in 39712634-BCC7-4878-9DE1-1735D5EC66BE/20160920-104451.

You hit an issue with the AUFS storage driver that we shipped in previous versions of Docker for Mac. You should upgrade to the latest version of the product which fixes this defect. Thanks!

May be related to docker/for-mac#7

The following log matches:
[code]

[2016-10-14 13:19] samoht commented on #669
Detected symptom of problem 'aufs-corruption' in tmp/20160627-153017.

The daemon cannot start because some files in /var/lib/docker are corrupt. This can happen if the filesystem is unmounted uncleanly. The workaround is to reset to factory defaults which will unfortunately delete /var/lib/docker: all containers and images will need to be rebuilt.

May be related to docker/for-mac#20

The followi

[2016-10-14 13:19] #669 closed

[2016-10-14 13:20] samoht commented on #664
Detected symptom of problem 'assertion-failed' in 9188CAD0-66B3-4E5E-9016-F2E54ABB854F/20161012-231453.

An Assertion failure relating to a Docker component was found in the system logs.

May be related to docker/hyperkit#50

The following log matches:
[code]

[2016-10-14 13:26] samoht commented on #646
Analysing archive CFAE1732-B468-479E-8B46-A27B53DE3BA1/20160915-233851
--------------------------------------------------------------------------------
Detected symptom of problem 'moby-kernel-froze' in CFAE1732-B468-479E-8B46-A27B53DE3BA1/20160915-233851.

The kernel inside the VM stalled so Docker must be restarted.

May be related to docker/for-mac#87

The following log matches:
[code]